.wmlogin_form { padding: 30px 80px;width:420px }
.wmlogin_form .row_key { float: none; text-align: left; }
.wmlogin_form .form_txt { padding: 10px; margin-right: 10px; width: 215px; }
.wmlogin_form .forget_password, .wmlogin_form .forget_password:link, .wmlogin_form .forget_password:active, .wmlogin_form .forget_password:visited { color: #4fa2d6; }
.wmlogin_form .forget_password:hover { color: #f47d15; }
.wmlogin_form .ui_btn .ui_btn_txt { font-size: 18px; width: 80px; font-family: 'Microsoft YaHei'; letter-spacing: 8px; padding-left: 15px; }
.wmlogin_form .go_reg, .wmlogin_form .go_reg:link, .wmlogin_form .go_reg:visited, .wmlogin_form .go_reg:active { color: #e13436; padding-left: 10px; }
.wmv_error .wm_ico { vertical-align:text-top}
.form_btns { margin-top:10px}