<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>小菜的玩具，边玩边提高</title>
    <link type="text/css" rel="stylesheet" href="/views/chat_box/css/style.css" />
	<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/wm_btn/css/style.css" />
	<script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" charset="utf-8" src="/views/chat_box/src/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/views/chat_box/src/ueditor/ueditor.all.js"></script>
	<script type="text/javascript" charset="utf-8" src="/views/chat_box/config.js"></script>
	<script src="dist/socket.io.min.js"></script>
</head>
<body>
    <div id="page">
        <div class="box">
            <div class="head">
                <h1 title="小菜的玩具"></h1>
                <div class="user_data">
                </div>
            </div>
            <div class="main">
                <div class="chat_window">
				</div>
                <div class="inst_box">
                    <div id="myEditor"></div>
					<div class="btns"><a href="#" class="ui_btn ui_btn_h27gray8 send"><span class="ui_btn_txt">发送CTRL+ENTER</span></a></div>
                </div>
            </div>
            <div class="footer"></div>
        </div>

    </div>
    

</body>
</html>

