<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link type="text/css" rel="stylesheet" href="../wm_btn/css/style.css" />
    <style type="text/css">
        body { padding: 50px; }
    </style>
</head>
<body>
    <div>
        <form class="wm_form">
            <ul>
                <li class="form_row">
                    <label class="row_key"><b class="form_must">*</b>必选项：</label>
                    <input type="text" class="form_txt" />
                </li>
                <li class="form_row">
                    <label class="row_key">增加行：</label>
                    <input type="text" class="form_txt" />
                    <a href="#" class="btn25_25">+</a>
                    <a href="#" class="btn25_25">-</a>
                </li>
                <li class="form_row">
                    <label class="row_key"><b class="form_must">*</b>上传：</label>
                    <input type="text" class="form_txt" /><a href="#" class="form_file_btn">浏览</a>
                    <input type="file" class="form_file" />
                </li>
                <li class="form_row">
                    <label class="row_key">单选钮：</label>
                    <input type="radio" name="xx" id="radio1" /><label class="rad_key" for="radio1">item1</label>
                    <input type="radio" name="xx" id="radio2" /><label class="rad_key" for="radio2">item2</label>
                    <input type="radio" name="xx" id="radio3" /><label class="rad_key" for="radio3">item3</label>
                </li>
                <li class="form_row">
                    <label class="row_key">复选框：</label>
                    <input type="checkbox" name="xx" id="checkbox1" /><label class="chk_key" for="checkbox1">item1</label>
                    <input type="checkbox" name="xx" id="checkbox2" /><label class="chk_key" for="checkbox2">item2</label>
                    <input type="checkbox" name="xx" id="checkbox3" /><label class="chk_key" for="checkbox3">item3</label>
                </li>
                <li class="form_row">
                    <label class="row_key">下拉框：</label>
                    <select class="form_sel">
                        <option>11111111111111</option>
                        <option>222</option>
                        <option>333</option>
                        <option>444</option>
                    </select>
                </li>
                <li class="form_row">
                    <label class="row_key">大框....：</label>
                    <textarea class="form_textarea"></textarea>
                </li>
                <li class="form_row form_btns">
                    <a href="#" class="ui_btn ui_btn_h40red1">
                        <input type="submit" class="ui_btn_txt" /></a>
                </li>
            </ul>
        </form>
    </div>
</body>
</html>
