<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title></title>
<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??ago/public/css/global_v2.css,public/css/ico.css,public/wm_btn/css/style.css,ago/public/wm_block/css/style.css" />
<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
<link type="text/css" rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
<script type="text/javascript" src="http://s.tcsh.me/tcsh/view/ago/wmmeizhuang/config.js" data-init="wmmeizhuang_index"></script>
</head>
<body>

    <div id="page">
        <div class="head mz_head">
            <!--后端同步开始-->
            <div class="head_top">
                <div class="head_top_bb1f">
                    <div class="sub_head_top">
                        <div class="user_login">
                            <span>欢迎加入同城生活：</span>
                            <a href="#">登录</a>
                            <em>|</em>
                            <a href="#">免费注册</a>
                        </div>
                        <div class="pull_btns w115 followwm">
                            <a href="#" class="idea w115 "><i class="wm_ico heart1"></i>关注同城生活<span class="pull_arrow "><em>◆</em><span>◆</span></span></a>
                            <ul class="pull_list w115">
                                <li>
                                    <a href="#" class="pull_link"><i class="wm_ico heart1"></i>关注同城生活</a><span class="pull_arrow "><em>◆</em><span>◆</span></span>
                                </li>
                                <li>
                                    <a href="#" class="pull_link"><i class="social_icon sina_wb"></i>新浪微博</a>
                                </li>
                                <li>
                                    <a href="#" class="pull_link"><i class="social_icon tx_wb"></i>腾讯微博</a>
                                </li>
                                <li>
                                    <a href="#" class="pull_link"><i class="social_icon netease"></i>网易微博</a>
                                </li>
                                <li>
                                    <a href="#" class="pull_link">同城生活党</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="head_sub">
                <div class="head_con">
                    <h1 class="wmwz_logo">
                        <a href="#" title="同城生活美妆">同城生活美妆<span class="logo_remark">mei.wumeiwang.com</span></a>
                    </h1>
                    <div class="head_search">
                        <form class="search_form" method="get" action="http://s.wumeiwang.com/search">
                            <div class="search_type">
                                <ul>
                                    <li data_action="http://s.wumeiwang.com/search"><a href="#" class="search_type_item">商品</a></li>
                                    <li data_action="http://s.wumeiwang.com/shop/search"><a href="#" class="search_type_item">店铺</a></li>
                                </ul>
                                <span class="pull_arrow iconfont">󰀅</span>
                            </div>
                            <input type="text" name="q" class="search_txt">
                            <input type="submit" class="submit" value="搜索">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_nav">
            <div class="page_main">
                <!--类目导航开始-->
                <div class="class_nav">
                    <h3 class="class_nav_head">全部商品分类</h3>
                    <ul class="class_list"></ul>
                </div>
                <!--类目导航结束-->
                <ul class="page_nav_list">
                    <li class="page_nav_item">
                        <a href="#" class="curr">首页</a>
                    </li>
                    <li class="page_nav_item">
                        <a href="#">品牌馆</a>
                    </li>
                    <li class="page_nav_item">
                        <a href="#">限时购</a>
                    </li>
                    <li class="page_nav_item">
                        <a href="#">美推手</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
        	<div class="meizhuang_kinds clearfix">
            	<div class="meizhuang_kinds_list">
                	<div class="meizhuang_kinds_nav">
                		<div class="meizhuang_kinds_item">
                            <h3>热门品牌</h3>
                            <span class="meizhuang_kinds_detail">
                                <a href="#">倩碧</a><a href="#">兰芝</a><a href="#">za</a><a href="#">玉兰油</a><a href="#">SK-Ⅱ</a><a href="#">薇姿</a>
                            </span>
                            <div class="meizhuang_kinds_panel">
                        	<h3>热门品牌</h3>
                            <div class="panel_con clearfix">
                            	<div class="panel_con_item">
                                	<div class="panel_con_sub">
                                    	<h4>国际大牌</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">SK-Ⅱ</a><a href="#">倩碧</a><a href="#">兰芝</a><a href="#">羽西</a><a href="#">娇韵诗</a><a href="#">茱莉蔻</a><a href="#">雅顿</a>
                                        </span>
                                    </div>
                                    <div class="panel_con_sub">
                                    	<h4>大众名品</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">百雀羚</a><a href="#">阿芙</a><a href="#">御泥坊</a><a href="#">美即</a><a href="#">丸美</a><a href="#">温碧泉</a><a href="#">美肤宝</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="panel_con_item">
                                	<div class="panel_con_sub">
                                    	<h4>国际大牌</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">SK-Ⅱ</a><a href="#">倩碧</a><a href="#">兰芝</a><a href="#">羽西</a><a href="#">娇韵诗</a><a href="#">茱莉蔻</a><a href="#">雅顿</a>
                                        </span>
                                    </div>
                                    <div class="panel_con_sub">
                                    	<h4>大众名品</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">百雀羚</a><a href="#">阿芙</a><a href="#">御泥坊</a><a href="#">美即</a><a href="#">丸美</a><a href="#">温碧泉</a><a href="#">美肤宝</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="panel_con_item">
                                	<div class="panel_con_sub">
                                    	<h4>国际大牌</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">SK-Ⅱ</a><a href="#">倩碧</a><a href="#">兰芝</a><a href="#">羽西</a><a href="#">娇韵诗</a><a href="#">茱莉蔻</a><a href="#">雅顿</a>
                                        </span>
                                    </div>
                                    <div class="panel_con_sub">
                                    	<h4>大众名品</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">百雀羚</a><a href="#">阿芙</a><a href="#">御泥坊</a><a href="#">美即</a><a href="#">丸美</a><a href="#">温碧泉</a><a href="#">美肤宝</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="meizhuang_kinds_item">
                            <h3>功效</h3>
                            <span class="meizhuang_kinds_detail">
                                <a href="#">保湿</a><a href="#">补水</a><a href="#">za</a><a href="#">美白</a><a href="#">提亮</a><a href="#">收缩毛孔</a>
                            </span>
                            <div class="meizhuang_kinds_panel">
                        	<h3>功效</h3>
                            <div class="panel_con clearfix">
                            	<div class="panel_con_item">
                                	<div class="panel_con_sub">
                                    	<h4>面部护肤</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">保湿</a><a href="#">补水</a><a href="#">美白</a><a href="#">提亮肤色</a><a href="#">滋润</a><a href="#">收缩毛孔</a><a href="#">提拉紧致</a><a href="#">控油</a><a href="#">抗氧化</a><a href="#">舒缓肌肤</a><a href="#">深层清洁</a><a href="#">抗衰老</a><a href="#">抗敏感</a><a href="#">抗皱</a><a href="#">抗痘</a><a href="#">去角质</a><a href="#">祛斑</a><a href="#">去黑头</a>
                                        </span>
                                    </div>
                                    <div class="panel_con_sub">
                                    	<h4>眼部护理</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">去黑眼圈</a><a href="#">去眼袋</a><a href="#">消除水肿</a><a href="#">缓解眼疲劳</a><a href="#">去细纹</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="panel_con_item">
                                	<div class="panel_con_sub">
                                    	<h4>彩妆</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">保湿</a><a href="#">美白</a><a href="#">遮瑕</a><a href="#">提亮肤色</a><a href="#">隔离</a><a href="#">控油</a><a href="#">防晒</a><a href="#">贴服</a><a href="#">收缩毛孔</a><a href="#">遮瑕</a><a href="#">舒缓</a><a href="#">持久</a><a href="#">抗敏感</a><a href="#">隐形毛孔</a>
                                        </span>
                                    </div>
                                    <div class="panel_con_sub">
                                    	<h4>眼部彩妆</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">防水</a><a href="#">纤长</a><a href="#">浓密</a><a href="#">卷翘</a><a href="#">去眼袋</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="panel_con_item">
                                	<div class="panel_con_sub">
                                    	<h4>唇部</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">保湿</a><a href="#">滋润</a><a href="#">淡化唇色</a><a href="#">淡化唇纹</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="meizhuang_kinds_item">
                            <h3>护肤</h3>
                            <span class="meizhuang_kinds_detail">
                                <a href="#">护肤套装</a><a href="#">面膜</a><a href="#">乳液</a><a href="#">化妆水</a><a href="#">眼霜</a>
                            </span>
                        </div>
                        <div class="meizhuang_kinds_item">
                            <h3>彩妆</h3>
                            <span class="meizhuang_kinds_detail">
                                <a href="#">BB霜</a><a href="#">香水</a><a href="#">隔离霜</a><a href="#">美甲</a><a href="#">彩妆套装</a>
                            </span>
                        </div>
                        <div class="meizhuang_kinds_item">
                            <h3>香水</h3>
                            <span class="meizhuang_kinds_detail">
                                <a href="#">女士香水</a><a href="#">男士香水</a><a href="#">中性香水</a>
                            </span>
                        </div>
                        <div class="meizhuang_kinds_item">
                            <h3>男士</h3>
                            <span class="meizhuang_kinds_detail">
                                <a href="#">洁面</a><a href="#">护肤套装</a><a href="#">乳液</a><a href="#">面膜</a><a href="#">爽肤水</a>
                            </span>
                        </div>
                        <div class="meizhuang_kinds_item nobt">
                            <h3>个人护理</h3>
                            <span class="meizhuang_kinds_detail">
                                <a href="#">洗发水</a><a href="#">沐浴露</a><a href="#">卫生巾</a><a href="#">牙膏</a>
                            </span>
                        </div>
                    </div>
                    
                </div>
                <div class="slide">
                	<script type="text/template" id="adv_740_460" class="actual_advertisement_model">
                    	<a href="${item.url}" class="slide_item" title="${item.msg}"><img src="${item.img}" /></a>
                    </script>
                    <div class="adv_740_460 SlideBox wm_as_pit" data_as_pit_key="adv_740_460">
                    	<div class="slide_img Slide_list actual_advertisement_liat"></div>
                        <div class="slide_nav"></div>
                    </div>
                </div>
                <script type="text/template" id="adv_210_220" class="actual_advertisement_model">
                    <li><a href="${item.url}" title="${item.msg}"><img src="${item.img}" /></a></li>
                </script>
                <div class="kinds_adv adv_210_220 wm_as_pit" data_as_pit_key="adv_210_220">
                	<ul class="actual_advertisement_liat"></ul>
                </div>
            </div>
            <div class="floor first_floor">
            	<div class="floor_title">
                	<b>1F 奢美汇</b>大牌云集 奢华专属
                </div>
                <div class="floor_content clearfix">
                	<div class="floor_slide">
                    	<script type="text/template"  id="adv_580_420" class="actual_advertisement_model">
                        	<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
                        </script>
                    	<div class="adv_580_420 SlideBox1 wm_as_pit" data_as_pit_key="adv_580_420">
                            <div class="slide1_img Slide_list1 actual_advertisement_liat"></div>
                            <div class="slide_nav slide_nav1"></div>
                        </div>
                    </div>
                    <div class="floor_adv">
                    	<script type="text/template"  id="first_up" class="actual_advertisement_model">
                        	<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
                        </script>
                    	<div class="floor_adv_up first_up border_t wm_as_pit" data_as_pit_key="first_up">
                        	<div class="actual_advertisement_liat"></div>
                        </div>
                        <script type="text/template"  id="first_down" class="actual_advertisement_model">
                        	<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
                        </script>
                        <div class="floor_adv_down first_down wm_as_pit" data_as_pit_key="first_down">
                        	<div class="actual_advertisement_liat"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="floor second_floor">
            	<div class="floor_title">
                	<b>2F 护肤</b>夏日炎炎，压力酷热 各种尖锐问题 好面子的解决方案
                </div>
                <div class="floor_content clearfix">
                	<div class="floor_slide">
                    	<script type="text/template"  id="adv_380_420" class="actual_advertisement_model">
                        	<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
                        </script>
                    	<div class="adv_380_420 SlideBox1 wm_as_pit" data_as_pit_key="adv_380_420">
                            <div class="slide1_img Slide_list1 actual_advertisement_liat"></div>
                            <div class="slide_nav slide_nav2"></div>
                        </div>
                    </div>
                    <div class="floor_adv">
                    	<script type="text/template"  id="second_up" class="actual_advertisement_model">
                        	<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
                        </script>
                    	<div class="floor_adv_up second_up border_t wm_as_pit" data_as_pit_key="second_up">
                        	<div class="actual_advertisement_liat"></div>
                        </div>
                    	
                        <script type="text/template"  id="second_down" class="actual_advertisement_model">
                        	<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
                        </script>
                    	<div class="floor_adv_down second_down border_t wm_as_pit" data_as_pit_key="second_down">
                        	<div class="actual_advertisement_liat"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="floor third_floor">
            	<div class="floor_title">
                	<b>3F 彩妆</b>天猫彩妆学院开课啦
                </div>
                <div class="floor_content clearfix">
                	<div class="floor_slide">
                    	<script type="text/template"  id="adv_380_420_third" class="actual_advertisement_model">
                        	<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
                        </script>
                    	<div class="adv_380_420 SlideBox1 adv_380_420_third wm_as_pit" data_as_pit_key="adv_380_420_third">
                            <div class="slide1_img Slide_list1 actual_advertisement_liat"></div>
                            <div class="slide_nav slide_nav2"></div>
                        </div>
                    </div>
                    <div class="floor_adv">
                    	<script type="text/template"  id="third_up" class="actual_advertisement_model">
                        	<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
                        </script>
                    	<div class="floor_adv_up third_up border_t wm_as_pit" data_as_pit_key="third_up">
                        	<div class="actual_advertisement_liat"></div>
                        </div>
                    	
                        <script type="text/template"  id="third_down" class="actual_advertisement_model">
                        	<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
                        </script>
                    	<div class="floor_adv_down third_down border_t wm_as_pit" data_as_pit_key="third_down">
                        	<div class="actual_advertisement_liat"></div>
                        </div>
                        
                    </div>
                    <script type="text/template"  id="adv_390_140" class="actual_advertisement_model">
						<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
					</script>
                    <div class="floor_adv1 adv_390_140 wm_as_pit" data_as_pit_key="adv_390_140">
                        <div class="actual_advertisement_liat"></div>
                    </div>
                </div>
            </div>
            <div class="floor fourth_floor">
            	<div class="floor_title">
                	<b>4F 香水</b>靠近你的味道
                </div>
                <div class="floor_content clearfix">
                	<div class="floor_slide">
                    	<script type="text/template"  id="adv_280_360" class="actual_advertisement_model">
                        	<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
                        </script>
                    	<div class="adv_280_360 SlideBox1 wm_as_pit" data_as_pit_key="adv_280_360">
                            <div class="slide1_img Slide_list1 actual_advertisement_liat"></div>
                            <div class="slide_nav slide_nav2"></div>
                        </div>
                    </div>
                    <script type="text/template"  id="adv_350_120" class="actual_advertisement_model">
						<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
					</script>
                    <div class="floor_adv adv_350_120 wm_as_pit" data_as_pit_key="adv_350_120">
                        <div class="floor_adv_xs clearfix actual_advertisement_liat"></div>
                    </div>
                    <script type="text/template"  id="adv_200_360" class="actual_advertisement_model">
						<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
					</script>
                    <div class="floor_adv2 adv_200_360 wm_as_pit" data_as_pit_key="adv_200_360">
                       	<div class="actual_advertisement_liat"></div>
                    </div>
                </div>
            </div>
            <div class="floor fifth_floor">
            	<div class="floor_title">
                	<b>5F 男士</b>油光，汗腻，统统byebye
                </div>
                <div class="floor_content clearfix">
                	<div class="floor_slide">
                    	<script type="text/template"  id="adv_380_420_fifth" class="actual_advertisement_model">
                        	<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
                        </script>
                    	<div class="adv_380_420 adv_380_420_fifth SlideBox1 wm_as_pit" data_as_pit_key="adv_380_420_fifth">
                            <div class="slide1_img Slide_list1 actual_advertisement_liat"></div>
                            <div class="slide_nav slide_nav2"></div>
                        </div>
                    </div>
                    <div class="floor_adv">
                    	<script type="text/template"  id="fifth_up" class="actual_advertisement_model">
                        	<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
                        </script>
                    	<div class="floor_adv_up second_up border_t fifth_up wm_as_pit" data_as_pit_key="fifth_up">
                        	<div class="actual_advertisement_liat"></div>
                        </div>
                        
                    	<script type="text/template"  id="fifth_down" class="actual_advertisement_model">
                        	<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
                        </script>
                    	<div class="floor_adv_down second_down border_t fifth_down wm_as_pit" data_as_pit_key="fifth_down">
                        	<div class="actual_advertisement_liat"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="floor sixth_floor">
            	<div class="floor_title">
                	<b>6F 个人护理</b>悉心呵护
                </div>
                <div class="floor_content clearfix">
                	<div class="floor_slide">
                    	<script type="text/template"  id="adv_380_420_sixth" class="actual_advertisement_model">
                        	<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
                        </script>
                    	<div class="adv_380_420 adv_380_420_sixth SlideBox1 wm_as_pit" data_as_pit_key="adv_380_420_sixth">
                            <div class="slide1_img Slide_list1 actual_advertisement_liat"></div>
                            <div class="slide_nav slide_nav2"></div>
                        </div>
                    </div>
                    <div class="floor_adv">
                    	<script type="text/template"  id="six_up" class="actual_advertisement_model">
                        	<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
                        </script>
                    	<div class="floor_adv_up third_up border_t six_up wm_as_pit" data_as_pit_key="six_up">
                        	<div class="actual_advertisement_liat"></div>
                        </div>
                    	
                        <script type="text/template"  id="six_down" class="actual_advertisement_model">
                        	<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
                        </script>
                    	<div class="floor_adv_down third_down border_t six_down wm_as_pit" data_as_pit_key="six_down">
                        	<div class="actual_advertisement_liat"></div>
                        </div>
                    </div>
                    <script type="text/template"  id="adv_390_140_sixth" class="actual_advertisement_model">
						<a href="${item.url}" title="${item.msg}" class="slide_item1"><img src="${item.img}" /></a>
					</script>
                    <div class="floor_adv1 adv_390_140_sixth wm_as_pit" data_as_pit_key="adv_390_140_sixth">
                        <div class="actual_advertisement_liat"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="link_list">
                    <div class="link_item">
                        <span>服务保障</span>
                        <ul>
                            <li><a href="#">正品保障</a></li>
                            <li><a href="#">7天无条件退货</a></li>
                            <li><a href="#">7*15小时服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>购物指南</span>
                        <ul>
                            <li><a href="#">导购演示</a></li>
                            <li><a href="#">订单操作</a></li>
                            <li><a href="#">用户指南</a></li>
                            <li><a href="#">账号管理</a></li>
                            <li><a href="#">购物参考</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>支付方式</span>
                        <ul>
                            <li><a href="#">网银支付币</a></li>
                            <li><a href="#">支付平台</a></li>
                            <li><a href="#">信用卡</a></li>
                            <li><a href="#">同城生活金币</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>配送方式</span>
                        <ul>
                            <li><a href="#">配送服务</a></li>
                            <li><a href="#">配送范围和运费</a></li>
                            <li><a href="#">验货与签收</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>售后服务</span>
                        <ul>
                            <li><a href="#">退换货政策</a></li>
                            <li><a href="#">退换货流程</a></li>
                            <li><a href="#">退款方式和时效</a></li>
                        </ul>
                    </div>
                    <div class="link_item end">
                        <span>同城生活模式</span>
                        <ul>
                            <li><a href="#">聚合式品牌特卖</a></li>
                            <li><a href="#">同城生活成长基金</a></li>
                            <li><a href="#">推手规则</a></li>
                        </ul>
                    </div>
                </div>
                <div class="put_on_record">
                    <p>
                        <a href="#">关于我们</a><em>|</em>
                        <a href="#">联系我们</a><em>|</em>
                        <a href="#">品牌入驻</a><em>|</em>
                        <a href="#">隐私条款</a><em>|</em>
                        <a href="#">隐私条款</a><em>|</em>
                        <a href="#">网站地图</a><em>|</em>
                        <a href="#">友情链接</a><em>|</em>
                        <a href="#">用户体验提升计划</a>
                    </p>
                    <p class="friend_link"><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a></p>
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                    <a href="#">
                        <img src="../../public/img/internetPolice.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/putOnRecord.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/internetBusiness.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/siteCredits.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/trusty.png" />
                    </a>

                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        var global_setting = {};
        global_setting.serviceTicks = new Date().getTime();

    </script>
</body>
</html>

