<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title></title>
<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??ago/public/css/global_v2.css,public/css/ico.css,public/wm_btn/css/style.css,ago/public/wm_block/css/style.css" />
<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
<link type="text/css" rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
<script type="text/javascript" src="http://s.tcsh.me/tcsh/view/ago/wmmeizhuang/config.js" data-init="wmmeizhuang_index"></script>
</head>
<body>

    <div id="page">
        <div class="head mz_head">
            <!--后端同步开始-->
            <div class="head_top">
                <div class="head_top_bb1f">
                    <div class="sub_head_top">
                        <div class="user_login">
                            <span>欢迎加入同城生活：</span>
                            <a href="#">登录</a>
                            <em>|</em>
                            <a href="#">免费注册</a>
                        </div>
                        <div class="pull_btns w115 followwm">
                            <a href="#" class="idea w115 "><i class="wm_ico heart1"></i>关注同城生活<span class="pull_arrow "><em>◆</em><span>◆</span></span></a>
                            <ul class="pull_list w115">
                                <li>
                                    <a href="#" class="pull_link"><i class="wm_ico heart1"></i>关注同城生活</a><span class="pull_arrow "><em>◆</em><span>◆</span></span>
                                </li>
                                <li>
                                    <a href="#" class="pull_link"><i class="social_icon sina_wb"></i>新浪微博</a>
                                </li>
                                <li>
                                    <a href="#" class="pull_link"><i class="social_icon tx_wb"></i>腾讯微博</a>
                                </li>
                                <li>
                                    <a href="#" class="pull_link"><i class="social_icon netease"></i>网易微博</a>
                                </li>
                                <li>
                                    <a href="#" class="pull_link">同城生活党</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="head_sub">
                <div class="head_con">
                    <h1 class="wmwz_logo">
                        <a href="#" title="同城生活美妆">同城生活美妆<span class="logo_remark">mei.wumeiwang.com</span></a>
                    </h1>
                    <div class="head_search">
                        <form class="search_form" method="get" action="http://s.wumeiwang.com/search">
                            <div class="search_type">
                                <ul>
                                    <li data_action="http://s.wumeiwang.com/search"><a href="#" class="search_type_item">商品</a></li>
                                    <li data_action="http://s.wumeiwang.com/shop/search"><a href="#" class="search_type_item">店铺</a></li>
                                </ul>
                                <span class="pull_arrow iconfont">󰀅</span>
                            </div>
                            <input type="text" name="q" class="search_txt">
                            <input type="submit" class="submit" value="搜索">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_nav">
            <div class="page_main">
                <!--类目导航开始-->
                <div class="class_nav">
                    <h3 class="class_nav_head">全部商品分类</h3>
                    <ul class="class_list"></ul>
                </div>
                <!--类目导航结束-->
                <ul class="page_nav_list">
                    <li class="page_nav_item">
                        <a href="#" class="curr">首页</a>
                    </li>
                    <li class="page_nav_item">
                        <a href="#">品牌馆</a>
                    </li>
                    <li class="page_nav_item">
                        <a href="#">限时购</a>
                    </li>
                    <li class="page_nav_item">
                        <a href="#">美推手</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
        	<div class="meizhuang_kinds clearfix">
            	<div class="meizhuang_kinds_list">
                	<div class="meizhuang_kinds_nav">
                		<div class="meizhuang_kinds_item">
                            <h3>热门品牌</h3>
                            <span class="meizhuang_kinds_detail">
                                <a href="#">倩碧</a><a href="#">兰芝</a><a href="#">za</a><a href="#">玉兰油</a><a href="#">SK-Ⅱ</a><a href="#">薇姿</a>
                            </span>
                            <div class="meizhuang_kinds_panel">
                        	<h3>热门品牌</h3>
                            <div class="panel_con clearfix">
                            	<div class="panel_con_item">
                                	<div class="panel_con_sub">
                                    	<h4>国际大牌</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">SK-Ⅱ</a><a href="#">倩碧</a><a href="#">兰芝</a><a href="#">羽西</a><a href="#">娇韵诗</a><a href="#">茱莉蔻</a><a href="#">雅顿</a>
                                        </span>
                                    </div>
                                    <div class="panel_con_sub">
                                    	<h4>大众名品</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">百雀羚</a><a href="#">阿芙</a><a href="#">御泥坊</a><a href="#">美即</a><a href="#">丸美</a><a href="#">温碧泉</a><a href="#">美肤宝</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="panel_con_item">
                                	<div class="panel_con_sub">
                                    	<h4>国际大牌</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">SK-Ⅱ</a><a href="#">倩碧</a><a href="#">兰芝</a><a href="#">羽西</a><a href="#">娇韵诗</a><a href="#">茱莉蔻</a><a href="#">雅顿</a>
                                        </span>
                                    </div>
                                    <div class="panel_con_sub">
                                    	<h4>大众名品</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">百雀羚</a><a href="#">阿芙</a><a href="#">御泥坊</a><a href="#">美即</a><a href="#">丸美</a><a href="#">温碧泉</a><a href="#">美肤宝</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="panel_con_item">
                                	<div class="panel_con_sub">
                                    	<h4>国际大牌</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">SK-Ⅱ</a><a href="#">倩碧</a><a href="#">兰芝</a><a href="#">羽西</a><a href="#">娇韵诗</a><a href="#">茱莉蔻</a><a href="#">雅顿</a>
                                        </span>
                                    </div>
                                    <div class="panel_con_sub">
                                    	<h4>大众名品</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">百雀羚</a><a href="#">阿芙</a><a href="#">御泥坊</a><a href="#">美即</a><a href="#">丸美</a><a href="#">温碧泉</a><a href="#">美肤宝</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="meizhuang_kinds_item">
                            <h3>功效</h3>
                            <span class="meizhuang_kinds_detail">
                                <a href="#">保湿</a><a href="#">补水</a><a href="#">za</a><a href="#">美白</a><a href="#">提亮</a><a href="#">收缩毛孔</a>
                            </span>
                            <div class="meizhuang_kinds_panel">
                        	<h3>功效</h3>
                            <div class="panel_con clearfix">
                            	<div class="panel_con_item">
                                	<div class="panel_con_sub">
                                    	<h4>面部护肤</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">保湿</a><a href="#">补水</a><a href="#">美白</a><a href="#">提亮肤色</a><a href="#">滋润</a><a href="#">收缩毛孔</a><a href="#">提拉紧致</a><a href="#">控油</a><a href="#">抗氧化</a><a href="#">舒缓肌肤</a><a href="#">深层清洁</a><a href="#">抗衰老</a><a href="#">抗敏感</a><a href="#">抗皱</a><a href="#">抗痘</a><a href="#">去角质</a><a href="#">祛斑</a><a href="#">去黑头</a>
                                        </span>
                                    </div>
                                    <div class="panel_con_sub">
                                    	<h4>眼部护理</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">去黑眼圈</a><a href="#">去眼袋</a><a href="#">消除水肿</a><a href="#">缓解眼疲劳</a><a href="#">去细纹</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="panel_con_item">
                                	<div class="panel_con_sub">
                                    	<h4>彩妆</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">保湿</a><a href="#">美白</a><a href="#">遮瑕</a><a href="#">提亮肤色</a><a href="#">隔离</a><a href="#">控油</a><a href="#">防晒</a><a href="#">贴服</a><a href="#">收缩毛孔</a><a href="#">遮瑕</a><a href="#">舒缓</a><a href="#">持久</a><a href="#">抗敏感</a><a href="#">隐形毛孔</a>
                                        </span>
                                    </div>
                                    <div class="panel_con_sub">
                                    	<h4>眼部彩妆</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">防水</a><a href="#">纤长</a><a href="#">浓密</a><a href="#">卷翘</a><a href="#">去眼袋</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="panel_con_item">
                                	<div class="panel_con_sub">
                                    	<h4>唇部</h4>
                                        <span class="meizhuang_kinds_detail">
                                        	<a href="#">保湿</a><a href="#">滋润</a><a href="#">淡化唇色</a><a href="#">淡化唇纹</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="meizhuang_kinds_item">
                            <h3>护肤</h3>
                            <span class="meizhuang_kinds_detail">
                                <a href="#">护肤套装</a><a href="#">面膜</a><a href="#">乳液</a><a href="#">化妆水</a><a href="#">眼霜</a>
                            </span>
                        </div>
                        <div class="meizhuang_kinds_item">
                            <h3>彩妆</h3>
                            <span class="meizhuang_kinds_detail">
                                <a href="#">BB霜</a><a href="#">香水</a><a href="#">隔离霜</a><a href="#">美甲</a><a href="#">彩妆套装</a>
                            </span>
                        </div>
                        <div class="meizhuang_kinds_item">
                            <h3>香水</h3>
                            <span class="meizhuang_kinds_detail">
                                <a href="#">女士香水</a><a href="#">男士香水</a><a href="#">中性香水</a>
                            </span>
                        </div>
                        <div class="meizhuang_kinds_item">
                            <h3>男士</h3>
                            <span class="meizhuang_kinds_detail">
                                <a href="#">洁面</a><a href="#">护肤套装</a><a href="#">乳液</a><a href="#">面膜</a><a href="#">爽肤水</a>
                            </span>
                        </div>
                        <div class="meizhuang_kinds_item nobt">
                            <h3>个人护理</h3>
                            <span class="meizhuang_kinds_detail">
                                <a href="#">洗发水</a><a href="#">沐浴露</a><a href="#">卫生巾</a><a href="#">牙膏</a>
                            </span>
                        </div>
                    </div>
                    
                </div>
                <div class="slide">
                	<div class="adv_740_460 SlideBox">
                    	<div class="slide_img Slide_list">
                        	<a href="#" class="slide_item"><img src="img/adv_740_460.jpg" /></a>
                            <a href="#" class="slide_item"><img src="img/adv_740_460_1.jpg" /></a>
                            <a href="#" class="slide_item"><img src="img/adv_740_460_2.jpg" /></a>
                        </div>
                        <div class="slide_nav">
                        	<span class="now curr"></span>
                            <span class="now"></span>
                            <span class="now"></span>
                            <span class="now"></span>
                        </div>
                    </div>
                </div>
                <div class="kinds_adv">
                	<ul>
                    	<li><a href="#"><img src="img/adv_580_420.jpg" /></a></li>
                        <li><a href="#"><img src="img/adv_380_420_2.jpg" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="floor first_floor">
            	<div class="floor_title">
                	<b>1F 奢美汇</b>大牌云集 奢华专属
                    <span class="brand_name"><a href="#">Chanel/香奈儿</a>|<a href="#">Dior/迪奥</a>|<a href="#">碧欧泉</a>|<a href="#">宠爱之名</a>|<a href="#">茱莉蔻</a>|<a href="#">h2o</a>|<a href="#">伊丽莎白雅顿</a>|<a href="#">Sisley/希思黎</a>|<a href="#">Guerlain/娇兰</a>|<a href="#">L'occitane/欧舒丹</a></span>
                </div>
                <div class="floor_content clearfix">
                	<div class="floor_slide">
                    	<div class="adv_580_420 SlideBox1">
                            <div class="slide1_img Slide_list1">
                                <a href="#" class="slide_item1"><img src="img/adv_580_420.jpg" /></a>
                                <a href="#" class="slide_item1"><img src="img/adv_580_420_1.jpg" /></a>
                                <a href="#" class="slide_item1"><img src="img/adv_580_420.jpg" /></a>
                            </div>
                            <div class="slide_nav slide_nav1">
                                <span class="now curr"></span>
                                <span class="now"></span>
                                <span class="now"></span>
                                <span class="now"></span>
                            </div>
                        </div>
                    </div>
                    <div class="floor_adv">
                    	<div class="floor_adv_up first_up border_t">
                        	<a href="#"><img src="img/adv_200_280.jpg" /></a>
                            <a href="#"><img src="img/adv_200_280.jpg" /></a>
                            <a href="#"><img src="img/adv_200_280.jpg" /></a>
                        </div>
                        <div class="floor_adv_down first_down">
                        	<a href="#"><img src="img/adv_200_140.jpg" /></a>
                            <a href="#"><img src="img/adv_200_140.jpg" /></a>
                            <a href="#"><img src="img/adv_200_140.jpg" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="floor second_floor">
            	<div class="floor_title">
                	<b>2F 护肤</b>夏日炎炎，压力酷热 各种尖锐问题 好面子的解决方案
                    <span class="brand_name"><a href="#">美白</a>|<a href="#">防晒</a>|<a href="#">保湿</a>|<a href="#">祛痘</a>|<a href="#">控油</a>|<a href="#">紧致</a>|<a href="#">抗皱</a>|<a href="#">洁面</a>|<a href="#">爽肤</a>|<a href="#">面霜</a>|<a href="#">更多>></a></span>
                </div>
                <div class="floor_content clearfix">
                	<div class="floor_slide">
                    	<div class="adv_380_420 SlideBox1">
                            <div class="slide1_img Slide_list1">
                                <a href="#" class="slide_item1"><img src="img/adv_380_420.jpg" /></a>
                                <a href="#" class="slide_item1"><img src="img/adv_380_420_1.jpg" /></a>
                                <a href="#" class="slide_item1"><img src="img/adv_380_420_2.jpg" /></a>
                            </div>
                            <div class="slide_nav slide_nav2">
                                <span class="now curr"></span>
                                <span class="now"></span>
                                <span class="now"></span>
                                <span class="now"></span>
                            </div>
                        </div>
                    </div>
                    <div class="floor_adv">
                    	<div class="floor_adv_up second_up border_t">
                        	<a href="#"><img src="img/adv_200_280.jpg" /></a>
                            <a href="#"><img src="img/adv_200_280.jpg" /></a>
                            <a href="#"><img src="img/adv_200_280.jpg" /></a>
                            <a href="#"><img src="img/adv_200_280.jpg" /></a>
                        </div>
                        <div class="floor_adv_down second_down">
                        	<a href="#"><img src="img/adv_200_140.jpg" /></a>
                            <a href="#"><img src="img/adv_200_140.jpg" /></a>
                            <a href="#"><img src="img/adv_200_140.jpg" /></a>
                            <a href="#"><img src="img/adv_200_140.jpg" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="floor third_floor">
            	<div class="floor_title">
                	<b>3F 彩妆</b>天猫彩妆学院开课啦
                    <span class="brand_name"><a href="#">大牌BB</a>|<a href="#">炫彩甲油</a>|<a href="#">烈焰红唇</a>|<a href="#">大眼睛</a>|<a href="#">美妆工具</a>|<a href="#">更多>></a></span>
                </div>
                <div class="floor_content clearfix">
                	<div class="floor_slide">
                    	<div class="adv_380_420 SlideBox1">
                            <div class="slide1_img Slide_list1">
                                <a href="#" class="slide_item1"><img src="img/adv_380_420.jpg" /></a>
                                <a href="#" class="slide_item1"><img src="img/adv_380_420_1.jpg" /></a>
                                <a href="#" class="slide_item1"><img src="img/adv_380_420_2.jpg" /></a>
                            </div>
                            <div class="slide_nav slide_nav2">
                                <span class="now curr"></span>
                                <span class="now"></span>
                                <span class="now"></span>
                                <span class="now"></span>
                            </div>
                        </div>
                    </div>
                    <div class="floor_adv">
                    	<div class="floor_adv_up third_up border_t">
                        	<a href="#"><img src="img/adv_200_280.jpg" /></a>
                            <a href="#"><img src="img/adv_200_280.jpg" /></a>
                        </div>
                        <div class="floor_adv_down third_down">
                            <a href="#"><img src="img/adv_200_140.jpg" /></a>
                            <a href="#"><img src="img/adv_200_140.jpg" /></a>
                        </div>
                    </div>
                    <div class="floor_adv1">
                        <a href="#"><img src="img/adv_390_140.jpg" /></a>
                        <a href="#"><img src="img/adv_390_140.jpg" /></a>
                        <a href="#"><img src="img/adv_390_140.jpg" /></a>
                    </div>
                </div>
            </div>
            <div class="floor fourth_floor">
            	<div class="floor_title">
                	<b>4F 香水</b>靠近你的味道
                    <span class="brand_name"><a href="#">EDP浓香</a>|<a href="#">EDT淡香</a>|<a href="#">古龙水</a>|<a href="#">香水馆第一季</a>|<a href="#">香水馆第二季</a>|<a href="#">香水馆第三季</a>|<a href="#">更多>></a></span>
                </div>
                <div class="floor_content clearfix">
                	<div class="floor_slide">
                    	<div class="adv_280_360 SlideBox1">
                            <div class="slide1_img Slide_list1">
                                <a href="#" class="slide_item1"><img src="img/adv_280_360.jpg" /></a>
                                <a href="#" class="slide_item1"><img src="img/adv_280_360_1.jpg" /></a>
                                <a href="#" class="slide_item1"><img src="img/adv_280_360-2.jpg" /></a>
                                <a href="#" class="slide_item1"><img src="img/adv_280_360_3.jpg" /></a>
                            </div>
                            <div class="slide_nav slide_nav2">
                                <span class="now curr"></span>
                                <span class="now"></span>
                                <span class="now"></span>
                                <span class="now"></span>
                            </div>
                        </div>
                    </div>
                    <div class="floor_adv">
                        <div class="floor_adv_xs clearfix">
                        	<a href="#"><img  src="img/adv_350_120.jpg" /></a>
                            <a href="#"><img  src="img/adv_350_120.jpg" /></a>
                            <a href="#"><img  src="img/adv_350_120.jpg" /></a>
                        	<a href="#"><img  src="img/adv_350_120.jpg" /></a>
                            <a href="#"><img  src="img/adv_350_120.jpg" /></a>
                            <a href="#"><img  src="img/adv_350_120.jpg" /></a>
                        </div>
                    </div>
                    <div class="floor_adv2">
                        <a href="#"><img src="img/adv_200_360.jpg" /></a>
                    </div>
                </div>
            </div>
            <div class="floor fifth_floor">
            	<div class="floor_title">
                	<b>5F 男士</b>油光，汗腻，统统byebye
                    <span class="brand_name"><a href="#">洁面</a>|<a href="#">爽肤</a>|<a href="#">乳液/面霜</a>|<a href="#">香水</a>|<a href="#">面膜</a>|<a href="#">沐浴</a>|<a href="#">唇膏</a>|<a href="#">护肤套装</a>|<a href="#">更多>></a></span>
                </div>
                <div class="floor_content clearfix">
                	<div class="floor_slide">
                    	<div class="adv_380_420 SlideBox1">
                            <div class="slide1_img Slide_list1">
                                <a href="#" class="slide_item1"><img src="img/adv_380_420.jpg" /></a>
                                <a href="#" class="slide_item1"><img src="img/adv_380_420_1.jpg" /></a>
                                <a href="#" class="slide_item1"><img src="img/adv_380_420_2.jpg" /></a>
                            </div>
                            <div class="slide_nav slide_nav2">
                                <span class="now curr"></span>
                                <span class="now"></span>
                                <span class="now"></span>
                                <span class="now"></span>
                            </div>
                        </div>
                    </div>
                    <div class="floor_adv">
                    	<div class="floor_adv_up second_up border_t">
                        	<a href="#"><img src="img/adv_200_280.jpg" /></a>
                            <a href="#"><img src="img/adv_200_280.jpg" /></a>
                            <a href="#"><img src="img/adv_200_280.jpg" /></a>
                            <a href="#"><img src="img/adv_200_280.jpg" /></a>
                        </div>
                        <div class="floor_adv_down second_down">
                        	<a href="#"><img src="img/adv_200_140.jpg" /></a>
                            <a href="#"><img src="img/adv_200_140.jpg" /></a>
                            <a href="#"><img src="img/adv_200_140.jpg" /></a>
                            <a href="#"><img src="img/adv_200_140.jpg" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="floor sixth_floor">
            	<div class="floor_title">
                	<b>6F 个人护理</b>悉心呵护
                    <span class="brand_name"><a href="#">洗发水</a>|<a href="#">护发素</a>|<a href="#">发膜</a>|<a href="#">牙膏</a>|<a href="#">牙刷</a>|<a href="#">卫生巾</a>|<a href="#">沐浴</a>|<a href="#">足浴</a>|<a href="#">更多>></a></span>
                </div>
                <div class="floor_content clearfix">
                	<div class="floor_slide">
                    	<div class="adv_380_420 SlideBox1">
                            <div class="slide1_img Slide_list1">
                                <a href="#" class="slide_item1"><img src="img/adv_380_420.jpg" /></a>
                                <a href="#" class="slide_item1"><img src="img/adv_380_420_1.jpg" /></a>
                                <a href="#" class="slide_item1"><img src="img/adv_380_420_2.jpg" /></a>
                            </div>
                            <div class="slide_nav slide_nav2">
                                <span class="now curr"></span>
                                <span class="now"></span>
                                <span class="now"></span>
                                <span class="now"></span>
                            </div>
                        </div>
                    </div>
                    <div class="floor_adv">
                    	<div class="floor_adv_up third_up border_t">
                        	<a href="#"><img src="img/adv_200_280.jpg" /></a>
                            <a href="#"><img src="img/adv_200_280.jpg" /></a>
                        </div>
                        <div class="floor_adv_down third_down">
                            <a href="#"><img src="img/adv_200_140.jpg" /></a>
                            <a href="#"><img src="img/adv_200_140.jpg" /></a>
                        </div>
                    </div>
                    <div class="floor_adv1">
                        <a href="#"><img src="img/adv_390_140.jpg" /></a>
                        <a href="#"><img src="img/adv_390_140.jpg" /></a>
                        <a href="#"><img src="img/adv_390_140.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="link_list">
                    <div class="link_item">
                        <span>服务保障</span>
                        <ul>
                            <li><a href="#">正品保障</a></li>
                            <li><a href="#">7天无条件退货</a></li>
                            <li><a href="#">7*15小时服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>购物指南</span>
                        <ul>
                            <li><a href="#">导购演示</a></li>
                            <li><a href="#">订单操作</a></li>
                            <li><a href="#">用户指南</a></li>
                            <li><a href="#">账号管理</a></li>
                            <li><a href="#">购物参考</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>支付方式</span>
                        <ul>
                            <li><a href="#">网银支付币</a></li>
                            <li><a href="#">支付平台</a></li>
                            <li><a href="#">信用卡</a></li>
                            <li><a href="#">同城生活金币</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>配送方式</span>
                        <ul>
                            <li><a href="#">配送服务</a></li>
                            <li><a href="#">配送范围和运费</a></li>
                            <li><a href="#">验货与签收</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>售后服务</span>
                        <ul>
                            <li><a href="#">退换货政策</a></li>
                            <li><a href="#">退换货流程</a></li>
                            <li><a href="#">退款方式和时效</a></li>
                        </ul>
                    </div>
                    <div class="link_item end">
                        <span>同城生活模式</span>
                        <ul>
                            <li><a href="#">聚合式品牌特卖</a></li>
                            <li><a href="#">同城生活成长基金</a></li>
                            <li><a href="#">推手规则</a></li>
                        </ul>
                    </div>
                </div>
                <div class="put_on_record">
                    <p>
                        <a href="#">关于我们</a><em>|</em>
                        <a href="#">联系我们</a><em>|</em>
                        <a href="#">品牌入驻</a><em>|</em>
                        <a href="#">隐私条款</a><em>|</em>
                        <a href="#">隐私条款</a><em>|</em>
                        <a href="#">网站地图</a><em>|</em>
                        <a href="#">友情链接</a><em>|</em>
                        <a href="#">用户体验提升计划</a>
                    </p>
                    <p class="friend_link"><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a></p>
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                    <a href="#">
                        <img src="../../public/img/internetPolice.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/putOnRecord.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/internetBusiness.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/siteCredits.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/trusty.png" />
                    </a>

                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        var global_setting = {};
        global_setting.serviceTicks = new Date().getTime();

    </script>
    
</body>
</html>

