.tab_link { background: #cacaca; overflow: hidden; padding-left: 20px; }
.tab_link .tab_key { margin-bottom: -5px; display: inline-block; height: 36px; line-height: 36px; vertical-align: middle; margin-right: 20px; font-size: 14px; font-family: SimSun; }
.tab_link .ui_btn_h36white3 .ui_btn_txt { color: #f47d15; font-size: 14px; font-family: SimSun; }
.fixed_box { position: fixed; left: 1240px; border: 1px solid #ccc; padding: 10px; text-align: center; background: #fff; top: 200px; }
.add_group, .add_group:link, .add_group:active, .add_group:visited { display: block; width: 30px; height: 30px; line-height: 22px; border: 1px solid #12ac01; font-size: 40px; color: #12ac01; font-weight: 700; float: left; text-decoration: none; text-align: center; font-family: 'Microsoft YaHei'; }
.save_btns .save .ui_btn_txt { letter-spacing: 20px; font-size: 20px; padding-left: 25px; }
.w620 { width: 620px!important; }
.w100 { width: 100px!important; }
.w580 { width: 580px!important; }

.set_tag_box { }
.set_tag_box .group_list { background: #fff; width: 100%; padding-bottom: 30px; }
.set_tag_box .group_list th, .set_tag_box .group_list td { text-align: left; padding: 20px 0 0 20px; vertical-align: middle; min-width: 90px; }
.set_tag_box .group_list th { padding: 20px 0 20px 20px; }
.set_tag_box .form_row { padding: 20px 0; border-bottom: 1px dashed #999; }
.set_tag_box .tag_group_name { float: left; }
.set_tag_box .tag_list { width: 100%; height: 40px; overflow: hidden; padding: 12px 0 0 0; }
.set_tag_box .show_tag_list { display: inline; }
.tag_item { font-size: 12px; border: 1px solid #09c; background-color: #d1ebfe; border-radius: 4px; float: left; white-space: nowrap; padding: 0px 10px; line-height: 24px; margin: 0 18px 18px 0; position: relative; cursor: default; }
.tag_item:hover { background: #09c; color: #fff; }
.remove_tag { position: absolute; top: -8px; right: -8px; display: none; }
.tag_item:hover .remove_tag { display: block; }
.tag_item:hover a { color: #fff; }
.set_tag_box .group_list .group_btns { padding-left: 0; }
.group_box { text-align: left; }
.group_box .group_box_main { width: 600px; }
.group_box h3 { font-size: 16px; }
.group_box .group_box_head { padding: 10px; border-bottom: 1px solid #ccc; position: relative; }
.group_box .group_box_head .close { position: absolute; top: 0; right: 0; font-size: 22px; }
.group_box .group_box_head .close:hover { color: #e13436; text-decoration: none; }
.group_box .wm_form { padding: 20px 20px 0 0; width: 100%; }
.group_box .wm_form .form_row { padding: 10px; }
.group_box .wm_form .row_key { width: 100px; }
.group_box .wm_form .form_txt { padding: 4px; }
.group_box .wm_form .submit { margin-right: 30px; }


.gat_box { text-align: left; }
.gat_box .gat_main { width: 600px; }
.gat_box h3 { font-size: 16px; }
.gat_box .gat_head { padding: 10px; border-bottom: 1px solid #ccc; position: relative; }
.gat_box .gat_head .close { position: absolute; top: 0; right: 0; font-size: 22px; }
.gat_box .gat_head .close:hover { color: #e13436; text-decoration: none; }
.gat_box .wm_form { padding: 20px 20px 0 0; width: 100%; }
.gat_box .wm_form .form_row { padding: 10px; }
.gat_box .wm_form .row_key { width: 100px; line-height: 34px; }
.gat_box .wm_form .form_txt { padding: 8px; background: #fff; border: 1px solid #ccc; }
.gat_box .wm_form .submit { margin-right: 30px; }
.gat_box .new_tag_list { width: 450px; max-height: 130px; overflow-y: auto; padding: 14px 0; }
.gat_box .new_tag_list::-webkit-scrollbar { width: 5px; height: 5px; }
.gat_box .new_tag_list::-webkit-resizer { background: #333333; }
.gat_box .new_tag_list::-webkit-scrollbar-thumb { border-radius: 5px; background: #999999; }


.input_downlist { background: #fff; border: 1px solid #ccc; border-top: none; max-height: 280px; overflow-y: auto; overflow-x: hidden; }
.input_downlist::-webkit-scrollbar { width: 5px; height: 5px; }
.input_downlist::-webkit-resizer { background: #333333; }
.input_downlist::-webkit-scrollbar-thumb { border-radius: 5px; background: #999999; }
.input_downlist .input_downitem { padding: 8px; }
.input_downlist .input_downitem:hover, .input_downlist .curr { background: #cacaca; }

.comm_tag { background: #fff; overflow: hidden; padding-bottom: 10px; }
.comm_tag .comm_tag_list { overflow: hidden; padding: 40px 0 0 0; }
.comm_tag .comm_tag_list .tag_row { position: relative; height: 80px; padding-left: 78px; float: left; min-width: 126px; }
.comm_tag .comm_tag_list .tag_item { position: relative; }
.comm_tag .tag_item .iconfont { margin-right: 5px;color:#e13436 }
.comm_tag .comm_tag_list .tag_item:hover { text-decoration: none; }
.comm_tag .comm_tag_list .tag_item:hover .iconfont { color:#fff}
.comm_tag .comm_tag_list .tag_con { background: #e13436; color: #fff; position: absolute; top: -10px; right: -16px; min-width: 10px; min-height: 12px; border-radius: 10px; padding: 0 5px; line-height: 16px; }
.comm_tag .comm_tag_list .btn { position: absolute; background: #ccc; color: #666; padding: 2px 7px; border-radius: 16px; display: none; }
.comm_tag .comm_tag_list .tag_row:hover .btn { display: block; }
.comm_tag .comm_tag_list .go_statistics { top: 40px; left: 10px; }
.comm_tag .comm_tag_list .add_thesaurus { top: 40px; left: 70px; }
.comm_tag .comm_tag_list .set_hot { top: 40px; left: 140px; }
.comm_tag .wm_page { float: right; }
.comm_tag .btns { padding: 20px 0 0 20px; }

.comm_tag .btns .ui_btn { margin-right: 20px; }
