<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??ago/public/css/global_v2.css,public/css/ico.css,public/wm_btn/css/style.css,ago/public/wm_block/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/ago/wmwomen/config.js" data-init="wmwomen_index"></script>
</head>
<body>

    <div id="page">
        <div class="head">
            <!--后端同步开始-->
            <div class="head_top">
                <div class="head_top_bb1f">
                    <div class="sub_head_top">
                        <div class="user_login">
                            <span>欢迎加入同城生活：</span>
                            <a href="#">登录</a>
                            <em>|</em>
                            <a href="#">免费注册</a>
                        </div>
                        <div class="pull_btns w115 followwm">
                            <a href="#" class="idea w115 "><i class="wm_ico heart1"></i>关注同城生活<span class="pull_arrow "><em>◆</em><span>◆</span></span></a>
                            <ul class="pull_list w115">
                                <li>
                                    <a href="#" class="pull_link"><i class="wm_ico heart1"></i>关注同城生活</a><span class="pull_arrow "><em>◆</em><span>◆</span></span>
                                </li>
                                <li>
                                    <a href="#" class="pull_link"><i class="social_icon sina_wb"></i>新浪微博</a>
                                </li>
                                <li>
                                    <a href="#" class="pull_link"><i class="social_icon tx_wb"></i>腾讯微博</a>
                                </li>
                                <li>
                                    <a href="#" class="pull_link"><i class="social_icon netease"></i>网易微博</a>
                                </li>
                                <li>
                                    <a href="#" class="pull_link">同城生活党</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="head_sub">
                <div class="head_con">
                    <h1 class="wmwz_logo">
                        <a href="#" title="同城生活女装">同城生活女装<span class="logo_remark">nvzhuang.wumeiwang.com</span></a>
                    </h1>
                    <div class="head_search">
                        <form class="search_form" method="get" action="http://s.wumeiwang.com/search">
                            <div class="search_type">
                                <ul>
                                    <li data_action="http://s.wumeiwang.com/search"><a href="#" class="search_type_item">商品</a></li>
                                    <li data_action="http://s.wumeiwang.com/shop/search"><a href="#" class="search_type_item">店铺</a></li>
                                </ul>
                                <span class="pull_arrow iconfont">󰀅</span>
                            </div>
                            <input type="text" name="q" class="search_txt">
                            <input type="submit" class="submit" value="搜索">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_nav">
            <div class="page_main">
                <!--类目导航开始-->
                <div class="class_nav">
                    <h3 class="class_nav_head">全部商品分类</h3>
                    <ul class="class_list"></ul>
                </div>
                <!--类目导航结束-->
                <ul class="page_nav_list">
                    <li class="page_nav_item">
                        <a href="#" class="curr">首页</a>
                    </li>
                    <li class="page_nav_item">
                        <a href="#">品牌馆</a>
                    </li>
                    <li class="page_nav_item">
                        <a href="#">限时购</a>
                    </li>
                    <li class="page_nav_item">
                        <a href="#">美推手</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <script type="text/template" id="adv_max_320" class="actual_advertisement_model">
                <li class="for_img_item">
                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                </li>
            </script>
            <div class="wm_forimg_box adv_max_320 wm_as_pit" data_as_pit_key="adv_max_320">
                <ul class="wm_forimg_list actual_advertisement_liat"></ul>
                <ul class="indexBox"></ul>
            </div>
            <div class="con_sub">
                <div class="nvzhuang_class_box">
                    <ul class="nvzhuang_class_list">
                        <li>
                            <h3>女装分类</h3>
                        </li>
                        <li><a href="http://s.wumeiwang.com/list/100214.html" target="_blank" rel="nofollow">皮草</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100215.html" target="_blank" rel="nofollow">皮衣</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100213.html" target="_blank" rel="nofollow">外套</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100206.html" target="_blank" rel="nofollow">连身裙</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100205.html" target="_blank" rel="nofollow">衬衫</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100201.html" target="_blank" rel="nofollow">T恤</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100203.html" target="_blank" rel="nofollow">毛衣</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100207.html" target="_blank" rel="nofollow">半截裙</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100210.html" target="_blank" rel="nofollow">内裤</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100211.html" target="_blank" rel="nofollow">POLO</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100204.html" target="_blank" rel="nofollow">针织衫</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100209.html" target="_blank" rel="nofollow">内衣（抹胸）</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100212.html" target="_blank" rel="nofollow">休闲裤</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100208.html" target="_blank" rel="nofollow">牛仔裤</a></li>
                    </ul>

                    <ul class="nvzhuang_brand_list">
                        <li>
                            <h3>时尚品牌</h3>
                        </li>
                        <li><a href="http://s.wumeiwang.com/list/100200.html?q=&brand=160" target="_blank" rel="nofollow">sismoda</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100200.html?q=&brand=156" target="_blank" rel="nofollow">春竹</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100200.html?q=&brand=142" target="_blank" rel="nofollow">艾维卡多</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100200.html?q=&brand=160" target="_blank" rel="nofollow">sismoda</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100200.html?q=&brand=156" target="_blank" rel="nofollow">春竹</a></li>
                        <li><a href="http://s.wumeiwang.com/list/100200.html?q=&brand=142" target="_blank" rel="nofollow">艾维卡多</a></li>
                    </ul>
                </div>
                <ul>
                    <li class="page_row wm_recommend">
                        <div class="page_row_title">
                            <h3>同城生活推荐 Recommend</h3>
                        </div>
                        <script type="text/template" id="adv_220_340" class="actual_advertisement_model">
                            <li class="recommend_item">
                                <a href="${item.url}" target="_blank" class="spread_img" title="${item.msg}">
                                    <img src="${item.img}" />
                                    <span class="recommend_item_tag">${item.msg}</span>
                                </a>
                                <a href="#" class="spread_brand" target="_blank" title="${item.brand_name}">
                                    <img src="${item.brand_img}" /></a>
                            </li>
                        </script>
                        <div class="page_row_con clearfix wm_as_pit" data_as_pit_key="adv_220_340">
                            <ul class="recommend_list actual_advertisement_liat"></ul>
                        </div>
                    </li>
                    <li class="page_row wm_sweet">
                        <div class="page_row_title">
                            <h3>青春甜美 SWEET</h3>
                        </div>
                        <div class="page_row_con clearfix">
                            <ul class="sweet_left">
                                <script type="text/template" id="sweet_item480_240_1" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="sweet_item wm_as_pit sweet_item1" data_as_pit_key="sweet_item480_240_1">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="sweet_item240_240_1" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="sweet_item wm_as_pit sweet_item2" data_as_pit_key="sweet_item240_240_1">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="sweet_item230_600_1" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="sweet_item wm_as_pit sweet_item3" data_as_pit_key="sweet_item230_600_1">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="sweet_item240_240_2" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="sweet_item wm_as_pit sweet_item4" data_as_pit_key="sweet_item240_240_2">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="sweet_item240_120_1" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="sweet_item wm_as_pit sweet_item5" data_as_pit_key="sweet_item240_120_1">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="sweet_item240_120_2" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="sweet_item wm_as_pit sweet_item6" data_as_pit_key="sweet_item240_120_2">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="sweet_item240_240_3" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="sweet_item wm_as_pit sweet_item7" data_as_pit_key="sweet_item240_240_3">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="sweet_item240_240_4" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="sweet_item wm_as_pit sweet_item8" data_as_pit_key="sweet_item240_240_4">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="sweet_item240_120_3" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="sweet_item wm_as_pit sweet_item9" data_as_pit_key="sweet_item240_120_3">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                            </ul>
                            <div class="sweet_right ">
                                <script type="text/template" id="sweet220_110" class="actual_advertisement_model">
                                    <li class="sweet_right_item">
                                        <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                    </li>
                                </script>
                                <div class="sweet_list wm_as_pit" data_as_pit_key="sweet220_110">
                                    <ul class=" actual_advertisement_liat "></ul>
                                </div>
                                <div class="tag_list">
                                    <div class="tag_list_title">
                                        <h3>正在流行</h3>
                                    </div>
                                    <ul>
                                        <li class="tag_item">
                                            <a href="#">小清新小清新</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">萝莉控</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">女仆</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">女仆</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">小清新</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">小清新</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">小清新小清新</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">女仆装</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">小清新小清新</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">小清新</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">女仆</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">女仆</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">萝莉控</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">女仆装</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">小清新</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">小清新</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">萝莉控</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">女仆装</a>
                                        </li>
                                        <li class="tag_item">
                                            <a href="#">小清新</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="page_row wm_lady">
                        <div class="page_row_title">
                            <h3>气质淑女 LADY</h3>
                        </div>
                        <div class="page_row_con clearfix">
                            <ul class="lady_left">
                                <script type="text/template" id="lady_item_230_480_1" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="lady_item wm_as_pit lady_item1" data_as_pit_key="lady_item_230_480_1">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="lady_item_150_150_1" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /><span class="remark">${item.msg}</span></a>
                                </script>
                                <li class="lady_item wm_as_pit lady_item2" data_as_pit_key="lady_item_150_150_1">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="lady_item_470_240_1" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="lady_item wm_as_pit lady_item3" data_as_pit_key="lady_item_470_240_1">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="lady_item_150_150_2" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /> <span class="remark">${item.msg}</span></a>
                                </script>
                                <li class="lady_item wm_as_pit lady_item4" data_as_pit_key="lady_item_150_150_2">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="lady_item_230_480_2" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="lady_item wm_as_pit lady_item5" data_as_pit_key="lady_item_230_480_2">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="lady_item_150_150_3" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /> <span class="remark">${item.msg}</span></a>
                                </script>
                                <li class="lady_item wm_as_pit lady_item6" data_as_pit_key="lady_item_150_150_3">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="lady_item_150_150_4" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /> <span class="remark">${item.msg}</span></a>
                                </script>
                                <li class="lady_item wm_as_pit lady_item7" data_as_pit_key="lady_item_150_150_4">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="lady_item_150_150_5" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /> <span class="remark">${item.msg}</span></a>
                                </script>
                                <li class="lady_item wm_as_pit lady_item8" data_as_pit_key="lady_item_150_150_5">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="lady_item_150_150_6" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /> <span class="remark">${item.msg}</span></a>
                                </script>
                                <li class="lady_item wm_as_pit lady_item9" data_as_pit_key="lady_item_150_150_6">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                            </ul>
                            <script type="text/template" id="lady_right_200_150" class="actual_advertisement_model">
                                <li class="lady_item wm_as_pit animation1_item">
                                    <a href="${item.url}" target="_blank" title="${item.msg}">
                                        <img src="${item.img}" />
                                        <span class="remark">
                                            <img src="${item.brand_img}" /><span class="remark_msg">${item.msg}</span></span>
                                    </a>
                                </li>
                            </script>
                            <div class="lady_right animation_right1 wm_as_pit" data_as_pit_key="lady_right_200_150">
                                <ul class="actual_advertisement_liat ">
                                </ul>
                            </div>
                            <ul class="brand_list">
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="page_row wm_elegant">
                        <div class="page_row_title">
                            <h3>优雅名媛 ELEGANT</h3>
                        </div>
                        <div class="page_row_con clearfix">
                            <ul class="elegant_left">
                                <script type="text/template" id="elegant_item_230_480_1" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="elegant_item wm_as_pit elegant_item1" data_as_pit_key="elegant_item_230_480_1">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="elegant_item_230_240_1" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="elegant_item wm_as_pit elegant_item2" data_as_pit_key="elegant_item_230_240_1">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="elegant_item_470_240_1" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="elegant_item wm_as_pit elegant_item3" data_as_pit_key="elegant_item_470_240_1">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="elegant_item_230_240_2" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="elegant_item wm_as_pit elegant_item4" data_as_pit_key="elegant_item_230_240_2">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="elegant_item_230_480_2" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="elegant_item wm_as_pit elegant_item5" data_as_pit_key="elegant_item_230_480_2">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="elegant_item_470_240_2" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="elegant_item wm_as_pit elegant_item6" data_as_pit_key="elegant_item_470_240_2">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                                <script type="text/template" id="elegant_item_470_240_3" class="actual_advertisement_model">
                                    <a href="${item.url}" target="_blank" title="${item.msg}"><img src="${item.img}" /></a>
                                </script>
                                <li class="elegant_item wm_as_pit elegant_item7" data_as_pit_key="elegant_item_470_240_3">
                                    <div class="actual_advertisement_liat"></div>
                                </li>
                            </ul>
                            <script type="text/template" id="elegant_right_200_150" class="actual_advertisement_model">
                                <li class="elegant_item wm_as_pit animation1_item">
                                    <a href="${item.url}" target="_blank" title="${item.msg}">
                                        <img src="${item.img}" />
                                        <span class="remark">
                                            <img src="${item.brand_img}" /><span class="remark_msg">${item.msg}</span></span>
                                    </a>
                                </li>
                            </script>
                            <div class="elegant_right animation_right1 wm_as_pit" data_as_pit_key="elegant_right_200_150">
                                <ul class="elegant_right actual_advertisement_liat ">
                                </ul>
                            </div>
                            <ul class="brand_list">
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                                <li class="brand_item">
                                    <a href="#">
                                        <img src="http://img.wumeiwang.com/M00/00/9A/rBAA_FM-crWANWQdAABXdzocgx8049.jpg_90x45.jpg" /></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="bottom_select_box">
                    <form class="search_form" method="get" action="http://s.wumeiwang.com/search">
                        <div class="search_type">
                            <ul>
                                <li data_action="http://s.wumeiwang.com/search"><a href="#" class="search_type_item">商品</a></li>
                                <li data_action="http://s.wumeiwang.com/shop/search"><a href="#" class="search_type_item">店铺</a></li>
                            </ul>
                            <span class="pull_arrow iconfont">󰀅</span>
                        </div>
                        <input type="text" name="q" class="search_txt">
                        <input type="submit" class="submit" value="搜索">
                    </form>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="link_list">
                    <div class="link_item">
                        <span>服务保障</span>
                        <ul>
                            <li><a href="#">正品保障</a></li>
                            <li><a href="#">7天无条件退货</a></li>
                            <li><a href="#">7*15小时服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>购物指南</span>
                        <ul>
                            <li><a href="#">导购演示</a></li>
                            <li><a href="#">订单操作</a></li>
                            <li><a href="#">用户指南</a></li>
                            <li><a href="#">账号管理</a></li>
                            <li><a href="#">购物参考</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>支付方式</span>
                        <ul>
                            <li><a href="#">网银支付币</a></li>
                            <li><a href="#">支付平台</a></li>
                            <li><a href="#">信用卡</a></li>
                            <li><a href="#">同城生活金币</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>配送方式</span>
                        <ul>
                            <li><a href="#">配送服务</a></li>
                            <li><a href="#">配送范围和运费</a></li>
                            <li><a href="#">验货与签收</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>售后服务</span>
                        <ul>
                            <li><a href="#">退换货政策</a></li>
                            <li><a href="#">退换货流程</a></li>
                            <li><a href="#">退款方式和时效</a></li>
                        </ul>
                    </div>
                    <div class="link_item end">
                        <span>同城生活模式</span>
                        <ul>
                            <li><a href="#">聚合式品牌特卖</a></li>
                            <li><a href="#">同城生活成长基金</a></li>
                            <li><a href="#">推手规则</a></li>
                        </ul>
                    </div>
                </div>
                <div class="put_on_record">
                    <p>
                        <a href="#">关于我们</a><em>|</em>
                        <a href="#">联系我们</a><em>|</em>
                        <a href="#">品牌入驻</a><em>|</em>
                        <a href="#">隐私条款</a><em>|</em>
                        <a href="#">隐私条款</a><em>|</em>
                        <a href="#">网站地图</a><em>|</em>
                        <a href="#">友情链接</a><em>|</em>
                        <a href="#">用户体验提升计划</a>
                    </p>
                    <p class="friend_link"><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a></p>
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                    <a href="#">
                        <img src="../../public/img/internetPolice.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/putOnRecord.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/internetBusiness.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/siteCredits.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/trusty.png" />
                    </a>

                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        var global_setting = {};
        global_setting.serviceTicks = new Date().getTime();

    </script>
</body>
</html>

