<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <title>站内信</title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??ago/public/css/global_v2.css,public/css/ico.css,public/wm_btn/css/style.css,ago/public/wm_block/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="css/message_tree.css" />

    <script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/ago/message_tree/config.js" data-init="chat"></script>

    <script type="text/javascript">
        var global_setting = {}
    </script>
</head>
<body>
    <div id="page">
        <!--头部-->
        <div class="head">
            <div class="head_top"></div>
            <div class="head_sub">
                <div class="head_con">
                    <h1 class="wm_logo">
                        <a href="http://www.tcsh.me/" title="同城生活" class="iconfont">&#xe624;</a>
                    </h1>
                    <div class="logo_msg">
                        <em>同城生活</em>
                        <span>HU DONG GOU WU</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="content">
            <!--右边部分-->
            <div class="con_sub">
                <div class="chat_main">
                    <div class="letter_head">
                        <a href="#" class="ui_btn ui_btn_h47yellow14 send_letter"><span class="ui_btn_txt"><i class="iconfont">&#xf00f5;</i>群发</span></a>
                        <ul class="ll_box_tab clearfix">
                            <li class="ll_box_tab_item curr">
                                <a href="#">聊天</a>
                            </li>
                            <li class="ll_box_tab_item">
                                <a href="#">全部私信</a>
                            </li>
                            <li class="ll_box_tab_item">
                                <a href="#">未读私信</a>
                            </li>
                            <li class="ll_box_tab_item">
                                <a href="#">已读私信</a>
                            </li>
                            <li class="ll_box_tab_item">
                                <a href="#">已发送</a>
                            </li>
                            <li class="ll_box_tab_item">
                                <a href="#">对方已阅</a>
                            </li>
                        </ul>
                    </div>

                    <div class="space_user">
                        <span class="infor_item_con"><em class="wm_ico shield"></em><span class="shield_txt">屏蔽此人</span></span>
                        <div class="space_user_con clearfix">
                            <div class="space_user_img">
                                <a href="#">
                                    <img src="img/user_img.jpg" /></a>
                            </div>
                            <div class="space_user_infor">
                                <ul>
                                    <li class="infor_item"><a href="#" class="user_name">蔡依林</a><span>（6）</span></li>
                                    <li class="infor_item">
                                        <span class="sex">性别：<em>女</em></span><span class="cons">星座：<em>双鱼座</em></span>
                                    </li>
                                    <li class="infor_item">
                                        <span>我的标签：<em>90后</em><em>双鱼座</em><em>小清新</em><em>星星迷</em><em>90后</em><em>双鱼座</em><em>小清新</em><em>星星迷</em></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="letter_content clearfix">
                        <div class="letter">
                            <div class="letter_area">
                                <h3>发私信<span class="word_num"><em class="now_num">0</em>/300</span></h3>
                                <div class="say_word">
                                    <textarea name="" id="" cols="30" rows="10" class="word_content"></textarea>
                                </div>
                            </div>
                            <div class="send_word">
                                <a href="#" class="ui_btn ui_btn_h40red2 send_msg" title="Ctrl+Enter快捷发送"><span class="ui_btn_txt"><i class="iconfont">&#xf0165;</i>发送私信</span></a>
                            </div>
                            <div class="talk_list">
                                <ul>
                                    <li class="talk_list_right clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow1"></span>
                                            <a href="#" class="talk_del wm_ico fork9"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="talk_list_left clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow2"></span>
                                            <a href="#" class="talk_del wm_ico fork8"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="talk_list_right clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow1"></span>
                                            <a href="#" class="talk_del wm_ico fork9"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="talk_list_left clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow2"></span>
                                            <a href="#" class="talk_del wm_ico fork8"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="talk_list_right clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow1"></span>
                                            <a href="#" class="talk_del wm_ico fork9"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="talk_list_left clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow2"></span>
                                            <a href="#" class="talk_del wm_ico fork8"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="talk_list_right clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow1"></span>
                                            <a href="#" class="talk_del wm_ico fork9"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="talk_list_left clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow2"></span>
                                            <a href="#" class="talk_del wm_ico fork8"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="talk_list_right clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow1"></span>
                                            <a href="#" class="talk_del wm_ico fork9"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="talk_list_left clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow2"></span>
                                            <a href="#" class="talk_del wm_ico fork8"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="talk_list_right clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow1"></span>
                                            <a href="#" class="talk_del wm_ico fork9"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="talk_list_left clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow2"></span>
                                            <a href="#" class="talk_del wm_ico fork8"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="talk_list_right clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow1"></span>
                                            <a href="#" class="talk_del wm_ico fork9"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="talk_list_left clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow2"></span>
                                            <a href="#" class="talk_del wm_ico fork8"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="talk_list_right clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow1"></span>
                                            <a href="#" class="talk_del wm_ico fork9"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="talk_list_left clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow2"></span>
                                            <a href="#" class="talk_del wm_ico fork8"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="talk_list_right clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow1"></span>
                                            <a href="#" class="talk_del wm_ico fork9"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="talk_list_left clearfix">
                                        <div class="user_img">
                                            <a href="#">
                                                <img src="img/user_img.jpg" /></a>
                                        </div>
                                        <div class="talk_box">
                                            <span class="arrow allow2"></span>
                                            <a href="#" class="talk_del wm_ico fork8"></a>
                                            <div class="talk_box1">
                                                <div class="talk_box2">
                                                    <div class="talk_box3">
                                                        <div class="talk_box4">
                                                            今天天气好晴朗
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="wm_page">
                                <span>共10页</span>
                                <a href="javascript:void(0);"><</a>
                                <b>1</b>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <span class="ellipsis">……</span>
                                <a href="#">></a>
                            </div>
                        </div>
                        <div class="setting">
                            <a href="#" title="设置背景图片" class="iconfont set_bg">&#xf013e;</a>
                            <a href="#" title="删除此人聊天记录" class="iconfont delete">&#xf013f;</a>
                        </div>
                        <div class="friends_list">
                            <h2><span class="iconfont">&#xf015e;</span>好友列表</h2>
                            <ul>
                                <li class="friends_list_item">
                                    <a href="#" class="friends_photo">
                                        <img src="img/user_img.jpg" /></a>
                                    <a href="#" class="friends_name">菜菜菜</a>
                                </li>
                                <li class="friends_list_item">
                                    <a href="#" class="friends_photo">
                                        <img src="img/user_img.jpg" /></a>
                                    <a href="#" class="friends_name">菜菜菜</a>
                                </li>
                                <li class="friends_list_item">
                                    <a href="#" class="friends_photo">
                                        <img src="img/user_img.jpg" /></a>
                                    <a href="#" class="friends_name">菜菜菜</a>
                                </li>
                                <li class="friends_list_item">
                                    <a href="#" class="friends_photo">
                                        <img src="img/user_img.jpg" /></a>
                                    <a href="#" class="friends_name">菜菜菜</a>
                                </li>
                                <li class="friends_list_item">
                                    <a href="#" class="friends_photo">
                                        <img src="img/user_img.jpg" /></a>
                                    <a href="#" class="friends_name">菜菜菜</a>
                                </li>
                                <li class="friends_list_item">
                                    <a href="#" class="friends_photo">
                                        <img src="img/user_img.jpg" /></a>
                                    <a href="#" class="friends_name">菜菜菜</a>
                                </li>
                                <li class="friends_list_item">
                                    <a href="#" class="friends_photo">
                                        <img src="img/user_img.jpg" /></a>
                                    <a href="#" class="friends_name">菜菜菜</a>
                                </li>
                                <li class="friends_list_item">
                                    <a href="#" class="friends_photo">
                                        <img src="img/user_img.jpg" /></a>
                                    <a href="#" class="friends_name">菜菜菜</a>
                                </li>
                                <li class="friends_list_item">
                                    <a href="#" class="friends_photo">
                                        <img src="img/user_img.jpg" /></a>
                                    <a href="#" class="friends_name">菜菜菜</a>
                                </li>
                                <li class="friends_list_item">
                                    <a href="#" class="friends_photo">
                                        <img src="img/user_img.jpg" /></a>
                                    <a href="#" class="friends_name">菜菜菜</a>
                                </li>
                                <li class="friends_list_item">
                                    <a href="#" class="friends_photo">
                                        <img src="img/user_img.jpg" /></a>
                                    <a href="#" class="friends_name">菜菜菜</a>
                                </li>
                                <li class="friends_list_item">
                                    <a href="#" class="friends_photo">
                                        <img src="img/user_img.jpg" /></a>
                                    <a href="#" class="friends_name">菜菜菜</a>
                                </li>
                                <li class="friends_list_item">
                                    <a href="#" class="friends_photo">
                                        <img src="img/user_img.jpg" /></a>
                                    <a href="#" class="friends_name">菜菜菜</a>
                                </li>
                                <li class="friends_list_item">
                                    <a href="#" class="friends_photo">
                                        <img src="img/user_img.jpg" /></a>
                                    <a href="#" class="friends_name">菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜菜</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div class="bottom">
            <div class="bott_sub">
                <div class="w900m">
                    <div class="link_list">
                        <div class="link_item">
                            <span>服务保障</span>
                            <ul>
                                <li><a href="http://help.tcsh.me/genuine.html" rel="nofollow" target="_blank">正品保障</a></li>
                                <li><a href="http://help.tcsh.me/7dsr.html" rel="nofollow" target="_blank">7天无条件退货</a></li>
                                <li><a href="http://help.tcsh.me/au.html#x1" rel="nofollow" target="_blank">7*15小时服务</a></li>
                            </ul>
                        </div>
                        <div class="link_item">
                            <span>购物指南</span>
                            <ul>
                                <!--<li><a href="http://help.wumeiwang.com/shopping_guide.html" rel="nofollow">导购演示</a></li>-->
                                <li><a href="http://help.tcsh.me/order.html" rel="nofollow" target="_blank">订单操作</a></li>
                                <li><a href="http://help.tcsh.me/guide.html" rel="nofollow" target="_blank">用户指南</a></li>
                                <li><a href="http://help.tcsh.me/account.html" rel="nofollow" target="_blank">账号管理</a></li>
                                <li><a href="http://help.tcsh.me/shopping_reference.html" rel="nofollow" target="_blank">购物参考</a></li>
                            </ul>
                        </div>
                        <div class="link_item">
                            <span>支付方式</span>
                            <ul>
                                <li><a href="http://help.tcsh.me/internet_banking.html" rel="nofollow" target="_blank">网银支付币</a></li>
                                <li><a href="http://help.tcsh.me/internet_banking.html#x2" rel="nofollow" target="_blank">支付平台</a></li>
                                <li><a href="http://help.tcsh.me/internet_banking.html#x3" rel="nofollow" target="_blank">信用卡</a></li>
                                <!--<li><a href="http://help.tcsh.me/internet_banking.html#x4" rel="nofollow">同城生活金币</a></li>-->
                                <li><a href="http://help.tcsh.me/internet_banking.html" rel="nofollow" target="_blank">网银在线支付</a></li>
                            </ul>
                        </div>
                        <div class="link_item">
                            <span>配送方式</span>
                            <ul>
                                <li><a href="http://help.tcsh.me/delivery.html" rel="nofollow" target="_blank">配送服务</a></li>
                                <!--<li><a href="http://help.wumeiwang.com/delivery.html#x1" rel="nofollow">配送范围和运费</a></li>-->
                                <li><a href="http://help.tcsh.me/delivery.html#x2" rel="nofollow" target="_blank">验货与签收</a></li>
                            </ul>
                        </div>
                        <div class="link_item">
                            <span>售后服务</span>
                            <ul>
                                <!--<li><a href="http://help.tcsh.me/aftermarket.html">退换货政策</a></li>-->
                                <li><a href="http://help.tcsh.me/aftermarket.html#x1" rel="nofollow" target="_blank">退换货流程</a></li>
                                <li><a href="http://help.tcsh.me/aftermarket.html#x2" rel="nofollow" target="_blank">退款方式和时效</a></li>
                            </ul>
                        </div>
                        <div class="link_item end">
                            <span>互动模式</span>
                            <ul>
                                <li><a href="http://help.tcsh.me/wmmode.html" rel="nofollow" target="_blank">开放平台</a></li>
                                <li><a href="http://help.tcsh.me/wmmode.html#x1" rel="nofollow" target="_blank">品牌直销</a></li>
                                <li><a href="http://help.tcsh.me/wmmode.html#x2" rel="nofollow" target="_blank">赏金分利</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="put_on_record">
                    <p class="botton">
                        <a href="http://help.tcsh.me/au.html" rel="nofollow" target="_blank">关于我们</a><em>|</em>
                        <a href="http://help.tcsh.me/au.html#x1" rel="nofollow" target="_blank">联系我们</a><em>|</em>
                        <a href="http://www.tcsh.me/seller/reg" rel="nofollow" target="_blank">品牌入驻</a><em>|</em>
                        <a href="http://help.tcsh.me/privacy.html" rel="nofollow" target="_blank">隐私条款</a><em>|</em>
                        <a href="#">网站地图</a><em>|</em>
                        <a href="http://www.unionpay.com" rel="nofollow" target="_blank">银联特约商户</a>
                    </p>

                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright &copy; 2008 杭州鹤笪投资管理有限公司 All Right Resarved</p>

                    <!--<a href="http://www.cyberpolice.cn/wfjb/" target="_blank" rel="nofollow">
                        <img src="http://s.tcsh.me/tcsh/view/public/img/internetPolice.png">
                    </a>

                    <a href="#" rel="nofollow">
                        <img src="http://s.tcsh.me/tcsh/view/public/img/putOnRecord.png">
                    </a>

                    <a href="#" rel="nofollow">
                        <img src="http://s.tcsh.me/tcsh/view/public/img/internetBusiness.png">
                    </a>

                    <a href="#" rel="nofollow">
                        <img src="http://s.tcsh.me/tcsh/view/public/img/siteCredits.png">
                    </a>

                    <a href="#" target="_blank" rel="nofollow">
                        <img src="http://s.tcsh.me/tcsh/view/public/img/trusty.png">
                    </a>-->


                </div>
            </div>

        </div>
    </div>
</body>
</html>
