<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/phone_web/public/css/global.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/phone_web/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div id="page">
        <header>
            <h1 class="iconfont">&#xe602;</h1>
            <div class="logo_msg">
                <em>同城生活</em>
                <span>HU DONG GOU WU</span>
            </div>
        </header>
        <article>
            <ul class="gifts_list">
                <li class="gifts_item">
                    <a href="http://s.tcsh.me/tcsh/view/phone_web/gifts/gifts_item.html">
                        <span class="gifts_img_bg"><img class="gifts_img lazyload" src="http://s.tcsh.me/tcsh/view/public/img/pit.png" lazyload_url="http://img.wumeiwang.com/M00/00/08/rBAA_FKW6fGAcqyHAAF1tJ-DD4M176.jpg"  /></span>
                        <span class="gifts_name">加绒保暖男装商务休闲衬衫 拼接长袖衬衣 韩版修身格子衫</span>
                        <span class="gifts_price">市场价：￥99<span class="receive_btn"><i class="iconfont">&#xe601;</i>免费领取</span></span>
                    </a>
                </li>
                <li class="gifts_item">
                    <a href="http://s.tcsh.me/tcsh/view/phone_web/gifts/gifts_item.html">
                        <span class="gifts_img_bg"><img class="gifts_img lazyload" src="http://s.tcsh.me/tcsh/view/public/img/pit.png" lazyload_url="http://img.wumeiwang.com/M00/00/08/rBAA_FKW6fGAcqyHAAF1tJ-DD4M176.jpg"  /></span>
                        <span class="gifts_name">加绒保暖男装商务休闲衬衫 拼接长袖衬衣 韩版修身格子衫</span>
                        <span class="gifts_price">市场价：￥99<span class="receive_btn"><i class="iconfont">&#xe601;</i>免费领取</span></span>
                    </a>
                </li>
                <li class="gifts_item">
                    <a href="http://s.tcsh.me/tcsh/view/phone_web/gifts/gifts_item.html">
                        <span class="gifts_img_bg"><img class="gifts_img lazyload" src="http://s.tcsh.me/tcsh/view/public/img/pit.png" lazyload_url="http://img.wumeiwang.com/M00/00/08/rBAA_FKW6fGAcqyHAAF1tJ-DD4M176.jpg"  /></span>
                        <span class="gifts_name">加绒保暖男装商务休闲衬衫 拼接长袖衬衣 韩版修身格子衫</span>
                        <span class="gifts_price">市场价：￥99<span class="receive_btn"><i class="iconfont">&#xe601;</i>免费领取</span></span>
                    </a>
                </li>
                <li class="gifts_item">
                    <a href="http://s.tcsh.me/tcsh/view/phone_web/gifts/gifts_item.html">
                        <span class="gifts_img_bg"><img class="gifts_img lazyload" src="http://s.tcsh.me/tcsh/view/public/img/pit.png" lazyload_url="http://img.wumeiwang.com/M00/00/08/rBAA_FKW6fGAcqyHAAF1tJ-DD4M176.jpg"  /></span>
                        <span class="gifts_name">加绒保暖男装商务休闲衬衫 拼接长袖衬衣 韩版修身格子衫</span>
                        <span class="gifts_price">市场价：￥99<span class="receive_btn"><i class="iconfont">&#xe601;</i>免费领取</span></span>
                    </a>
                </li>
                <li class="gifts_item">
                    <a href="http://s.tcsh.me/tcsh/view/phone_web/gifts/gifts_item.html">
                        <span class="gifts_img_bg"><img class="gifts_img lazyload" src="http://s.tcsh.me/tcsh/view/public/img/pit.png" lazyload_url="http://img.wumeiwang.com/M00/00/08/rBAA_FKW6fGAcqyHAAF1tJ-DD4M176.jpg"  /></span>
                        <span class="gifts_name">加绒保暖男装商务休闲衬衫 拼接长袖衬衣 韩版修身格子衫</span>
                        <span class="gifts_price">市场价：￥99<span class="receive_btn"><i class="iconfont">&#xe601;</i>免费领取</span></span>
                    </a>
                </li>
                <li class="gifts_item">
                    <a href="http://s.tcsh.me/tcsh/view/phone_web/gifts/gifts_item.html">
                        <span class="gifts_img_bg"><img class="gifts_img lazyload" src="http://s.tcsh.me/tcsh/view/public/img/pit.png" lazyload_url="http://img.wumeiwang.com/M00/00/08/rBAA_FKW6fGAcqyHAAF1tJ-DD4M176.jpg"  /></span>
                        <span class="gifts_name">加绒保暖男装商务休闲衬衫 拼接长袖衬衣 韩版修身格子衫</span>
                        <span class="gifts_price">市场价：￥99<span class="receive_btn"><i class="iconfont">&#xe601;</i>免费领取</span></span>
                    </a>
                </li>
                <li class="gifts_item">
                    <a href="http://s.tcsh.me/tcsh/view/phone_web/gifts/gifts_item.html">
                        <span class="gifts_img_bg"><img class="gifts_img lazyload" src="http://s.tcsh.me/tcsh/view/public/img/pit.png" lazyload_url="http://img.wumeiwang.com/M00/00/08/rBAA_FKW6fGAcqyHAAF1tJ-DD4M176.jpg"  /></span>
                        <span class="gifts_name">加绒保暖男装商务休闲衬衫 拼接长袖衬衣 韩版修身格子衫</span>
                        <span class="gifts_price">市场价：￥99<span class="receive_btn"><i class="iconfont">&#xe601;</i>免费领取</span></span>
                    </a>
                </li>
                <li class="gifts_item">
                    <a href="http://s.tcsh.me/tcsh/view/phone_web/gifts/gifts_item.html">
                        <span class="gifts_img_bg"><img class="gifts_img lazyload" src="http://s.tcsh.me/tcsh/view/public/img/pit.png" lazyload_url="http://img.wumeiwang.com/M00/00/08/rBAA_FKW6fGAcqyHAAF1tJ-DD4M176.jpg"  /></span>
                        <span class="gifts_name">加绒保暖男装商务休闲衬衫 拼接长袖衬衣 韩版修身格子衫</span>
                        <span class="gifts_price">市场价：￥99<span class="receive_btn"><i class="iconfont">&#xe601;</i>免费领取</span></span>
                    </a>
                </li>
                <li class="gifts_item">
                    <a href="http://s.tcsh.me/tcsh/view/phone_web/gifts/gifts_item.html">
                        <span class="gifts_img_bg"><img class="gifts_img lazyload" src="http://s.tcsh.me/tcsh/view/public/img/pit.png" lazyload_url="http://img.wumeiwang.com/M00/00/08/rBAA_FKW6fGAcqyHAAF1tJ-DD4M176.jpg"  /></span>
                        <span class="gifts_name">加绒保暖男装商务休闲衬衫 拼接长袖衬衣 韩版修身格子衫</span>
                        <span class="gifts_price">市场价：￥99<span class="receive_btn"><i class="iconfont">&#xe601;</i>免费领取</span></span>
                    </a>
                </li>
            </ul>
        </article>
    </div>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/phone_web/gifts/config.js" data-init="gifts_list"></script>
</body>
</html>

