@CHARSET "UTF-8";
.logistics { }
.logistics .logistics_item { background: #fff; padding: 20px; }
.logistics .logistics_tab { background: #55a2fb; padding: 20px 0 0 20px; height: 30px; overflow: hidden; }
.logistics .logistics_tab p { line-height: 36px; color: #e13436; }
.logistics .logistics_tab a { margin-right: 40px; height: 36px; line-height: 30px; display: inline-block; position: relative; vertical-align: middle; }
.logistics .logistics_tab .ui_btn .ui_btn_txt { color: #F37D15; }
.logistics .logistics_tab .ui_btn_txt { font-size: 14px; font-family: SimSun; padding: 0 15px 0 10px;color:#fff }
.point { border: 1px solid #ffcc7f; background-color: #ffffe5; padding: 5px; margin-bottom: 10px; }
.point .wm_ico { vertical-align: top; }
.logistics_model { }
.logistics_model .modeldemo { }
.logistics_model .modeldemo .modeldemo_head { padding: 10px 0 5px 0; }
.logistics_model .modeldemo h3 { float: left; font-size: 16px; }
.logistics_model .modeldemo .demo_remark { padding: 5px 0; }
.logistics_model .model_table { width: 100%; border: 1px solid #bbb; border-bottom: 0 solid #fff; border-left: 0 solid #fff; margin-bottom: 10px; }
.logistics_model .model_table .model_name td { background: #e8f2ff; }
.logistics_model .model_table td, .logistics_model .model_table th { padding: 10px; border: 1px solid #bbb; border-top: 0 solid #fff; border-right: 0 solid #fff; }
.logistics_model .model_table .model_name .btns { float: right; }
.logistics_model .model_table .model_name .btns a, .logistics_model .model_table .model_name .btns a:hover, .logistics_model .model_table .model_name .btns a:active, .logistics_model .model_table .model_name .btns a:visited { padding: 0 5px; color: #409dd3; }
.logistics_model .model_table th { background: #f5f5f5; }
.logistics_model .model_table .form_txt { background: #fff; border: 1px solid #c0c0c0; }
.logistics_model .model_table input.errortxt { border: 1px solid #e13436; background: #fbd1d1; }
.logistics_model .thead { }
.logistics_model .thead .model_table { margin-bottom: 0; }
.logistics_model .tbody { *margin-top: -2px; border-right: 1px solid #bbb; overflow-y: auto; overflow-x: hidden; height: expression(this.scrollHeight>140 ? "140px":"auto"); width: 737px; max-height: 190px; }
.logistics_model .tbody .model_table { margin-bottom: 0; margin-top: -1px; border-right: 0 #fff solid; }
.logistics_model .tfoot { border-top: 0 solid #fff; }
.logistics_model .tfoot .model_table { margin-top: -1px; }
.logistics_model .init_edit_model { margin: 5px 0; }
.main_con .logistics_model .wm_form a { color: #36c; }
.main_con .logistics_model .wm_form .row_key { width: 100px; }
.main_con .logistics_model .shipping_box { padding: 10px; border: 1px solid #b2d1ff; width: 600px; }
.main_con .logistics_model .default_shipping { padding: 5px 10px; background: #f3feed; margin-bottom: 10px; }
.main_con .logistics_model .default_shipping .form_txt { margin: 0 5px; background: #fff; border: 1px solid #c0c0c0; }
.main_con .logistics_model .default_shipping input.errortxt { border: 1px solid #e13436; background: #fbd1d1; }
.main_con .logistics_model .shipping_arealist { float: left; width: 170px; line-height: 14px; max-height: 110px; min-height: 26px; overflow-x: hidden; overflow-y: auto; height: expression(this.scrollHeight>110 ? "110px":"auto"); }
.main_con .logistics_model .shipping_arealist span { display: inline-block; padding: 0 2px; font-size: 12px; font-family: SimSun; }
.main_con .logistics_model .editarea { float: right; }
.main_con .bot0 { border-top: 0 solid #fff; }
.main_con .bor0 { border-right: 0 solid #fff; }
.main_con .mt-1 { margin-top: -1px; }
.main_con .mb0 { margin-bottom: 0; }
.main_con .w99 { width: 99px; }
.main_con .w69 { width: 49px; }
.main_con .w200 { width: 200px; }
.main_con .w310 { width: 310px; }
.main_con .logistics_model .textright { text-align: right; }
.main_con .logistics_model .form_row .ui_btn { margin-right: 10px; }
.main_con .logistics_model .form_row .form_sel { margin-right: 10px; }

.loadingBox { }
.loadingBox .loading_con { padding: 20px 75px; }
.loadingBox .loadingbg { padding-bottom: 15px; }
.loadingBox .loading_list { }
.loadingBox .loading_list .loading_item { padding: 2px 0; }
.loadingBox .loading_list i { display: inline-block; vertical-align: middle; width: 16px; height: 16px; border: 1px solid #ccc; margin: 3px; }
.loadingBox .loading_msg { display: inline-block; vertical-align: middle; font-weight: 700; font-size: 14px; font-family: SunSim; padding-left: 15px; display: inline-block; vertical-align: middle; padding-bottom: 15px; }
.loadingBox .loading_list .schedule_p, .loadingBox .loading_list .schedule_s { display: inline-block; border: 1px solid #bbb; width: 150px; height: 12px; vertical-align: middle; margin-left: 8px; }
.loadingBox .loading_list .schedule_p { position: relative; }
.loadingBox .loading_list .schedule_s { position: absolute; top: 0; left: 0; width: 0; margin: 0; border: 0; background: #3db912; }


.setattr_file { float: right; width: 190px; margin-top: 10px; }
.del_upimg_item { margin-top: 10px; }
.setattr_file_img { display: none; float: left; margin-right: 15px; width: 40px; height: 40px; vertical-align: middle; }

.lc_main { background: #fff; padding: 20px; }
.lc_main fieldset { }
.lc_main legend { margin-left: 20px; font-size: 16px; color: #999; }
.lc_main .user_lc_list { padding: 15px 0 15px 15px; overflow: hidden; }
.lc_main .user_lc_list li { float: left; height: 26px; line-height: 26px; padding: 0 5px 0 10px; border: 1px solid #999; margin: 5px 10px 10px 5px; background: #ccc; border-radius: 6px; position: relative; }
.lc_main .user_lc_list li a, .lc_main .user_lc_list li a:active, .lc_main .user_lc_list li a:visited, .lc_main .user_lc_list li a:link, .lc_main .user_lc_list li a:hover { color: #333; text-decoration: none; letter-spacing: 5px; }
.lc_main .user_lc_list li .del { position: absolute; right: -8px; top: -6px; }

@keyframes hide_user_lc_item {
    from { margin: 5px 10px 10px 5px; padding: 0 5px 0 10px; border: 1px solid #999; overflow: hidden; }
    to { margin: 0; padding: 0; border: 0; width: 0; }
}
/* Firefox */
@-moz-keyframes hide_user_lc_item {
    from { margin: 5px 10px 10px 5px; padding: 0 5px 0 10px; border: 1px solid #999; overflow: hidden; }
    to { margin: 0; padding: 0; border: 0; width: 0; }
}
/* Safari 和 Chrome */
@-webkit-keyframes hide_user_lc_item {
    from { margin: 5px 10px 10px 5px; padding: 0 5px 0 10px; border: 1px solid #999; overflow: hidden; }
    to { margin: 0; padding: 0; border: 0; width: 0; }
}
/* Opera */
@-o-keyframes hide_user_lc_item { from;
{ margin: 5px 10px 10px 5px; padding: 0 5px 0 10px; border: 1px solid #999; overflow: hidden; }
to { margin: 0; padding: 0; border: 0; width: 0; }
}
.lc_main .user_lc_list .hide_item { margin: 0; padding: 0; border: 0; width: 0; overflow: hidden; animation: hide_user_lc_item 0.3s; -moz-animation: hide_user_lc_item 0.3s; /* Firefox */ -webkit-animation: hide_user_lc_item 0.3s; /* Safari 和 Chrome */ -o-animation: hide_user_lc_item 0.3s; /* Opera */ }
.lc_main fieldset .btns { padding: 15px 0 0 15px; overflow: hidden; }
.lc_main .add_user_lc { font-size: 18px; font-weight: 700; letter-spacing: 5px; padding-left: 10px; }

#chk_box { width: 860px; }
#chk_box .chk_main { padding-top: 5px; }
#chk_box .main_head h3 { font-size: 16px; border-bottom: 2px solid #e13436; padding-bottom: 6px; line-height: 36px; }
#chk_box .logistics_list { margin-top: 20px; height: 350px; overflow-y: scroll; position: relative; }
#chk_box .logistics_list h4 { padding-left: 22px; float: left; width: 24px; line-height: 28px; }
#chk_box .logistics_list .item { overflow: hidden; padding: 10px 0; _zoom: 1; width: 820px; }
#chk_box .logistics_list .item_list { overflow: hidden; }
#chk_box .logistics_list .sub_item { float: left; float: left; margin: 0 10px 10px 10px; }
#chk_box .btns { text-align: right; padding: 20px 20px 0 20px; border-top: 1px solid #999; margin-top: 30px; }
#chk_box .btns .submit { margin-right: 25px; }
#chk_box .btns .submit .ui_btn_txt { font-size: 16px; padding-left: 10px; letter-spacing: 5px; }
#chk_box .logistics_chked .wmcrbtn_txt { text-align: left; text-align: left; padding: 0 30px 0 0; }

#chk_box .select_box { padding: 20px 0 0 20px; font-size: 14px; }
#chk_box .select_box input { padding: 5px; width: 200px; }
.addad_list { width: 730px; }
.addad_list th { width: 60px; text-align: center; font-size: 12px; font-family: SimSun; color: #666; padding-bottom: 10px; border-bottom: 1px dashed; #999; }
.addad_list td { padding: 5px; word-wrap: break-word; word-break: normal; word-break: break-all; }
.addad_list .odd td { background: #efefef; }
.addad_list .center { text-align: center; }
.addad_list .w150 { width: 150px; }
.addad_list .w120 { width: 120px; }
.addad_list .block { display: block; }
.lc_main .add_adform .submit { letter-spacing: 5px; padding-left: 10px; }
.addad_list a:hover { color: #F37D15; }
