.head_top .sub_head_top, .head .head_sub, #page .content .con_sub { width: 1190px; position: relative; }
.head_con .wmwz_logo { float: left; padding: 20px 0 0 0; }
.head_con .wmwz_logo a, .head_con .wmwz_logo a:link, .head_con .wmwz_logo a:active, .head_con .wmwz_logo a:visited, .head_con .wmwz_logo a:hover { color: #e13436; text-decoration: none; background: none; height: 30px; padding: 0; line-height: 30px; font-size: 30px; font-family: 'Microsoft YaHei'; font-weight: 500; }
.head_con .wmwz_logo .logo_remark { display: block; font-size: 12px; color: #999; font-weight: 500; }
/* --当首页样式变为全局，该样式可以删除-- */
.head .head_sub .head_search { margin-left: 100px; margin: 46px 0 0 100px; width: 500px; height: 34px; background: #d60000; padding: 2px 0 0 2px; }
.head_sub .head_search .search_form { background: #fff; height: 32px; }
.head_sub .head_search .search_form .search_type { position: relative; float: left; width: 73px; border-right: 1px dashed #c9c9c9; height: 100%; background: #f0f0f0; cursor: pointer; }
.head_sub .head_search .search_form ul { border: 1px solid #f0f0f0; border-top: none; height: 31px; overflow: hidden; }
.head_sub .head_search .showsearch_type ul { height: 64px; border: 1px solid #f0f0f0; border-top: none; background: #fff; }
.head_sub .head_search .search_form .search_type a, .head_sub .head_search .search_form .search_type a:link, .head_sub .head_search .search_form .search_type a:visited, .head_sub .head_search .search_form .search_type a:active { font-size: 12px; color: #787878; font-family: SimSun; padding-left: 16px; line-height: 32px; height: 32px; width: 46px; background: transparent; }
.head_sub .head_search .search_form .search_type a:hover { background: #f6f6f6; }
.head_sub .head_search .search_form .search_type .pull_arrow { position: absolute; right: 12px; top: 8px; text-decoration: none; font-size: 8px; font-weight: 500; color: #787878; }
.head .head_sub .head_search .search_txt { padding: 7px; width: 320px; }
.head .head_sub .head_search .submit { cursor: pointer; letter-spacing: 5px; width: 90px; background: #d60000; float: right; height: 100%; *height: 32px; text-align: center; padding: 0; color: #fff; font-family: SimSun; font-size: 14px; font-weight: 700; padding-left: 5px; }
/*******************************************************/
.head .head_sub .head_search { margin: 32px 0 0 130px; width: 520px; }


.adv_max_320 { width: 1421px; overflow: hidden; height: 320px; position: relative; margin:0 auto}
.adv_max_320 .for_img_item a, .adv_max_320 .for_img_item a:link, .adv_max_320 .for_img_item a:active, .adv_max_320 .for_img_item a:visited { display: block; height: 320px; margin-left:-250px}
.adv_max_320 .indexBox { position: absolute; bottom: 10px; text-align: center; width: 200px; left: 50%; margin-left: -100px; }
.adv_max_320 .indexBox li { color: #535353; cursor: pointer; float: left; width: 17px; height: 17px; background: url('../../../public/img/ico.png') 0 -2160px no-repeat; text-align: center; font-family: SimSun; margin: 0 5px; }
.adv_max_320 .indexBox .curr { background-position: right -2160px; color: #fff; }

@keyframes indentationLeft {
    from { padding: 0 20px; }
    to { padding: 0; }
}
/* Firefox */
@-moz-keyframes indentationLeft {
    from { padding: 0 20px; }
    to { padding: 0; }
}
/* Safari 和 Chrome */
@-webkit-keyframes indentationLeft {
    from { padding: 0 20px; }
    to { padding: 0; }
}
/* Opera */
@-o-keyframes indentationLeft { from;
{ padding: 0 20px; }
to { padding: 0; }
}

@keyframes popMsg {
    from { left: 200px; }
    to { left: 90px; }
}
/* Firefox */
@-moz-keyframes popMsg {
    from { left: 200px; }
    to { left: 90px; }
}
/* Safari 和 Chrome */
@-webkit-keyframes popMsg {
    from { left: 200px; }
    to { left: 90px; }
}
/* Opera */
@-o-keyframes popMsg { from;
{ left: 200px; }
to { left: 90px; }
}

.nvzhuang_class_box { position: absolute; top: -350px; *top: -320px; left: 0; width: 256px; height: 320px; background: rgba(0,0,0,0.6); filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#99000000',EndColorStr='#99000000'); }
.nvzhuang_class_box .nvzhuang_class_list, .nvzhuang_class_box .nvzhuang_brand_list { overflow: hidden; padding: 4px 15px 0 15px; }
.nvzhuang_class_box li { float: left; padding: 10px; }
.nvzhuang_class_box li a, .nvzhuang_class_box li a:link, .nvzhuang_class_box li a:active, .nvzhuang_class_box li a:visited { color: #fff; font-size: 14px; white-space: nowrap; }
.nvzhuang_class_box h3 { width: 250px; color: #fff; }

.page_row { margin: 30px 0; zoom: 1; }
.page_row .page_row_title { padding-bottom: 10px; }
.page_row .page_row_title h3 { font-size: 18px; color: #333; font-family: 'Microsoft YaHei'; font-weight: 500; }
.page_row .page_row_con { border: 1px solid #c9c9c9; border-top: 3px solid #000; box-shadow: 0 0 2px #c9c9c9; position: relative; }
.page_row .brand_list { width: 1188px; background: #fff; height: 70px; overflow: hidden; border-top: 3px solid #9f2140; }
.page_row .brand_list li { float: left; padding: 10px 20px; }
.page_row .animation_right1 { height: 740px; position: relative; float: left; background: #bfa89d; width: 238px; }
.page_row .animation_right1 .animation1_item { text-align: center; line-height: 0; padding-top: 20px; }
.page_row .animation_right1 .animation1_item a, .wm_lady .lady_right .animation1_item a:link, .wm_lady .lady_right .animation1_item a:active, .wm_lady .lady_right .animation1_item a:visited { overflow: hidden; display: block; line-height: 0; position: relative; width: 200px; height: 150px; margin: 0 auto; }
.page_row .animation_right1 .remark { position: absolute; left: 0; top: 80px; overflow: hidden; width: 220px; color: #fff; line-height: 45px; text-align: left; white-space: nowrap; }
.page_row .animation_right1 .remark img { width: 90px; height: 45px; float: left; padding: 0 20px; background: #fff; }
.page_row .animation_right1 .remark .remark_msg { float: left; height: 45px; width: 110px; padding: 0 10px; background: rgba(0,0,0,0.6); filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#99000000',EndColorStr='#99000000'); position: absolute; left: 200px; }
.page_row .animation_right1 .animation1_item a:hover .remark img { padding: 0; animation: indentationLeft 0.1s; -moz-animation: indentationLeft 0.1s; /* Firefox */ -webkit-animation: indentationLeft 0.1s; /* Safari 和 Chrome */ -o-animation: indentationLeft 0.1s; /* Opera */ }
.page_row .animation_right1 .animation1_item a:hover .remark_msg { left: 90px; animation: popMsg 0.3s; -moz-animation: popMsg 0.3s; /* Firefox */ -webkit-animation: popMsg 0.3s; /* Safari 和 Chrome */ -o-animation: popMsg 0.3s; /* Opera */ }


.wm_recommend { margin-bottom: 30px; overflow: hidden; }
.wm_recommend .page_row_con { border: none; }
.wm_recommend .recommend_list { overflow: hidden; background: #fff; width: 1270px; height: 458px; }
.wm_recommend .recommend_item { float: left; margin: 0px 10px 0 -3px; border-left: 3px solid #fff; padding-left: 8px; height: 450px; padding-top: 8px; }
.wm_recommend .recommend_item a, .wm_recommend .recommend_item a:link, .wm_recommend .recommend_item a:active, .wm_recommend .recommend_item a:visited { display: block; line-height: 0; position: relative; width: 220px; height: 340px; }
.wm_recommend .recommend_item img { max-width: 220px; max-height: 340px; }
.wm_recommend .recommend_item .spread_brand img { width: 200px; height: 100px; }
.wm_recommend .recommend_item_tag { background: url('../img/bg.png') 0 0 no-repeat; width: 200px; height: 50px; position: absolute; bottom: 0; left: 0; line-height: 70px; text-align: center; font-size: 16px; font-family: 'Microsoft YaHei'; color: #fff; overflow: hidden; padding: 0 10px; }
.wm_recommend .spread_img:hover { text-decoration: none; }
.wm_recommend .spread_img:hover .recommend_item_tag { background-position: 0 -60px; }

.wm_sweet { margin-bottom: 30px; }
.wm_sweet .page_row_con { background: #fff; }
.wm_sweet .sweet_left { width: 950px; height: 600px; position: relative; float: left; margin-right: 10px; }
.wm_sweet .sweet_left .sweet_item { position: absolute; }
.wm_sweet .sweet_left .sweet_item1, .wm_sweet .sweet_left .sweet_item1 img { top: 0; left: 0; width: 480px; height: 240px; }
.wm_sweet .sweet_left .sweet_item2, .wm_sweet .sweet_left .sweet_item2 img { top: 0; left: 480px; width: 240px; height: 240px; }
.wm_sweet .sweet_left .sweet_item3, .wm_sweet .sweet_left .sweet_item3 img { top: 0; left: 720px; width: 230px; height: 600px; }
.wm_sweet .sweet_left .sweet_item4, .wm_sweet .sweet_left .sweet_item4 img { top: 240px; left: 0; width: 240px; height: 240px; }
.wm_sweet .sweet_left .sweet_item5, .wm_sweet .sweet_left .sweet_item5 img { top: 240px; left: 240px; width: 240px; height: 120px; }
.wm_sweet .sweet_left .sweet_item6, .wm_sweet .sweet_left .sweet_item6 img { top: 240px; left: 480px; width: 240px; height: 120px; }
.wm_sweet .sweet_left .sweet_item7, .wm_sweet .sweet_left .sweet_item7 img { top: 360px; left: 240px; width: 240px; height: 240px; }
.wm_sweet .sweet_left .sweet_item8, .wm_sweet .sweet_left .sweet_item8 img { top: 360px; left: 480px; width: 240px; height: 240px; }
.wm_sweet .sweet_left .sweet_item9, .wm_sweet .sweet_left .sweet_item9 img { top: 480px; left: 0; width: 240px; height: 120px; }
.wm_sweet .sweet_right { width: 220px; height: 600px; position: relative; float: left; }
.wm_sweet .sweet_right .sweet_list { padding-top: 8px; height: 484px; position: relative; }
.wm_sweet .sweet_right .sweet_right_item { border-bottom: 1px solid #000; margin-bottom: 10px; }
.wm_sweet .sweet_right .sweet_right_item a, .wm_sweet .sweet_right .sweet_right_item a:link, .wm_sweet .sweet_right .sweet_right_item a:active, .wm_sweet .sweet_right .sweet_right_item a:visited { display: block; line-height: 0; width: 220px; height: 110px; overflow: hidden; }
.wm_sweet .tag_list { padding-top: 8px; height: 100px; overflow: hidden; }
.wm_sweet .tag_list ul { overflow: hidden; padding: 10px 0; height: 170px; }
.wm_sweet .tag_list .tag_list_title h3 { font-size: 14px; font-family: 'Microsoft YaHei'; color: #666; font-weight: 500; }
.wm_sweet .tag_list .tag_item { float: left; }
.wm_sweet .tag_list .tag_item a, .wm_sweet .tag_list .tag_item a:link, .wm_sweet .tag_list .tag_item a:active, .wm_sweet .tag_list .tag_item a:visited { height: 28px; display: inline-block; overflow: hidden; background: #e67390; padding: 0 5px; margin: 0 4px 4px 0; color: #fff; line-height: 28px; white-space: nowrap; border-radius: 2px; }
.wm_sweet .tag_list .tag_item a:hover { background: #9f2140; }

.wm_lady { }
.wm_lady .page_row_con { background: #fff; }
.wm_lady .lady_left { width: 950px; height: 740px; position: relative; float: left; margin-top: 20px; }
.wm_lady .lady_left .lady_item { position: absolute; overflow: hidden; }
.wm_lady .lady_left .lady_item .remark { position: absolute; bottom: 0; left: 15px; line-height: 30px; width: 200px; margin: 0 auto; text-align: center; background: #ccc; color: #fff; }
.wm_lady .lady_left .lady_item a, .wm_lady .lady_left .lady_item a:link, .wm_lady .lady_left .lady_item a:active, .wm_lady .lady_left .lady_item a:visited { display: block; line-height: 0; width: 100%; height: 100%; text-align: center; }
.wm_lady .lady_left .lady_item a:hover .remark { background: #000; }
.wm_lady .lady_left .lady_item1, .wm_lady .lady_left .lady_item1 img { top: 0; left: 0; width: 230px; height: 480px; }
.wm_lady .lady_left .lady_item2 { top: 0; left: 230px; width: 230px; height: 240px; }
.wm_lady .lady_left .lady_item3, .wm_lady .lady_left .lady_item3 img { top: 0; left: 460px; width: 470px; height: 240px; }
.wm_lady .lady_left .lady_item4 { top: 480px; left: 0; width: 230px; height: 240px; }
.wm_lady .lady_left .lady_item5, .wm_lady .lady_left .lady_item5 img { top: 240px; left: 230px; width: 230px; height: 480px; }
.wm_lady .lady_left .lady_item6 { top: 240px; left: 460px; width: 230px; height: 240px; }
.wm_lady .lady_left .lady_item7 { top: 240px; left: 690px; width: 230px; height: 240px; }
.wm_lady .lady_left .lady_item8 { top: 480px; left: 460px; width: 230px; height: 240px; }
.wm_lady .lady_left .lady_item9 { top: 480px; left: 690px; width: 230px; height: 240px; }
.wm_lady .lady_left .lady_item2 a, .wm_lady .lady_left .lady_item2 a:link, .wm_lady .lady_left .lady_item2 a:active, .wm_lady .lady_left .lady_item2 a:visited,
.wm_lady .lady_left .lady_item4 a, .wm_lady .lady_left .lady_item4 a:link, .wm_lady .lady_left .lady_item4 a:active, .wm_lady .lady_left .lady_item4 a:visited,
.wm_lady .lady_left .lady_item6 a, .wm_lady .lady_left .lady_item6 a:link, .wm_lady .lady_left .lady_item6 a:active, .wm_lady .lady_left .lady_item6 a:visited,
.wm_lady .lady_left .lady_item7 a, .wm_lady .lady_left .lady_item7 a:link, .wm_lady .lady_left .lady_item7 a:active, .wm_lady .lady_left .lady_item7 a:visited,
.wm_lady .lady_left .lady_item8 a, .wm_lady .lady_left .lady_item8 a:link, .wm_lady .lady_left .lady_item8 a:active, .wm_lady .lady_left .lady_item8 a:visited,
.wm_lady .lady_left .lady_item9 a, .wm_lady .lady_left .lady_item9 a:link, .wm_lady .lady_left .lady_item9 a:active, .wm_lady .lady_left .lady_item9 a:visited { display: block; line-height: 240px; width: 230px; height: 240px; text-align: center; position: relative; }
.wm_lady .lady_left .lady_item2 img,
.wm_lady .lady_left .lady_item4 img,
.wm_lady .lady_left .lady_item6 img,
.wm_lady .lady_left .lady_item7 img,
.wm_lady .lady_left .lady_item8 img,
.wm_lady .lady_left .lady_item9 img { vertical-align: middle; width: 150px; height: 150px; }
.wm_lady .brand_list img { width: 90px; height: 45px; }


.wm_elegant { }
.wm_elegant .page_row_con { background: #fff; }
.wm_elegant .elegant_left { width: 950px; height: 740px; position: relative; float: left; margin-top: 20px; }
.wm_elegant .elegant_left .elegant_item { position: absolute; }
.wm_elegant .elegant_left .elegant_item1, .wm_elegant .elegant_left .elegant_item1 img { top: 0; left: 0; width: 230px; height: 480px; }
.wm_elegant .elegant_left .elegant_item2, .wm_elegant .elegant_left .elegant_item2 img { top: 0; left: 230px; width: 230px; height: 240px; }
.wm_elegant .elegant_left .elegant_item3, .wm_elegant .elegant_left .elegant_item3 img { top: 0; left: 460px; width: 470px; height: 240px; }
.wm_elegant .elegant_left .elegant_item4, .wm_elegant .elegant_left .elegant_item4 img { top: 480px; left: 0; width: 230px; height: 240px; }
.wm_elegant .elegant_left .elegant_item5, .wm_elegant .elegant_left .elegant_item5 img { top: 240px; left: 230px; width: 230px; height: 480px; }
.wm_elegant .elegant_left .elegant_item6, .wm_elegant .elegant_left .elegant_item6 img { top: 240px; left: 460px; width: 470px; height: 240px; }
.wm_elegant .elegant_left .elegant_item7, .wm_elegant .elegant_left .elegant_item7 img { top: 480px; left: 460px; width: 470px; height: 240px; }
.wm_elegant .brand_list { height: 90px; }
.wm_elegant .brand_list img { width: 128px; height: 64px; }



.bottom_select_box { width: 720px; margin: 120px auto 0px auto; height: 34px; background: #d60000; padding: 2px 0 0 2px; }
.bottom_select_box .search_form { background: #fff; height: 32px; }
.bottom_select_box .search_form .search_type { position: relative; float: left; width: 73px; border-right: 1px dashed #c9c9c9; height: 100%; background: #f0f0f0; cursor: pointer; }
.bottom_select_box .search_form ul { border: 1px solid #f0f0f0; border-top: none; height: 31px; overflow: hidden; }
.bottom_select_box .showsearch_type ul { height: 64px; border: 1px solid #f0f0f0; border-top: none; background: #fff; }
.bottom_select_box .search_form .search_type a, .search_form .search_type a:link, .search_form .search_type a:visited, .search_form .search_type a:active { font-size: 12px; color: #787878; font-family: SimSun; padding-left: 16px; line-height: 32px; height: 32px; width: 46px; background: transparent; }
.bottom_select_box .search_form .search_type a:hover { background: #f6f6f6; }
.bottom_select_box .search_form .search_type .pull_arrow { position: absolute; right: 12px; top: 8px; text-decoration: none; font-size: 8px; font-weight: 500; color: #787878; }
.bottom_select_box .search_form .search_txt { display: block; float: left; padding: 7px; border: 0 solid #fff; height: 16px; font-family: SimSun; width: 540px; }
.bottom_select_box .search_form .submit { cursor: pointer; letter-spacing: 5px; width: 90px; background: #d60000; float: right; height: 100%; text-align: center; padding: 0; color: #fff; font-family: SimSun; font-size: 14px; font-weight: 700; padding-left: 5px; border: none; *height: 32px; }
