<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>个人首页</title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??sns/public/css/global.css,public/css/ico.css,public/wm_btn/css/style.css,public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/model/wmpage/css/style.css" />
    <link rel="stylesheet" href="css/index.css" />
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/sns/index/config.js" data-init="index"></script>
	<script type="text/javascript" charset="utf-8" src="http://item.tcsh.me/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://item.tcsh.me/ueditor/ueditor.all.js"></script>

    <script type="text/javascript">
        var global_setting = {}
    </script>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_top"></div>
            <div class="sns_head">
                <ul class="sns_head_con clearfix">
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">首页</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的生态圈</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">账户管理</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的主页</a>
                        <span class="arrows">◆</span>
                        <div class="sns_head_nav">
                            <a href="#" class="sns_head_nav_item">
                                <span class="sns_img grzy"></span>
                                <span class="sns_head_nav_word">个人主页</span>
                            </a>
                            <a href="#" class="sns_head_nav_item">
                                <span class="sns_img gwj"></span>
                                <span class="sns_head_nav_word">购物经</span>
                            </a>
                            <a href="#" class="sns_head_nav_item">
                                <span class="sns_img srdz"></span>
                                <span class="sns_head_nav_word">TA's 宝藏</span>
                            </a>
                            <a href="#" class="sns_head_nav_item">
                                <span class="sns_img dtts"></span>
                                <span class="sns_head_nav_word">道听途说</span>
                            </a>
                        </div>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的帮汇</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">归档</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
        
            <div class="main_con clearfix">
                <div class="main_left">
                    <ul class="sns_data_list">
                        <li class="sns_data_item clearfix" data_id="" user_id="1">
                            <a href="#" class="head_img" target="_blank">
                                <img src="../public/img/head_img.jpg" /></a>
                            <div class="sns_data_box">
                            	<div class="sns_data_box_sub">
                                	<span class="sns_img triangle"></span>
                                	<div class="sns_data_con">
                                    <div class="sns_data_user">
                                        <a href="#" class="user_name" target="_blank">王武</a>
                                        <a href="#" class="focus">+ 关注</a>
                                        <span class="remark">转载自<a href="#" target="_blank">李四</a></span>
                                        <span class="trends_date">2014-06-26<a href="#" class="denounce">举报</a></span>
                                    </div>
                                    <div class="sns_data_main clearfix">
                                        <a href="#" class="article_img_bg" target="_blank">
                                            <img src="img/img_200_160.jpg" width="100" /></a>
                                        <div class="sns_data_detail">
                                            <h3 class="sns_data_title"><a href="#" target="_blank">从简约中领悟品质的真谛</a></h3>
                                            <div class="article_main">
                                                <p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？</p>
                                                <p>希望悄悄的留住你的视线，带给你唯一却熟悉的感觉...</p>
                                                <p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？</p>
                                                <p>希望悄悄的留住你的视线，带给你唯一却熟悉的感觉...</p>
                                                <p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？</p>
                                                <p>希望悄悄的留住你的视线，带给你唯一却熟悉的感觉...</p>
                                                <p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？</p>
                                                <p>希望悄悄的留住你的视线，带给你唯一却熟悉的感觉...</p>
                                                <p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？</p>
                                                <p>希望悄悄的留住你的视线，带给你唯一却熟悉的感觉...</p>
                                                <p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？</p>
                                                <p>希望悄悄的留住你的视线，带给你唯一却熟悉的感觉...</p>
                                                <p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？</p>
                                                <p>希望悄悄的留住你的视线，带给你唯一却熟悉的感觉...</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sdi_btns">
                                    	<ul class="clearfix">
                                        	<li class="sdi_btns_sub">
                                            	<a href="#" class="sdi_btn_item hot"><span class="iconfont">&#xe60b;</span>热度<span class="sdi_btn_item_num">25</span></a>
                                            </li>
                                            <li class="sdi_btns_sub">
                                            	<a href="#" class="sdi_btn_item like"><span class="iconfont">&#xf0145;</span>喜欢<span class="sdi_btn_item_num">25</span></a>
                                            </li>
                                            <li class="sdi_btns_sub sdi_btns_sub_cur">
                                            	<a href="#" class="sdi_btn_item comments"><span class="iconfont">&#xe611;</span>评论</a>
                                                <span class="sdi_btns_triangle sdi_btns_triangle1">◆</span><span class="sdi_btns_triangle sdi_btns_triangle2">◆</span>
                                            </li>
                                            <li class="sdi_btns_sub">
                                            	<a href="#" class="sdi_btn_item turn_article"><span class="iconfont">&#xe60f;</span>转载</a>
                                            </li>
                                            <li class="sdi_btns_sub">
                                            	<a href="#" class="sdi_btn_item share"><span class="iconfont">&#xf01af;</span>分享</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                                <div class="sdi_btns_subCon dis_none"><div class="comment"></div></div>
                            </div>
                            
                        </li>
                        <li class="sns_data_item clearfix" data_id="" user_id="2">
                            <a href="#" class="head_img" target="_blank">
                                <img src="../public/img/head_img.jpg" /></a>
                            <div class="sns_data_box">
                            	<div class="sns_data_box_sub">
                                	<span class="sns_img triangle"></span>
                                	<div class="sns_data_con">
                                    <div class="sns_data_user">
                                        <a href="#" class="user_name" target="_blank">张三</a>
                                        <a href="#" class="focus">+ 关注</a>
                                        <span class="remark">转载自<a href="#" target="_blank">李四</a></span>
                                        <span class="trends_date">2014-06-26<a href="#" class="denounce">举报</a></span>
                                    </div>
                                    <div class="sns_data_main clearfix">
                                        <a href="#" class="article_img_bg" target="_blank">
                                            <img src="img/img_200_160.jpg" /></a>
                                        <div class="sns_data_detail">
                                            <h3 class="sns_data_title"><a href="#" target="_blank">从简约中领悟品质的真谛</a></h3>
                                            <div class="article_main">
                                                <p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？</p>
                                                <p>希望悄悄的留住你的视线，带给你唯一却熟悉的感觉...</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sdi_btns">
                                    	<ul class="clearfix">
                                        	<li class="sdi_btns_sub">
                                            	<a href="#" class="sdi_btn_item hot"><span class="iconfont">&#xe60b;</span>热度<span class="sdi_btn_item_num">25</span></a>
                                            </li>
                                            <li class="sdi_btns_sub">
                                            	<a href="#" class="sdi_btn_item like"><span class="iconfont">&#xf0145;</span>喜欢<span class="sdi_btn_item_num">25</span></a>
                                            </li>
                                            <li class="sdi_btns_sub sdi_btns_sub_cur">
                                            	<a href="#" class="sdi_btn_item comments"><span class="iconfont">&#xe611;</span>评论</a>
                                                <span class="sdi_btns_triangle sdi_btns_triangle1">◆</span><span class="sdi_btns_triangle sdi_btns_triangle2">◆</span>
                                            </li>
                                            <li class="sdi_btns_sub">
                                            	<a href="#" class="sdi_btn_item turn_article"><span class="iconfont">&#xe60f;</span>转载</a>
                                            </li>
                                            <li class="sdi_btns_sub">
                                            	<a href="#" class="sdi_btn_item share"><span class="iconfont">&#xf01af;</span>分享</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                                <div class="sdi_btns_subCon dis_none"><div class="comment"></div></div>
                            </div>
                        </li>
                        <li class="sns_data_item clearfix" data_id="" user_id="3">
                            <a href="#" class="head_img" target="_blank">
                                <img src="../public/img/head_img.jpg" /></a>
                            <div class="sns_data_box">
                            	<div class="sns_data_box_sub">
                                	<span class="sns_img triangle"></span>
                               		<div class="sns_data_con">
                                    <div class="sns_data_user">
                                        <a href="#" class="user_name" target="_blank">张三</a>
                                        <a href="#" class="focus">+ 关注</a>
                                        <span class="remark">转载自<a href="#" target="_blank">李四</a></span>
                                        <span class="trends_date">2014-06-26<a href="#" class="denounce">举报</a></span>
                                    </div>
                                    <div class="sns_data_main clearfix">
                                        
                                        <div class="sns_data_detail">
                                            <h3 class="sns_data_title"><a href="#" target="_blank">从简约中领悟品质的真谛</a></h3>
                                            <div class="article_main">
                                                <p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？</p>
                                                <p>希望悄悄的留住你的视线，带给你唯一却熟悉的感觉...</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sdi_btns">
                                    	<ul class="clearfix">
                                        	<li class="sdi_btns_sub">
                                            	<a href="#" class="sdi_btn_item hot"><span class="iconfont">&#xe60b;</span>热度<span class="sdi_btn_item_num">25</span></a>
                                            </li>
                                            <li class="sdi_btns_sub">
                                            	<a href="#" class="sdi_btn_item like"><span class="iconfont">&#xf0145;</span>喜欢<span class="sdi_btn_item_num">25</span></a>
                                            </li>
                                            <li class="sdi_btns_sub sdi_btns_sub_cur">
                                            	<a href="#" class="sdi_btn_item comments"><span class="iconfont">&#xe611;</span>评论</a>
                                                <span class="sdi_btns_triangle sdi_btns_triangle1">◆</span><span class="sdi_btns_triangle sdi_btns_triangle2">◆</span>
                                            </li>
                                            <li class="sdi_btns_sub">
                                            	<a href="#" class="sdi_btn_item turn_article"><span class="iconfont">&#xe60f;</span>转载</a>
                                            </li>
                                            <li class="sdi_btns_sub">
                                            	<a href="#" class="sdi_btn_item share"><span class="iconfont">&#xf01af;</span>分享</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                               	</div>
                                <div class="sdi_btns_subCon dis_none">
                                	<div class="comment">
                                    	<p class="comment_detail">
                                            <textarea name="" id="" cols="30" rows="10" class="comment_con"></textarea>
                                            <a href="#" class="comment_btn">
                                                发布
                                            </a>
                                        </p>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="sns_data_item question clearfix" data_id="" user_id="4">
                            <a href="#" class="head_img" target="_blank">
                                <img src="../public/img/head_img.jpg" />
                            </a>
                            <div class="sns_data_box">
                            	<div class="sns_data_box_sub">
                                	<span class="sns_img triangle"></span>
                                    <div class="sns_data_con">
                                        <div class="sns_data_user">
                                            <a href="#" class="user_name" target="_blank">张三</a>
                                            <a href="#" class="question_title">很适合大众新手尝试</a>
                                        </div>
                                        <div class="sns_data_main clearfix">
                                            <div class="sns_data_detail">
                                                <p>
                                                    <a href="#">目前同城生活的推手系统尚在架构之中，美推手还是以自由独立的个体存在与同城生活上，没有固定的推广方式，主要由论坛、博客、SNS平台，或者微博、邮件、Q群等作为推广方式...</a>
                                                </p>
                                            </div>
                                            <div class="answer">
                                                <a href="#" class="head_img" target="_blank">
                                                    <img src="../public/img/head_40_40.jpg" />
                                                </a>
                                                <div class="answer_con">
                                                    <div class="answer_con_detail">
                                                        <p>
                                                        一般评价一个文学或文艺作品或是某种事件现象，都是先听先看，然后思考，思考需要动用自己的大脑，把过去学到的知识...
                                                        </p>
                                                        <span class="answer_man">
                                                            <a href="#" class="answer_man_name">林亚权</a>回答该问题 <span class="answer_time">9小时前</span>
                                                        </span>
                                                    </div>
                                                    <div class="answer_zan clearfix">
                                                        <div class="answer_Ilike">
                                                            <a href="#" class="answer_man_like">我喜欢</a>
                                                            <div class="anl_con">
                                                                <div class="anl_con_triangle">
                                                                    <span class="tri1">◆</span>
                                                                    <span class="tri2">◆</span>
                                                                </div>
                                                                <a href="#" class="anl_con_item">
                                                                    <img src="img/img_200_160.jpg" />
                                                                    <span class="anl_con_item_price">￥123</span>
                                                                </a>
                                                                <a href="#" class="anl_con_item">
                                                                    <img src="img/img_200_160.jpg" />
                                                                    <span class="anl_con_item_price">￥123</span>
                                                                </a>
                                                                <a href="#" class="anl_con_item">
                                                                    <img src="img/img_200_160.jpg" />
                                                                    <span class="anl_con_item_price">￥123</span>
                                                                </a>
                                                                <a href="#" class="anl_con_item">
                                                                    <img src="img/img_200_160.jpg" />
                                                                    <span class="anl_con_item_price">￥123</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <span class="zan_people">
                                                            <span class="zan_people_sub">
                                                                <a href="#" class="zan_people_item zan"><span class="iconfont">&#xe613;</span><span class="zan_num">25</span></a>
                                                            </span>
                                                            <span class="zan_people_sub zan_people_name">
                                                                <a href="#" class="zan_people_item">林亚权</a><a href="#" class="zan_people_item">怪叔叔</a><a href="#" class="zan_people_item">小菜</a>
                                                            </span>
                                                            等人表示赞同.
                                                        </span>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="wm_page">
                    	<span>共25页</span>
                        <a href="#" class="page_before page_link"> < </a> 
                        <b>1</b>
                        <a href="#" class="page_link">2</a>
                        <a href="#" class="page_link">3</a>
                        <a href="#" class="page_link">4</a>
                        <a href="#" class="page_link">5</a>
                         <span class="ellipsis">……</span>
                        <a href="#" class="page_before page_link"> > </a>
                    </div>
                </div>
                <div class="main_right">
                	<div class="main_right_sub owner">
                    	<div class="owner_content"></div>
                        <!-- 别人 -->
                    	<div class="owner_infor_item owner_infor_btns"><a href="#" class="owner_btn focus_btn"><span class="iconfont">&#xf0034;</span>关注他</a><a href="#" class="owner_btn ask_btn"><span class="iconfont">&#xf00b8;</span>向他提问</a><a href="#" class="owner_btn letter_btn"><span class="iconfont">&#xe60d;</span>私信他</a></div>
                        <!-- 别人结束 -->
                        
                        <!-- 自己 -->
                        <!--<div class="owner_infor_item owner_infor_btns"><a href="#" class="owner_btn focus_btn"><span class="iconfont index sns_img">&#xf012b;</span>访问主页</a><a href="#" class="owner_btn ask_btn"><span class="iconfont">&#xf00b8;</span>我要提问</a><a href="#" class="owner_btn letter_btn"><span class="iconfont">&#xe60d;</span>撰写购物经</a></div>-->
                        <!-- 自己结束 -->
                    </div>
                </div>
            </div>
        </div>

        <!--底部-->
        <div class="footer">
            <p class="about"><a href="#">关于我们</a>|<a href="#">联系我们</a>|<a href="#">品牌入驻</a>|<a href="#">隐私条款</a>|<a href="#">网站地图</a>|<a href="#">友情链接</a>|<a href="#">用户体验提升计划</a></p>
            <p>经营性网站备案号：浙ICP备11009382号   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
            <a href="#">
                <img src="../../public/img/internetPolice.png" /></a><a href="#"><img src="../../public/img/putOnRecord.png" /></a><a href="#"><img src="../../public/img/internetBusiness.png" /></a><a href="#"><img src="../../public/img/siteCredits.png" /></a><a href="#"><img src="../../public/img/trusty.png" /></a>
        </div>

    </div>
    
</body>
<script type="text/plain" id="editor"></script>
<script type="text/javascript">
	global_setting.isDiscover = true;
	global_setting.isVisitor = true;
	global_setting.isOtherShare = true;
</script>
</html>
