<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../../public/css/ico.css" />
    <link type="text/css" rel="stylesheet" href="../../public/css/bank.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/pay.css" />
    <script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_sub">
                <span class="user_name">同城生活账户号：<b>chaiyining007</b></span>
                <span class="wm_pay_logo"></span><em></em><span class="logo_aid">我的收银台</span>
            </div>
            <span class="bgfff"></span>
        </div>
        <div class="content">
            <div class="con_sub">
                <div class="receipt_confirm">
                    <span class="bread_crumbs">
                        <span class="bread_crumbs_date no1">2013-09-09 12:14:33</span>
                        <span class="bread_crumbs_date no2">2013-09-09 12:14:33</span>
                        <span class="bread_crumbs_date no3">2013-09-09 12:14:33</span>
                    </span>
                    <div class="order_data">
                        <div class="order_data_head">
                            <h3>我已收到货  同意同城生活银行付款</h3>
                            <b>(订单信息)</b>
                        </div>
                        <table border="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th colspan="2">宝贝</th>
                                    <th>单价（元）</th>
                                    <th>数量</th>
                                    <th>优惠</th>
                                    <th>商品总价</th>
                                    <th>运费（元）</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="rightborder">
                                        <img title="商品名称" alt="商品名称" src="http://img.wumeiwang.com/M00/00/02/oYYBAFI2vI-ATljvAAFE3XR5nVU552.jpg" />
                                    </td>
                                    <td class="rightborder textleft">
                                        <a href="#" class="cmmodity_name">商品名称商品名称商品名称商品名称商品名称</a>
                                        <span class="block">尺寸：99</span>
                                        <span class="block">颜色：红色</span>
                                    </td>
                                    <td class="rightborder">99.00</td>
                                    <td class="rightborder">1</td>
                                    <td class="rightborder">限时购</td>
                                    <td rowspan="2">
                                        <b class="block">999.00</b>
                                        本次购买，获得同城生活金币99
                                    </td>
                                    <td rowspan="2">10</td>
                                </tr>
                                <tr>
                                    <td class="rightborder">
                                        <img title="商品名称" alt="商品名称" src="http://img.wumeiwang.com/M00/00/02/oYYBAFI2vI-ATljvAAFE3XR5nVU552.jpg" />
                                    </td>
                                    <td class="rightborder textleft">
                                        <a href="#" class="cmmodity_name">商品名称商品名称商品名称商品名称商品名称</a>
                                        <span class="block">尺寸：99</span>
                                        <span class="block">颜色：红色</span>
                                    </td>
                                    <td class="rightborder">99.00</td>
                                    <td class="rightborder">1</td>
                                    <td class="rightborder">限时购</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="tfoot">
                            <span class="block">实付款：<b>999.00</b>元</span>
                            <span class="block">您购买的商品供给优惠198.00元</span>
                        </div>
                        <ul class="wm_form logistics_data">
                            <li class="form_row">
                                <label class="row_key">订单编号：</label>
                                <span>464165498456498465</span>
                            </li>
                            <li class="form_row">
                                <label class="row_key">快递单号：</label>
                                <span>464165498456498465</span>
                            </li>
                            <li class="form_row">
                                <label class="row_key">卖家昵称：</label>
                                <div class="floatleft">
                                    <span class="seller_name">烦死了就死了</span><a target="_blank" class="seller_qq" href="http://wpa.qq.com/msgrd?v=3&amp;uin=130016001&amp;site=qq&amp;menu=yes">
                                        <img border="0" src="http://wpa.qq.com/pa?p=2:130016001:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
                                </div>

                            </li>
                            <li class="form_row">
                                <label class="row_key">收货地址：</label>
                                <span>浙江省 杭州市 拱墅区 祥园路 44号5楼 柴逸宁 收</span>
                            </li>
                            <li class="form_row">
                                <label class="row_key">成交时间：</label>
                                <span>2013-9-9 12：22：22</span>
                            </li>
                        </ul>
                        <div class="confirm_password">
                            <b>请收到货后，在确认收货！否则您可能钱货两空！</b>
                            <span class="block">如果您想申请退款，请返回到“订单管理”申请退款</span>
                            <form>
                                <ul class="wm_form">
                                    <li class="form_row">
                                        <label class="row_key">同城生活支付密码：</label>
                                        <input type="text" class="form_txt w200" />
                                        <a href="#">忘记密码?</a>
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key">&nbsp;</label>
                                        <span class="ui_btn ui_btn_h35yellow9">
                                            <input type="submit" class="ui_btn_txt" value="确定" /></span>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="link_list">
                    <div class="link_item">
                        <span>服务保障</span>
                        <ul>
                            <li><a href="#">正品保障</a></li>
                            <li><a href="#">7天无条件退货</a></li>
                            <li><a href="#">7*15小时服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>购物指南</span>
                        <ul>
                            <li><a href="#">导购演示</a></li>
                            <li><a href="#">订单操作</a></li>
                            <li><a href="#">用户指南</a></li>
                            <li><a href="#">账号管理</a></li>
                            <li><a href="#">购物参考</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>支付方式</span>
                        <ul>
                            <li><a href="#">网银支付币</a></li>
                            <li><a href="#">支付平台</a></li>
                            <li><a href="#">信用卡</a></li>
                            <li><a href="#">同城生活金币</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>配送方式</span>
                        <ul>
                            <li><a href="#">配送服务</a></li>
                            <li><a href="#">配送范围和运费</a></li>
                            <li><a href="#">验货与签收</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>售后服务</span>
                        <ul>
                            <li><a href="#">退换货政策</a></li>
                            <li><a href="#">退换货流程</a></li>
                            <li><a href="#">退款方式和时效</a></li>
                        </ul>
                    </div>
                    <div class="link_item end">
                        <span>同城生活模式</span>
                        <ul>
                            <li><a href="#">聚合式品牌特卖</a></li>
                            <li><a href="#">同城生活成长基金</a></li>
                            <li><a href="#">推手规则</a></li>
                        </ul>
                    </div>
                </div>
                <div class="put_on_record">
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                    <a href="#">
                        <img src="../../public/img/internetPolice.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/putOnRecord.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/internetBusiness.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/siteCredits.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/trusty.png" />
                    </a>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
