<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../../public/css/ico.css" />
    <link type="text/css" rel="stylesheet" href="../../public/css/bank.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/pay.css" />
    <script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="config.js" data-init="success"></script>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_sub">
                <span class="user_name">同城生活账户号：<b>chaiyining007</b></span>
                <span class="wm_pay_logo"></span><em></em><span class="logo_aid">我的收银台</span>
            </div>
            <span class="bgfff"></span>
        </div>
        <div class="content bread_crumbs">
            <div class="con_sub">
                <div class="receipt_success">
                    <div class="success_msg">
                        <i class="wm_ico hook5"></i>
                        <b>交易已经成功！卖家将会收到您的货款</b><span class="f12">（七匹狼男装13年夏天大卖场）</span>
                        <span class="remark">认真填写商品评价，您将有机会获得同城生活金币<b>5</b>元</span>
                        <ul class="commodity_list">
                            <li>
                                <a href="#" class="evaluate_btn">
                                    <img src="http://img.wumeiwang.com/M00/00/02/oYYBAFI2vI-ATljvAAFE3XR5nVU552.jpg" />
                                    <span class="ui_btn ui_btn_h29red5"><span class="ui_btn_txt">评价</span></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="evaluate_btn">
                                    <img src="http://img.wumeiwang.com/M00/00/02/oYYBAFI2vI-ATljvAAFE3XR5nVU552.jpg" />
                                    <span class="ui_btn ui_btn_h29red5"><span class="ui_btn_txt">评价</span></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="evaluate_btn">
                                    <img src="http://img.wumeiwang.com/M00/00/02/oYYBAFI2vI-ATljvAAFE3XR5nVU552.jpg" />
                                    <span class="ui_btn ui_btn_h29red5"><span class="ui_btn_txt">评价</span></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="recommend_box">
                        <div class="recommend_list_head">
                            <h3>您可能喜欢的商品</h3>
                        </div>
                        <ul class="recommend_list">
                            <li class="recommend_item">
                                <a href="#" class="recommend_commodity_name">
                                    <img src="http://img.wumeiwang.com/M00/00/02/oYYBAFI2vI-ATljvAAFE3XR5nVU552.jpg" /></a>
                                <span>￥9999.00</span>
                                <a href="#"><b>[品牌名称]</b>商品名称商品名称商品名称商品名称</a>
                            </li>
                            <li class="recommend_item">
                                <a href="#" class="recommend_commodity_name">
                                    <img src="http://img.wumeiwang.com/M00/00/02/oYYBAFI2vI-ATljvAAFE3XR5nVU552.jpg" /></a>
                                <span>￥9999.00</span>
                                <a href="#"><b>[品牌名称]</b>商品名称商品名称商品名称商品名称</a>
                            </li>
                            <li class="recommend_item">
                                <a href="#" class="recommend_commodity_name">
                                    <img src="http://img.wumeiwang.com/M00/00/02/oYYBAFI2vI-ATljvAAFE3XR5nVU552.jpg" /></a>
                                <span>￥9999.00</span>
                                <a href="#"><b>[品牌名称]</b>商品名称商品名称商品名称商品名称</a>
                            </li>
                            <li class="recommend_item">
                                <a href="#" class="recommend_commodity_name">
                                    <img src="http://img.wumeiwang.com/M00/00/02/oYYBAFI2vI-ATljvAAFE3XR5nVU552.jpg" /></a>
                                <span>￥9999.00</span>
                                <a href="#"><b>[品牌名称]</b>商品名称商品名称商品名称商品名称</a>
                            </li>
                            <li class="recommend_item">
                                <a href="#" class="recommend_commodity_name">
                                    <img src="http://img.wumeiwang.com/M00/00/02/oYYBAFI2vI-ATljvAAFE3XR5nVU552.jpg" /></a>
                                <span>￥9999.00</span>
                                <a href="#"><b>[品牌名称]</b>商品名称商品名称商品名称商品名称</a>
                            </li>
                            <li class="recommend_item">
                                <a href="#" class="recommend_commodity_name">
                                    <img src="http://img.wumeiwang.com/M00/00/02/oYYBAFI2vI-ATljvAAFE3XR5nVU552.jpg" /></a>
                                <span>￥9999.00</span>
                                <a href="#"><b>[品牌名称]</b>商品名称商品名称商品名称商品名称</a>
                            </li>
                            <li class="recommend_item">
                                <a href="#" class="recommend_commodity_name">
                                    <img src="http://img.wumeiwang.com/M00/00/02/oYYBAFI2vI-ATljvAAFE3XR5nVU552.jpg" /></a>
                                <span>￥9999.00</span>
                                <a href="#"><b>[品牌名称]</b>商品名称商品名称商品名称商品名称</a>
                            </li>
                            <li class="recommend_item">
                                <a href="#" class="recommend_commodity_name">
                                    <img src="http://img.wumeiwang.com/M00/00/02/oYYBAFI2vI-ATljvAAFE3XR5nVU552.jpg" /></a>
                                <span>￥9999.00</span>
                                <a href="#"><b>[品牌名称]</b>商品名称商品名称商品名称商品名称</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="link_list">
                    <div class="link_item">
                        <span>服务保障</span>
                        <ul>
                            <li><a href="#">正品保障</a></li>
                            <li><a href="#">7天无条件退货</a></li>
                            <li><a href="#">7*15小时服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>购物指南</span>
                        <ul>
                            <li><a href="#">导购演示</a></li>
                            <li><a href="#">订单操作</a></li>
                            <li><a href="#">用户指南</a></li>
                            <li><a href="#">账号管理</a></li>
                            <li><a href="#">购物参考</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>支付方式</span>
                        <ul>
                            <li><a href="#">网银支付币</a></li>
                            <li><a href="#">支付平台</a></li>
                            <li><a href="#">信用卡</a></li>
                            <li><a href="#">同城生活金币</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>配送方式</span>
                        <ul>
                            <li><a href="#">配送服务</a></li>
                            <li><a href="#">配送范围和运费</a></li>
                            <li><a href="#">验货与签收</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>售后服务</span>
                        <ul>
                            <li><a href="#">退换货政策</a></li>
                            <li><a href="#">退换货流程</a></li>
                            <li><a href="#">退款方式和时效</a></li>
                        </ul>
                    </div>
                    <div class="link_item end">
                        <span>同城生活模式</span>
                        <ul>
                            <li><a href="#">聚合式品牌特卖</a></li>
                            <li><a href="#">同城生活成长基金</a></li>
                            <li><a href="#">推手规则</a></li>
                        </ul>
                    </div>
                </div>
                <div class="put_on_record">
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                    <a href="#">
                        <img src="../../public/img/internetPolice.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/putOnRecord.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/internetBusiness.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/siteCredits.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/trusty.png" />
                    </a>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
