.red{
	color:#e13436;
}
.green,.align_center a.green{
	color:#1f811e;
}
#page .buyer_logo1{
	margin:0 400px 0 20px;
}
.bread_nav{
	background:url(../../public/img/bread_nav.jpg) no-repeat;
	width:1166px;
	height:48px;
	line-height:42px;
	margin:0 auto;
	padding-left:30px;
	color:#323232;
	font-family:"SimSun";
}
.bread_nav a,.bread_nav a:link,.bread_nav a:active,.bread_nav a:visited{
	margin:0 10px;
	color:#1e8cd2;
}
.bread_nav a:hover{
	text-decoration:none;
	color:#f60;
}
.aftermarket{
	width:1190px;
	margin:0 auto;
}
.after_form{
	margin:50px 0 0 80px;
}
.after_form input,.after_form select{
	vertical-align:middle;
}
.after_form li{
	margin-bottom:20px;
	color:#535353;
}
.aftermarket_item .atermarket_item_infor{
	display:inline-block;
	width:80px;
	text-align:right;
}
.aftermarket_item label{
	margin:0 30px 0 5px;
}
.aftermarket_item label[for="return_money"]{
	margin-right:0;
}
.aftermarket_item .slt{
	width:200px;
	padding:4px 0 4px 5px;
	height:27px;
	line-height:27px;
	color:#787878;
	*padding-left:0;
}
.aftermarket_item input{
	border:1px solid #d2d2d2;
}
.aftermarket_item .refund_txt{
	height:20px;
	line-height:20px;
	width:60px;
	padding:4px 5px;
	margin-right:5px;
}
.aftermarket_item .item_intr{
	padding-left:20px;
	color:#787878;
}
.aftermarket_item .max_num{
	vertical-align:bottom;
}
.aftermarket_item .tar{
	width:510px;
	height:105px;
	vertical-align:top;
	resize:none;
	overflow-y:auto;
	padding:5px;
	border:1px solid #d6d6d6;
}
.aftermarket_item .certificate{
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.certificate .certificate_con{
	display:inline-block;
	position:relative;
	border:1px solid #d6d6d6;
	padding:2px;
	margin-right:10px;
}
.certificate .certificate_con a,.certificate .certificate_con a:link,.certificate .certificate_con a:active,.certificate .certificate_con a:visited{
	display:inline-block;
	width:160px;
	height:160px;
	line-height:160px;
	text-align:center;
	color:#FFF;
	background:#ebebeb;
	font-size:120px;
}
.certificate .certificate_con a:hover{
	background:#bfbfbf;
	text-decoration:none;
}
.certificate .certificate_con a img{
	width:160px;
	height:160px;
	position:absolute;
	left:2px;
	top:2px;
	display:none;
	border:none;
}
.certificate .certificate_con .img_upload{
	position:absolute;
	left:0;
	top:0;
	width:160px;
	height:160px;
	opacity:0;
	filter:alpha(opacity=0);
	cursor:pointer;
	*zoom:1;
}
.aftermarket_item .sub_btn{
	color:#FFF;
	font-weight:700;
	display:inline-block;
	width:110px;
	height:36px;
	line-height:36px;
	text-align:center;
	background:#e13436;
	font-size:14px;
	border:0;
	cursor:pointer;
}
.aftermarket .order{
	border:1px solid #c9d0d7;
	margin:80px 0 0 100px;
	width:990px;
}
.order .order_head{
	padding:0 20px;
	height:38px;
	line-height:38px;
	border-bottom:1px solid #ccd3d9;
}
.order span.order_num{
	float:left;
} 
.order span.business{
	float:right;
}
.order span.business a,.order span.business a:link,.order span.business a:active,.order span.business a:visited{
	color:#f40;
	margin-right:5px;
}
.order span.business a:hover{
	text-decoration:none;
}
.order img{
	vertical-align:middle;
}
.table_show1{
	border-collapse:collapse;
}
.table_show1 thead{
	background:#e5e5e5;
	height:32px;
	line-height:32px;
}
.table_show1 td{
	padding:20px;
}
.table_show1 thead th{
	color:#323232;
	font-weight:normal;
	width:160px;
}
.table_show1 thead th.busi_goods{
	width:300px;
}
.order_goods a.goods_img{
	display:inline-block;
	width:80px;
	height:80px;
	margin-right:10px;
}
.table_show1 .order_goods .order_goods_infor{
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	width:140px;
}
.order_goods_infor li{
	line-height:20px;
	color:#787878;
}
.order_goods_infor li a,.order_goods_infor li a:link,.order_goods_infor li a:active,.order_goods_infor li a:visited{
	color:#409dd3;
}
.align_center{
	text-align:center;
	color:#787878;
}
.align_center .true_price{
	display:block;
	color:#ff6600;
	font-weight:bold;
}
.operta a.other_operat{
	display:block;
	margin-top:3px;
}

/* 售后管理   列表 */
.table_show1 thead {
	height: 50px;
	line-height: 50px;
	background: #f2f2f2;
	border-bottom:0;
	border-top:1px solid #FFF;
}
.table_show1 th{
	width:120px;
	padding:0 10px;
	margin-bottom:10px;
}
.table_show1 th.goods_msg{
	width:390px;
}
.table_show1 .align_center{
	padding:0 10px;
	vertical-align:middle;
}
.table_show1 .order_detail{
	height:auto;
}
.table_show1 .order_detail td{
	padding:10px 0;
}
.table_show1 tr:hover{
	background:#f2f2f2;
}
.order_form{
	background:#e5e5e5;
	border-bottom:1px solid #cdcdcd;
	padding:10px 60px;
	position:relative;
}
.order_form li{
	padding:10px 0;
	color:#535353;
}
.order_form label{
	color:#535352;
	display:inline-block;
	width:80px;
	text-align:right;
}
.order_form input[type="text"]{
	border:1px solid #b4b4b4;
	height:16px;
	line-height:16px;
	padding:5px;
}
.order_form input.order_num{
	width:170px;
	margin-right:50px;
}
.order_form input.order_date{
	width:100px;
}
.order_form .button{
	position:absolute;
	bottom:10px;
	right:60px;
}
.order_form .button .sub_btn{
	width:57px;
	height:27px;
	line-height:27px;
	text-align:center;
	color:#272727;
}

