<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../public/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../../public/css/ico.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../../model/wmpage/css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <style>
       
    </style>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_top">
                <div class="sub_head_top">
                    <a href="#">同城生活首页</a>
                    <div class="user_data">
                        <span>柴逸宁，欢迎你！</span>
                    </div>
                    <div class="user_btns">
                        <a href="#">[设置]</a>
                        <a href="#">[退出]</a>
                    </div>

                    <span>等级：Lv1</span>
                    <a href="#">查看等级特权>></a>
                    <div class="advice">
                        <span>咨询电话：400-88888888</span>
                        <span>在线客服：
                            <a href="#" class="ui_btn ui_btn_h19gray2"><span class="ui_btn_txt">客服01</span></a>
                            <a href="#" class="ui_btn ui_btn_h19gray2"><span class="ui_btn_txt">客服02</span></a>
                        </span>
                    </div>
                </div>

            </div>
            <div class="head_sub">
                <div class="head_con">
                    <div class="wm_logo">
                        <img src="../../public/img/wm_logo.png" width="180" height="80" />
                    </div>
                    <div class="logo_msg">
                        <span class="ui_btn ui_btn_h22red10"><span class="ui_btn_txt"><i>嗅嗅品牌的味道</i></span></span>
                        <em class="wm_ico triangle1">&nbsp;</em>
                    </div>
                    <div class="head_search brands">
                        <div class="head_search_form">
                            <form>
                                <select>
                                    <option>品牌</option>
                                    <option>商品</option>
                                </select>
                                <input type="text" placeholder="商家后台搜索" name="brands" class="search_brands" />

                                <a href="#" class="search_btn">搜 索<i class="wm_ico magnifier1"></i></a>
                                <input type="hidden" name="search_type" />
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="head_nav">
                <div class="sub_head_nav">
                    <div class="sub_nav">
                        <ul>
                            <li class="sub_nav_item curr"><a href="#">商家首页</a><em class="wm_ico dashed2"></em></li>
                            <li class="sub_nav_item"><a href="#">商品统计</a><em class="wm_ico dashed2"></em></li>
                            <li class="sub_nav_item"><a href="#">定单统计</a><em class="wm_ico dashed2"></em></li>
                            <li class="sub_nav_item"><a href="#">设置</a><em class="wm_ico dashed2"></em></li>
                            <li class="sub_nav_item end"><a href="#">站内信</a><em class="wm_ico dashed2"></em><i></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="con_sub">
                <div class="content_main">
                    <div class="op_nav">
                        <div class="op_nav_top">
                            <a href="#">
                                <img src="img/lining.jpg" width="170" height="85" />
                            </a>
                            <a href="#" class="ui_btn ui_btn_h35gray4"><span class="ui_btn_txt">密码管理 >></span></a>
                        </div>
                        <ul class="op_nav_main">
                            <li>
                                <div class="onm_item_head">
                                    <h3>品牌管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">品牌故事</a></li>
                                    <li><a href="#">特卖设置</a></li>
                                    <li><a href="#">品牌点评</a></li>
                                    <li><a href="#">品牌留言</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>商品管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">商品上架</a></li>
                                    <li><a href="#">商品列表</a></li>
                                    <li><a href="#">统计数据</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>交易管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">订单管理</a></li>
                                    <li><a href="#">评价管理</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>推广管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">展位购买</a></li>
                                    <li><a href="#">促销活动</a></li>
                                    <li><a href="#">优惠设置</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>售后管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">投诉管理</a></li>
                                    <li><a href="#">退款管理</a></li>
                                    <li><a href="#">换货记录</a></li>
                                    <li><a href="#">违规记录</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>我的服务</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li class="curr"><a href="#">货到付款</a></li>
                                    <li><a href="#">物流设置</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>同城生活银行</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">同城生活银行</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="main_con">
                        <div>
                            <div class="right_head">
                                <h3 class="data_title">货到付款</h3>

                            </div>
                            <div class="seg seg_notop"></div>
                            <div class="agreement">
                                <h3>《货到付款协议》</h3>
                                <p>基于同城生活平台的电子商务（网上购物）中指的是由快递公司代收买家货款，货先送到客户手上，客户验货之后再客户把钱给送货员，也就是我们常说的"一手交钱一手交货"，之后货款再转到卖家账户里去。货到付款可以开箱验货，先查看货物描述与购买的货物有无差别，检验货物真实性，质量情况，还有运送损伤等情况之后，根据情况再签单，如果与事实不符，可以拒签，要求退货，并附上理由。您尚未申请该项服务，如需申请请阅读以下流程描述：</p>
                                <p class="w690">
                                    1.下载《同城生活货到付款服务协议》，填写完整并签字盖章后快递至<br />
                                    <span class="colyellow">杭州市北部软件园祥园路33号5楼  杭州同城生活络科技有限公司（收）</span><br />
                                    邮编：310015
                                </p>
                                <p class="w690 mtb50">
                                    2.将本服务的服务担保费打入以下公共账户，备注：企业名称+货到付款担保费;<br />
                                    本担保费用途说明：用于预扣报名参加同城生活平台成交之后需要支付的佣金（自定义）；用于预扣成交之后的推广费<span class="colred">（相当于每笔交易额的3%）</span>；用于预扣成交中可能涉及的推荐人佣金<span class="colred">（相当于每笔交易额的2%）</span>。本担保费可随时申请退款，不必支付任何费用，一旦退款或者担保费耗尽，则货到付款服务随之终止，退款申请审查期最多为7个工作日担保费耗尽可续交，一旦续交成功视为本服务自动续约。
                                </p>
                                <p class="aligncenter">开户名：</p>
                                <p class="aligncenter">开户行：</p>
                                <p class="aligncenter">账号名：</p>

                            </div>
                            <div class="agreement_btns"><a href="#" class="ui_btn ui_btn_h29red5"><span class="ui_btn_txt">下载协议 >></span></a></div>

                            <div class="seg"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="link_list">
                    <div class="link_item">
                        <span>服务保障</span>
                        <ul>
                            <li><a href="#">正品保障</a></li>
                            <li><a href="#">7天无条件退货</a></li>
                            <li><a href="#">7*15小时服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>购物指南</span>
                        <ul>
                            <li><a href="#">导购演示</a></li>
                            <li><a href="#">订单操作</a></li>
                            <li><a href="#">用户指南</a></li>
                            <li><a href="#">账号管理</a></li>
                            <li><a href="#">购物参考</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>支付方式</span>
                        <ul>
                            <li><a href="#">网银支付币</a></li>
                            <li><a href="#">支付平台</a></li>
                            <li><a href="#">信用卡</a></li>
                            <li><a href="#">同城生活金币</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>配送方式</span>
                        <ul>
                            <li><a href="#">配送服务</a></li>
                            <li><a href="#">配送范围和运费</a></li>
                            <li><a href="#">验货与签收</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>售后服务</span>
                        <ul>
                            <li><a href="#">退换货政策</a></li>
                            <li><a href="#">退换货流程</a></li>
                            <li><a href="#">退款方式和时效</a></li>
                        </ul>
                    </div>
                    <div class="link_item end">
                        <span>同城生活模式</span>
                        <ul>
                            <li><a href="#">聚合式品牌特卖</a></li>
                            <li><a href="#">同城生活成长基金</a></li>
                            <li><a href="#">推手规则</a></li>
                        </ul>
                    </div>
                </div>
                <div class="put_on_record">
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                    <a href="#">
                        <img src="../../public/img/internetPolice.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/putOnRecord.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/internetBusiness.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/siteCredits.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/trusty.png" />
                    </a>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
