<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台管理系统</title>
    <link type="text/css" rel="stylesheet" href="../public/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../public/wm_form/css/style.css" />
     <link type="text/css" rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="config.js" data-init="class"></script>
    <style>
        body { overflow: hidden; }
        /*888宽度是恶搞的*/
       
    </style>
</head>
<body>
    <div id="mainDiv">
        <div id="topDiv">
            <div id="tmenu">
                <ul>
                    <li><a href="../index.html">首页</a></li>
                </ul>
            </div>
        </div>
        <div id="centerDiv">

            <div id="left">
                <div id="lhead">管理菜单</div>
                <ul>
                    <li><a href="../attr/attr.html">属性设置</a></li>
                    <li><a href="../attr/groupattr.html">属性分组</a></li>
                    <li><a href="../class/class.html">定义类</a></li>
                    <li><a href="#"><b>品牌列表</b></a></li>
                </ul>
            </div>
            <div id="right">
                <div id="current">&nbsp;&nbsp;&nbsp;&nbsp;当前位置:品牌列表</div>
                <div id="page">
                    <div class="btns">
                        <a href="brandsadd.html" class="ui_btn ui_btn_h40red1"><span class="ui_btn_txt">添加品牌</span></a>
                    </div>
                    <div class="hover_logo">
                        <div class="block_head">
                        </div>
                        <ul>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logo_item">
                                    <img src="img/logo.jpg">
                                    <span class="logo_name">李宁</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottomDiv"></div>
    </div>
</body>
</html>
