<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>打印</title>
<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??buyers/public/css/global.css,public/css/ico.css,public/wm_btn/css/style.css" /> 
<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="../public/css/global.css">
<script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
<script type="text/javascript" src="http://s.tcsh.me/tcsh/view/finance/cash/config.js" data-init="cash"></script>

<script type="text/javascript">
var global_setting={}
</script>
</head>
<body class="fina_bg">
<div id="page">
	<div class="print">
    	<div class="print_logo">
        	<a href="#"><img src="../public/img/logo.png" /></a>
            <a href="#"><img src="../public/img/cwmw.png" /></a>
        </div>
        <div class="print_con">
        	<h3>网上银行转账凭证（付款通知）</h3>
            <p><span>处理日期：2014-06-13</span><span>检索号：215421465</span></p>
            <ul class="print_con_list">
            	<li class="print_con_item">
                	<span class="print_content w600"><em class="print_title">付款人户名：</em>杭州同城生活络科技有限公司</span>
                    <span class="print_content"><em class="print_title">付款人帐号：</em>62261252114454142</span>
                </li>
                <li class="print_con_item">
                	<span class="print_content w600"><em class="print_title">收款人户名：</em>金华惠达天下有限公司</span>
                    <span class="print_content"><em class="print_title">收款人帐号：</em>62261252114454142</span>
                </li>
                <li class="print_money">
                	金额：人民币（大写）   <span>柒仟柒佰贰</span> <span class="small_money">￥7720.00</span>
                </li>
                <li class="print_con_item">
                	<span class="print_content w600"><em class="print_title">付款行行名：</em>中国工商银行 杭州众安支行营业厅</span>
                </li>
                <li class="print_con_item">
                	<span class="print_content w600"><em class="print_title">收款行行名：</em>中国工商银行 金华五成支行营业厅</span>
                </li>
                <li class="print_con_item">
                	<span class="print_content"><em class="print_title">用途：</em>打款打款</span>
                </li>
                <li class="print_con_item border-t">
                	打印时间：2014-06-13 16：06
                </li>
                <li class="print_con_item">
                	<span>打印方式：网页打印</span>
                    <span class="print_num">已打印次数：1</span>
                </li>
            </ul>
            <p class="print_btn">
            	<input type="button" value="打印凭证" />
            </p>
        </div>
    </div>
</div>
</body>
</html>
