<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>私人订制列表页</title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??sns/public/css/global.css,public/css/ico.css,public/wm_btn/css/style.css,public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/model/wmpage/css/style.css" />
    
    <link rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/sns/personal/config.js" data-init="personal"></script>
	<script type="text/javascript" charset="utf-8" src="http://item.tcsh.me/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://item.tcsh.me/ueditor/ueditor.all.js"></script>

    <script type="text/javascript">
        var global_setting = {}
    </script>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_top"></div>
            <div class="sns_head">
                <ul class="sns_head_con clearfix">
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">首页</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的生态圈</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">账户管理</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的主页</a>
                        <span class="arrows">◆</span>
                        <div class="sns_head_nav">
                            <a href="#" class="sns_head_nav_item">
                                <span class="sns_img grzy"></span>
                                <span class="sns_head_nav_word">个人主页</span>
                            </a>
                            <a href="#" class="sns_head_nav_item">
                                <span class="sns_img gwj"></span>
                                <span class="sns_head_nav_word">购物经</span>
                            </a>
                            <a href="#" class="sns_head_nav_item">
                                <span class="sns_img srdz"></span>
                                <span class="sns_head_nav_word">TA's 宝藏</span>
                            </a>
                            <a href="#" class="sns_head_nav_item">
                                <span class="sns_img dtts"></span>
                                <span class="sns_head_nav_word">道听途说</span>
                            </a>
                        </div>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的帮汇</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">归档</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="main_con clearfix">
                <div class="main_left">
                    <div class="main_left_nav">
                    	<a href="#" class="left_nav_item interest left_nav_cur">TA拥有的</a>
                        <a href="#" class="left_nav_item attention">TA看过的</a>
                        <a href="#" class="left_nav_item each_other">TA收藏的</a>
                        <a href="#" class="left_nav_item setting">
                        	管理<span class="iconfont">&#xf013e;</span>
                            <span class="setting_con">
                            	<span class="chk_all">全选</span>
                                <span class="delete">删除</span>
                            </span>
                            
                        </a>
                    </div>
                    <div class="personal_con clearfix">
                    	<!-- 看过 -->
                    	<div class="personal_item" data_id="11">
                        	<a href="#" class="personal_item_sub">
                            	<img src="../public/img/head_img.jpg" />
                                <span class="personal_item_infor personal_item_intr">Magnum Exotics 牙买加蓝山混合咖啡豆....</span>
                                <span class="personal_item_infor person_item_date">2014-07-14 16:42 <em class="price">￥200.00</em></span>
                            </a>
                            <p class="personal_kinds sns_img looked"></p>
                            <p class="wm_ico hook11"></p>
                        </div>
                        <div class="personal_item" data_id="12">
                        	<a href="#" class="personal_item_sub">
                            	<img src="../public/img/head_img.jpg" />
                                <span class="personal_item_infor personal_item_intr">Magnum Exotics 牙买加蓝山混合咖啡豆....</span>
                                <span class="personal_item_infor person_item_date">2014-07-14 16:42 <em class="price">￥200.00</em></span>
                            </a>
                            <p class="personal_kinds sns_img looked"></p>
                            <p class="wm_ico hook11"></p>
                        </div>
                        <div class="personal_item" data_id="13">
                        	<a href="#" class="personal_item_sub">
                            	<img src="../public/img/head_img.jpg" />
                                <span class="personal_item_infor personal_item_intr">Magnum Exotics 牙买加蓝山混合咖啡豆....</span>
                                <span class="personal_item_infor person_item_date">2014-07-14 16:42 <em class="price">￥200.00</em></span>
                            </a>
                            <p class="personal_kinds sns_img looked"></p>
                            <p class="wm_ico hook11"></p>
                        </div>
                        
                        <!-- 拥有的 -->
                        <div class="personal_item" data_id="14">
                        	<a href="#" class="personal_item_sub">
                            	<img src="../public/img/head_img.jpg" />
                                <span class="personal_item_infor personal_item_intr">Magnum Exotics 牙买加蓝山混合咖啡豆....</span>
                                <span class="personal_item_infor person_item_date">2014-07-14 16:42 <em class="price">￥200.00</em></span>
                            </a>
                            <p class="personal_kinds sns_img have"></p>
                            <p class="wm_ico hook11"></p>
                        </div>
                        <div class="personal_item" data_id="15">
                        	<a href="#" class="personal_item_sub">
                            	<img src="../public/img/head_img.jpg" />
                                <span class="personal_item_infor personal_item_intr">Magnum Exotics 牙买加蓝山混合咖啡豆....</span>
                                <span class="personal_item_infor person_item_date">2014-07-14 16:42 <em class="price">￥200.00</em></span>
                            </a>
                            <p class="personal_kinds sns_img have"></p>
                            <p class="wm_ico hook11"></p>
                        </div>
                        <div class="personal_item" data_id="14">
                        	<a href="#" class="personal_item_sub">
                            	<img src="../public/img/head_img.jpg" />
                                <span class="personal_item_infor personal_item_intr">Magnum Exotics 牙买加蓝山混合咖啡豆....</span>
                                <span class="personal_item_infor person_item_date">2014-07-14 16:42 <em class="price">￥200.00</em></span>
                            </a>
                            <p class="personal_kinds sns_img have"></p>
                            <p class="wm_ico hook11"></p>
                        </div>
                        
                        <!-- 收藏的 -->
                        <div class="personal_item" data_id="14">
                        	<a href="#" class="personal_item_sub">
                            	<img src="../public/img/head_img.jpg" />
                                <span class="personal_item_infor personal_item_intr">Magnum Exotics 牙买加蓝山混合咖啡豆....</span>
                                <span class="personal_item_infor person_item_date">2014-07-14 16:42 <em class="price">￥200.00</em></span>
                            </a>
                            <p class="personal_kinds sns_img collect"></p>
                            <p class="wm_ico hook11"></p>
                        </div>
                        <div class="personal_item" data_id="14">
                        	<a href="#" class="personal_item_sub">
                            	<img src="../public/img/head_img.jpg" />
                                <span class="personal_item_infor personal_item_intr">Magnum Exotics 牙买加蓝山混合咖啡豆....</span>
                                <span class="personal_item_infor person_item_date">2014-07-14 16:42 <em class="price">￥200.00</em></span>
                            </a>
                            <p class="personal_kinds sns_img collect"></p>
                            <p class="wm_ico hook11"></p>
                        </div>
                        <div class="personal_item" data_id="14">
                        	<a href="#" class="personal_item_sub">
                            	<img src="../public/img/head_img.jpg" />
                                <span class="personal_item_infor personal_item_intr">Magnum Exotics 牙买加蓝山混合咖啡豆....</span>
                                <span class="personal_item_infor person_item_date">2014-07-14 16:42 <em class="price">￥200.00</em></span>
                            </a>
                            <p class="personal_kinds sns_img collect"></p>
                            <p class="wm_ico hook11"></p>
                        </div>
                        <div class="personal_item" data_id="14">
                        	<a href="#" class="personal_item_sub">
                            	<img src="../public/img/head_img.jpg" />
                                <span class="personal_item_infor personal_item_intr">Magnum Exotics 牙买加蓝山混合咖啡豆....</span>
                                <span class="personal_item_infor person_item_date">2014-07-14 16:42 <em class="price">￥200.00</em></span>
                            </a>
                            <p class="personal_kinds sns_img collect"></p>
                            <p class="wm_ico hook11"></p>
                        </div>
                    </div>
                </div>
                <div class="main_right">
                	<div class="main_right_sub owner">
                    	<div class="owner_content"></div>
                    	<!--<div class="owner_infor_item owner_infor_btns"><a href="#" class="owner_btn focus_btn"><span class="iconfont">&#xf0034;</span>关注他</a><a href="#" class="owner_btn ask_btn"><span class="iconfont">&#xf00b8;</span>向他提问</a><a href="#" class="owner_btn letter_btn"><span class="iconfont">&#xe60d;</span>私信他</a></div>-->
                        <div class="owner_infor_item owner_infor_btns"><a href="#" class="owner_btn focus_btn"><span class="iconfont index sns_img">&#xf012b;</span>访问主页</a><a href="#" class="owner_btn Iask"><span class="iconfont">&#xf00b8;</span>我要提问</a><a href="#" class="owner_btn write_shop"><span class="iconfont">&#xe60d;</span>撰写购物经</a></div>
                    </div>
                    <!--<div class="main_right_sub mr_border_top discover">
                    	<h3 class="mrs_title">发现<a href="#" class="change_dis"><span class="iconfont">&#xf015c;</span>换一组</a></h3>
                        <ul class="discover_list">
                        	<li class="discover_item">
                            	<a href="#"><img src="../public/img/head_40_40.jpg" /></a>
                                <div class="discover_infor">
                                	<a href="#" class="discover_name">林亚泉</a><a href="#" class="focus">+ 关注</a>
                                    <span class="discover_bang">
                                    	<a href="#">国家行动</a><a href="#">革命制度党</a>
                                    </span>
                                </div>
                            </li>
                            <li class="discover_item">
                            	<a href="#"><img src="../public/img/head_40_40.jpg" /></a>
                                <div class="discover_infor">
                                	<a href="#" class="discover_name">林亚泉</a><a href="#" class="focus">+ 关注</a>
                                    <span class="discover_bang">
                                    	<a href="#">国家行动</a><a href="#">革命制度党</a>
                                    </span>
                                </div>
                            </li>
                            <li class="discover_item">
                            	<a href="#"><img src="../public/img/head_40_40.jpg" /></a>
                                <div class="discover_infor">
                                	<a href="#" class="discover_name">林亚泉</a><a href="#" class="focus">+ 关注</a>
                                    <span class="discover_bang">
                                    	<a href="#">国家行动</a><a href="#">革命制度党</a>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="main_right_sub mr_border_top handpick">
                    	<h3 class="mrs_title">精选<span class="handpick_btn"><em class="now">1</em>/<em class="img_num">4</em><a href="#" class="iconfont left">&#xf0007;</a><a href="#" class="iconfont right">&#xf0006;</a></span></h3>
                        <div class="slide">
                        	<div class="slideCon">
                            	<a href="#" class="slide_item"><img src="../public/img/head_img.jpg" /></a>
                                <a href="#" class="slide_item"><img src="img/img_200_160.jpg" /></a>
                                <a href="#" class="slide_item"><img src="../public/img/head_40_40.jpg" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="main_right_sub visitor">
                    	<h3 class="mrs_title"><span>最近访客</span></h3>
                        <div class="visitor_con">
                        	<a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                            <a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                            <a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                            <a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                            <a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                            <a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                            <a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                            <a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                            <a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>

        <!--底部-->
        <div class="footer">
            <p class="about"><a href="#">关于我们</a>|<a href="#">联系我们</a>|<a href="#">品牌入驻</a>|<a href="#">隐私条款</a>|<a href="#">网站地图</a>|<a href="#">友情链接</a>|<a href="#">用户体验提升计划</a></p>
            <p>经营性网站备案号：浙ICP备11009382号   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
            <a href="#">
                <img src="../../public/img/internetPolice.png" /></a><a href="#"><img src="../../public/img/putOnRecord.png" /></a><a href="#"><img src="../../public/img/internetBusiness.png" /></a><a href="#"><img src="../../public/img/siteCredits.png" /></a><a href="#"><img src="../../public/img/trusty.png" /></a>
        </div>

    </div>
    
</body>
<script type="text/plain" id="editor"></script>
<script type="text/javascript">
	global_setting.isDiscover = true;
	global_setting.isVisitor = true;
	global_setting.isOtherShare = true;
</script>
</html>
