<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??ago/public/css/global.css,public/wm_btn/css/style.css,ago/public/wm_block/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/css/ico.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/jquery/jquery-1.8.3.min.js"></script>

</head>
<body>
    <a href="#" id="xx">click</a>
    <div class="wmBox invBox fixed_box" id="points_promotion_box">
        <div class="wmBox-content">
            <div class="points_promotion_main">
                <ul class="points_promotion_tab_key">
                    <li class="pptk_item  today"><a href="#">今天</a></li>
                    <li class="pptk_item chked"><a href="#">明天</a></li>
                    <li class="pptk_item"><a href="#">21</a></li>
                    <li class="pptk_item"><a href="#">22</a></li>
                    <li class="pptk_item"><a href="#">23</a></li>
                    <li class="pptk_item"><a href="#">24</a></li>
                    <li class="pptk_item"><a href="#">25</a></li>
                    <li class="pptk_item"><a href="#">26</a></li>
                </ul>
                <ul class="set_box">
                    <li>
                        <input type="checkbox" id="not_subscription" /><label for="not_subscription">不再提醒</label>
                    </li>
                </ul>
                <div class="ppm_con">
                    <div class="ppb_title">
                        <span class="ppb_date_data ppb_month">三月</span>
                        <span class="ppb_date_data ppb_day">24</span>
                        <span class="ppb_date_data ppb_week">星期一</span>
                        <span class="beneficial" title="泡面，泡妞泡面，泡妞泡面，泡妞泡面，泡妞泡面，泡妞">宜：<b>泡面，泡妞泡面，泡妞泡面，泡妞泡面，泡妞泡面，泡妞</b></span>
                    </div>

                    <ul class="ppm_con_list">
                        <li class="ppm_con_item">
                            <div class="ppm_con_item_limit">
                                <ul class="ppm_con_msg_list">
                                    <li class="ppm_con_msg_item">
                                        <div href="#" class="ppm_con_msg_title" title="用户名">
                                            <span class="ppm_con_msg_title_txt">用户名用户名用户名用户名</span>
                                        </div>
                                        <span class="data_time">2019-05-05 10:10</span>
                                        <span class="get_name">偷天换日</span>
                                        <span class="get_sum">积分：<b>+100</b></span>
                                    </li>
                                    <li class="ppm_con_msg_item">
                                        <a href="#" class="recommend_commodity" title="商品名称商品名称商品名称商品名称商品名称">
                                            <img src="http://img.wumeiwang.com/M00/00/13/rBAA_FKcA9CAfJtEAADXbCjC9wM044.jpg_100x100.jpg" />
                                            <span class="recommend_commodity_name">商品名称商品名称商品名称商品名称商品名称</span>
                                        </a>
                                    </li>
                                    <li class="ppm_con_msg_item">
                                        <div class="ppm_con_msg_title" title="用户名">
                                            用户名用户名用户名用户名
                                            <span class="hr"></span>
                                        </div>
                                        <span class="data_time">2019-05-05 10:10</span>
                                        <span class="get_name">偷天换日</span>
                                        <span class="get_sum">积分：<b>+100</b></span>
                                    </li>
                                    <li class="ppm_con_msg_item">
                                        <div class="ppm_con_msg_title" title="用户名">
                                            用户名用户名用户名用户名
                                            <span class="hr"></span>
                                        </div>
                                        <span class="data_time">2019-05-05 10:10</span>
                                        <span class="get_name">偷天换日</span>
                                        <span class="get_sum">积分：<b>+100</b></span>
                                    </li>
                                    <li class="ppm_con_msg_item">
                                        <a href="#" class="recommend_commodity" title="商品名称商品名称商品名称商品名称商品名称">
                                            <img src="http://img.wumeiwang.com/M00/00/13/rBAA_FKcA9CAfJtEAADXbCjC9wM044.jpg_100x100.jpg" />
                                            <span class="recommend_commodity_name">商品名称商品名称商品名称商品名称商品名称</span>
                                        </a>
                                    </li>
                                    <li class="ppm_con_msg_item">
                                        <a href="#" class="recommend_commodity" title="商品名称商品名称商品名称商品名称商品名称">
                                            <img src="http://img.wumeiwang.com/M00/00/13/rBAA_FKcA9CAfJtEAADXbCjC9wM044.jpg_100x100.jpg" />
                                            <span class="recommend_commodity_name">商品名称商品名称商品名称商品名称商品名称</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="iconfont change_btn prev">&#xf016e;</a>
                            <a href="#" class="iconfont change_btn next">&#xf016d;</a>
                        </li>
                    </ul>
                </div>
                <i class="corner"></i>
                <a href="#" class="close"></a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {

            seajs.config({ base: 'http://s.tcsh.me/tcsh/view/public/points_promotion/' });
            seajs.use('src/points_promotion.js', function (box) {
                $("#xx").click(function () {
                    box.show();
                    return false;
                });
            });
        });
    </script>
</body>
</html>

