<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../public/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../../public/css/ico.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../public/wm_block/css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="../../model/lib/jquery/jquery-1.8.3.min.js"></script>
    <style>
       
    </style>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_top">
                <div class="sub_head_top">
                    <div class="user_data">
                        <span>欢迎加入同城生活帮：</span>
                        <span>柴逸宁</span>
                    </div>
                    <div class="user_login">
                        <span>欢迎加入同城生活帮：</span>
                        <a href="#">登录</a>
                        <em>|</em>
                        <a href="#">免费注册</a>
                    </div>
                    <div class="link_list">
                        <a href="#">订单管理</a><em>|</em>
                        <a href="#">心愿面板</a><em>|</em>
                        <a href="#">推广同城生活</a><em>|</em>
                        <a href="#">成长基金</a><em>|</em>
                        <a href="#">帮助中心</a>
                    </div>
                    <div class="follow_wm">
                        <a href="#"><i class="wm_ico heart1"></i>关注同城生活</a>
                    </div>
                </div>

            </div>
            <div class="head_sub">

                <div class="head_con">
                    <div class="wm_logo">
                        <img src="../../public/img/wm_logo.png" width="180" height="80" />
                    </div>
                    <div class="logo_msg">
                        <span class="ui_btn ui_btn_h22red10"><span class="ui_btn_txt"><i>嗅嗅品牌的味道</i></span></span>
                        <em class="wm_ico triangle1">&nbsp;</em>
                    </div>
                    <div class="head_search brands">
                        <div class="head_search_tab">
                            <a class="tab_item tab_item_brands" href="#" parent_key="brands">品牌</a><a class="tab_item tab_item_commodity" href="#" parent_key="commodity">商品</a>
                        </div>
                        <div class="head_search_form">
                            <form>
                                <input type="text" placeholder="李宁/耐克/乔丹" name="brands" class="search_brands" />
                                <input type="text" placeholder="羽毛球/篮球/足球" name="brands" class="search_commodity" />
                                <a href="#" class="search_btn">搜 索<i class="wm_ico magnifier1"></i></a>
                                <input type="hidden" name="search_type" />
                            </form>
                        </div>
                    </div>
                    <div class="link_list">
                        <div class="link_item">
                            <a href="#">
                                <img src="../public/img/pptm.png" />
                            </a>
                            <a href="#">品牌特卖</a>

                        </div>
                        <div class="link_item">
                            <a href="#">
                                <img src="../public/img/rqjh.png" /></a>

                            <a href="#">人气聚合</a>
                        </div>
                        <div class="link_item">
                            <a href="#">
                                <img src="../public/img/syjf.png" /></a>
                            <a href="#">收益均分</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="head_nav">
                <div class="sub_head_nav">
                    <div class="all_nav_item">
                        所有品类目录
                    </div>
                    <div class="sub_nav">
                        <ul>
                            <li class="sub_nav_item curr"><a href="#">首页</a><em class="wm_ico dashed1"></em></li>
                            <li class="sub_nav_item"><a href="#">品牌馆</a><em class="wm_ico dashed1"></em></li>
                            <li class="sub_nav_item"><a href="#">现实购</a><em class="wm_ico dashed1"></em></li>
                            <li class="sub_nav_item"><a href="#">集美社</a><em class="wm_ico dashed1"></em></li>
                            <li class="sub_nav_item end"><a href="#">美推手</a><em class="wm_ico dashed1"></em><i></i></li>
                        </ul>
                    </div>
                    <div class="wumeibang">
                        <a href="#"><i class="wm_ico wumeibang_ico"></i>同城生活帮</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="con_sub" id="wumeibang_index">
                <div class="wumeibang_box reguser">
                    <div class="wumeiban_head">
                        <h3 class="wumeibang_title"><b>NEW</b>注册会员</h3>
                        <div class="seg"></div>
                    </div>
                    <ul class="reguser_list">
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                        <li class="reguser_item">
                            <img src="img/img1.jpg" />
                            <span>柴逸宁</span>
                        </li>
                    </ul>
                </div>
                <div class="content_left">
                    <div class="wumeibang_box exchange">
                        <div class="wumeiban_head">
                            <h3 class="wumeibang_title">今日兑换</h3>
                            <div class="seg"></div>
                        </div>
                        <div class="commodity_data_item">
                            <img src="img/img1.jpg" class="commodity_img" />
                            <span class="commodity_name">商品名称</span>
                            <p class="commodity_remark">戛纳电影节是当今世界最具影响力、最顶尖的国际电影节最顶尖的国际电影节(产品描述)...</p>
                            <b>赞助商：帅哥企业帅哥企业</b>
                        </div>
                        <div class="commodity_data_item">
                            <span class="wid">存货：999</span>
                            <span class="wid">截止时间：2013年9月9日</span>
                            <span class="wid">所需金币：66同城生活币</span>
                            <a href="#" class="ui_btn ui_btn_h35yellow11 exchange_btn"><span class="ui_btn_txt">我要兑换 >></span></a>
                        </div>
                    </div>
                    <div class="wumeibang_box wish">
                        <div class="wumeiban_head">
                            <h3 class="wumeibang_title">心愿面板</h3>
                            <div class="seg"></div>
                        </div>
                        <div class="data_con">
                            <img src="img/img1.jpg" class="user_img" />
                            <span class="user_name"><b>柴逸宁</b>对以下品牌感兴趣</span>
                            <span class="wish_date">2013年1月1日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20：30</span>
                            <div class="brands_list">
                                <a href="#">
                                    <img src="img/img1.jpg" /></a>
                                <a href="#">
                                    <img src="img/img1.jpg" /></a>
                            </div>
                        </div>
                        <div class="user_list">
                            <a href="#"><img src="img/img1.jpg" /></a><a href="#"><img src="img/img1.jpg" /></a><a href="#"><img src="img/img1.jpg" /></a> <a href="#"><img src="img/img1.jpg" /></a><a href="#"><img src="img/img1.jpg" /></a>
                        </div>
                    </div>
                    <div class="wumeibang_box signin">
                        <a href="#" class="go_signin">签到领金币 >></a>
                        <div class="wumeiban_head signin_tab">
                            <ul>
                                <li><a href="#"><span class="ui_btn_txt">今日签到</span></a></li>
                                <li class="curr"><a href="#" class="ui_btn ui_btn_h29red11"><span class="ui_btn_txt">每月签到</span></a></li>
                                <li><a href="#" class=""><span class="ui_btn_txt">签到明星</span></a></li>
                            </ul>
                            <div class="seg"></div>
                        </div>
                        <ul class="user_list">
                            <li class="user_item">
                                <img src="img/img1.jpg" class="user_img" />
                                <span>姓名：柴逸宁</span>
                                <span>级别：lv1</span>
                                <span>金币：1000000</span>
                            </li>
                            <li class="user_item">
                                <img src="img/img1.jpg" class="user_img" />
                                <span>姓名：柴逸宁</span>
                                <span>级别：lv1</span>
                                <span>金币：1000000</span>
                            </li>
                            <li class="user_item">
                                <img src="img/img1.jpg" class="user_img" />
                                <span>姓名：柴逸宁</span>
                                <span>级别：lv1</span>
                                <span>金币：1000000</span>
                            </li>
                            <li class="user_item">
                                <img src="img/img1.jpg" class="user_img" />
                                <span>姓名：柴逸宁</span>
                                <span>级别：lv1</span>
                                <span>金币：1000000</span>
                            </li>
                            <li class="user_item">
                                <img src="img/img1.jpg" class="user_img" />
                                <span>姓名：柴逸宁</span>
                                <span>级别：lv1</span>
                                <span>金币：1000000</span>
                            </li>
                            <li class="user_item">
                                <img src="img/img1.jpg" class="user_img" />
                                <span>姓名：柴逸宁</span>
                                <span>级别：lv1</span>
                                <span>金币：1000000</span>
                            </li>
                            <li class="user_item">
                                <img src="img/img1.jpg" class="user_img" />
                                <span>姓名：柴逸宁</span>
                                <span>级别：lv1</span>
                                <span>金币：1000000</span>
                            </li>
                        </ul>
                    </div>
                    <div class="wumeibang_box single_sun_order">
                        <div class="wumeiban_head">
                            <h3 class="wumeibang_title">今日晒单</h3>
                            <div class="seg"></div>
                        </div>
                        <div class="commodity_data_item">
                            <img src="img/img1.jpg" class="commodity_img" />
                            <span class="commodity_name">商品名称</span>
                            <p class="commodity_remark">戛纳电影节是当今世界最具影响力、最顶尖的国际电影节最顶尖的国际电影节(产品描述)...</p>
                            <span>晒单人：<b>柴逸宁</b></span>
                            <span>金币：<b>+10</b></span>
                        </div>

                    </div>
                    <div class="wumeibang_box more_sun_order">
                        <div class="wumeiban_head">
                            <h3 class="wumeibang_title">晒单墙</h3>
                            <div class="seg"></div>
                        </div>
                        <div class="commodity_big_img">
                            <img src="img/img1.jpg" />
                        </div>
                        <ul class="commodity_min_list">
                            <li>
                                <a href="#" class="">
                                    <img src="img/img1.jpg" /></a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <img src="img/img1.jpg" /></a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <img src="img/img1.jpg" /></a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <img src="img/img1.jpg" /></a>
                            </li>
                        </ul>
                        <div class="commodity_data">
                            <p class="commodity_data_item"><b>[李宁]</b>产品标题产品标题产品标题产品标题产品标题产品标题产品标题产品标题产品标题产品标题产品标题</p>
                            <p class="commodity_data_item h38 c61">晒但内容晒但内容晒但内容晒但内容晒但内容晒但内容晒但内容晒但内容晒但内容晒但内容晒但内容晒但内容晒但内容晒但内容晒但内容晒但内容晒但内容晒但内容晒但内容晒但内容晒但内容晒但内容</p>
                            <p class="commodity_data_item"><span>晒单人：<b>柴逸宁</b></span><span class="sun_date">时间：2012.03.03</span></p>
                        </div>
                    </div>
                    <div class="wumeibang_box eva">
                        <div class="wumeiban_head">
                            <h3 class="wumeibang_title">单品评价</h3>
                            <div class="seg"></div>
                        </div>
                        <ul class="eva_list">
                            <li class="eva_item">
                                <p>戛纳电影节是当今界最具影响力、最顶尖国际电影节最顶尖的国电(单品的评价)...</p>
                                <span class="commodity_data"><b>[李宁]</b>商品介绍商品介绍</span>
                                <span>评价人：<b>柴逸宁</b></span>
                            </li>
                            <li class="seg"><em></em></li>
                            <li class="eva_item">
                                <p>戛纳电影节是当今界最具影响力、最顶尖国际电影节最顶尖的国电(单品的评价)...</p>
                                <span class="commodity_data"><b>[李宁]</b>商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍商品介绍</span>
                                <span>评价人：<b>柴逸宁</b></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content_right">
                    <div class="wumeibang_box wumeibang_btns">
                        <div class="wumeiban_head">
                            <h3 class="wumeibang_title">同城生活帮<b class="hot">HOT</b></h3>
                            <div class="seg"></div>
                        </div>
                        <div class="btn_list">
                            <a href="#" class="block red">签到</a>
                            <a href="#" class="block yellow">晒单</a>
                            <a href="#" class="block blue">许愿</a>
                        </div>
                    </div>
                    <div class="wumeibang_box keyword">
                        <div class="wumeiban_head">
                            <h3 class="wumeibang_title">热搜关键词</h3>
                            <div class="seg"></div>
                        </div>
                        <div class="keyword_list">
                            <a href="#" class="red">签到签到</a>
                            <a href="#" class="blue">许愿</a>
                            <a href="#" class="yellow">签到</a>
                            <a href="#" class="yellow">签到签到签到签到</a>
                            <a href="#" class="red">签到签到签</a>
                            <a href="#" class="yellow">晒单</a><a href="#" class="blue">许愿</a><a href="#" class="red">签到</a><a href="#" class="yellow">晒单</a><a href="#" class="red">许愿</a></div>
                    </div>
                    <div class="wumeibang_box sun_order_daren">
                        <div class="wumeiban_head">
                            <h3 class="wumeibang_title">晒单达人</h3>
                            <div class="seg"></div>
                        </div>
                        <ul class="user_list">
                            <li class="user_item">
                                <img src="img/img1.jpg" class="user_img" />
                                <span class="user_name">柴逸宁</span>
                                <span class="user_lv">级别：lv1</span>
                                <span class="user_sunsum"><b>晒单：6</b></span>
                            </li>
                            <li class="user_item">
                                <img src="img/img1.jpg" class="user_img" />
                                <span class="user_name">柴逸宁</span>
                                <span class="user_lv">级别：lv1</span>
                                <span class="user_sunsum"><b>晒单：6</b></span>
                            </li>
                            <li class="user_item">
                                <img src="img/img1.jpg" class="user_img" />
                                <span class="user_name">柴逸宁</span>
                                <span class="user_lv">级别：lv1</span>
                                <span class="user_sunsum"><b>晒单：6</b></span>
                            </li>
                            <li class="user_item">
                                <img src="img/img1.jpg" class="user_img" />
                                <span class="user_name">柴逸宁</span>
                                <span class="user_lv">级别：lv1</span>
                                <span class="user_sunsum"><b>晒单：6</b></span>
                            </li>
                            <li class="user_item">
                                <img src="img/img1.jpg" class="user_img" />
                                <span class="user_name">柴逸宁</span>
                                <span class="user_lv">级别：lv1</span>
                                <span class="user_sunsum"><b>晒单：6</b></span>
                            </li>
                            <li class="user_item">
                                <img src="img/img1.jpg" class="user_img" />
                                <span class="user_name">柴逸宁</span>
                                <span class="user_lv">级别：lv1</span>
                                <span class="user_sunsum"><b>晒单：6</b></span>
                            </li>
                            <li class="user_item">
                                <img src="img/img1.jpg" class="user_img" />
                                <span class="user_name">柴逸宁</span>
                                <span class="user_lv">级别：lv1</span>
                                <span class="user_sunsum"><b>晒单：6</b></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="link_list">
                    <div class="link_item">
                        <span>服务保障</span>
                        <ul>
                            <li><a href="#">正品保障</a></li>
                            <li><a href="#">7天无条件退货</a></li>
                            <li><a href="#">7*15小时服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>购物指南</span>
                        <ul>
                            <li><a href="#">导购演示</a></li>
                            <li><a href="#">订单操作</a></li>
                            <li><a href="#">用户指南</a></li>
                            <li><a href="#">账号管理</a></li>
                            <li><a href="#">购物参考</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>支付方式</span>
                        <ul>
                            <li><a href="#">网银支付币</a></li>
                            <li><a href="#">支付平台</a></li>
                            <li><a href="#">信用卡</a></li>
                            <li><a href="#">同城生活金币</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>配送方式</span>
                        <ul>
                            <li><a href="#">配送服务</a></li>
                            <li><a href="#">配送范围和运费</a></li>
                            <li><a href="#">验货与签收</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>售后服务</span>
                        <ul>
                            <li><a href="#">退换货政策</a></li>
                            <li><a href="#">退换货流程</a></li>
                            <li><a href="#">退款方式和时效</a></li>
                        </ul>
                    </div>
                    <div class="link_item end">
                        <span>同城生活模式</span>
                        <ul>
                            <li><a href="#">聚合式品牌特卖</a></li>
                            <li><a href="#">同城生活成长基金</a></li>
                            <li><a href="#">推手规则</a></li>
                        </ul>
                    </div>
                </div>
                <div class="put_on_record">
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                    <a href="#">
                        <img src="../../public/img/internetPolice.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/putOnRecord.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/internetBusiness.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/siteCredits.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/trusty.png" />
                    </a>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
