<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??operations/public/css/global.css,public/css/ico.css,public/wm_btn/css/style.css,public/wm_btn/css/style.css,public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/operations/login/config.js" data-init="login"></script>
</head>
<body>
    <div id="page">
        <div class="limit">
            <form class="wm_form login_box">
                <h3 class="login_head">登录tcsh</h3>
                <ul class="login_bg">
                    <li class="form_row">
                        <label class="row_key">账号：</label>
                        <input type="text" class="form_txt w200" wmv="empty" wmvmsg="请输入账号！" />
                    </li>
                    <li class="form_row">
                        <label class="row_key">密码：</label>
                        <input type="password" class="form_txt w200" wmv="empty" wmvmsg="请输入密码！"/>
                    </li>
                    <li class="form_row">
                        <input type="submit" class="submit" value="登录" />
                    </li>
                    <li class="form_row links">
                        <label class="row_key">&nbsp;</label><a href="#">返回商城</a><a href="#">申请重置密码</a>
                    </li>
                </ul>
            </form>
            <div class="forimg_box_position">
                <div class="wm_forimg_box">
                    <ul class="wm_forimg_list">
                        <li class="for_img_item">
                            <a href="http://baike.baidu.com/subview/1889008/13617521.htm?fr=aladdin">
                                <img src="img/boss.jpg" />
                            </a>
                        </li>
                        <li class="for_img_item">
                            <a href="http://baike.baidu.com/subview/1889008/13617521.htm?fr=aladdin">
                                <img src="img/boss_2.jpg" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="browser">
                支持浏览器：
                <p><a href="#"><img src="img/chrome.png" /></a>
                <a href="#"><img src="img/safari.png" /></a>
                <a href="#"><img src="img/firefox.png" /></a></p>
                
            </div>
        </div>
        <div class="bg"></div>
    </div>
</body>
</html>
