@CHARSET "UTF-8";
.red { color: #e13436!important; }
.logistics_data { background: #fff; border-bottom: 1px solid #4fa2d6; padding: 25px; }
.logistics_data .logistics_data_head { height: 22px; border-bottom: 1px solid #f47d15; }
.logistics_data .logistics_data_head h3 { float: left; padding-right: 45px; font-size: 14px; font-family: SimSun; }
.logistics_data .logistics_data_list { padding-top: 10px; }
.logistics_data .logistics_data_list li { padding: 5px 0; }
.logistics_data .data_time { display: block; float: left; width: 130px; }

.refund_data { padding-top: 20px; font-family: SimSun; font-size: 12px; }
.refund_data .certificate_list { left: 110px; top: 5px; width: 130px; text-align: center; }
.refund_data .certificate_list li { display: block; float: left; width: 100px; height: 100px; border: 1px solid #d4d4d4; margin: 0 8px 8px 0; text-align: center; background: url(http://s.tcsh.me/tcsh/view/public/img/loading/loading32_32_1.gif) 32px 34px no-repeat; }
.refund_data .certificate_list img { width: 96px; height: 96px; margin-top: 2px; }

.refund_data .btns { padding-top: 50px; text-align: center; }
.refund_data .btns .ui_btn { margin: 0 30px 0 0; }
.refund_data p { word-break:break-all;}

.refuse_reason_box .refuse_reason { padding: 20px 50px 10px 50px; }
.refuse_reason_box .refuse_reason h3 { padding-bottom: 10px; font-family: SimSun; font-size: 14px; font-weight: 500; }
.refuse_reason_box .refuse_reason .reason { width: 450px; height: 110px; display: block; resize: none; padding: 5px; margin-bottom: 20px; }
.refuse_reason_box .refuse_reason .btns { text-align: center; }
.refuse_reason_box .refuse_reason .btns .ui_btn_txt { font-family: SimSun; font-size: 14px; font-weight: 700; letter-spacing: 10px; padding-left: 20px; }
