<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../public/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../../public/css/ico.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/after/commodity/config.js" data-init="promotions"></script>
    <style>
       
    </style>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_top">
                <div class="sub_head_top">
                    <a href="#">同城生活首页</a>
                    <div class="user_data">
                        <span>柴逸宁，欢迎你！</span>
                    </div>
                    <div class="user_btns">
                        <a href="#">[设置]</a>
                        <a href="#">[退出]</a>
                    </div>

                    <span>等级：Lv1</span>
                    <a href="#">查看等级特权>></a>
                    <div class="advice">
                        <span>咨询电话：400-88888888</span>
                        <span>在线客服：
                            <a href="#" class="ui_btn ui_btn_h19gray2"><span class="ui_btn_txt">客服01</span></a>
                            <a href="#" class="ui_btn ui_btn_h19gray2"><span class="ui_btn_txt">客服02</span></a>
                        </span>
                    </div>
                </div>

            </div>
            <div class="head_sub">
                <div class="head_con">
                    <div class="wm_logo">
                        <img src="../../public/img/wm_logo.png" width="180" height="80" />
                    </div>
                    <div class="logo_msg">
                        <span class="ui_btn ui_btn_h22red10"><span class="ui_btn_txt"><i>嗅嗅品牌的味道</i></span></span>
                        <em class="wm_ico triangle1">&nbsp;</em>
                    </div>
                    <div class="head_search brands">
                        <div class="head_search_form">
                            <form>
                                <select>
                                    <option>品牌</option>
                                    <option>商品</option>
                                </select>
                                <input type="text" placeholder="商家后台搜索" name="brands" class="search_brands" />

                                <a href="#" class="search_btn">搜 索<i class="wm_ico magnifier1"></i></a>
                                <input type="hidden" name="search_type" />
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="head_nav">
                <div class="sub_head_nav">
                    <div class="sub_nav">
                        <ul>
                            <li class="sub_nav_item curr"><a href="#">商家首页</a><em class="wm_ico dashed2"></em></li>
                            <li class="sub_nav_item"><a href="#">商品统计</a><em class="wm_ico dashed2"></em></li>
                            <li class="sub_nav_item"><a href="#">定单统计</a><em class="wm_ico dashed2"></em></li>
                            <li class="sub_nav_item"><a href="#">设置</a><em class="wm_ico dashed2"></em></li>
                            <li class="sub_nav_item end"><a href="#">站内信</a><em class="wm_ico dashed2"></em><i></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="con_sub">
                <div class="content_main">
                    <div class="op_nav">
                        <div class="op_nav_top">
                            <a href="#">
                                <img src="img/lining.jpg" width="170" height="85" />
                            </a>
                            <a href="#" class="ui_btn ui_btn_h35gray4"><span class="ui_btn_txt">密码管理 >></span></a>
                        </div>
                        <ul class="op_nav_main">
                            <li>
                                <div class="onm_item_head">
                                    <h3>品牌管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">品牌故事</a></li>
                                    <li><a href="#">特卖设置</a></li>
                                    <li><a href="#">品牌点评</a></li>
                                    <li><a href="#">品牌留言</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>商品管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li class="curr"><a href="#">商品上架</a></li>
                                    <li><a href="#">商品列表</a></li>
                                    <li><a href="#">统计数据</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>交易管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">订单管理</a></li>
                                    <li><a href="#">评价管理</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>推广管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">展位购买</a></li>
                                    <li><a href="#">促销活动</a></li>
                                    <li><a href="#">优惠设置</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>售后管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">投诉管理</a></li>
                                    <li><a href="#">退款管理</a></li>
                                    <li><a href="#">换币管理</a></li>
                                    <li><a href="#">违规记录</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>同城生活银行</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">同城生活银行</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="main_con">
                        <div class="promotions">
                            <div class="right_head">
                                <h3 class="data_title">促销设置</h3>
                            </div>
                            <div class="promotions_con limited_time">
                                <div class="promotions_tab">
                                    <p>备注：您也可以稍后在“推广管理-促销活动”中为单个商品进行活动申报。</p>
                                    <a href="#" class="tab_key ui_btn ui_btn_h36white3" data_key="limited_time"><span class="ui_btn_txt">限时购</span></a>
                                    <a href="#" class="tab_key" data_key="new_presale"><span class="ui_btn_txt">新品预售</span></a>
                                    <a href="#" class="tab_key" data_key="recommend"><span class="ui_btn_txt">美推手</span></a>
                                    <a href="#" class="tab_key" data_key="new_trial"><span class="ui_btn_txt">新品试用</span></a>
                                    <a href="#" class="tab_key" data_key="gift"><span class="ui_btn_txt">免费送</span></a>
                                    <a href="#" class="tab_key" data_key="exchange"><span class="ui_btn_txt">兑换</span></a>
                                </div>
                                <ul class="tab_item wm_form limited_time" data_table_money_row="限时价" priceedit="t" data_value="1">
                                    <li class="form_row">
                                        <label class="row_key"><b class="form_must">*</b>限购日期：</label>
                                        <input type="text" class="form_txt w80 limit_date limit_date_s">
                                        至
                                        <input type="text" class="form_txt w80 limit_date limit_date_e">
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key"><b class="form_must">*</b>场次：</label>

                                        <select class="form_sel scene" wmv="limit_date" wmvmsg="选择限购时间和场次！">
                                            <option value="0">-请选择场次-</option>
                                            <option value="1">上午场（7：00-11：00）</option>
                                            <option value="1">中午场（11：00-13：00）</option>
                                            <option value="1">下午场（13：00-17：00）</option>
                                            <option value="1">午夜场（17：00-23：00）</option>
                                        </select>
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key"><b class="form_must">*</b>限时价：</label>
                                        <input type="text" class="form_txt w80 mr20 relevance_price" wmv="empty|positiveNumber" wmvmsg="价格不能为空！|请输入正确的价格！">
                                        <span>（修改此文本框的值，将同步修改下方表格中，限时价的值）</span>
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key">特卖价：</label>
                                        <b>￥99.99</b>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>市场价</span>
                                        <span>￥99.99</span>
                                    </li>
                                    <li class="form_row"></li>
                                    <li class="form_row">
                                        <label class="row_key"><b class="form_must">*</b>库存：</label>
                                        <div class="floatleft specification_main_box">
                                            <table class="s_table specification_main" border="0" cellspacing="0" style="display: block;">
                                                <thead>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key">&nbsp;</label>
                                        <span class="ui_btn ui_btn_h40red1">
                                            <input type="submit" class="ui_btn_txt" value="提交"></span>
                                    </li>
                                </ul>
                                <ul class="tab_item wm_form new_presale" data_table_money_row="起始价" priceedit="t" data_value="2">
                                    <li class="form_row">
                                        <label class="row_key"><b class="form_must">*</b>起始价：</label>
                                        <input type="text" class="form_txt w80 mr20 relevance_price">
                                        <span>（修改此文本框的值，将同步修改下方表格中，起始价的值）</span>
                                    </li>
                                    <li class="form_row  person_price">
                                        <label class="row_key"><b class="form_must">*</b>购买人数要求：</label>
                                        <input type="text" class="form_txt w80 mr10 person">人<input type="text" class="form_txt w80 mr10 ml20 price" wmv="personPrice" wmvmsg="购买人数要求，至少填写一组！<br/>人数必须是正整数，价格不能为负！">元
                                    </li>
                                    <li class="form_row person_price">
                                        <label class="row_key">&nbsp;</label>
                                        <input type="text" class="form_txt w80 mr10 person">人<input type="text" class="form_txt w80 mr10 ml20 price">元
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key">特卖价：</label>
                                        <b>￥99.99</b>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>市场价</span>
                                        <span>￥99.99</span>
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key"><b class="form_must">*</b>库存：</label>
                                        <div class="floatleft specification_main_box">
                                            <table class="s_table specification_main" border="0" cellspacing="0" style="display: block;">
                                                <thead>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key">&nbsp;</label>
                                        <span class="ui_btn ui_btn_h40red1">
                                            <input type="submit" class="ui_btn_txt" value="提交"></span>
                                    </li>
                                </ul>
                                <ul class="tab_item wm_form recommend" data_table_money_row="热卖价" data_value="3">
                                    <li class="form_row">
                                        <label class="row_key"><b class="form_must">*</b>佣金额度：</label>
                                        <input type="text" class="form_txt w80 rate" wmv="empty|positiveNumber" wmvmsg="价格不能为空！|请输入正确的佣金额度！">
                                        <select class="form_sel rate_type rate_type">
                                            <option value="1">元</option>
                                            <option value="2">%</option>
                                        </select>
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key"><b class="form_must">*</b>库存：</label>
                                        <div class="floatleft specification_main_box">
                                            <table class="s_table specification_main" border="0" cellspacing="0" style="display: block;">
                                                <thead>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key">&nbsp;</label>
                                        <span class="ui_btn ui_btn_h40red1">
                                            <input type="submit" class="ui_btn_txt" value="提交"></span>
                                    </li>
                                </ul>
                                <ul class="tab_item wm_form new_trial" data_table_money_row="热卖价" data_value="4">
                                    <li class="form_row">
                                        <label class="row_key"><b class="form_must">*</b>库存：</label>
                                        <div class="floatleft specification_main_box">
                                            <table class="s_table specification_main" border="0" cellspacing="0" style="display: block;">
                                                <thead>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key">&nbsp;</label>
                                        <span class="ui_btn ui_btn_h40red1">
                                            <input type="submit" class="ui_btn_txt" value="提交"></span>
                                    </li>
                                </ul>
                                <ul class="tab_item wm_form gift" data_table_money_row="热卖价" data_value="5">
                                    <li class="form_row">
                                        <label class="row_key"><b class="form_must">*</b>库存：</label>
                                        <div class="floatleft specification_main_box">
                                            <table class="s_table specification_main" border="0" cellspacing="0" style="display: block;">
                                                <thead>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key">&nbsp;</label>
                                        <span class="ui_btn ui_btn_h40red1">
                                            <input type="submit" class="ui_btn_txt" value="提交"></span>
                                    </li>
                                </ul>
                                <ul class="tab_item wm_form exchange" data_table_money_row="同城生活金币" data_value="6">
                                    <li class="form_row">
                                        <label class="row_key"><b class="form_must">*</b>同城生活金币：</label>
                                        <input type="text" class="form_txt w80 mr20 relevance_price" wmv="empty|positiveInteger" wmvmsg="价格不能为空！|请输入正确的同城生活金币数！">
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key"><b class="form_must">*</b>库存：</label>
                                        <div class="floatleft specification_main_box">
                                            <table class="s_table specification_main" border="0" cellspacing="0" style="display: block;">
                                                <thead>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key">&nbsp;</label>
                                        <span class="ui_btn ui_btn_h40red1">
                                            <input type="submit" class="ui_btn_txt" value="提交"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="link_list">
                    <div class="link_item">
                        <span>服务保障</span>
                        <ul>
                            <li><a href="#">正品保障</a></li>
                            <li><a href="#">7天无条件退货</a></li>
                            <li><a href="#">7*15小时服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>购物指南</span>
                        <ul>
                            <li><a href="#">导购演示</a></li>
                            <li><a href="#">订单操作</a></li>
                            <li><a href="#">用户指南</a></li>
                            <li><a href="#">账号管理</a></li>
                            <li><a href="#">购物参考</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>支付方式</span>
                        <ul>
                            <li><a href="#">网银支付币</a></li>
                            <li><a href="#">支付平台</a></li>
                            <li><a href="#">信用卡</a></li>
                            <li><a href="#">同城生活金币</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>配送方式</span>
                        <ul>
                            <li><a href="#">配送服务</a></li>
                            <li><a href="#">配送范围和运费</a></li>
                            <li><a href="#">验货与签收</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>售后服务</span>
                        <ul>
                            <li><a href="#">退换货政策</a></li>
                            <li><a href="#">退换货流程</a></li>
                            <li><a href="#">退款方式和时效</a></li>
                        </ul>
                    </div>
                    <div class="link_item end">
                        <span>同城生活模式</span>
                        <ul>
                            <li><a href="#">聚合式品牌特卖</a></li>
                            <li><a href="#">同城生活成长基金</a></li>
                            <li><a href="#">推手规则</a></li>
                        </ul>
                    </div>
                </div>
                <div class="put_on_record">
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                    <a href="#">
                        <img src="../../public/img/internetPolice.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/putOnRecord.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/internetBusiness.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/siteCredits.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/trusty.png" />
                    </a>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
