<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>购物经详情页</title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??sns/public/css/global.css,public/css/ico.css,public/wm_btn/css/style.css,public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/model/wmpage/css/style.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/sns/shopping/config.js" data-init="shopping"></script>
	<script type="text/javascript" charset="utf-8" src="http://item.tcsh.me/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://item.tcsh.me/ueditor/ueditor.all.js"></script>

    <script type="text/javascript">
        var global_setting = {}
    </script>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_top"></div>
            <div class="sns_head">
                <ul class="sns_head_con clearfix">
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">首页</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的生态圈</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">账户管理</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的主页</a>
                        <span class="arrows">◆</span>
                        <div class="sns_head_nav">
                            <a href="#" class="sns_head_nav_item">
                                <span class="sns_img grzy"></span>
                                <span class="sns_head_nav_word">个人主页</span>
                            </a>
                            <a href="#" class="sns_head_nav_item">
                                <span class="sns_img gwj"></span>
                                <span class="sns_head_nav_word">购物经</span>
                            </a>
                            <a href="#" class="sns_head_nav_item">
                                <span class="sns_img srdz"></span>
                                <span class="sns_head_nav_word">TA's 宝藏</span>
                            </a>
                            <a href="#" class="sns_head_nav_item">
                                <span class="sns_img dtts"></span>
                                <span class="sns_head_nav_word">道听途说</span>
                            </a>
                        </div>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的帮汇</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">归档</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="main_con clearfix">
                <div class="main_left">
					<div class="shopping_detail sns_data_item" data_id="1" user_id="11">
                    	<div class="main_left_head">
                        	<p class="mlh_do">
                            	<a href="#" class="editor"><span class="iconfont">&#xe611;</span>编辑</a>
                                <a href="#" class="del_question del_btn"><span class="iconfont">&#xf00c0;</span>删除</a>
                            </p>
                        	<span class="mlh_change"><a href="#">上一篇</a>|<a href="#">下一篇</a></span>
                        	<h3 class="mlh_title sns_data_title" data_id="121">从简约中领悟品质的真谛</h3>
                            <p class="mlh_infor">
                            	<a href="#" class="author user_name">左耳朵耗子</a>发表于 <span class="mlh_date">2014年6月9日</span>
                            </p>
                        </div>
                        <div class="shoppingCon article_main">
                        	<p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？希望悄悄的留住你的视线，带给你唯一却熟悉的感觉…</p>
                            <p class="shopping_img"><img src="img/img.jpg" /></p>
                            <p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？希望悄悄的留住你的视线，带给你唯一却熟悉的感觉…有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？希望悄悄的留住你的视线，带给你唯一却熟悉的感觉…有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？希望悄悄的留住你的视线，带给你唯一却熟悉的感觉…有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？希望悄悄的留住你的视线，带给你唯一却
熟悉的感觉…有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？希望悄悄的留住你的视线，带给你唯一有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？希望悄悄的留住你的视线，带给你唯一却熟悉的感觉…有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？希望悄悄的留住你的视线，带给你唯一却熟悉的感觉…有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？希望悄悄的留住你的视线，带给你唯一却熟悉的感觉…有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？希望悄悄的留住你的视线，带给你唯一却熟悉的感觉…有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？希望悄悄的留住你的视线，带给你唯一带给你唯一却熟悉的感觉…</p>
                          
                        </div>
                        <div class="sdi_btns">
                                <ul class="clearfix">
                                    <li class="sdi_btns_sub">
                                        <a href="#" class="sdi_btn_item hot"><span class="iconfont">&#xe60b;</span>热度<span class="sdi_btn_item_num">25</span></a>
                                    </li>
                                    <li class="sdi_btns_sub">
                                        <a href="#" class="sdi_btn_item like fav"><span class="iconfont">&#xf0145;</span>喜欢<span class="sdi_btn_item_num">25</span></a>
                                    </li>
                                    <li class="sdi_btns_sub sdi_btns_sub_cur">
                                        <a href="#" class="sdi_btn_item shopping_comments"><span class="iconfont">&#xe611;</span>评论</a>
                                    </li>
                                    <li class="sdi_btns_sub">
                                        <a href="#" class="sdi_btn_item denounce">举报</a>
                                    </li>
                                </ul>
                            </div>
                    </div>
                    <div class="show_con">
                    	<div class="likeCon dis_none">
                        	<ul class="like_list">
                            	<li class="like_item">
                                	<a href="#" class="like_img"><img src="../public/img/head_img.jpg" /></a>
                                    <a href="#" class="like_name">利威尔兵长</a>喜欢了这篇购物经
                                    <span class="like_time">2014-07-09 17：50</span>
                                </li>
                                <li class="like_item">
                                	<a href="#" class="like_img"><img src="../public/img/head_img.jpg" /></a>
                                    <a href="#" class="like_name">利威尔兵长</a>喜欢了这篇购物经
                                    <span class="like_time">2014-07-09 17：50</span>
                                </li>
                                <li class="like_item">
                                	<a href="#" class="like_img"><img src="../public/img/head_img.jpg" /></a>
                                    <a href="#" class="like_name">利威尔兵长</a>喜欢了这篇购物经
                                    <span class="like_time">2014-07-09 17：50</span>
                                </li>
                            </ul>
                        </div>
                        <div class="comment">
                           <!-- <p class="comment_detail">
                                <textarea name="" id="" cols="30" rows="10" class="comment_con"></textarea>
                                <a href="#" class="comment_btn">
                                    发布
                                </a>
                            </p>
                            <ul class="comment_list">
                                <li class="comment_item">
                                	<span class="comm_time">2014-07-10 15:27</span>
                                    <a href="#" class="comm_head"><img src="../public/img/head_40_40.jpg" /></a>
                                    <div class="comm_content">
                                    	<a href="#" class="commenter">小苹果</a>
                                        <p class="comm_con_detail">不翻不知道，一翻吓一跳！撸主用一个周末的时间给大家整理出来了美淘转运公司大全，附带价格哟！小伙伴们根据自己的情况进行选择！叫我业界良心...</p>
                                        <span class="comm_btns">
                                        	<a href="#" class="comm_btns_item reply_comm">回复</a><a href="#" class="comm_btns_item denounce">举报</a>
                                        </span>
                                        <div class="reply_con dis_none">
                                        	<textarea name="" id="" cols="30" rows="10" class="reply_txt"></textarea>
                                            <span class="reply_send"><a href="#">评论</a></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment_item">
                                	<span class="comm_time">2014-07-10 15:27</span>
                                    <a href="#" class="comm_head"><img src="../public/img/head_40_40.jpg" /></a>
                                    <div class="comm_content">
                                    	<a href="#" class="commenter">小苹果</a>
                                        <p class="comm_con_detail">不翻不知道，一翻吓一跳！撸主用一个周末的时间给大家整理出来了美淘转运公司大全，附带价格哟！小伙伴们根据自己的情况进行选择！叫我业界良心...</p>
                                        <span class="comm_btns">
                                        	<a href="#" class="comm_btns_item reply_comm">回复</a><a href="#" class="comm_btns_item denounce">举报</a>
                                        </span>
                                        <div class="reply_con dis_none">
                                        	<textarea name="" id="" cols="30" rows="10" class="reply_txt"></textarea>
                                            <span class="reply_send"><a href="#">评论</a></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment_item">
                                	<span class="comm_time">2014-07-10 15:27</span>
                                    <a href="#" class="comm_head"><img src="../public/img/head_40_40.jpg" /></a>
                                    <div class="comm_content">
                                    	<a href="#" class="commenter">小苹果</a>
                                        <p class="reply_infor">不翻不知道，一翻吓一跳！撸主用一个周末的时间给大家整理出来了美淘转运公司大全，附带价格哟！小伙伴们根据自己的情况进行选择！叫我业界良心...</p>
                                        <p class="comm_con_detail">坑爹坑爹，被谁坑久了你就是他爹了！</p>
                                        <span class="comm_btns">
                                        	<a href="#" class="comm_btns_item reply_comm">回复</a><a href="#" class="comm_btns_item denounce">举报</a>
                                        </span>
                                        <div class="reply_con dis_none">
                                        	<textarea name="" id="" cols="30" rows="10" class="reply_txt"></textarea>
                                            <span class="reply_send"><a href="#">评论</a></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <p class="more_btns">
                                <a href="#" class="look_more"><span class="iconfont">&#xe614;</span>查看更多</a>
                            </p>-->
                        </div>
                    </div>
                </div>
                <div class="main_right">
                	<div class="main_right_sub owner">
                    	<div class="owner_content"></div>
                    	<!--<div class="owner_infor_item owner_infor_btns"><a href="#" class="owner_btn focus_btn"><span class="iconfont">&#xf0034;</span>关注他</a><a href="#" class="owner_btn ask_btn"><span class="iconfont">&#xf00b8;</span>向他提问</a><a href="#" class="owner_btn letter_btn"><span class="iconfont">&#xe60d;</span>私信他</a></div>-->
                        <div class="owner_infor_item owner_infor_btns"><a href="#" class="owner_btn focus_btn"><span class="iconfont index sns_img">&#xf012b;</span>访问主页</a><a href="#" class="owner_btn Iask"><span class="iconfont">&#xf00b8;</span>我要提问</a><a href="#" class="owner_btn write_shop"><span class="iconfont">&#xe60d;</span>撰写购物经</a></div>
                    </div>
                    <!--<div class="main_right_sub mr_border_top discover">
                    	<h3 class="mrs_title">发现<a href="#" class="change_dis"><span class="iconfont">&#xf015c;</span>换一组</a></h3>
                        <ul class="discover_list">
                        	<li class="discover_item">
                            	<a href="#"><img src="../public/img/head_40_40.jpg" /></a>
                                <div class="discover_infor">
                                	<a href="#" class="discover_name">林亚泉</a><a href="#" class="focus">+ 关注</a>
                                    <span class="discover_bang">
                                    	<a href="#">国家行动</a><a href="#">革命制度党</a>
                                    </span>
                                </div>
                            </li>
                            <li class="discover_item">
                            	<a href="#"><img src="../public/img/head_40_40.jpg" /></a>
                                <div class="discover_infor">
                                	<a href="#" class="discover_name">林亚泉</a><a href="#" class="focus">+ 关注</a>
                                    <span class="discover_bang">
                                    	<a href="#">国家行动</a><a href="#">革命制度党</a>
                                    </span>
                                </div>
                            </li>
                            <li class="discover_item">
                            	<a href="#"><img src="../public/img/head_40_40.jpg" /></a>
                                <div class="discover_infor">
                                	<a href="#" class="discover_name">林亚泉</a><a href="#" class="focus">+ 关注</a>
                                    <span class="discover_bang">
                                    	<a href="#">国家行动</a><a href="#">革命制度党</a>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="main_right_sub mr_border_top handpick">
                    	<h3 class="mrs_title">精选<span class="handpick_btn"><em class="now">1</em>/<em class="img_num">4</em><a href="#" class="iconfont left">&#xf0007;</a><a href="#" class="iconfont right">&#xf0006;</a></span></h3>
                        <div class="slide">
                        	<div class="slideCon">
                            	<a href="#" class="slide_item"><img src="../public/img/head_img.jpg" /></a>
                                <a href="#" class="slide_item"><img src="img/img_200_160.jpg" /></a>
                                <a href="#" class="slide_item"><img src="../public/img/head_40_40.jpg" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="main_right_sub visitor">
                    	<h3 class="mrs_title"><span>最近访客</span></h3>
                        <div class="visitor_con">
                        	<a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                            <a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                            <a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                            <a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                            <a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                            <a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                            <a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                            <a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                            <a href="#">
                            	<img src="../public/img/head_40_40.jpg" />
                                林亚权
                            </a>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <!--底部-->
        <div class="footer">
            <p class="about"><a href="#">关于我们</a>|<a href="#">联系我们</a>|<a href="#">品牌入驻</a>|<a href="#">隐私条款</a>|<a href="#">网站地图</a>|<a href="#">友情链接</a>|<a href="#">用户体验提升计划</a></p>
            <p>经营性网站备案号：浙ICP备11009382号   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
            <a href="#">
                <img src="../../public/img/internetPolice.png" /></a><a href="#"><img src="../../public/img/putOnRecord.png" /></a><a href="#"><img src="../../public/img/internetBusiness.png" /></a><a href="#"><img src="../../public/img/siteCredits.png" /></a><a href="#"><img src="../../public/img/trusty.png" /></a>
        </div>

    </div>
    
</body>
<script type="text/plain" id="editor"></script>
<script type="text/javascript">
	global_setting.isDiscover = true;
	global_setting.isVisitor = true;
	global_setting.isOtherShare = true;
</script>
</html>
