<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>我的足迹</title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??buyers/public/css/global_v2.css,public/css/ico.css,public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="css/already_buy.css" />

    <script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/buyers/already_buy/config.js" data-init="already_buy"></script>

    <script type="text/javascript">
        var global_setting = {}
    </script>
</head>
<body>
    <div id="page">
        <!--头部-->
        <div class="buyer_head">
            <div class="head_top"></div>
            <div class="buyer_head_con">
                <div class="buyer_logo">
                    <a href="#"></a>
                </div>
                <div class="buyer_nav">
                    <div class="buyer_nav_list buyer_selected">
                        <a href="#" class="buyer_nav_item">首页</a>
                        <span class="top_icon"><em>◆</em></span>
                    </div>
                    <div class="buyer_nav_list buyer_hover">
                        <a href="#" class="buyer_nav_item">个人主页</a>
                        <ul class="buyer_nav_con">
                            <li><a href="#">我的主页</a></li>
                            <li><a href="#">我的分享</a></li>
                            <li><a href="#">我的朋友</a></li>
                            <li><a href="#">我的评价</a></li>
                            <li><a href="#">我的晒单</a></li>
                        </ul>
                        <span class="top_icon"><em>◆</em></span>
                    </div>
                    <div class="buyer_nav_list buyer_hover">
                        <a href="#" class="buyer_nav_item">帐号管理</a>
                        <ul class="buyer_nav_con">
                            <li><a href="#">安全设置</a></li>
                            <li><a href="#">个人资料</a></li>
                            <li><a href="#">乐钱帐号设置</a></li>
                            <li><a href="#">收货地址</a></li>
                            <li><a href="#">隐私设置</a></li>
                        </ul>
                        <span class="top_icon"><em>◆</em></span>
                    </div>
                </div>
                <div class="buyer_search">
                    <form action="" class="buyer_search_con clearfix">
                        <div class="search_kinds buyer_hover">
                            <ul class="search_kinds_list">
                                <li class="a_kinds_bg"><a href="#">店铺</a></li>
                                <li class="a_kinds_bg"><a href="#">宝贝</a></li>

                            </ul>
                            <span class="iconfont turn_down">&#xf0005;</span>
                        </div>
                        <input type="text" class="search_txt" />
                        <input type="submit" class="search_sub" value="搜索" />
                    </form>
                </div>
            </div>
        </div>

        <!--降价提醒主体-->
        <div class="buyer_con clearfix">

            <!--左边部分-->
            <div class="left_nav_skin2_left">
                <ul>
                	<li class="left_nav_skin2_item"><span class="show_now"></span><a href="#">已买到的商品</a></li>
                    <li class="left_nav_skin2_item"><span class="show_now"></span><a href="#">我的足迹</a></li>
                    <li class="left_nav_skin2_item"><span class="show_now"></span><a href="#">店铺新品</a></li>
                    <li class="left_nav_skin2_item left_nav_skin2_itemCur"><span class="show_now"></span><a href="#">优惠提示</a></li>
                </ul>

                <h3 class="already_look">浏览过的类目</h3>
                <ul>
                    <li class="left_nav_skin2_item"><a href="#">全部商品</a></li>
                    <li class="left_nav_skin2_item"><a href="#">服饰箱包</a></li>
                    <li class="left_nav_skin2_item already_look_itemCur"><a href="#">车品</a></li>
                    <li class="left_nav_skin2_item"><a href="#">户外</a></li>
                    <li class="left_nav_skin2_item"><a href="#">家纺百货</a></li>
                </ul>
            </div>

            <!--右边部分-->
            <div class="left_nav_skin2_right already_right">
                <div class="new_goods">
                    <div class="already_head footmark_head">
                        <span class="buyer_photo">
                            <a href="#">
                                <img src="img/customer_service_logo.jpg" /></a>
                        </span>
                        <span class="already_head_title">以下是您最近30天浏览的商品</span>
                        <a href="#" class="prompt_num">3件商品已降价</a>
                    </div>
                    <div class="new_goods_con">

                        <!--我的足迹 有内容-->
                        <div class="footmark_list">
                            <div class="footmark_time">今天</div>
                            <div class="footmark_con">
                                <span class="footmark_date">2014-04</span>
                                <span class="footmark_num">浏览了2件商品</span>
                                <div class="footmark_detail">
                                    <a href="#" class="footmark_detail_item">
                                        <img src="img/footmark1.jpg" />
                                        <span class="sell_num">月销量：278</span>
                                        <span class="goods_price">￥769.00</span>
                                        <del class="goods_price_del">￥1290.00</del>
                                        <del class="goods_price_del">￥1290.00</del>
                                    </a>
                                    <a href="#" class="footmark_detail_item">
                                        <img src="img/footmark2.jpg" />
                                        <span class="sell_num">月销量：278</span>
                                        <span class="goods_price">￥769.00</span>
                                        <del class="goods_price_del">￥1290.00</del>
                                    </a>
                                    <a href="#" class="footmark_detail_item">
                                        <img src="img/footmark3.jpg" />
                                        <span class="sell_num">月销量：278</span>
                                        <span class="goods_price">￥769.00</span>
                                        <del class="goods_price_del">￥1290.00</del>
                                    </a>
                                    <a href="#" class="footmark_detail_item">
                                        <img src="img/footmark1.jpg" />
                                        <span class="sell_num">月销量：278</span>
                                        <span class="goods_price">￥769.00</span>
                                        <del class="goods_price_del">￥1290.00</del>
                                    </a>
                                    <a href="#" class="footmark_detail_item">
                                        <img src="img/footmark2.jpg" />
                                        <span class="sell_num">月销量：278</span>
                                        <span class="goods_price">￥769.00</span>
                                        <del class="goods_price_del">￥1290.00</del>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="footmark_list">
                            <div class="footmark_time">昨天</div>
                            <div class="footmark_con">
                                <span class="footmark_date">2014-04</span>
                                <span class="footmark_num">浏览了2件商品</span>
                                <div class="footmark_detail">
                                    <a href="#" class="footmark_detail_item">
                                        <img src="img/footmark1.jpg" />
                                        <span class="sell_num">月销量：278</span>
                                        <span class="goods_price">￥769.00</span>
                                        <del class="goods_price_del">￥1290.00</del>
                                    </a>
                                    <a href="#" class="footmark_detail_item">
                                        <img src="img/footmark2.jpg" />
                                        <span class="sell_num">月销量：278</span>
                                        <span class="goods_price">￥769.00</span>
                                        <del class="goods_price_del">￥1290.00</del>
                                    </a>
                                    <a href="#" class="footmark_detail_item">
                                        <img src="img/footmark3.jpg" />
                                        <span class="sell_num">月销量：278</span>
                                        <span class="goods_price">￥769.00</span>
                                        <del class="goods_price_del">￥1290.00</del>
                                    </a>
                                    <a href="#" class="footmark_detail_item">
                                        <img src="img/footmark1.jpg" />
                                        <span class="sell_num">月销量：278</span>
                                        <span class="goods_price">￥769.00</span>
                                        <del class="goods_price_del">￥1290.00</del>
                                    </a>
                                    <a href="#" class="footmark_detail_item">
                                        <img src="img/footmark2.jpg" />
                                        <span class="sell_num">月销量：278</span>
                                        <span class="goods_price">￥769.00</span>
                                        <del class="goods_price_del">￥1290.00</del>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="footmark_list">
                            <div class="footmark_time">16日</div>
                            <div class="footmark_con">
                                <span class="footmark_date">2014-04</span>
                                <span class="footmark_num">浏览了2件商品</span>
                                <div class="footmark_detail">
                                    <a href="#" class="footmark_detail_item">
                                        <img src="img/footmark1.jpg" />
                                        <span class="sell_num">月销量：278</span>
                                        <span class="goods_price">￥769.00</span>
                                        <del class="goods_price_del">￥1290.00</del>
                                    </a>
                                    <a href="#" class="footmark_detail_item">
                                        <img src="img/footmark2.jpg" />
                                        <span class="sell_num">月销量：278</span>
                                        <span class="goods_price">￥769.00</span>
                                        <del class="goods_price_del">￥1290.00</del>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="footmark_list">
                            <div class="footmark_time">15日</div>
                            <div class="footmark_con">
                                <span class="footmark_date">2014-04</span>
                                <span class="footmark_num">浏览了2件商品</span>
                                <div class="footmark_detail">
                                    <a href="#" class="footmark_detail_item">
                                        <img src="img/footmark1.jpg" />
                                        <span class="sell_num">月销量：278</span>
                                        <span class="goods_price">￥769.00</span>
                                        <del class="goods_price_del">￥1290.00</del>
                                    </a>
                                    <a href="#" class="footmark_detail_item">
                                        <img src="img/footmark2.jpg" />
                                        <span class="sell_num">月销量：278</span>
                                        <span class="goods_price">￥769.00</span>
                                        <del class="goods_price_del">￥1290.00</del>
                                    </a>
                                    <a href="#" class="footmark_detail_item">
                                        <img src="img/footmark3.jpg" />
                                        <span class="sell_num">月销量：278</span>
                                        <span class="goods_price">￥769.00</span>
                                        <del class="goods_price_del">￥1290.00</del>
                                    </a>
                                    <a href="#" class="footmark_detail_item">
                                        <img src="img/footmark1.jpg" />
                                        <span class="sell_num">月销量：278</span>
                                        <span class="goods_price">￥769.00</span>
                                        <del class="goods_price_del">￥1290.00</del>
                                    </a>
                                    <a href="#" class="footmark_detail_item">
                                        <img src="img/footmark2.jpg" />
                                        <span class="sell_num">月销量：278</span>
                                        <span class="goods_price">￥769.00</span>
                                        <del class="goods_price_del">￥1290.00</del>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--我的足迹 有内容 结束-->

                        <!--我的足迹 无内容-->
                        <!--<div class="footmark_nocontent"></div>-->
                        <!--我的足迹 无内容 结束-->

                    </div>

                </div>
            </div>

        </div>


        <!--底部-->
        <div class="footer">
            <p class="about"><a href="#">关于我们</a>|<a href="#">联系我们</a>|<a href="#">品牌入驻</a>|<a href="#">隐私条款</a>|<a href="#">网站地图</a>|<a href="#">友情链接</a>|<a href="#">用户体验提升计划</a></p>
            <p>经营性网站备案号：浙ICP备11009382号   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
            <a href="#">
                <img src="../../public/img/internetPolice.png" /></a><a href="#"><img src="../../public/img/putOnRecord.png" /></a><a href="#"><img src="../../public/img/internetBusiness.png" /></a><a href="#"><img src="../../public/img/siteCredits.png" /></a><a href="#"><img src="../../public/img/trusty.png" /></a>
        </div>
    </div>
</body>
</html>
