<!DOCTYPE html>
<html lang="en">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??buyers/public/css/global_v1.1.css,public/css/ico.css,public/wm_btn/css/style.css,ago/public/wm_block/css/style.css,public/wm_form/css/style.css" /> 
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="config.js" data-init="index"></script>
    
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_top">
                <div class="sub_head_top">
                    <!--<div class="user_data">
                        <span>欢迎加入同城生活帮：</span>
                        <span>柴逸宁</span>
                    </div>-->
                    <div class="user_login">
                        <span>欢迎加入同城生活帮：</span>
                        <a href="#">登录</a>
                        <em>|</em>
                        <a href="#">免费注册</a>
                    </div>
                    <div class="link_list">
                        <a href="#">同城生活首页</a><em>|</em>
                        <a href="#">我的同城生活</a><em>|</em>
                        <a href="#">我的购物车<b>6</b>件</a><em>|</em>
                        <a href="#">收藏夹</a><em>|</em>
                        <a href="#">分类导航</a>
                    </div>
                </div>
            </div>
            <div class="head_sub">
                <div class="head_con">
                    <h1 class="wm_logo">
                        <a href="http://www.tcsh.me/" title="同城生活" class="iconfont">&#xe624;</a>
                    </h1>
                    <div class="logo_msg">
                        <em>同城生活</em>
                        <span>HU DONG GOU WU</span>
                    </div>
                    <div class="head_search brands">
                        <div class="head_search_form">
                            <form>
                                <select>
                                    <option>品牌</option>
                                    <option>商品</option>
                                </select>
                                <input type="text" placeholder="商家后台搜索" name="brands" class="search_brands" />

                                <a href="#" class="search_btn">搜 索<i class="wm_ico magnifier1"></i></a>
                                <input type="hidden" name="search_type" />
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="head_nav">
                <div class="sub_head_nav">
                    <div class="sub_nav">
                        <ul>
                            <li class="sub_nav_item curr"><a href="#">首页</a></li>
                            <li class="sub_nav_item"><a href="#">老友记</a></li>
                            <li class="sub_nav_item hover_show_down_list"><a href="#" class="down_lis_btn">我的交易<i class="wm_ico arrow13up"></i></a>
                                <ul class="down_list">
                                    <li>
                                        <a href="#">我的购物车</a>
                                    </li>
                                    <li>
                                        <a href="#">成交记录</a>
                                    </li>
                                    <li>
                                        <a href="#">我的收藏</a>
                                    </li>
                                    <li>
                                        <a href="#">维权管理</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub_nav_item hover_show_down_list"><a href="#" class="down_lis_btn">设置<i class="wm_ico arrow13up"></i></a>
                                <ul class="down_list">
                                    <li>
                                        <a href="#">收货地址</a>
                                    </li>
                                    <li>
                                        <a href="#">编辑资料</a>
                                    </li>
                                    <li>
                                        <a href="#">密码修改</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub_nav_item end"><a href="#">站内信</a><i></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="con_sub">
                <div class="content_main">
                    <div class="op_nav">
                        <div class="op_nav_top">
                            <a href="#" class="picture">
                                <img src="img/customer_service_logo.jpg" width="150" height="150" /></a>
                            <span class="shadow"></span>
                            <a href="#" class="ui_btn ui_btn_h35yellow11"><span class="ui_btn_txt">编辑资料</span></a>
                            <a href="#" class="ui_btn ui_btn_h34brown1"><span class="ui_btn_txt">签到</span></a>
                        </div>
                        <ul class="op_nav_main">
                            <li>
                                <div class="onm_item_head">
                                    <h3>交易信息</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="http://s.tcsh.me/tcsh/view/buyers/shopping_cart/shopping_cart.html">我的购物车</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/buyers/order/order_list.html">订单管理</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/buyers/delivery_address/ad_list.html">收货地址</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/buyers/user_collection/collection_list.html">我的收藏</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/buyers/rights/rights_list.html">维权管理</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>我的影响力</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="http://s.tcsh.me/tcsh/view/buyers/single_sun/single_sun_list.html">晒单记录</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/buyers/evaluate/evaluate_list.html">评价纪录</a></li>
                                    <!--<li><a href="#">心愿面板</a></li>-->
                                    <li><a href="http://s.tcsh.me/tcsh/view/ago/spread/spread_copylink.html">推广同城生活</a></li>
                                    <li><a href="#">推手生涯</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>同城生活银行</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">账户安全</a></li>
                                    <li><a href="#">账户余额</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/buyers/wumeibank/wumeibank.html">账单明细</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/buyers/security/bind_pay_password.html">密码设置</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/buyers/wumeibank/bank_card_list.html">银行卡管理</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>老友记</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">我的老友</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="main_con">
                        <div class="box user_data">
                            <ul class="bob1 fs14">
                                <li class="floright mr20"><a href="#" class="colred">>>抒写心愿</a></li>
                                <li class="floright mr20"><a href="#" class="colred">>>我要晒单</a></li>
                                <li class="floright mr20"><a href="#" class="colred">>>推广同城生活</a></li>
                                <li>用户名：chaiyining007@qq.com</li>
                                <li>
                                    <img /></li>
                                <li><a href="#">查看特权等级 >></a></li>

                            </ul>
                            <ul>
                                <li class="floright mr20">我的基金：<span class="colred">￥999.00</span></li>
                                <li class="floright mr20">我的金币：<span class="colred">￥999.00</span></li>
                                <li><a href="#">待付款<span class="colred">6</span></a></li>
                                <li><a href="#">待确认<span class="colred">6</span></a></li>
                                <li><a href="#">待评价<span class="colred">6</span></a></li>
                                <li><a href="http://s.tcsh.me/tcsh/view/buyers/delivery_address/ad_list.html">收货地址管理</a></li>
                            </ul>
                        </div>
                        <div class="box indextab_box new_deal">
                            <a href="#" class="more">MORE</a>
                            <div class="indextab_tab">
                                <ul>
                                    <li class="curr"><a href="#" class="ui_btn ui_btn_h29red11 tab_key" data_tab_key="new_deal "><span class="ui_btn_txt">最新成交</span></a></li>
                                    <li><a href="#" class="tab_key" data_tab_key="shopping_cart"><span class="ui_btn_txt">购物车</span></a></li>
                                </ul>
                                <div class="seg"></div>
                            </div>
                            <ul class="tab_item new_deal">
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>

                            </ul>
                            <ul class="tab_item shopping_cart">
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>购物车日</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>

                            </ul>
                        </div>
                        <div class="box">
                            <div class="brands_box hover_logo2">
                                <div class="brands_head box_head">
                                    <a href="#" class="more">MORE</a>
                                    <h3>收藏的品牌</h3>
                                    <div class="seg"></div>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#" class="logo_item corner">
                                            <img src="img/logo.jpg">
                                            <span class="logo_name">李宁</span>
                                            <span class="cover cover_top"></span>
                                            <span class="cover cover_bott"></span>
                                            <span class="cover cover_left"></span>
                                            <span class="cover cover_right"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="logo_item corner">
                                            <img src="img/logo.jpg">
                                            <span class="logo_name">李宁</span>
                                            <span class="cover cover_top"></span>
                                            <span class="cover cover_bott"></span>
                                            <span class="cover cover_left"></span>
                                            <span class="cover cover_right"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="logo_item corner">
                                            <img src="img/logo.jpg">
                                            <span class="logo_name">李宁</span>
                                            <span class="cover cover_top"></span>
                                            <span class="cover cover_bott"></span>
                                            <span class="cover cover_left"></span>
                                            <span class="cover cover_right"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="logo_item corner">
                                            <img src="img/logo.jpg">
                                            <span class="logo_name">李宁</span>
                                            <span class="cover cover_top"></span>
                                            <span class="cover cover_bott"></span>
                                            <span class="cover cover_left"></span>
                                            <span class="cover cover_right"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="logo_item corner">
                                            <img src="img/logo.jpg">
                                            <span class="logo_name">李宁</span>
                                            <span class="cover cover_top"></span>
                                            <span class="cover cover_bott"></span>
                                            <span class="cover cover_left"></span>
                                            <span class="cover cover_right"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="logo_item corner">
                                            <img src="img/logo.jpg">
                                            <span class="logo_name">李宁</span>
                                            <span class="cover cover_top"></span>
                                            <span class="cover cover_bott"></span>
                                            <span class="cover cover_left"></span>
                                            <span class="cover cover_right"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="friend_share_box">
                                <div class="friend_share_head box_head">
                                    <a href="#" class="more">MORE</a>
                                    <h3>朋友分享</h3>
                                    <div class="seg"></div>
                                </div>
                                <ul class="share_list">
                                    <li>
                                        <img src="img/img1.jpg" class="user_img">
                                        <span>￥9999.00</span>
                                        <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                    </li>
                                    <li>
                                        <img src="img/img1.jpg" class="user_img">
                                        <span>￥9999.00</span>
                                        <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                    </li>
                                    <li>
                                        <img src="img/img1.jpg" class="user_img">
                                        <span>￥9999.00</span>
                                        <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                    </li>
                                    <li>
                                        <img src="img/img1.jpg" class="user_img">
                                        <span>￥9999.00</span>
                                        <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="friend_box box">
                            <div class="brands_head box_head">
                                <a href="#" class="more">MORE</a>
                                <h3>我的老友</h3>
                                <div class="seg"></div>
                            </div>
                            <ul class="friend_list">
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>姓名：柴逸宁</span>
                                    <span>级别：lv1</span>
                                    <span>金币：1000000</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>姓名：柴逸宁</span>
                                    <span>级别：lv1</span>
                                    <span>金币：1000000</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>姓名：柴逸宁</span>
                                    <span>级别：lv1</span>
                                    <span>金币：1000000</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>姓名：柴逸宁</span>
                                    <span>级别：lv1</span>
                                    <span>金币：1000000</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>姓名：柴逸宁</span>
                                    <span>级别：lv1</span>
                                    <span>金币：1000000</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>姓名：柴逸宁</span>
                                    <span>级别：lv1</span>
                                    <span>金币：1000000</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>姓名：柴逸宁</span>
                                    <span>级别：lv1</span>
                                    <span>金币：1000000</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>姓名：柴逸宁</span>
                                    <span>级别：lv1</span>
                                    <span>金币：1000000</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>姓名：柴逸宁</span>
                                    <span>级别：lv1</span>
                                    <span>金币：1000000</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>姓名：柴逸宁</span>
                                    <span>级别：lv1</span>
                                    <span>金币：1000000</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>姓名：柴逸宁</span>
                                    <span>级别：lv1</span>
                                    <span>金币：1000000</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="link_list">
                    <div class="link_item">
                        <span>服务保障</span>
                        <ul>
                            <li><a href="#">正品保障</a></li>
                            <li><a href="#">7天无条件退货</a></li>
                            <li><a href="#">7*15小时服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>购物指南</span>
                        <ul>
                            <li><a href="#">导购演示</a></li>
                            <li><a href="#">订单操作</a></li>
                            <li><a href="#">用户指南</a></li>
                            <li><a href="#">账号管理</a></li>
                            <li><a href="#">购物参考</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>支付方式</span>
                        <ul>
                            <li><a href="#">网银支付币</a></li>
                            <li><a href="#">支付平台</a></li>
                            <li><a href="#">信用卡</a></li>
                            <li><a href="#">同城生活金币</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>配送方式</span>
                        <ul>
                            <li><a href="#">配送服务</a></li>
                            <li><a href="#">配送范围和运费</a></li>
                            <li><a href="#">验货与签收</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>售后服务</span>
                        <ul>
                            <li><a href="#">退换货政策</a></li>
                            <li><a href="#">退换货流程</a></li>
                            <li><a href="#">退款方式和时效</a></li>
                        </ul>
                    </div>
                    <div class="link_item end">
                        <span>同城生活模式</span>
                        <ul>
                            <li><a href="#">聚合式品牌特卖</a></li>
                            <li><a href="#">同城生活成长基金</a></li>
                            <li><a href="#">推手规则</a></li>
                        </ul>
                    </div>
                </div>
                <div class="put_on_record">
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                    <a href="#">
                        <img src="../../public/img/internetPolice.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/putOnRecord.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/internetBusiness.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/siteCredits.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/trusty.png" />
                    </a>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
