<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>退款</title>
<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??buyers/public/css/global.css,public/css/ico.css,public/wm_btn/css/style.css" /> 
<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="../public/css/global.css">
<script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
<script type="text/javascript" src="http://s.tcsh.me/tcsh/view/finance/refund/config.js" data-init="refund"></script>

<script type="text/javascript">
var global_setting={}
</script>
</head>
<body class="fina_bg">
<div id="page">
	<div class="fina_cash">
    	<div class="fina_head">
        	<div class="fina_head_bd">
                <div class="fina_head_con">
                    <a href="#"><img src="../public/img/logo.jpg" width="570" height="94" /></a>
                    <div class="admin_infor">
                        <span class="wm_ico admin"><span class="admin_role"><a href="#">余中华</a></span></span><a href="#" class="admin_quit">退出</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="fina_main clearfix">
        	<div class="fina_main_left">
                <div class="fina_left_con">
                    <h2><img src="../public/img/h2.jpg" /></h2>
                    <ul>
                        <li class="fina_left_item"><a href="#"><span class="iconfont">&#xf000b;</span>商户提现管理</a></li>
                        <li class="fina_left_item"><a href="#"><span class="iconfont">&#xf00ee;</span>商户订单退款</a></li>
                        <li class="fina_left_item fina_left_itemCur"><a href="#" class="itemCur_bg"><span></span>支付宝</a></li>
                        <li class="fina_left_item fina_left_itemCur"><a href="#"><span></span>工商银行</a></li>
                        <li class="fina_left_item fina_left_itemCur"><a href="#"><span></span>网上银行</a></li>
                        <li class="fina_left_item"><a href="#"><span class="iconfont">&#xf00be;</span>商户订单管理</a></li>
                    </ul>
                </div>
            </div>
            <div class="fina_main_right">
            	<div class="fina_right_con">
                	<div class="refund_detail">
                    	<h2>售后操作</h2>
                        <ul>
                        	<li class="refund_detail_item">
                            	<span class="refund_detail_itemTitle">处理状态：</span><span class="refund_detail_itemInfor">确定退款</span><span class="refund_detail_itemTitle">退款状态：</span><span class="refund_detail_itemInfor Corg">待处理</span>
                            </li>
                            <li class="refund_detail_item">
                            	<span class="refund_detail_itemTitle">物流公司：</span><span class="refund_detail_itemInfor">申通</span><span class="refund_detail_itemTitle">运单号：</span><span class="refund_detail_itemInfor Corg">3522123216455</span>
                            </li>
                            <li class="refund_detail_item">
                            	<span class="refund_detail_itemTitle">退货地址：</span><span>同城生活络售后服务中心，0571-2833666，浙江杭州拱墅区祥园路33号5楼，310011</span>
                            </li>
                            <li class="refund_detail_item">
                            	<span class="refund_detail_itemTitle">处理状态：</span><span class="refund_detail_itemInfor">确定退款</span><span class="refund_detail_itemTitle">退款状态：</span><span class="refund_detail_itemInfor Corg">待处理</span>
                            </li>
                            <li class="refund_detail_item">
                            	<span class="refund_detail_itemTitle">物流公司：</span><span class="refund_detail_itemInfor">申通</span><span class="refund_detail_itemTitle">运单号：</span><span class="refund_detail_itemInfor Corg">3522123216455</span>
                            </li>

                            <li class="refund_detail_item">
                            	<span class="refund_detail_itemTitle">处理状态：</span><span class="refund_detail_itemInfor">确定退款</span><span class="refund_detail_itemTitle">退款状态：</span><span class="refund_detail_itemInfor Corg">待处理</span>
                            </li>
                            <li class="refund_detail_item">
                            	<span class="refund_detail_itemTitle">物流公司：</span><span class="refund_detail_itemInfor">申通</span><span class="refund_detail_itemTitle">运单号：</span><span class="refund_detail_itemInfor Corg">3522123216455</span>
                            </li>
                            <li class="refund_detail_item">
                            	<span class="refund_detail_itemTitle">退货地址：</span><span>同城生活络售后服务中心，0571-2833666，浙江杭州拱墅区祥园路33号5楼，310011</span>
                            </li>
                        </ul>
                    </div>
              	</div>
            </div>
        </div>
        <div class="foot">
        	<p>经营性网站备案号：浙B2-20080103 客服电话：400-668-0099 Copyright © 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
        </div>
    </div>
</div>
</body>
</html>
