<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>退款</title>
<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??buyers/public/css/global.css,public/css/ico.css,public/wm_btn/css/style.css" /> 
<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="../public/css/global.css">
<script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
<script type="text/javascript" src="http://s.tcsh.me/tcsh/view/finance/refund/config.js" data-init="refund"></script>

<script type="text/javascript">
var global_setting={}
</script>
</head>
<body class="fina_bg">
<div id="page">
	<div class="fina_cash">
    	<div class="fina_head">
        	<div class="fina_head_bd">
                <div class="fina_head_con">
                    <a href="#"><img src="../public/img/logo.jpg" width="570" height="94" /></a>
                    <div class="admin_infor">
                        <span class="wm_ico admin"><span class="admin_role"><a href="#">余中华</a></span></span><a href="#" class="admin_quit">退出</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="fina_main clearfix">
        	<div class="fina_main_left">
                <div class="fina_left_con">
                    <h2><img src="../public/img/h2.jpg" /></h2>
                    <ul>
                        <li class="fina_left_item"><a href="#"><span class="iconfont">&#xf000b;</span>商户提现管理</a></li>
                        <li class="fina_left_item"><a href="#"><span class="iconfont">&#xf00ee;</span>商户订单退款</a></li>
                        <li class="fina_left_item fina_left_itemCur"><a href="#" class="itemCur_bg"><span></span>支付宝</a></li>
                        <li class="fina_left_item fina_left_itemCur"><a href="#"><span></span>工商银行</a></li>
                        <li class="fina_left_item fina_left_itemCur"><a href="#"><span></span>网上银行</a></li>
                        <li class="fina_left_item"><a href="#"><span class="iconfont">&#xf00be;</span>商户订单管理</a></li>
                    </ul>
                </div>
            </div>
            <div class="fina_main_right">
            	<div class="fina_right_con">
                	<form action="" class="fina_form">
                        <ul class="cash_active cash_active1 cash_pst">
                        	<li class="cash_active_item">
                            	<label for="">关键字：</label><input type="text" class="cash_txt3" placeholder="同城生活络科技有限公司" />
                                <label for="cash_st">查询类型：</label>
                                <select name="" id="cash_st" class="cash_st">
                                	<option value="">对象</option>
                                    <option value="">商家</option>
                                    <option value="">卖家</option>
                                </select>
                                <select name="" id="cash_st1" class="cash_st">
                                	<option value="">退款额度</option>
                                    <option value="">部分退款</option>
                                    <option value="">全额退款</option>
                                </select>
                            </li>
                            <li class="cash_active_item">
                            	<label for="">日期：</label>
                                <input type="text" class="cash_data" placeholder="年月日" />
                              <select name="" id="" class="cash_time">
                                	<option value="">01</option>
                                    <option value="">02</option>
                                    <option value="">03</option>
                                    <option value="">04</option>
                                    <option value="">05</option>
                                    <option value="">06</option>
                                    <option value="">07</option>
                                    <option value="" selected>08</option>
                                    <option value="">09</option>
                                    <option value="">10</option>
                                    <option value="">11</option>
                                    <option value="">12</option>
                                    <option value="">13</option>
                                    <option value="">14</option>
                                    <option value="">15</option>
                                    <option value="">16</option>
                                    <option value="">17</option>
                                    <option value="">18</option>
                                    <option value="">19</option>
                                    <option value="">20</option>
                                    <option value="">21</option>
                                    <option value="">22</option>
                                    <option value="">23</option>
                                    <option value="">24</option>
                                </select>点
                              <select name="" id="" class="cash_time">
                                	<option value="">01</option>
                                    <option value="">02</option>
                                    <option value="">03</option>
                                    <option value="">04</option>
                                    <option value="">05</option>
                                    <option value="">06</option>
                                    <option value="">07</option>
                                    <option value="">08</option>
                                    <option value="">09</option>
                                    <option value="">10</option>
                                    <option value="">11</option>
                                    <option value="">12</option>
                                    <option value="">13</option>
                                    <option value="">14</option>
                                    <option value="">15</option>
                                    <option value="">16</option>
                                    <option value="">17</option>
                                    <option value="">18</option>
                                    <option value="">19</option>
                                    <option value="">20</option>
                                    <option value="">21</option>
                                    <option value="">22</option>
                                    <option value="">23</option>
                                    <option value="">24</option>
                                    <option value="">25</option>
                                    <option value="">26</option>
                                    <option value="">27</option>
                                    <option value="">28</option>
                                    <option value="">29</option>
                                    <option value="" selected>30</option>
                                    <option value="">31</option>
                                    <option value="">32</option>
                                    <option value="">33</option>
                                    <option value="">34</option>
                                    <option value="">35</option>
                                    <option value="">36</option>
                                    <option value="">37</option>
                                    <option value="">38</option>
                                    <option value="">39</option>
                                    <option value="">40</option>
                                    <option value="">41</option>
                                    <option value="">42</option>
                                    <option value="">43</option>
                                    <option value="">44</option>
                                    <option value="">45</option>
                                    <option value="">46</option>
                                    <option value="">47</option>
                                    <option value="">48</option>
                                    <option value="">49</option>
                                    <option value="">50</option>
                                    <option value="">51</option>
                                    <option value="">52</option>
                                    <option value="">53</option>
                                    <option value="">54</option>
                                    <option value="">55</option>
                                    <option value="">56</option>
                                    <option value="">57</option>
                                    <option value="">58</option>
                                    <option value="">59</option>
                                    <option value="">60</option>
                                </select>分 至 
                                <input type="text" class="cash_data" placeholder="年月日" />
                                <select name="" id="" class="cash_time">
                                	<option value="">01</option>
                                    <option value="">02</option>
                                    <option value="">03</option>
                                    <option value="">04</option>
                                    <option value="">05</option>
                                    <option value="">06</option>
                                    <option value="">07</option>
                                    <option value="">08</option>
                                    <option value="">09</option>
                                    <option value="">10</option>
                                    <option value="">11</option>
                                    <option value="">12</option>
                                    <option value="">13</option>
                                    <option value="">14</option>
                                    <option value="">15</option>
                                    <option value="">16</option>
                                    <option value="" selected>17</option>
                                    <option value="">18</option>
                                    <option value="">19</option>
                                    <option value="">20</option>
                                    <option value="">21</option>
                                    <option value="">22</option>
                                    <option value="">23</option>
                                    <option value="">24</option>
                                </select>点
                                <select name="" id="" class="cash_time">
                                	<option value="">01</option>
                                    <option value="">02</option>
                                    <option value="">03</option>
                                    <option value="">04</option>
                                    <option value="">05</option>
                                    <option value="">06</option>
                                    <option value="">07</option>
                                    <option value="">08</option>
                                    <option value="">09</option>
                                    <option value="">10</option>
                                    <option value="">11</option>
                                    <option value="">12</option>
                                    <option value="">13</option>
                                    <option value="">14</option>
                                    <option value="">15</option>
                                    <option value="">16</option>
                                    <option value="">17</option>
                                    <option value="">18</option>
                                    <option value="">19</option>
                                    <option value="">20</option>
                                    <option value="">21</option>
                                    <option value="">22</option>
                                    <option value="">23</option>
                                    <option value="">24</option>
                                    <option value="">25</option>
                                    <option value="">26</option>
                                    <option value="">27</option>
                                    <option value="">28</option>
                                    <option value="">29</option>
                                    <option value="" selected>30</option>
                                    <option value="">31</option>
                                    <option value="">32</option>
                                    <option value="">33</option>
                                    <option value="">34</option>
                                    <option value="">35</option>
                                    <option value="">36</option>
                                    <option value="">37</option>
                                    <option value="">38</option>
                                    <option value="">39</option>
                                    <option value="">40</option>
                                    <option value="">41</option>
                                    <option value="">42</option>
                                    <option value="">43</option>
                                    <option value="">44</option>
                                    <option value="">45</option>
                                    <option value="">46</option>
                                    <option value="">47</option>
                                    <option value="">48</option>
                                    <option value="">49</option>
                                    <option value="">50</option>
                                    <option value="">51</option>
                                    <option value="">52</option>
                                    <option value="">53</option>
                                    <option value="">54</option>
                                    <option value="">55</option>
                                    <option value="">56</option>
                                    <option value="">57</option>
                                    <option value="">58</option>
                                    <option value="">59</option>
                                    <option value="">60</option>
                                </select>分
                          </li>
                          <input type="submit" class="cash_sub cash_sub1" value="搜索" />
                        </ul>
                        <div class="cash_content">
                            <table width="100%" border="0" class="cash_table" cellpadding="0" cellspacing="0">
      <tr class="cash_title">
        <td width="4%" align="center">&nbsp;</td>
        <td width="9%" align="center">申请时间</td>
        <td width="13%" align="center">退款编号</td>
        <td width="27%" align="center">商品名称</td>
        <td width="10%" align="center">交易金额</td>
        <td width="7%" align="center">退款金额</td>
        <td width="9%" align="center">退款方式</td>
        <td width="8%" align="center">买家</td>
        <td width="8%" align="center">处理状态</td>
        <td width="5%" align="center">管理</td>
      </tr>
      <tr class="cash_table_bd">
        <td height="30" colspan="13" align="left">
            <form action="" class="cash_form">
                <input type="checkbox" class="cash_chk" id="cash_chk" /><label for="cash_chk" class="chk_all">全选</label>
                <input type="submit" class="cash_sub2" value="批量确认退款" />
                <input type="hidden" class="cash_hid" id="cash_hid" />
            </form>
        </td>
        </tr>
      <tr class="cash_table_bd" data_id="0">
        <td align="center"><form name="form1" method="post" action="">
          <input type="checkbox" name="checkbox" id="checkbox" class="chk_item">
          <label for="checkbox"></label>
        </form></td>
        <td height="50" align="center">2014-04-22</td>
        <td height="50" align="center">BH244343452456</td>
        <td height="50" align="left"><p>办公室午睡毯珊瑚绒蓝色时尚低圆领羊绒衫珊瑚绒圆领办公室午睡毯珊瑚绒蓝色时尚低圆领羊绒衫珊</p>
          <p class="lightColor">颜色：黑色  尺码：男L</p></td>
        <td height="50" align="center">￥9000.00</td>
        <td height="50" align="center" class="Corg">￥9000.00</td>
        <td height="50" align="center">工商银行</td>
        <td height="50" align="center">张三</td>
        <td height="50" align="center" class="Corg">未处理</td>
        <td height="50" align="center"><a href="#" class="refund_enter">进入</a></td>
      </tr>
      <tr class="cash_table_bd" data_id="1">
        <td align="center"><form name="form1" method="post" action="">
          <input type="checkbox" name="checkbox" id="checkbox" class="chk_item">
          <label for="checkbox"></label>
        </form></td>
        <td height="50" align="center">2014-04-22</td>
        <td height="50" align="center">BH244343452456</td>
        <td height="50" align="left"><p>办公室午睡毯珊瑚绒蓝色时尚低圆领羊绒衫珊瑚绒圆领办公室午睡毯珊瑚绒蓝色时尚低圆领羊绒衫珊</p>
          <p class="lightColor">颜色：黑色  尺码：男L</p></td>
        <td height="50" align="center">￥9000.00</td>
        <td height="50" align="center" class="Corg">￥9000.00</td>
        <td height="50" align="center">工商银行</td>
        <td height="50" align="center">张三</td>
        <td height="50" align="center" class="Corg">未处理</td>
        <td height="50" align="center"><a href="#" class="refund_enter">进入</a></td>
      </tr>
      <tr class="cash_table_bd" data_id="2">
        <td align="center"><form name="form1" method="post" action="">
          <input type="checkbox" name="checkbox2" id="checkbox2" class="chk_item">
          <label for="checkbox2"></label>
        </form></td>
        <td height="50" align="center">2014-04-22</td>
        <td height="50" align="center">BH244343452456</td>
        <td height="50" align="left"><p>办公室午睡毯珊瑚绒蓝色时尚低圆领羊绒衫珊瑚绒圆领</p>
          <p class="lightColor">颜色：黑色  尺码：男L</p></td>
        <td height="50" align="center">￥9000.00</td>
        <td height="50" align="center" class="Corg">￥9000.00</td>
        <td height="50" align="center">支付宝</td>
        <td height="50" align="center">余中华</td>
        <td height="50" align="center" class="Corg">未处理</td>
        <td height="50" align="center"><a href="#" class="refund_enter">进入</a></td>
      </tr>
      <tr data_id="3">
        <td align="center"><form name="form1" method="post" action="">
          <input type="checkbox" name="checkbox3" id="checkbox3" class="chk_item">
          <label for="checkbox3"></label>
        </form></td>
        <td height="50" align="center">2014-04-22</td>
        <td height="50" align="center">BH244343452456</td>
        <td height="50" align="left"><p>办公室午睡毯珊瑚绒蓝色时尚低圆领羊绒衫珊瑚绒圆领</p>
          <p class="lightColor">颜色：黑色  尺码：男L</p></td>
        <td height="50" align="center">￥9000.00</td>
        <td height="50" align="center" class="Corg">￥9000.00</td>
        <td height="50" align="center">工商银行</td>
        <td height="50" align="center">余中华</td>
        <td height="50" align="center">已处理</td>
        <td height="50" align="center"><a href="#" class="refund_enter">进入</a></td>
      </tr>
    </table>
                            <div class="wmpage"></div>
                            <div class="btn_active">
                                <input type="button" data_form_action="www.baidu.com" class="derive_btn" value="导出未处理报表" />
                                <input type="button" data_form_action="www.baidu.com" formtarget="_blank" class="derive_btn" value="导出已处理报表" />
                            
                         </div>
                     </form>
               	  </div>
              </div>
            </div>
        </div>
        <div class="foot">
        	<p>经营性网站备案号：浙B2-20080103 客服电话：400-668-0099 Copyright © 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
        </div>
    </div>
</div>
</body>
</html>
