.Corg{
	color:#ff6600;
}
tr td.Corg{
	color:#ff6600;
}
.fina_right_con{
	margin:40px 20px 20px 30px;
}
.fina_form input,.fina_form select{
	vertical-align:middle;
	height:22px;
	line-height:22px;
}
.cash_infor{
	border-bottom:1px solid #ffffff;
	padding-bottom:60px;
}
.cash_pst{
	position:relative;
}
.cash_infor_item{
	float:left;
	color:#323232;
	font-size:14px;
	margin-right:20px;
}
.cash_infor_item .cash_txt{
	width:90px;
	height:25px;
	line-height:25px;
	border:none;
	background:#ebf0f5;
	color:#ff6600;
	font-weight:bold;
	padding-left:10px;
}
.cash_infor_item .cash_txt1{
	border:1px solid #ccc;
	background:#FFF;
}
.cash_infor_item span.dis{
	display:none;
}
.cash_pst .cash_sub{
	position:absolute;
	right:20px;
	top:0;
	width:60px;
	height:25px;
	line-height:25px;
	text-align:center;
}
.cash_pst .cash_sub_sure{
	position:absolute;
	right:20px;
	top:40px;
	width:60px;
	height:25px;
	line-height:25px;
	text-align:center;
}
.cash_pst .cash_sub1{
	top:40px;
	_right:40px!important;
}
.cash_active{
	border-top:1px solid #c9d0d7;
	padding:15px 0px 30px 0;
}
.cash_active1{
	border-top:0;
	padding-top:0;
}
.cash_active_item{
	padding-top:15px;
}
.cash_active_item label{
	color:#323232;
	font-size:14px;
	display:inline-block;
	width:80px;
	text-align:right;
}
.cash_txt3{
	width:140px;
	padding:0 10px;	
	height:22px;
	line-height:22px;
	color:#787878;
	margin-right:15px;
	border:1px solid #b4b4b4;
}
.cash_st{
	width:120px;
	height:22px;
	line-height:22px;
	border:1px solid #b4b4b4;
	margin-right:15px;
}
.cash_data{
	height:25px;
	line-height:25px;
	width:100px;
	padding-left:10px;
}
.cash_table tr,.cash_table td{
	padding:10px;
	color:#535353;
}
.cash_table tr.cash_title,.cash_table tr.cash_title td{
	background:#428cf1;
	color:#FFF;
	font-weight:bold;
}
.cash_table tr.cash_title:hover{
	background:#428cf1;
}
.cash_table tr:hover{
	background:#f5f8fa;
}
.cash_table tr.cash_title td{
	border-bottom:1px solid #1369c0;
}
.cash_table tr.cash_table_bd td{
	border-bottom:1px dashed #c9ced2;
}

.cash_content .wmpage{
	text-align:right;
}
.cash_content .wmpage a{
	color:#828282;
}
.cash_content .wmpage b{
	background:#428cf1;
	color:#FFF;
}
.btn_active .derive_btn{
	width:120px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#272727;
	margin:20px 20px 30px 0;
}
.foot{
	border-top:1px solid #2c8def;
	background:#1369c0;
	text-align:center;
	padding:20px 0 30px 0;
}
.foot p{
	color:#9ac0e6;
}

/*退款*/
.cash_table input[type='checkbox']{
	vertical-align:middle;
}
.cash_time{
	width:60px;
	height:25px;
	line-height:25px;
	padding:0 5px;
	margin:0 5px;
}
.cash_form .chk_all{
	padding:0 30px 0 10px;
}
.cash_form .cash_sub2{
	width:100px;
	height:26px;
	line-height:26px;
	text-align:center;
	color:#323232;
}
.cash_table a.refund_enter,.cash_table a.refund_enter:link,.cash_table a.refund_enter:active,.cash_table a.refund_enter:visited{
	color:#428cf1;
}
.cash_table .lightColor{
	color:#787878;
	padding-top:6px;
}

/*退款明细，售后操作*/
.refund_detail{
	padding:0 0 100px 20px;
}
.refund_detail h2{
	color:#323232;
	padding:10px 0;
}
.refund_detail_item{
	height:34px;
	line-height:34px;
}
.refund_detail_item span{
	display:inline-block;
	color:#535353;
}
.refund_detail_item span.refund_detail_itemTitle{
	width:60px;
	text-align:right;
}
.refund_detail_item span.refund_detail_itemInfor{
	width:140px;
	padding-left:5px;
}
.refund_detail_item .refund_detail_itemSt{
	width:360px;
	padding:4px 0;
	font-size:12px;
	color:#787878;
}
.refund_detail_item .refund_detail_itemSt option{
	padding:10px 0;
}