<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>收藏夹 收藏店铺</title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??buyers/public/css/global_v3.css,public/css/ico.css,public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../../model/wmpage/css/style.css" />
    <link rel="stylesheet" href="css/style_v2.css">
    <script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="../../../model/lib/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/buyers/user_collection/config.js" data-init="collection_shop_v2"></script>
    <script type="text/javascript">
        var global_setting = {};
        global_setting.current = { page: {} };
        global_setting.current.page.pageindex = 1;
        global_setting.current.page.totalcount = 29;
        global_setting.current.page.pagesize = 15


    </script>

</head>
<body>
    <div id="page">
        <!--头部-->
         <div class="head">
            <div class="head_top"></div>
            <div class="sns_head">
                <ul class="sns_head_con clearfix">
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item"><b class="">我的互动</b></a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">首页</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的生态圈</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">账户管理</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的主页</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">进击的社长</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="buyer_con clearfix left_nav_skin2">
            <div class="main_nav">
                <dl>
                    <dt><i class="iconfont">&#xe628;</i>管理公社</dt>
                    <dd><a href="#">成员管理</a></dd>
                    <dd><a href="#">黑名单</a></dd>
                    <dd><a href="#">商品推荐</a></dd>
                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe628;</i>发起活动</dt>

                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe628;</i>活动管理</dt>
                    <dd><a href="#">活动明细</a></dd>
                    <dd><a href="#">江湖令</a></dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd><a href="#">基本设置</a></dd>
                    <dd><a href="#">解散公社</a></dd>
                    <dd><a href="#">转让公社</a></dd>
                </dl>
            </div>
            <div class="left_nav_skin2_right">
                <div class="favorite_goods">
                    <div class="fav_kinds clearfix">
                        <div class="all_kinds"><a href="#">全部分类<span class="kinds_num">8</span></a></div>
                        <div class="kinds_detail already_kinds">
                            <a href="#">女装<span class="kinds_num">8</span></a>
                            <a href="#">男装<span class="kinds_num">8</span></a>
                        </div>
                        <div class="kinds_detail new_kinds">
                            <a href="#" class="actived" data_id="1">
                            	<span class="myKinds">我藏</span><span class="kinds_num">8</span>
                                <span class="iconfont editor_mod">&#xf014f;</span>
                                <span class="iconfont editor_del">&#xf013f;</span>
                            </a>
                            <a href="#">无标签<span class="kinds_num">8</span></a>
                        </div>
                        <a href="#" class="kinds_more">更多<span class="iconfont">&#xf0005;</span></a>
                    </div>
                    <div class="select_all">
                        <input type="checkbox" class="chk_all" name="chk" id="chk"><label for="chk">全选</label>
                        <a href="#" class="del_business_list"><span class="iconfont">&#xf013f;</span>删除</a>
                        <a href="#" class="setkind_business_list"><span class="iconfont">&#xf00c6;</span>分类</a>
                    </div>
                    <div class="favorite_goods_list">
                        <div class="favorite_shop_con clearfix" data_commodityid="1">
                            <div class="favorite_shop_intr">
                                <div class="favorite_shop_do">
                                    <input type="checkbox" class="shop_chk" />
                                    <a href="#" class="iconfont select_kinds">&#xf00c6;</a>
                                    <a href="#" class="iconfont del_business">&#xf013f;</a>
                                </div>
                                <div class="favorite_shop_name">
                                    <a href="#" class="favorite_shop_photo">
                                        <img src="img/customer_service_logo.jpg" />
                                    </a>
                                    <ul class="favorite_shop_nameItem">
                                        <li class="favorite_shop_title"><a href="#">依莲轩</a></li>
                                        <li class="favorite_shop_des"><a href="#">yilianxuan</a><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=295032480&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:295032480:52" alt="点击这里给我发消息" title="点击这里给我发消息" /></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="shop_content">
                                <div class="week_new">本周上新<span>(0)</span></div>
                                <div class="shop_detail">
                                    <div class="shop_detail_list">
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                    </div>
                                    <!--<div class="shop_detail_btn">
                                        <a href="#" class="iconfont">&#xf0004;</a>
                                        <a href="#" class="iconfont">&#xf0005;</a>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="favorite_shop_con clearfix" data_commodityid="2">
                            <div class="favorite_shop_intr">
                                <div class="favorite_shop_do">
                                    <input type="checkbox" class="shop_chk" />
                                    <a href="#" class="iconfont select_kinds">&#xf00c6;</a>
                                    <a href="#" class="iconfont del_business">&#xf013f;</a>
                                </div>
                                <div class="favorite_shop_name">
                                    <a href="#" class="favorite_shop_photo">
                                        <img src="img/customer_service_logo.jpg" />
                                    </a>
                                    <ul class="favorite_shop_nameItem">
                                        <li class="favorite_shop_title"><a href="#">依莲轩</a></li>
                                        <li class="favorite_shop_des"><a href="#">yilianxuan</a><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=295032480&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:295032480:52" alt="点击这里给我发消息" title="点击这里给我发消息" /></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="shop_content">
                                <div class="week_new">本周上新<span>(0)</span></div>
                                <div class="shop_detail">
                                    <div class="shop_detail_list">
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                    </div>
                                    <!--<div class="shop_detail_btn">
                                        <a href="#" class="iconfont">&#xf0004;</a>
                                        <a href="#" class="iconfont">&#xf0005;</a>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="favorite_shop_con clearfix" data_commodityid="3">
                            <div class="favorite_shop_intr">
                                <div class="favorite_shop_do">
                                    <input type="checkbox" class="shop_chk" />
                                    <a href="#" class="iconfont select_kinds">&#xf00c6;</a>
                                    <a href="#" class="iconfont del_business">&#xf013f;</a>
                                </div>
                                <div class="favorite_shop_name">
                                    <a href="#" class="favorite_shop_photo">
                                        <img src="img/customer_service_logo.jpg" />
                                    </a>
                                    <ul class="favorite_shop_nameItem">
                                        <li class="favorite_shop_title"><a href="#">依莲轩</a></li>
                                        <li class="favorite_shop_des"><a href="#">yilianxuan</a><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=295032480&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:295032480:52" alt="点击这里给我发消息" title="点击这里给我发消息" /></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="shop_content">
                                <div class="week_new">本周上新<span>(0)</span></div>
                                <div class="shop_detail">
                                    <div class="shop_detail_list">
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                        <a href="#">
                                            <img src="img/goods1.jpg" />￥69.00</a>
                                    </div>
                                    <!--<div class="shop_detail_btn">
                                        <a href="#" class="iconfont">&#xf0004;</a>
                                        <a href="#" class="iconfont">&#xf0005;</a>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--底部-->
        <div class="footer">
            <p class="about"><a href="#">关于我们</a>|<a href="#">联系我们</a>|<a href="#">品牌入驻</a>|<a href="#">隐私条款</a>|<a href="#">网站地图</a>|<a href="#">友情链接</a>|<a href="#">用户体验提升计划</a></p>
            <p>经营性网站备案号：浙ICP备11009382号   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
            <a href="#">
                <img src="../../public/img/internetPolice.png" /></a><a href="#"><img src="../../public/img/putOnRecord.png" /></a><a href="#"><img src="../../public/img/internetBusiness.png" /></a><a href="#"><img src="../../public/img/siteCredits.png" /></a><a href="#"><img src="../../public/img/trusty.png" /></a>
        </div>
    </div>
</body>
</html>
