<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../public/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../../public/css/ico.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../../model/wmpage/css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="config.js" data-init="shopping_cart"></script>
    <style>
       
    </style>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_top">
                <div class="sub_head_top">
                    <div class="user_data">
                        <span>欢迎加入同城生活帮：</span>
                        <span>柴逸宁</span>
                    </div>
                    <div class="user_login">
                        <span>欢迎加入同城生活帮：</span>
                        <a href="#">登录</a>
                        <em>|</em>
                        <a href="#">免费注册</a>
                    </div>
                    <div class="link_list">
                        <a href="#">订单管理</a><em>|</em>
                        <a href="#">心愿面板</a><em>|</em>
                        <a href="#">推广同城生活</a><em>|</em>
                        <a href="#">成长基金</a><em>|</em>
                        <a href="#">帮助中心</a>
                    </div>
                    <div class="follow_wm">
                        <a href="#"><i class="wm_ico heart1"></i>关注同城生活</a>
                    </div>
                </div>

            </div>
            <div class="head_sub">
                <div class="head_con">
                    <div class="wm_logo">
                        <img src="../../public/img/wm_logo.png" width="180" height="80" />
                    </div>
                    <div class="logo_msg">
                        <span class="ui_btn ui_btn_h22red10"><span class="ui_btn_txt"><i>嗅嗅品牌的味道</i></span></span>
                        <em class="wm_ico triangle1">&nbsp;</em>
                    </div>
                    <div class="head_search brands">
                        <div class="head_search_form">
                            <form>
                                <select>
                                    <option>品牌</option>
                                    <option>商品</option>
                                </select>
                                <input type="text" placeholder="商家后台搜索" name="brands" class="search_brands" />

                                <a href="#" class="search_btn">搜 索<i class="wm_ico magnifier1"></i></a>
                                <input type="hidden" name="search_type" />
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="head_nav">
                <div class="sub_head_nav">
                    <div class="sub_nav">
                        <ul>
                            <li class="sub_nav_item curr"><a href="#">首页</a><em class="wm_ico dashed2"></em></li>
                            <li class="sub_nav_item"><a href="#">老友记</a><em class="wm_ico dashed2"></em></li>
                            <li class="sub_nav_item"><a href="#">我的交易</a><em class="wm_ico dashed2"></em></li>
                            <li class="sub_nav_item"><a href="#">设置</a><em class="wm_ico dashed2"></em></li>
                            <li class="sub_nav_item end"><a href="#">站内信</a><em class="wm_ico dashed2"></em><i></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="con_sub">
                <div class="content_main ">
                    <!--<div class="op_nav">
                        <div class="op_nav_top">
                            <a href="#" class="picture">
                                <img src="img/customer_service_logo.jpg" width="150" height="150" /></a>
                            <span class="shadow"></span>
                            <a href="#" class="ui_btn ui_btn_h35yellow11"><span class="ui_btn_txt">编辑资料</span></a>
                            <a href="#" class="ui_btn ui_btn_h34brown1"><span class="ui_btn_txt">签到</span></a>
                        </div>
                        <ul class="op_nav_main">
                            <li>
                                <div class="onm_item_head">
                                    <h3>交易信息</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li class="curr"><a href="#">我的购物车</a></li>
                                    <li><a href="#">订单管理</a></li>
                                    <li><a href="#">我的品牌</a></li>
                                    <li><a href="#">收货地址</a></li>
                                    <li><a href="#">维权管理</a></li>
                                    <li><a href="#">我的收藏</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>我的影响力</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">晒单记录</a></li>
                                    <li><a href="#">评价纪录</a></li>
                                    <li><a href="#">心愿面板</a></li>
                                    <li><a href="#">推广同城生活</a></li>
                                    <li><a href="#">推手生涯</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>同城生活银行</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">密码设置</a></li>
                                    <li><a href="#">账户余额</a></li>
                                    <li><a href="#">账单明细</a></li>
                                    <li><a href="#">同城生活金币</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>老友记</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">我的老友</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>-->
                    <div class="main_con w100per">
                        <div class="box botred">
                            <div class="box_head prl30">
                                <h3>我的购物车</h3>
                                <div class="process_box">
                                    <span class="ui_btn ui_btn_h47yellow14"><span class="ui_btn_txt"><span class="index">1</span><b class="wm_ico arrow11"></b><span>查看购物车</span></span></span>
                                    <span class="ui_btn ui_btn_h47gray14"><span class="ui_btn_txt"><span class="index">2</span><b class="wm_ico arrow10"></b><span>确认订单信息</span></span></span>
                                    <span class="ui_btn ui_btn_h47gray14"><span class="ui_btn_txt"><span class="index">3</span><b class="wm_ico arrow10"></b><span>付款到公共账号</span></span></span>
                                    <span class="ui_btn ui_btn_h47gray14"><span class="ui_btn_txt"><span class="index">4</span><b class="wm_ico arrow10"></b><span>确认收货</span></span></span>
                                    <span class="ui_btn ui_btn_h47gray14"><span class="ui_btn_txt"><span class="index">5</span><b class="wm_ico arrow10"></b><span>评价</span></span></span>
                                </div>
                                <div class="sc_data_box">
                                    <div class="comm_sum">
                                        购物车状态：<span class="pipes_bg"><span class="pipes_water" style="width: 0"></span></span>10/50
                                    </div>
                                    <div class="money_sum">
                                        商品总价：<b class="pay_money_sum"></b>（含运费）
                                    </div>
                                    <div class="btns">
                                        <a href="#" class="ui_btn ui_btn_h35yellow9 go_order_confrim"><span class="ui_btn_txt">结算 >></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box shopping_cart_box">
                            <div class="thead">
                                <span>
                                    <input type="checkbox" class="allchk chk" id="allchk1" checked="checked" /><label for="allchk1">全选</label></span>
                                <span class="w160">商品</span>
                                <span>同城生活金币</span>
                                <span>单价（元）</span>
                                <span>数量</span>
                                <span class="w95">优惠</span>
                                <span class="w95">小计</span>
                                <span class="w95">操作</span>
                            </div>
                            <ul class="shopping_cart_list" page_index="5" page_sum="600">
                                <li class="shopping_cart_item clearfix" business_id="259758" afterward_pay="t">
                                    <div class="shopping_cart_item_head">
                                        <a href="#" class="ui_btn ui_btn_h27gray8 collection"><span class="ui_btn_txt">收藏卖场</span></a>
                                        <span>
                                            <input type="checkbox" class="brands_chk chk" id="brands_547896" checked="checked" /><label for="brands_547896">品牌</label>：<a href="#"><b>七匹狼</b></a></span>
                                        <span>卖场：<a href="#"><b>七匹狼免费甩</b></a></span>
                                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=130016001&site=qq&menu=yes" class="link_qq">
                                            <img bshopping_cart="0" src="http://wpa.qq.com/pa?p=2:130016001:51" alt="点击这里给我发消息" title="点击这里给我发消息" /></a>
                                    </div>
                                    <table class="comm_list" bshopping_cart="0" cellspacing="0">
                                        <tr class="end comm_item" comm_id="7758258" business_id="259758" pay_money="99.99">
                                            <td class="w150 pd">
                                                <input type="checkbox" class="chk" checked="checked" /><img src="img/img1.jpg">
                                            </td>
                                            <td class="tl w140">
                                                <a class="comm_name" href="#">韩国帅气美女连衣裙韩国帅气美女连衣衣裙韩国帅气美女连衣裙</a>
                                                <span class="block">颜色: 深蓝色</span>
                                                <span class="block">尺码: 32</span>
                                            </td>
                                            <td class="w80 pd">66.66
                                            </td>
                                            <td class="red">￥20.0<span class="block">省：99.99</span></td>
                                            <td class="w160">
                                                <div class="amount_box">
                                                    <a href="#" class="changetxt_btn fs30" basesum="-1">-</a>
                                                    <input type="text" value="1" class="amount" name="amount">
                                                    <a href="#" class="changetxt_btn fs26" basesum="1">+</a>
                                                </div>
                                            </td>
                                            <td class="w100">特卖</td>
                                            <td class="w100">
                                                <b class="pay_money">99.99</b>
                                                <span class="block pay_postage">含邮费：99.99</span>
                                            </td>
                                            <td class="pd15">

                                                <a href="#" class="block del_comm_item">删除</a>
                                            </td>
                                        </tr>
                                        <tr class="end comm_item" comm_id="7758258" business_id="259758" pay_money="99.99">
                                            <td class="w150 pd">
                                                <input type="checkbox" class="chk" checked="checked" /><img src="img/img1.jpg">
                                            </td>
                                            <td class="tl w140">
                                                <a class="comm_name" href="#">韩国帅气美女连衣裙韩国帅气美女连衣衣裙韩国帅气美女连衣裙</a>
                                                <span class="block">颜色: 深蓝色</span>
                                                <span class="block">尺码: 32</span>
                                            </td>
                                            <td class="w80 pd">66.66
                                            </td>
                                            <td class="red">￥20.0<span class="block">省：99.99</span></td>
                                            <td class="w160">
                                                <div class="amount_box">
                                                    <a href="#" class="changetxt_btn fs30" basesum="-1">-</a>
                                                    <input type="text" value="1" class="amount" name="amount">
                                                    <a href="#" class="changetxt_btn fs26" basesum="1">+</a>
                                                </div>
                                            </td>
                                            <td class="w100">特卖</td>
                                            <td class="w100">
                                                <b class="pay_money">99.99</b>
                                                <span class="block pay_postage">含邮费：99.99</span>
                                            </td>
                                            <td class="pd15">

                                                <a href="#" class="block del_comm_item">删除</a>
                                            </td>
                                        </tr>
                                    </table>
                                </li>

                            </ul>
                            <div class="shopping_cart_bott">
                                <div class="floatleft">
                                    <input type="checkbox" class="allchk chk" id="allchk2" checked="checked" />
                                    <label for="allchk2" class="">全选</label>
                                    <a href="#" class="del_comm_more">批量删除</a>
                                    <a href="#" class="collection_more">批量收藏</a>
                                </div>
                                <div class="btns">
                                    <input type="checkbox" class="chk chk_pay_afterward" id="pay_afterward" />
                                    <label for="pay_afterward" class="vm fs14">使用货到付款</label>
                                    <a href="#" class="ui_btn ui_btn_h35yellow9 go_order_confrim"><span class="ui_btn_txt">结算 &gt;&gt;</span></a>
                                </div>

                                <div class="money_sum">
                                    商品总价：<b class="pay_money_sum"></b>（含运费）
                                </div>
                            </div>
                        </div>
                        <div class="shopping_bott_box tab1">
                            <div class="shopping_bott_tab">
                                <ul>
                                    <li class="curr"><a href="#" class="ui_btn ui_btn_h29red11 tab_key" data_key="tab1"><span class="ui_btn_txt">猜您喜欢</span></a></li>
                                    <li><a href="#" class="tab_key" data_key="tab2"><span class="ui_btn_txt">浏览记录</span></a></li>
                                </ul>
                                <div class="seg"></div>
                            </div>
                            <ul class="tab_item tab1">
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                            </ul>
                            <ul class="tab_item tab2">
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                                <li>
                                    <img src="img/img1.jpg" class="user_img">
                                    <span>￥9999.00</span>
                                    <span><b>[秋水伊人]</b>连衣裙连衣裙连衣裙连衣裙连衣裙</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="link_list">
                    <div class="link_item">
                        <span>服务保障</span>
                        <ul>
                            <li><a href="#">正品保障</a></li>
                            <li><a href="#">7天无条件退货</a></li>
                            <li><a href="#">7*15小时服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>购物指南</span>
                        <ul>
                            <li><a href="#">导购演示</a></li>
                            <li><a href="#">订单操作</a></li>
                            <li><a href="#">用户指南</a></li>
                            <li><a href="#">账号管理</a></li>
                            <li><a href="#">购物参考</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>支付方式</span>
                        <ul>
                            <li><a href="#">网银支付币</a></li>
                            <li><a href="#">支付平台</a></li>
                            <li><a href="#">信用卡</a></li>
                            <li><a href="#">同城生活金币</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>配送方式</span>
                        <ul>
                            <li><a href="#">配送服务</a></li>
                            <li><a href="#">配送范围和运费</a></li>
                            <li><a href="#">验货与签收</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>售后服务</span>
                        <ul>
                            <li><a href="#">退换货政策</a></li>
                            <li><a href="#">退换货流程</a></li>
                            <li><a href="#">退款方式和时效</a></li>
                        </ul>
                    </div>
                    <div class="link_item end">
                        <span>同城生活模式</span>
                        <ul>
                            <li><a href="#">聚合式品牌特卖</a></li>
                            <li><a href="#">同城生活成长基金</a></li>
                            <li><a href="#">推手规则</a></li>
                        </ul>
                    </div>
                </div>
                <div class="put_on_record">
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                    <a href="#">
                        <img src="../../public/img/internetPolice.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/putOnRecord.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/internetBusiness.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/siteCredits.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/trusty.png" />
                    </a>

                </div>
            </div>

        </div>
    </div>
    <script>
        var global_setting = {};
        global_setting.shopping_cart_already = 40;
        global_setting.shopping_cart_max = 50;
    </script>
</body>
</html>
