<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台管理系统</title>
    <link type="text/css" rel="stylesheet" href="../public/css/globalv2.css" />
    <link type="text/css" rel="stylesheet" href="../public/css/ico.css" />
    <link type="text/css" rel="stylesheet" href="../public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../model/wmpage/css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="config.js" data-init="index"></script>
    <style>
      
    </style>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_top">
                <div class="sub_head_top">
                    <a href="#">同城生活首页</a>
                    <div class="user_data">
                        <span>柴逸宁，欢迎你！</span>
                    </div>
                    <div class="user_btns">
                        <a href="#">[退出]</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="con_sub">
                <div class="content_main">
                    <div class="op_nav">
                        <div class="op_nav_top">
                            <a href="#">
                                <img src="http://s.tcsh.me/admin/view/public/img/admin_wumeilogo.jpg" width="170" height="85">
                            </a>

                        </div>
                        <ul class="op_nav_main">
                            <li>
                                <div class="onm_item_head">
                                    <h3>品牌管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li class="curr"><a href="#">资料设置</a></li>
                                    <li><a href="#">账号管理</a></li>
                                    <li><a href="#">品牌故事</a></li>
                                    <li><a href="#">特卖设置</a></li>
                                    <li><a href="#">品牌点评</a></li>
                                    <li><a href="#">品牌留言</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>商品管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">商品上架</a></li>
                                    <li><a href="#">商品列表</a></li>
                                    <li><a href="#">统计数据</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>交易管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">订单管理</a></li>
                                    <li><a href="#">评价管理</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>推广管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">展位购买</a></li>
                                    <li><a href="#">促销活动</a></li>
                                    <li><a href="#">优惠设置</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>售后管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">投诉管理</a></li>
                                    <li><a href="#">退款管理</a></li>
                                    <li><a href="#">换币管理</a></li>
                                    <li><a href="#">违规记录</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>同城生活银行</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">同城生活银行</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="main_con">
                        <div class="index_box">
                            <div class="right_head">
                                <h3 class="data_title">首页</h3>
                            </div>
                            <div class="sub_box">
                                <div class="sub_box_head">
                                    <h3>新申请的品牌</h3>
                                </div>
                                <ul class="new_brands_list">
                                    <li class="yellow">
                                        <a class="new_brands_item" href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="yellow">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="blue">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="red">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="blue">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="yellow">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="blue">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="red">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="red">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="blue">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="yellow">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="blue">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="red">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="blue">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="yellow">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="blue">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="red">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="blue">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="yellow">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="blue">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="red">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="blue">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="yellow">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="blue">
                                        <a class="new_brands_item " href="#">李宁</a>
                                        <a href="#" class="close"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sub_box">
                                <div class="sub_box_head">
                                    <h3>品牌故事更新页</h3>
                                </div>
                                <table class="update_list">
                                    <tbody>
                                        <tr>
                                            <td>七匹狼中国店</td>
                                            <td>品牌故事有更新</td>
                                            <td>2013-09-09</td>
                                            <td class="texteight">
                                                <a href="#">编辑</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>李宁中国店</td>
                                            <td>品牌故事有更新</td>
                                            <td>2013-09-09</td>
                                            <td class="texteight">
                                                <a href="#">编辑</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>七匹狼日本点</td>
                                            <td>品牌故事有更新</td>
                                            <td>2013-09-09</td>
                                            <td class="texteight">
                                                <a href="#">编辑</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>柴逸宁007</td>
                                            <td>品牌故事有更新</td>
                                            <td>2013-09-09</td>
                                            <td class="texteight">
                                                <a href="#">编辑</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="4">
                                                <div class="wm_page"></div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                            <div class="btns">
                                <a href="#" class="ui_btn ui_btn_h47yellow14"><span class="ui_btn_txt">新增品牌</span></a>
                                <a href="#" class="ui_btn ui_btn_h47yellow14"><span class="ui_btn_txt">新增商家</span></a>
                                <a href="#" class="ui_btn ui_btn_h47yellow14"><span class="ui_btn_txt">新增运营账号</span></a>
                                <a href="#" class="ui_btn ui_btn_h47yellow14"><span class="ui_btn_txt">新增财务账号</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var adminConfig = {};
        adminConfig.pagesize = 20;
        adminConfig.pageindex = 5;
        adminConfig.totalcount = 4587;
        adminConfig.pagekey = "pageindex";
    </script>
</body>
</html>
