<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>物流变化</title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??buyers/public/css/global_v3.css,public/css/ico.css,public/wm_btn/css/style.css,public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="css/message_tree.css" />

    <script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/buyers/message_tree/config.js" data-init="message_tree"></script>

    <script type="text/javascript">
        var global_setting = {}
    </script>
</head>
<body>
    <div id="page">
        <!--头部-->
        <div class="head">
            <div class="head_top"></div>
            <div class="sns_head">
                <ul class="sns_head_con clearfix">
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item"><b class="">我的互动</b></a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">首页</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的生态圈</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">账户管理</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的主页</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">进击的社长</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--物流变化主体-->
        <div class="buyer_con clearfix left_nav_skin2">

            <!--左边部分-->
            <div class="main_nav">
                <dl>
                    <dt><i class="iconfont">&#xe628;</i>管理公社</dt>
                    <dd><a href="#">成员管理</a></dd>
                    <dd><a href="#">黑名单</a></dd>
                    <dd><a href="#">商品推荐</a></dd>
                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe628;</i>发起活动</dt>

                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe628;</i>活动管理</dt>
                    <dd><a href="#">活动明细</a></dd>
                    <dd><a href="#">江湖令</a></dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd><a href="#">基本设置</a></dd>
                    <dd><a href="#">解散公社</a></dd>
                    <dd><a href="#">转让公社</a></dd>
                </dl>
            </div>

            <!--右边部分-->
            <div class="left_nav_skin2_right">
                <!-- 物流变化有内容 -->
                <div class="logistics_change">
                    <div class="logistics_change_title">
                        <h2>物流变化</h2>
                        <span>您购买的商品有新的动态</span>
                    </div>
                    <div class="order_content">
                        <div class="order_detail clearfix">
                            <div class="order_infor">
                                <ul>
                                    <li>订单编号:<b>571349871510568</b></li>
                                    <li>物流公司：<span>顺风物流</span></li>
                                    <li>运费单号:<b>3609845365</b></li>
                                    <li class="">物流状态：<span class="ui_btn ui_btn_h22yellow10"><em class="status ui_btn_txt">发货了</em></span></li>
                                </ul>
                            </div>
                            <div class="order_goods_detail clearfix">
                                <a href="#" class="iconfont order_icon left_icon">&#xf0007;</a>
                                <div class="order_slide">
                                    <div class="order_goods_con">
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                    </div>
                                </div>
                                <a href="#" class="iconfont order_icon right_icon">&#xf0006;</a>
                            </div>
                            <div class="order_btns">
                                <a href="#" class="check_logistics">查看物流</a>
                                <a href="#" class="sure_receive">确认收货</a>
                            </div>
                        </div>
                        <div class="order_detail clearfix">
                            <div class="order_infor">
                                <ul>
                                    <li>订单编号:<b>571349871510568</b></li>
                                    <li>物流公司：<span>顺风物流</span></li>
                                    <li>运费单号:<b>3609845365</b></li>
                                    <li class="">物流状态：<span class="ui_btn ui_btn_h22yellow10"><em class="status ui_btn_txt">到达目标城市</em></span></li>
                                </ul>
                            </div>
                            <div class="order_goods_detail clearfix">
                                <a href="#" class="iconfont order_icon left_icon">&#xf0007;</a>
                                <div class="order_slide">
                                    <div class="order_goods_con">
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                    </div>
                                </div>
                                <a href="#" class="iconfont order_icon right_icon">&#xf0006;</a>
                            </div>
                            <div class="order_btns">
                                <a href="#" class="check_logistics">查看物流</a>
                                <a href="#" class="sure_receive">确认收货</a>
                            </div>
                        </div>
                        <div class="order_detail last_order_detail clearfix">
                            <div class="order_infor">
                                <ul>
                                    <li>订单编号:<b>571349871510568</b></li>
                                    <li>物流公司：<span>顺风物流</span></li>
                                    <li>运费单号:<b>3609845365</b></li>
                                    <li class="">物流状态：<span class="ui_btn ui_btn_h22yellow10"><em class="status ui_btn_txt">发货了</em></span></li>
                                </ul>
                            </div>
                            <div class="order_goods_detail clearfix">
                                <a href="#" class="iconfont order_icon left_icon">&#xf0007;</a>
                                <div class="order_slide">
                                    <div class="order_goods_con">
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                        <a href="#" class="goods_list">
                                            <img src="img/order_goods.jpg" /></a>
                                    </div>
                                </div>
                                <a href="#" class="iconfont order_icon right_icon">&#xf0006;</a>
                            </div>
                            <div class="order_btns">
                                <a href="#" class="check_logistics">查看物流</a>
                                <a href="#" class="sure_receive">确认收货</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 物流变化有内容 结束-->

                <!--物流变化无内容 -->
                <!--<div class="logistics_change">
            	<div class="logistics_change_title">
                	<h2>物流变化</h2>
                    <span>您购买的商品有新的动态</span>
                </div>
                <div class="order_content">
                	<div class="order_nocontent"></div>
                </div>
            </div>-->
                <!-- 物流变化内容 结束-->

            </div>

        </div>


        <!--底部-->
        <div class="footer">
            <p class="about"><a href="#">关于我们</a>|<a href="#">联系我们</a>|<a href="#">品牌入驻</a>|<a href="#">隐私条款</a>|<a href="#">网站地图</a>|<a href="#">友情链接</a>|<a href="#">用户体验提升计划</a></p>
            <p>经营性网站备案号：浙ICP备11009382号   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
            <a href="#">
                <img src="../../public/img/internetPolice.png" /></a><a href="#"><img src="../../public/img/putOnRecord.png" /></a><a href="#"><img src="../../public/img/internetBusiness.png" /></a><a href="#"><img src="../../public/img/siteCredits.png" /></a><a href="#"><img src="../../public/img/trusty.png" /></a>
        </div>
    </div>
</body>
</html>
