<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>降价提醒</title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??buyers/public/css/global_v3.css,public/css/ico.css,public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="css/message_tree.css" />

    <script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/buyers/message_tree/config.js" data-init="message_tree"></script>

    <script type="text/javascript">
        var global_setting = {}
    </script>

</head>
<body>
    <div id="page">
        <!--头部-->
        <div class="head">
            <div class="head_top"></div>
            <div class="sns_head">
                <ul class="sns_head_con clearfix">
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item"><b class="">我的互动</b></a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">首页</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的生态圈</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">账户管理</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的主页</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">进击的社长</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--降价提醒主体-->
        <div class="buyer_con clearfix left_nav_skin2">

            <!--左边部分-->
            <div class="main_nav">
                <dl>
                    <dt><i class="iconfont">&#xe628;</i>管理公社</dt>
                    <dd><a href="#">成员管理</a></dd>
                    <dd><a href="#">黑名单</a></dd>
                    <dd><a href="#">商品推荐</a></dd>
                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe628;</i>发起活动</dt>

                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe628;</i>活动管理</dt>
                    <dd><a href="#">活动明细</a></dd>
                    <dd><a href="#">江湖令</a></dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd><a href="#">基本设置</a></dd>
                    <dd><a href="#">解散公社</a></dd>
                    <dd><a href="#">转让公社</a></dd>
                </dl>
            </div>

            <!--右边部分-->
            <div class="left_nav_skin2_right">
                <!-- 购物车有内容 -->
                <div class="car_cheaper">
                    <div class="cheaper_title">
                        <h3>购物车降价信息</h3>
                        <p class="cheaper_intr">您的购物车中有<span>4</span>个商品的价格已经发生变化</p>
                    </div>
                    <div class="cheaper_con">
                        <span class="goods_img">
                            <img src="img/car_goods.jpg" /></span>
                        <div class="goods_intr">
                            <ul>
                                <li><a href="#">2014春秋新品 韩版甜美蝴蝶结淑女鞋学院风一字搭扣粗跟单鞋</a></li>
                                <li><span class="selected_goods_infor">颜色：黑色</span><span class="selected_goods_infor">尺码：男L</span></li>
                                <li>已经从<em>￥63.10</em>下降到<em class="cheaper_price">￥60.30</em></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cheaper_con">
                        <span class="goods_img">
                            <img src="img/car_goods.jpg" /></span>
                        <div class="goods_intr">
                            <ul>
                                <li><a href="#">2014春秋新品 韩版甜美蝴蝶结淑女鞋学院风一字搭扣粗跟单鞋</a></li>
                                <li><span class="selected_goods_infor">颜色：黑色</span><span class="selected_goods_infor">尺码：男L</span></li>
                                <li>已经从<em>￥63.10</em>下降到<em class="cheaper_price">￥60.30</em></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cheaper_con">
                        <span class="goods_img">
                            <img src="img/car_goods.jpg" /></span>
                        <div class="goods_intr">
                            <ul>
                                <li><a href="#">2014春秋新品 韩版甜美蝴蝶结淑女鞋学院风一字搭扣粗跟单鞋</a></li>
                                <li><span class="selected_goods_infor">颜色：黑色</span><span class="selected_goods_infor">尺码：男L</span></li>
                                <li>已经从<em>￥63.10</em>下降到<em class="cheaper_price">￥60.30</em></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cheaper_con last_one">
                        <span class="goods_img">
                            <img src="img/car_goods.jpg" /></span>
                        <div class="goods_intr">
                            <ul>
                                <li><a href="#">2014春秋新品 韩版甜美蝴蝶结淑女鞋学院风一字搭扣粗跟单鞋</a></li>
                                <li><span class="selected_goods_infor">颜色：黑色</span><span class="selected_goods_infor">尺码：男L</span></li>
                                <li>已经从<em>￥63.10</em>下降到<em class="cheaper_price">￥60.30</em></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 购物车有内容 结束-->

                <!-- 购物车无内容 -->
                <!--<div class="car_cheaper">
            	<div class="cheaper_title">
                	<h3>购物车降价信息</h3>
                    <p class="cheaper_intr">您的购物车中有<span>0</span>个商品的价格已经发生变化</p>
                </div>
                <div class="nocontent cheaper_nocon1"></div>
            </div>-->
                <!-- 购物车无内容 结束-->

                <div class="hr_line"></div>

                <!-- 收藏夹有内容 -->
                <div class="car_cheaper">
                    <div class="cheaper_title">
                        <h3>收藏夹降价信息</h3>
                        <p class="cheaper_intr">您的购物车中有<span>4</span>个商品的价格已经发生变化</p>
                    </div>
                    <div class="cheaper_con">
                        <span class="goods_img">
                            <img src="img/car_goods.jpg" /></span>
                        <div class="goods_intr">
                            <ul>
                                <li><a href="#">2014春秋新品 韩版甜美蝴蝶结淑女鞋学院风一字搭扣粗跟单鞋</a></li>
                                <li><span class="selected_goods_infor">颜色：黑色</span><span class="selected_goods_infor">尺码：男L</span></li>
                                <li>已经从<em>￥63.10</em>下降到<em class="cheaper_price">￥60.30</em></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cheaper_con last_one">
                        <span class="goods_img">
                            <img src="img/car_goods.jpg" /></span>
                        <div class="goods_intr">
                            <ul>
                                <li><a href="#">2014春秋新品 韩版甜美蝴蝶结淑女鞋学院风一字搭扣粗跟单鞋</a></li>
                                <li><span class="selected_goods_infor">颜色：黑色</span><span class="selected_goods_infor">尺码：男L</span></li>
                                <li>已经从<em>￥63.10</em>下降到<em class="cheaper_price">￥60.30</em></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--  收藏夹有内容 结束-->

                <!--  收藏夹无内容 -->
                <!--<div class="car_cheaper">
            	<div class="cheaper_title">
                	<h3>收藏夹降价信息</h3>
                    <p class="cheaper_intr">您的购物车中有<span>0</span>个商品的价格已经发生变化</p>
                </div>
                <div class="nocontent cheaper_nocon"></div>	
            </div>-->
                <!--  收藏夹无内容 结束-->
            </div>

        </div>


        <!--底部-->
        <div class="footer">
            <p class="about"><a href="#">关于我们</a>|<a href="#">联系我们</a>|<a href="#">品牌入驻</a>|<a href="#">隐私条款</a>|<a href="#">网站地图</a>|<a href="#">友情链接</a>|<a href="#">用户体验提升计划</a></p>
            <p>经营性网站备案号：浙ICP备11009382号   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
            <a href="#">
                <img src="../../public/img/internetPolice.png" /></a><a href="#"><img src="../../public/img/putOnRecord.png" /></a><a href="#"><img src="../../public/img/internetBusiness.png" /></a><a href="#"><img src="../../public/img/siteCredits.png" /></a><a href="#"><img src="../../public/img/trusty.png" /></a>
        </div>
    </div>
</body>
</html>
