<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/phone_web/public/css/global.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/phone_web/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div id="page">
        <header>
            <h1 class="iconfont">&#xe602;</h1>
            <div class="logo_msg">
                <em>同城生活</em>
                <span>HU DONG GOU WU</span>
            </div>
        </header>
        <article>
            <div class="ad_list_box">
                <div class="list_head">
                    <h3>我的收货地址</h3>
                </div>
                <ul class="ad_list">
                    <li class="ad_item ">
                        <a href="http://s.tcsh.me/tcsh/view/phone_web/success/success.html">
                            <p>
                                <b>柴逸宁</b><b>18268067844</b>
                            </p>
                            <p>浙江省 杭州市 拱墅区 祥园路88号 5楼</p>
                            <span class="iconfont">&#xe600;</span>
                        </a>
                    </li>
                   <li class="ad_item ">
                        <a href="http://s.tcsh.me/tcsh/view/phone_web/success/success.html">
                            <p>
                                <b>柴逸宁</b><b>18268067844</b>
                            </p>
                            <p>浙江省 杭州市 拱墅区 祥园路88号 5楼</p>
                            <span class="iconfont">&#xe600;</span>
                        </a>
                    </li>
                    <li class="ad_item curr">
                        <a href="http://s.tcsh.me/tcsh/view/phone_web/success/success.html">
                            <p>
                                <b>柴逸宁</b><b>18268067844</b>
                            </p>
                            <p>浙江省 杭州市 拱墅区 祥园路88号 5楼</p>
                            <span class="iconfont">&#xe600;</span>
                        </a>
                    </li>
                    <li class="ad_item ">
                        <a href="http://s.tcsh.me/tcsh/view/phone_web/success/success.html">
                            <p>
                                <b>柴逸宁</b><b>18268067844</b>
                            </p>
                            <p>浙江省 杭州市 拱墅区 祥园路88号 5楼</p>
                            <span class="iconfont">&#xe600;</span>
                        </a>
                    </li>
                    <li class="ad_item ">
                        <a href="http://s.tcsh.me/tcsh/view/phone_web/success/success.html">
                            <p>
                                <b>柴逸宁</b><b>18268067844</b>
                            </p>
                            <p>浙江省 杭州市 拱墅区 祥园路88号 5楼</p>
                            <span class="iconfont">&#xe600;</span>
                        </a>
                    </li>
                    <li class="ad_item ">
                        <a href="http://s.tcsh.me/tcsh/view/phone_web/success/success.html">
                            <p>
                                <b>柴逸宁</b><b>18268067844</b>
                            </p>
                            <p>浙江省 杭州市 拱墅区 祥园路88号 5楼</p>
                            <span class="iconfont">&#xe600;</span>
                        </a>
                    </li>
                    <li class="ad_item ">
                        <a href="http://s.tcsh.me/tcsh/view/phone_web/success/success.html">
                            <p>
                                <b>柴逸宁</b><b>18268067844</b>
                            </p>
                            <p>浙江省 杭州市 拱墅区 祥园路88号 5楼</p>
                            <span class="iconfont">&#xe600;</span>
                        </a>
                    </li>
                    <li class="ad_item ">
                        <a href="http://s.tcsh.me/tcsh/view/phone_web/success/success.html">
                            <p>
                                <b>柴逸宁</b><b>18268067844</b>
                            </p>
                            <p>浙江省 杭州市 拱墅区 祥园路88号 5楼</p>
                            <span class="iconfont">&#xe600;</span>
                        </a>
                    </li>

                </ul>
            </div>
            <form class="wm_form " action="http://s.tcsh.me/tcsh/view/phone_web/success/success.html">
                <div class="form_head">
                    <h3>使用新的收货地址</h3>
                </div>
                <ul>
                    <li class="form_row">
                        <label class="row_key"><b class="form_must">*</b>联系人：</label>
                        <input type="text" class="form_txt w170" />
                    </li>
                    <li class="form_row">
                        <label class="row_key"><b class="form_must">*</b>联系电话：</label>
                        <input type="number" class="form_txt w170" />
                    </li>
                    <li class="form_row">
                        <label class="row_key"><b class="form_must">*</b>省份：</label>
                        <select id="selProvince_rent"></select>
                    </li>
                    <li class="form_row">
                        <label class="row_key"><b class="form_must">*</b>城市：</label>
                        <select id="selCity_rent"></select>
                    </li>
                    <li class="form_row">
                        <label class="row_key"><b class="form_must">*</b>地区：</label>
                        <select id="selDistricts_rent"></select>
                    </li>
                    <li class="form_row">
                        <label class="row_key"><b class="form_must">*</b>街道：</label>
                        <input type="text" class="form_txt w170" />
                    </li>
                    <li class="form_row btns">
                        <input type="submit" value="保存并使用" id="submit" />
                    </li>
                </ul>
            </form>
        </article>
    </div>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/phone_web/delivery_address/config.js" data-init="ad_list"></script>
</body>
</html>

