<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??ago/public/css/global.css,public/css/ico.css,public/wm_btn/css/style.css,ago/public/wm_block/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />

</head>
<body>
    <div id="left_lib">
        <div class="left_lib_ico">
            <a href="#" class="iconfont ">&#xf0008;</a>
            <div class="ewm_list">
                <ul>
                    <li>
                        <a href="#" class="follow_wx" rel="nofollow">
                            <img class="ewm_img" src="http://s.tcsh.me/tcsh/view/public/img/dimensional_code.jpg" width="100" height="100"></a>
                    </li>
                    <li>
                        <a href="http://weibo.com/2358731552/profile?topnav=1&amp;wvr=5&amp;from=company&amp;user=1" class="follow_sina" target="_blank" rel="nofollow">
                            <img class="ewm_img" src="http://s.tcsh.me/tcsh/view/public/img/sina_dimensional_code.png" width="100" height="100"></a>
                    </li>
                </ul>
                <span class="ll_arrow "><em>◆</em><span>◆</span></span>
            </div>
        </div>
        <ul class="left_lib_list">
            <li class="left_lib_item ll_user_data">
                <a href="#" title="我的信息"><span class="iconfont">&#xf00bb;</span></a>
                <!--买家-->
                <div class="ll_user_data_box">
                    <div class="ll_user_data_con">
                        <a href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                            <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"><span href="#" class="ll_user_img_hover">点击修改</span></span></a>
                        <ul>
                            <li class="ll_user_data_name" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜">Hi,小菜菜菜菜菜菜菜菜菜菜菜菜菜</li>
                            <li>您有：<b>3000</b>积分</li>
                            <li>排名：<b>千里之外</b></li>
                            <li class="shopping_statistics">您在同城生活上花掉<b>4142.01</b>元，总共收了<b>73</b>个包裹</li>
                        </ul>
                        <a href="http://www.tcsh.me/logout" class="ll_logout">退出</a>
                    </div>
                    <span class="ll_arrow"><em>◆</em><span>◆</span></span>
                </div>
                <!--其他-->
                <!--<div class="ll_user_data_box">
                    <div class="ll_user_data_con">
                        <a href="javascript:void(0);" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                            <img src="http://s.tcsh.me/tcsh/view/public/img/man_default.jpg"></span></a>
                        <ul>
                            <li class="ll_user_data_name" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜">Hi,小菜菜菜菜菜菜菜菜菜菜菜菜菜</li>
                        </ul>
                        <a href="http://www.tcsh.me/logout" class="ll_logout">退出</a>
                    </div>
                    <span class="ll_arrow"><em>◆</em><span>◆</span></span>
                </div>-->
                <!--卖家-->
                <!--<div class="ll_user_data_box seller">
                    <div class="ll_user_data_con ">
                        <a href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                            <img src="http://img.wumeiwang.com/M00/00/23/rBAA_FKgD9GAJ9pQAAA51E4ALlQ813.jpg_120x60.jpg"></span></a>
                        <ul>
                            <li class="ll_user_data_name" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜">Hi,小菜菜菜菜菜菜菜菜菜菜菜菜菜</li>
                            <li>有<b>3000</b>人关注了您</li>
                            <li><a href="#" class="ll_spreadbtn in_spread">站内推广</a><a href="#" class="ll_spreadbtn out_spread">站外推广</a></li>
                            <li class="shopping_statistics">您在同城生活上赚了<b>4142.01</b>元，总共发出<b>73</b>个包裹</li>
                        </ul>
                        <a href="http://www.tcsh.me/logout" class="ll_logout">退出</a>
                    </div>
                    <span class="ll_arrow "><em>◆</em><span>◆</span></span>
                </div>-->
                <!--未登录-->
                <!--<div class="ll_user_data_box no_login">
                    <div class="ll_user_data_con ">
                       <iframe src="http://www.tcsh.me/tools/loginbox" width="520" height="320" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>                      
                    </div>
                    <span class="ll_arrow "><em>◆</em><span>◆</span></span>
                </div>-->
            </li>
            <li class="left_lib_item">
                <a href="#" title="我的积分明细"><span class="iconfont">&#xf0101;</span>积分</a>
            </li>
            <li class="left_lib_item">
                <a href="#" title="全站积分排名" class="curr"><span class="iconfont">&#xf00eb;</span>排名</a>
            </li>
        </ul>
        <a href="#" class="iconfont ll_chang_btn left_lib_closebtn">&#xf00b3;</a>
        <a href="#" class="iconfont ll_chang_btn left_lib_showbtn">&#xf00e9;</a>
        <ul class="llm_list">
            <li class="llm_item int_details">
                <div class="llm_title_box">
                    <a href="#" class="llm_title">我的积分明细</a>
                    <a href="#" class="iconfont hide_llm">&#xf016e;</a>
                </div>
                <div class="user_int">
                    <a href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                        <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"><span href="#" class="ll_user_img_hover">点击修改</span></span></a>
                    同城生活积分<b>999999</b>
                    <span class="user_rank">No.9999</span>
                </div>
                <ul class="llm_sub_list">
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">闪亮登场</span><span class="get_date">1989-06-06</span></p>
                            <p>注册成功，获得<b>30</b>积分！</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">晒单达人</span><span class="get_date">2014-06-06</span></p>
                            <p>成功晒单<a href="#">垃圾商品</a>，获得<b>30</b>积分！</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">天生购物狂</span><span class="get_date">2014-06-06</span></p>
                            <p>购得<a href="#">杜蕾斯</a>，获得<b>30</b>积分！</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">甜蜜教唆者</span><span class="get_date">2014-06-06</span></p>
                            <p>您的好友<a href="#">xxx</a>，购物成功，获得<b>30</b>积分！</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">生日大蛋糕</span><span class="get_date">2014-06-06</span></p>
                            <p>生日当天消费<b>300</b>元，获得<b>600</b>积分！</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">我爱同城生活</span><span class="get_date">2014-06-06</span></p>
                            <p>在同城生活浏览<b>10分钟</b>，获得<b>30</b>积分！</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">风雨弄潮儿</span><span class="get_date">2014-06-06</span></p>
                            <p>每日签到，获得<b>30</b>积分！</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">21世纪雷锋奖</span><span class="get_date">2014-06-06</span></p>
                            <p>对<a href="#">杜蕾斯</a>进行评价，获得<b>30</b>积分！</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">同城生活传教士</span><span class="get_date">2014-06-06</span></p>
                            <p>成功邀请<b>xxx</b>成为同城生活会员，获得<b>30</b>积分！</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">闪亮登场</span><span class="get_date">1989-06-06</span></p>
                            <p>注册成功，获得<b>30</b>积分！</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">晒单达人</span><span class="get_date">2014-06-06</span></p>
                            <p>成功晒单<a href="#">垃圾商品</a>，获得<b>30</b>积分！</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">天生购物狂</span><span class="get_date">2014-06-06</span></p>
                            <p>购得<a href="#">杜蕾斯</a>，获得<b>30</b>积分！</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">甜蜜教唆者</span><span class="get_date">2014-06-06</span></p>
                            <p>您的好友<a href="#">xxx</a>，购物成功，获得<b>30</b>积分！</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">生日大蛋糕</span><span class="get_date">2014-06-06</span></p>
                            <p>生日当天消费<b>300</b>元，获得<b>600</b>积分！</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">我爱同城生活</span><span class="get_date">2014-06-06</span></p>
                            <p>在同城生活浏览<b>10分钟</b>，获得<b>30</b>积分！</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">风雨弄潮儿</span><span class="get_date">2014-06-06</span></p>
                            <p>每日签到，获得<b>30</b>积分！</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">21世纪雷锋奖</span><span class="get_date">2014-06-06</span></p>
                            <p>对<a href="#">杜蕾斯</a>进行评价，获得<b>30</b>积分！</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <p class="sub_title_box"><span class="sub_title">同城生活传教士</span><span class="get_date">2014-06-06</span></p>
                            <p>成功邀请<b>xxx</b>成为同城生活会员，获得<b>30</b>积分！</p>
                        </div>
                    </li>
                </ul>
                <a href="#" class="ll_item_more">查看全部>></a>
            </li>
            <li class="llm_item ranking">
                <div class="llm_title_box">
                    <a href="#" class="llm_title">全站积分排名</a>
                    <a href="#" class="iconfont hide_llm">&#xf016e;</a>
                </div>
                <ul class="llm_sub_list">
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <span href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                                <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"></span></span>
                            <span class="ranking_user_name">小菜菜菜菜菜菜菜菜菜菜菜菜菜</span>
                            <p>积分：<b>999999</b></p>
                            <p class="red">No.1</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <span href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                                <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"></span></span>
                            <span class="ranking_user_name">小菜菜菜菜菜菜菜菜菜菜菜菜菜</span>
                            <p>积分：<b>999999</b></p>
                            <p class="red">No.2</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <span href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                                <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"></span></span>
                            <span class="ranking_user_name">小菜菜菜菜菜菜菜菜菜菜菜菜菜</span>
                            <p>积分：<b>999999</b></p>
                            <p class="red">No.3</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <span href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                                <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"></span></span>
                            <span class="ranking_user_name">小菜菜菜菜菜菜菜菜菜菜菜菜菜</span>
                            <p>积分：<b>999999</b></p>
                            <p class="red">No.4</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <span href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                                <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"></span></span>
                            <span class="ranking_user_name">小菜菜菜菜菜菜菜菜菜菜菜菜菜</span>
                            <p>积分：<b>999999</b></p>
                            <p class="red">No.1</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <span href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                                <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"></span></span>
                            <span class="ranking_user_name">小菜菜菜菜菜菜菜菜菜菜菜菜菜</span>
                            <p>积分：<b>999999</b></p>
                            <p class="red">No.2</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <span href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                                <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"></span></span>
                            <span class="ranking_user_name">小菜菜菜菜菜菜菜菜菜菜菜菜菜</span>
                            <p>积分：<b>999999</b></p>
                            <p class="red">No.3</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <span href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                                <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"></span></span>
                            <span class="ranking_user_name">小菜菜菜菜菜菜菜菜菜菜菜菜菜</span>
                            <p>积分：<b>999999</b></p>
                            <p class="red">No.4</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <span href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                                <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"></span></span>
                            <span class="ranking_user_name">小菜菜菜菜菜菜菜菜菜菜菜菜菜</span>
                            <p>积分：<b>999999</b></p>
                            <p class="red">No.1</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <span href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                                <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"></span></span>
                            <span class="ranking_user_name">小菜菜菜菜菜菜菜菜菜菜菜菜菜</span>
                            <p>积分：<b>999999</b></p>
                            <p class="red">No.2</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <span href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                                <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"></span></span>
                            <span class="ranking_user_name">小菜菜菜菜菜菜菜菜菜菜菜菜菜</span>
                            <p>积分：<b>999999</b></p>
                            <p class="red">No.3</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <span href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                                <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"></span></span>
                            <span class="ranking_user_name">小菜菜菜菜菜菜菜菜菜菜菜菜菜</span>
                            <p>积分：<b>999999</b></p>
                            <p class="red">No.4</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <span href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                                <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"></span></span>
                            <span class="ranking_user_name">小菜菜菜菜菜菜菜菜菜菜菜菜菜</span>
                            <p>积分：<b>999999</b></p>
                            <p class="red">No.1</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <span href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                                <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"></span></span>
                            <span class="ranking_user_name">小菜菜菜菜菜菜菜菜菜菜菜菜菜</span>
                            <p>积分：<b>999999</b></p>
                            <p class="red">No.2</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <span href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                                <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"></span></span>
                            <span class="ranking_user_name">小菜菜菜菜菜菜菜菜菜菜菜菜菜</span>
                            <p>积分：<b>999999</b></p>
                            <p class="red">No.3</p>
                        </div>
                    </li>
                    <li class="llm_sub_item">
                        <div class="llm_sub_item_border">
                            <span href="http://member.tcsh.me/userdata/Profile" class="ll_user_img" title="小菜菜菜菜菜菜菜菜菜菜菜菜菜"><span class="ll_user_img_bg">
                                <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg"></span></span>
                            <span class="ranking_user_name">小菜菜菜菜菜菜菜菜菜菜菜菜菜</span>
                            <p>积分：<b>999999</b></p>
                            <p class="red">No.4</p>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>

