<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??decoration/public/css/global.css,public/css/ico.css,public/wm_btn/css/style.css,public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/decoration/categories/config.js" data-init="categories_list"></script>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_sub">
                <div class="head_con">
                    <h1 class="wm_logo">
                        <a href="http://www.tcsh.me/" title="同城生活" class="iconfont">&#xe624;</a>
                    </h1>
                    <div class="logo_msg">
                        <em>互动装修</em>
                        <span>HU DONG ZHUANG XIU</span>
                    </div>
                </div>
            </div>
            <div class="head_nav">
                <ul class="head_nav_list clearfix">
                    <li class="head_nav_item">
                        <a href="#">店铺<i class="iconfont">&#xf0005;</i></a>
                        <div class="sub_nav">
                            <a href="#" class="nav_item_link">店铺<i class="iconfont">&#xf0004;</i></a>
                            <ul class="sub_nav_list">
                                <li><a href="#"><i class="iconfont">&#xf0043;</i>店铺分类设置</a></li>
                                <li><a href="#"><i class="iconfont">&#x344d;</i>公共区域设置</a></li>
                                <li><a href="#"><i class="iconfont">&#xf00f2;</i>基础页面</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="head_nav_item">
                        <a href="#">社团<i class="iconfont">&#xf0005;</i></a>
                        <div class="sub_nav">
                            <a href="#" class="nav_item_link">社团<i class="iconfont">&#xf0004;</i></a>
                            <ul class="sub_nav_list">
                                <li><a href="#"><i class="iconfont">&#xf0043;</i>社团设置1</a></li>
                                <li><a href="#"><i class="iconfont">&#x344d;</i>社团设置2</a></li>
                                <li><a href="#"><i class="iconfont">&#xf00f2;</i>社团设置2</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="con_nav">
                <ul class="con_nav_list">
                    <li class="con_nav_item">
                        <h3>店铺装修</h3>
                        <ul>
                            <li>
                                <a href="#"><i class="wm_ico arrow9down"></i>店铺分类设置</a>
                                <ul class="con_nav_sublist">
                                    <li><a href="#">分类设置</a></li>
                                    <li><a href="#">商品归类</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="wm_ico arrow9down"></i>公共区域设置</a></li>
                            <li>
                                <a href="#"><i class="wm_ico arrow9down"></i>基础页面</a>
                                <ul class="con_nav_sublist">
                                    <li><a href="#">店铺首页</a></li>
                                    <li><a href="#">商品列表页</a></li>
                                    <li><a href="#">商品详细页</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="con_nav_item">
                        <h3>社团装修</h3>
                        <ul>
                            <li><a href="#"><i class="wm_ico arrow9down"></i>社团装修1</a></li>
                            <li><a href="#"><i class="wm_ico arrow9down"></i>社团装修2</a></li>
                            <li>
                                <a href="#"><i class="wm_ico arrow9down"></i>社团装修3</a>
                                <ul class="con_nav_sublist">
                                    <li><a href="#">社团装修3.1</a></li>
                                    <li><a href="#">社团装修3.2</a></li>
                                    <li><a href="#">社团装修3.3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="main_con">
                <div class="right_head">
                    <h3 class="title">分类设置</h3>
                </div>
                <div class="categories">
                    <div class="categories_btns">
                        <a href="#" class="btn"><span class="iconfont">&#xf0175;</span>添加分类</a>
                    </div>
                    <div class="categories_list_box">
                        <div class="categories_head">
                            <span class="head_name">分类名称</span>
                            <span class="head_date">创建时间</span>
                            <span class="head_op">操作</span>
                        </div>
                        <ul class="categories_list">
                            <li class="categories_item clearfix">
                                <div class="body_name">
                                    <span class="iconfont">&#xf00c9;</span>
                                    <input type="text" class="name_txt" value="全部" placeholder="分类名称" />
                                </div>
                                <span class="body_date">&nbsp;</span>
                                <div class="btn_list">
                                    <a href="#" class="link">查看</a>
                                </div>
                            </li>
                            <li class="categories_item clearfix">
                                <div class="body_name">
                                    <span class="iconfont">&#xf00c9;</span>
                                    <input type="text" class="name_txt" value="未分组" placeholder="分类名称" />
                                </div>
                                <span class="body_date">&nbsp;</span>
                                <div class="btn_list">
                                    <a href="#" class="link">查看</a>
                                </div>
                            </li>
                            <li class="categories_item clearfix">
                                <div class="body_name">
                                    <span class="iconfont zoom_btn">&#xe607;</span>
                                    <input type="text" class="name_txt" placeholder="分类名称" />
                                </div>
                                <span class="body_date">2014-05-05</span>
                                <div class="btn_list">
                                    <a href="#" class="link add_sub">添加下级<span class="wm_ico arrow7down"></span></a>
                                    <ul>
                                        <li class="btn_list_last">
                                            <a href="#" class="add_sub">添加下级</a>
                                        </li>
                                        <li>
                                            <a href="#" class="" target="_blank">查看</a>
                                        </li>
                                        <li class="btn_list_end">
                                            <a href="#" class="del_categories_item">删除</a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="sub_list">
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="categories_item clearfix">
                                <div class="body_name">
                                    <span class="iconfont zoom_btn">&#xe607;</span>
                                    <input type="text" class="name_txt" placeholder="分类名称" />
                                </div>
                                <span class="body_date">2014-05-05</span>
                                <div class="btn_list">
                                    <a href="#" class="link add_sub">添加下级<span class="wm_ico arrow7down"></span></a>
                                    <ul>
                                        <li class="btn_list_last">
                                            <a href="#" class="add_sub">添加下级</a>
                                        </li>
                                        <li>
                                            <a href="#" class="" target="_blank">查看</a>
                                        </li>
                                        <li class="btn_list_end">
                                            <a href="#" class="del_categories_item">删除</a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="sub_list">
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="categories_item clearfix">
                                <div class="body_name">
                                    <span class="iconfont zoom_btn">&#xe607;</span>
                                    <input type="text" class="name_txt" placeholder="分类名称" />
                                </div>
                                <span class="body_date">2014-05-05</span>
                                <div class="btn_list">
                                    <a href="#" class="link add_sub">添加下级<span class="wm_ico arrow7down"></span></a>
                                    <ul>
                                        <li class="btn_list_last">
                                            <a href="#" class="add_sub">添加下级</a>
                                        </li>
                                        <li>
                                            <a href="#" class="" target="_blank">查看</a>
                                        </li>
                                        <li class="btn_list_end">
                                            <a href="#" class="del_categories_item">删除</a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="sub_list">
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="categories_item clearfix">
                                <div class="body_name">
                                    <span class="iconfont zoom_btn">&#xe607;</span>
                                    <input type="text" class="name_txt" placeholder="分类名称" />
                                </div>
                                <span class="body_date">2014-05-05</span>
                                <div class="btn_list">
                                    <a href="#" class="link add_sub">添加下级<span class="wm_ico arrow7down"></span></a>
                                    <ul>
                                        <li class="btn_list_last">
                                            <a href="#" class="add_sub">添加下级</a>
                                        </li>
                                        <li>
                                            <a href="#" class="" target="_blank">查看</a>
                                        </li>
                                        <li class="btn_list_end">
                                            <a href="#" class="del_categories_item">删除</a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="sub_list">
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="categories_item clearfix">
                                <div class="body_name">
                                    <span class="iconfont zoom_btn">&#xe607;</span>
                                    <input type="text" class="name_txt" placeholder="分类名称" />
                                </div>
                                <span class="body_date">2014-05-05</span>
                                <div class="btn_list">
                                    <a href="#" class="link add_sub">添加下级<span class="wm_ico arrow7down"></span></a>
                                    <ul>
                                        <li class="btn_list_last">
                                            <a href="#" class="add_sub">添加下级</a>
                                        </li>
                                        <li>
                                            <a href="#" class="" target="_blank">查看</a>
                                        </li>
                                        <li class="btn_list_end">
                                            <a href="#" class="del_categories_item">删除</a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="sub_list">
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="categories_item clearfix">
                                <div class="body_name">
                                    <span class="iconfont zoom_btn">&#xe607;</span>
                                    <input type="text" class="name_txt" placeholder="分类名称" />
                                </div>
                                <span class="body_date">2014-05-05</span>
                                <div class="btn_list">
                                    <a href="#" class="link add_sub">添加下级<span class="wm_ico arrow7down"></span></a>
                                    <ul>
                                        <li class="btn_list_last">
                                            <a href="#" class="add_sub">添加下级</a>
                                        </li>
                                        <li>
                                            <a href="#" class="" target="_blank">查看</a>
                                        </li>
                                        <li class="btn_list_end">
                                            <a href="#" class="del_categories_item">删除</a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="sub_list">
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sub_item clearfix">
                                        <div class="body_name">
                                            <span class="sub_ico">┣</span>
                                            <input type="text" class="name_txt" placeholder="分类名称" />
                                        </div>
                                        <span class="body_date">2014-05-05</span>
                                        <div class="btn_list">
                                            <a href="#" class="link" target="_blank">查看<span class="wm_ico arrow7down"></span></a>
                                            <ul>
                                                <li class="btn_list_last">
                                                    <a href="#" class="" target="_blank">查看</a>
                                                </li>
                                                <li class="btn_list_end">
                                                    <a href="#" class="del_sub_item">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="categories_btns">
                            <a href="#" class="btn add_categories_item"><span class="iconfont">&#xf0175;</span>添加分类</a>
                        </div>
                    </div>
                    <div class="submit_box">
                        <a href="#" class="ui_btn ui_btn_h26blue2 submit"><span class="ui_btn_txt">保存修改</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="put_on_record">
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
