<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??decoration/public/css/global.css,public/css/ico.css,public/wm_btn/css/style.css,public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/decoration/categories/config.js" data-init="commodity_list"></script>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_sub">
                <div class="head_con">
                    <h1 class="wm_logo">
                        <a href="http://www.tcsh.me/" title="同城生活" class="iconfont">&#xe624;</a>
                    </h1>
                    <div class="logo_msg">
                        <em>互动装修</em>
                        <span>HU DONG ZHUANG XIU</span>
                    </div>
                </div>
            </div>
            <div class="head_nav">
                <ul class="head_nav_list clearfix">
                    <li class="head_nav_item">
                        <a href="#">店铺<i class="iconfont">&#xf0005;</i></a>
                        <div class="sub_nav">
                            <a href="#" class="nav_item_link">店铺<i class="iconfont">&#xf0004;</i></a>
                            <ul class="sub_nav_list">
                                <li><a href="#"><i class="iconfont">&#xf0043;</i>店铺分类设置</a></li>
                                <li><a href="#"><i class="iconfont">&#x344d;</i>公共区域设置</a></li>
                                <li><a href="#"><i class="iconfont">&#xf00f2;</i>基础页面</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="head_nav_item">
                        <a href="#">社团<i class="iconfont">&#xf0005;</i></a>
                        <div class="sub_nav">
                            <a href="#" class="nav_item_link">社团<i class="iconfont">&#xf0004;</i></a>
                            <ul class="sub_nav_list">
                                <li><a href="#"><i class="iconfont">&#xf0043;</i>社团设置1</a></li>
                                <li><a href="#"><i class="iconfont">&#x344d;</i>社团设置2</a></li>
                                <li><a href="#"><i class="iconfont">&#xf00f2;</i>社团设置2</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="con_nav">
                <ul class="con_nav_list">
                    <li class="con_nav_item">
                        <h3>店铺装修</h3>
                        <ul>
                            <li>
                                <a href="#"><i class="wm_ico arrow9down"></i>店铺分类设置</a>
                                <ul class="con_nav_sublist">
                                    <li><a href="#">分类设置</a></li>
                                    <li><a href="#">商品归类</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="wm_ico arrow9down"></i>公共区域设置</a></li>
                            <li>
                                <a href="#"><i class="wm_ico arrow9down"></i>基础页面</a>
                                <ul class="con_nav_sublist">
                                    <li><a href="#">店铺首页</a></li>
                                    <li><a href="#">商品列表页</a></li>
                                    <li><a href="#">商品详细页</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="con_nav_item">
                        <h3>社团装修</h3>
                        <ul>
                            <li><a href="#"><i class="wm_ico arrow9down"></i>社团装修1</a></li>
                            <li><a href="#"><i class="wm_ico arrow9down"></i>社团装修2</a></li>
                            <li>
                                <a href="#"><i class="wm_ico arrow9down"></i>社团装修3</a>
                                <ul class="con_nav_sublist">
                                    <li><a href="#">社团装修3.1</a></li>
                                    <li><a href="#">社团装修3.2</a></li>
                                    <li><a href="#">社团装修3.3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="main_con">
                <div class="right_head">
                    <h3 class="title">商品归类</h3>

                </div>
                <div class="categories">
                    <form class="wm_form search_commodity clearfix">
                        <ul>
                            <li class="form_row notwrap">
                                <label class="row_key">商品名称：</label>
                                <input type="text" class="form_txt w200" />
                            </li>
                            <li class="form_row notwrap">
                                <label class="row_key">商品价格：</label>
                                <input type="text" class="form_txt w50" />至<input type="text" class="form_txt w50" />
                            </li>
                            <li class="form_row">
                                <label class="row_key">类型分类：</label>
                                <div class="">
                                    <select class="form_sel classparent">
                                    </select>
                                    <select class="form_sel classthis">
                                    </select>
                                </div>
                            </li>
                            <li class="form_row notwrap w500">
                                <label class="row_key">店铺分类：</label>
                                <select class="form_sel shop_class1">
                                </select>
                                <select class="form_sel shop_class2">
                                </select>
                            </li>
                            <li class="form_row notwrap">
                                
                                <input type="submit" class="submit" value="查询" />
                            </li>
                        </ul>
                    </form>

                    <div class="categories_btns">
                        <a href="#" class="btn batchset_group"><span class="iconfont">&#xf0175;</span>批量设置分类</a>
                    </div>
                    <table class="table_list" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="chkall" /></th>
                                <th>商品</th>
                                <th>价格</th>
                                <th>店铺分类</th>
                                <th>创建时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="comm_row" data-sc_list="[120100,120300]">
                                <td>
                                    <input type="checkbox" class="row_chk" />
                                </td>
                                <td>
                                    <a href="#" class="comm_img" title="商品名称商品名称商品名称商品名称商品名称商品名称">
                                        <img src="http://s.tcsh.me/tcsh/view/public/img/img404_1.png" /></a>
                                    <a href="#" class="comm_name">商品名称商品名称商品名称商品名称商品名称商品名称</a>
                                </td>
                                <td>￥100.00</td>
                                <td class="shop_class_list">
                                    <p>全部</p>
                                    <p>自定义1.1</p>
                                    <p>自定义2.1</p>
                                </td>
                                <td>2014-05-01</td>
                                <td>上架</td>
                                <td>
                                    <a href="#" class="set_group">编辑分组</a>
                                </td>
                            </tr>
                            <tr class="comm_row" data-sc_list="[120100,120200]">
                                <td>
                                    <input type="checkbox" class="row_chk" />
                                </td>
                                <td>
                                    <a href="#" class="comm_img" title="商品名称商品名称商品名称商品名称商品名称商品名称">
                                        <img src="http://s.tcsh.me/tcsh/view/public/img/img404_1.png" /></a>
                                    <a href="#" class="comm_name">商品名称商品名称商品名称商品名称商品名称商品名称</a>
                                </td>
                                <td>￥100.00</td>
                                <td class="shop_class_list">
                                    <p>全部</p>
                                    <p>自定义1.1</p>
                                    <p>自定义2.1</p>
                                </td>
                                <td>2014-05-01</td>
                                <td>上架</td>
                                <td>
                                    <a href="#" class="set_group">编辑分组</a>
                                </td>
                            </tr>
                            <tr class="comm_row" data-sc_list="[120100,120200]">
                                <td>
                                    <input type="checkbox" class="row_chk" />
                                </td>
                                <td>
                                    <a href="#" class="comm_img" title="商品名称商品名称商品名称商品名称商品名称商品名称">
                                        <img src="http://s.tcsh.me/tcsh/view/public/img/img404_1.png" /></a>
                                    <a href="#" class="comm_name">商品名称商品名称商品名称商品名称商品名称商品名称</a>
                                </td>
                                <td>￥100.00</td>
                                <td class="shop_class_list">
                                    <p>全部</p>
                                    <p>自定义1.1</p>
                                    <p>自定义2.1</p>
                                </td>
                                <td>2014-05-01</td>
                                <td>上架</td>
                                <td>
                                    <a href="#" class="set_group">编辑分组</a>
                                </td>
                            </tr>
                            <tr class="comm_row" data-sc_list="[120100,130200]">
                                <td>
                                    <input type="checkbox" class="row_chk" />
                                </td>
                                <td>
                                    <a href="#" class="comm_img" title="商品名称商品名称商品名称商品名称商品名称商品名称">
                                        <img src="http://s.tcsh.me/tcsh/view/public/img/img404_1.png" /></a>
                                    <a href="#" class="comm_name">商品名称商品名称商品名称商品名称商品名称商品名称</a>
                                </td>
                                <td>￥100.00</td>
                                <td class="shop_class_list">
                                    <p>全部</p>
                                    <p>自定义1.1</p>
                                    <p>自定义2.1</p>
                                </td>
                                <td>2014-05-01</td>
                                <td>上架</td>
                                <td>
                                    <a href="#" class="set_group">编辑分组</a>
                                </td>
                            </tr>
                            <tr class="comm_row" data-sc_list="[120100,130300]">
                                <td>
                                    <input type="checkbox" class="row_chk" />
                                </td>
                                <td>
                                    <a href="#" class="comm_img" title="商品名称商品名称商品名称商品名称商品名称商品名称">
                                        <img src="http://s.tcsh.me/tcsh/view/public/img/img404_1.png" /></a>
                                    <a href="#" class="comm_name">商品名称商品名称商品名称商品名称商品名称商品名称</a>
                                </td>
                                <td>￥100.00</td>
                                <td class="shop_class_list">
                                    <p>全部</p>
                                    <p>自定义1.1</p>
                                    <p>自定义2.1</p>
                                </td>
                                <td>2014-05-01</td>
                                <td>上架</td>
                                <td>
                                    <a href="#" class="set_group">编辑分组</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <div class="wm_page"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="put_on_record">
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        var global_setting = {
            brand_id: 74,
            PageInfo: { "pageKey": "Index", "TotalItems": 230, "TotalPages": 23, "Size": 10, "Index": 1, "Sort": 0, "Asc": 0, "WhereDic": { "SaleType": "-1" } }
        }
    </script>
</body>
</html>
