
/* --÷ÿ÷√πÃ∂®Õ∑≤ø-- */
#page .head { background: #810202; }
.head .head_top { background: #a40202; border-bottom: 1px solid #a40202; }
.head_top .head_top_bb1f { border-bottom: 1px #810202 solid; }
.head_top .sub_head_top { color: #fff; }
.sub_head_top .user_data a, .sub_head_top .user_data a:link, .sub_head_top .user_data a:active, .sub_head_top .user_data a:visited, .sub_head_top .user_data a:hover { color: #fff; }
.sub_head_top .user_data b { color: #fff; }
.sub_head_top .user_login a, .sub_head_top .user_login a:link, .sub_head_top .user_login a:active, .sub_head_top .user_login a:visited { color: #fff; }
.head_top .link_list b { color: #fff; vertical-align: middle; }
.head_top .pull_btns .idea { border: 1px solid #a40202; border-top: 0; border-bottom: 0; color: #fff; }
.head_top .pull_arrow em { color: #a40202; }
.head_top .pull_arrow span { color: #fff; }
.head_top .pull_btns .pull_list .pull_arrow em { color: #fff; }
.head_top .pull_btns .pull_list .pull_arrow span { color: #787878; }
.head_top .pull_btns .heart2 { margin-right: 8px; }
.head_top .link_list a, .head_top .link_list a:link, .head_top .link_list a:active, .head_top .link_list a:visited { color: #fff; }
.head_top .pull_btns .idea .heart1 { margin-right: 8px; padding-right: 0; background-position: right 0; }
.sub_head_top em { color: #db2c2b; }
.head_top .user_data .user_data_name, .head_top .user_data .user_data_name:link, .head_top .user_data .user_data_name:active, .head_top .user_data .user_data_name:visited { color: #fff; border-left-color: #a40202; border-right-color: #a40202; }
.head_top .user_data .user_data_name .iconfont, .head_top .user_msg .iconfont, .head_top .class_list .iconfont { color: #fff; }
.head_top .user_data:hover .user_data_name, .head_top .user_data_hover .user_data_name, .head_top .user_data:hover .iconfont, .head_top .user_data_hover .iconfont { color: #ff6a00; }
.head_top .user_data .user_data_ka { color: #535353; }
.head_top .user_data .user_data_ka .user_data_list b { padding: 0; color: #a40202; }
.head_top .top_data_item { color: #fff; }
.head_top .top_data_item b { color: #fff; }
.head_top .registration, .head_top .registration:link, .head_top .registration:active, .head_top .registration:visited, .head_top .registration:hover { color: #fff; }
.head_top .class_list .idea, .head_top .class_list .idea:link, .head_top .class_list .idea:active, .head_top .class_list .idea:visited { color: #fff; border-left-color: #a40202; border-right-color: #a40202; }
.head_top .class_list:hover .idea, .head_top .class_list_hover .idea, .head_top .class_list:hover .iconfont, .head_top .class_list_hover .iconfont { color: #ff6a00; }
.head .head_sub { height: 95px; padding-top: 32px; overflow: hidden; padding: 48px 0 0 15px; position: relative; }
.head .head_sub .wm_logo { float: left; padding: 32px 0 0 15px; }
.head .head_sub a, .head .head_sub a:link, .head .head_sub a:active, .head .head_sub a:visited, .head .head_sub a:hover { float: left; font-size:60px; color: #fff; }
.head .head_sub a:hover { text-decoration: none; }
.head .head_sub .logo_msg { position: absolute; bottom: 20px; left: 100px; }
.head .head_sub .logo_msg em, .head .head_sub .logo_msg span { display: block; color: #fff; font-style: normal; font-family: 'Microsoft YaHei'; }
.head .head_sub .logo_msg em { font-weight: 700; font-size: 22px; }
.head .head_sub .logo_msg span { padding-top: 8px; }
.head .head_sub .shop_name, .head .head_sub .shop_name:link, .head .head_sub .shop_name:active, .head .head_sub .shop_name:visited { color: #fff; width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 14px; position: relative; top: 54px; left: 140px; }
.head .head_sub .head_search { float: right; padding-top: 40px; margin: 0; }
.head .head_sub .head_search .head_search_bo { border: 1px solid #980303; overflow: hidden; position: relative; }
.head .head_sub .head_search .head_search_bo .magnifier2 { position: absolute; left: 5px; top: 5px; }
.head .head_sub .head_search input { display: block; float: left; padding: 7px 7px 7px 30px; border: 0 solid #fff; height: 16px; font-family: SimSun; }
.head .head_sub .head_search a, .head .head_sub .head_search a:link, .head .head_sub .head_search a:active, .head .head_sub .head_search a:visited, .head .head_sub .head_search a:hover { float: left; color: #fff; display: block; line-height: 30px; font-size: 16px; font-family: 'Microsoft YaHei'; padding: 0 10px; text-decoration: none; }
.head .head_sub .head_search .bgred { background: #C50303; }
.head .head_sub .head_search .bggray { background: #535353; }
.head .shop_nav { height: 30px; background: #323232; }
.head .shop_nav .shop_nav_sub { width: 980px; margin: 0 auto; height: 30px; overflow: hidden; }
.head .shop_nav .shop_nav_sub li { float: left; display: block; height: 100%; }
.head .shop_nav .shop_nav_sub li a, .head .shop_nav .shop_nav_sub li a:link, .head .shop_nav .shop_nav_sub li a:active, .head .shop_nav .shop_nav_sub li a:visited { padding: 0 20px; display: block; height: 100%; color: #fff; line-height: 30px; font-size: 14px; _float: left; }
.head .shop_nav .shop_nav_sub li a:hover { background: #ff8419; text-decoration: none; }
.head .shop_nav .shop_nav_sub li .curr, .head .shop_nav .shop_nav_sub li .curr:link, .head .shop_nav .shop_nav_sub li .curr:active, .head .shop_nav .shop_nav_sub li .curr:visited, .head .shop_nav .shop_nav_sub li .curr:hover { background: #c50301; font-weight: 700; }
#left_lib { background: #a40202; border: #810202; }
#left_lib .left_lib_ico a, #left_lib .left_lib_ico a:link, #left_lib .left_lib_ico a:active, #left_lib .left_lib_ico a:visited { color: #fff; }
.left_lib_item a, .left_lib_item a:link, .left_lib_item a:active, .left_lib_item a:visited { border: #810202; color: #fff; }
.left_lib_item a:hover { border: #999; color: #a40202; }
#left_lib .left_lib_item .curr, #left_lib .left_lib_item .curr:hover { border: #fff; color: #a40202; }
#left_lib .left_lib_item .curr { border: #fff; color: #a40202; }
#left_lib .ll_chang_btn, #left_lib .ll_chang_btn:link, #left_lib .ll_chang_btn:active, #left_lib .ll_chang_btn:visited { color: #fff; }
.tcshlogo, .tcshlogo:link, .tcshlogo:active, .tcshlogo:visited, .tcshlogo:hover { font-size: 70px; color: #e13436; text-decoration: none; display: block; float: left; height: 70px; line-height: 70px; padding: 12px 0 0 0; }
/* --π∫¬ÚœÍœ∏“≥-- */
.content_main { padding-top: 10px; position: relative; }
.mb10 { margin-bottom: 10px; }
.mr10 { margin-right: 10px; }
.pb10 { padding-bottom: 10px; }
.mb30 { margin-bottom: 30px; }
.pl10 { padding-left: 10px; }
.c5f { color: #5f5f5f; }
.colred { color: #c50303; }
.colblue { color: #0192b1; }
.fw700 { font-weight: 700!important; }
.fsize18 { font-size: 18px; }
.content_main label { width: 65px; display: block; float: left; text-align: right; padding-right: 5px; color: #323232; }
.site_map { height: 38px; line-height: 38px; background: #fff; padding: 0 10px; font-size: 12px; margin-bottom: 10px; font-family: SimSun; }
.site_map a { margin: 0 5px; }
.site_map strong a { font-size: 18px; font-family: 'Microsoft YaHei'; }
.buy_con { background: #fff; padding: 10px; overflow: hidden; zoom: 1; }
.buy_con .tab_commodity_img { width: 525px; overflow: hidden; float: left; }
.buy_con .tab_commodity_img .tci_sub { float: left; padding-right: 5px; }

.buy_con .tab_commodity_img .big_link { display: block; float: left; cursor: move; position: relative; width: 415px; height: 420px; }
.buy_con .tab_commodity_img li { position: relative; width: 100px; height: 100px; border: 1px solid #ccc; margin-bottom: 5px; }
.buy_con .tab_commodity_img .img_bg { position: absolute; top: 0; left: 0; width: 100px; background: #fff; height: 100px; line-height: 98px; cursor: pointer; text-align: center; }
.buy_con .tab_commodity_img .big_link .img_bg { width: 415px; background: #fff; height: 420px; line-height: 412px; border: 1px solid #ccc; cursor: default; }
.buy_con .tab_commodity_img img { max-width: 100px; max-height: 100px; vertical-align: middle; _width: 100px; _height: 100px; }
.buy_con .tab_commodity_img .big_link .img_bg img { max-width: 415px; max-height: 415px; cursor: move; vertical-align: middle; _width: 415px; _height: 415px; }

.buy_con .commodity_data { float: left; padding-left: 20px; width: 410px; display: inline; overflow: hidden; position: relative; min-height: 420px; }
.buy_con .commodity_data .fleft { float: left; }
.buy_con .commodity_data .clearleft { clear: left; }
.buy_con .commodity_data h3 { width: 410px; line-height: 26px; }
.buy_con .commodity_data li { line-height: 22px; font-size: 12px; font-family: SimSun; position: relative; }
.buy_con .commodity_data li b { font-weight: 500; }
.buy_con .commodity_data li .colred { font-weight: 700; }
.buy_con .commodity_data .tip { position: absolute; top: -10px; }
.buy_con .commodity_data .commodity_name { font-weight: 700; font-size: 14px; width: 410px; line-height: 26px; }
.change_city_box { width: 440px; }
.change_city_box .province_list { overflow: hidden; border-bottom: 1px solid #ddd; padding-bottom: 10px; }
.change_city_box .province_list li { float: left; width: 70px; line-height: 30px; }
.change_city_box .city_list { overflow: hidden; padding-top: 10px; }
.change_city_box .city_list li { float: left; line-height: 30px; padding: 0 10px 0 0; }
.change_city_box .province_list a, .change_city_box .city_list a { padding: 5px 10px; }

.change_city_box .province_list a:hover, .change_city_box .city_list a:hover, .change_city_box .curr { background-color: #a18c7c; color: #fff; text-decoration: none; }

.buy_attr_box .errmsg { display: none; line-height: 28px; background: #fff8f7; border-bottom: 1px solid #f3e9e7; padding-left: 10px; }
.buy_attr_box_err { margin-left: -10px; margin-bottom: 20px; border: 2px #c50303 solid; }
.buy_attr_box_err .errmsg { display: block; }
.buy_attr_box_err .options_box { border-bottom: 1px solid #f3e9e7; padding-left: 10px; padding-top: 10px; }
.buy_attr_box .errmsg .close { float: right; font-size: 26px; padding: 0 5px; text-decoration: none; }

.buy_con .options_box { _padding-bottom: 30px; }
.buy_con .options_box img { width: 25px; height: 25px; margin: 3px; }
.buy_con .options_box li { overflow: hidden; _zoom: 1; }

.buy_con .options_box li label { line-height: 40px; text-align: left; }

.buy_con .options_list { overflow: hidden; _display: inline; _zoom: 1; _position: relative; }
.buy_con .options_list li { float: left; *float: none; margin: 0 5px 5px 0; padding: 1px; display: inline; zoom: 1; }
.buy_con .options_list li a, .buy_con .options_list li a:link, .buy_con .options_list li a:visited, .buy_con .options_list li a:active { position: relative; display: inline; float: left; height: 31px; text-decoration: none; text-align: center; line-height: 31px; padding: 0 12px; border: 1px solid #b8b7bd; white-space: nowrap; margin: 0; outline: none; }

.buy_con .options_list li a .wm_ico { position: absolute; right: -2px; bottom: -2px; display: none; _zoom: 1; }
.buy_con .options_list li .disabled, .buy_con .options_list li .disabled:hover { border: 1px #ccc dashed!important; cursor: not-allowed; margin: 0!important; color: #bbb; }
.buy_con .options_list li .disabled .disabled_mask { display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
.buy_con .options_list li .curr .hook3 { display: block; }
.buy_con .options_list li a:hover, .buy_con .options_list li a.curr { border: 2px solid #c50303!important; margin: -1px!important; _zoom: 1; }


.buy_con .compare_box li { padding: 5px 0; }
.buy_con .compare_box li .ui_btn { margin: 0 10px 0 5px; }
.buy_con .commodity_data ul { *width: 410px; }
.buy_con .commodity_data .options_box { *width: 410px; }
.buy_con .commodity_data .options_list { *width: 340px; _width: 310px; }
.buy_con .commodity_data .logistics_box { overflow: hidden; }
.buy_con .commodity_data .logistics_box span { padding: 0 5px; }
.buy_con .commodity_data .logistics_box .wm_ico { margin: 0 5px; }
.buy_con .commodity_data .logistics_box .pl0 { padding-left: 0; }
.buy_con .commodity_data .logistics_box .change_city { cursor: pointer; }
.buy_con .commodity_data .logistics_box .wocao { float: left; width: 330px; }

.buy_con .options_list .options_img_item { overflow: hidden; }
.buy_con .options_list .options_img_item a { padding: 0; }
.buy_con .options_ipt_item { }
.buy_con .options_ipt_item .ipt_box, .buy_con .options_ipt_item .ipt_remark { float: left; line-height: 40px; font-size: 14px; color: #5F5F5F; }
.buy_con .options_ipt_item .ipt_txt { padding: 5px; }

.buy_con .options_ipt_item .ipt_num { position: relative; font-size: 14px; _margin-left: 2px; }
.buy_con .options_ipt_item .ipt_num input { width: 80px; *display: inline-block; *vertical-align: middle; }
.buy_con .options_ipt_item .ipt_num .arrowup, .buy_con .options_ipt_item .ipt_num .arrowdown { position: absolute; left: 100px; }
.buy_con .options_ipt_item .ipt_num .arrowup { top: 5px; }
.buy_con .options_ipt_item .ipt_num .arrowdown { top: 20px; }
.buy_con .options_ipt_item .ipt_num .ipt_num_units { padding-left: 22px; color: #5F5F5F; display: inline-block; vertical-align: middle; }
.buy_con .buy_btns { padding-left: 20px; }
.buy_con .buy_btns .ui_btn { margin-right: 20px; *float: left; }
.buy_con .buy_btns .ui_btn .ui_btn_txt { font-size: 18px; width: 110px; text-align: center; }
.buy_con .buy_btns .share, .buy_con .buy_btns .collect { line-height: 40px; display: inline-block; font-family: SimSun; *width: 80px; }
.buy_con .buy_btns .pentagonal1 { margin-right: 10px; margin-top: -5px; }

.buy_sub { padding-top: 30px; }
.buy_sub .buy_sub_head { background: #5f5f5f; height: 36px; line-height: 36px; color: #fff; font-size: 18px; font-family: 'Microsoft YaHei'; }
.buy_sub .buy_sub_left { float: left; width: 180px; overflow: hidden; margin-right: 10px; }
.buy_sub .buy_sub_left .head_title { font-size: 18px; font-family: 'Microsoft YaHei' SimSun; padding-left: 15px; font-weight: 500; }
.buy_sub .buy_sub_left .buy_history { padding: 10px; background: #c2c2c2; }
.buy_sub .buy_sub_left .buy_history li { background: #fff; overflow: hidden; padding-bottom: 10px; margin-bottom: 10px; _zoom: 1; }
.buy_sub .buy_sub_left .buy_history img { display: block; width: 160px; height: 160px; }
.buy_sub .buy_sub_left .buy_history p { line-height: 22px; padding: 10px 10px 0 10px; }
.buy_sub .buy_sub_left .buy_history .commodity_price { }
.buy_sub .buy_sub_left .buy_history .commodity_price b { color: #e13436; font-size: 14px; float: left; padding-left: 10px; display: block; width: 140px; }
.buy_sub .buy_sub_left .buy_history .commodity_price span { padding-left: 10px; }

.buy_sub .buy_sub_right { float: left; width: 790px; overflow: hidden; }
.buy_sub .buy_sub_right .buy_sub_head { border-bottom: 2px #c50303 solid; height: 34px; line-height: 34px; padding-left: 20px; }
.buy_sub .buy_sub_right .buy_sub_head li { float: left; display: block; padding: 0 25px; position: relative; margin-bottom: -2px; _padding-top: 2px; }
.buy_sub .buy_sub_right .buy_sub_head li a { color: #fff; font-size: 18px; text-decoration: none; display: block; }

.buy_sub .tab_box { background: #fff; overflow: hidden; }
.buy_sub .introduction .buy_sub_head .introduction,
.buy_sub .comment .buy_sub_head .comment,
.buy_sub .tab_single_sun .buy_sub_head .tab_single_sun { background: #fff; height: 34px; border: 2px #c50303 solid; border-bottom: 0; }
.buy_sub .introduction .buy_sub_head .introduction a,
.buy_sub .comment .buy_sub_head .comment a,
.buy_sub .tab_single_sun .buy_sub_head .tab_single_sun a { color: #1b1a1a; }

.buy_sub .tab_main_item { display: none; padding: 10px 15px 10px 15px; width: 760px; }
.buy_sub .introduction .introduction_main,
.buy_sub .comment .comment_main,
.buy_sub .tab_single_sun .tab_single_sun_main { display: block; }
.buy_sub .tab_main_item .main_title { line-height: 40px; }
.buy_sub .introduction_data_list { overflow: hidden; padding-bottom: 30px; padding-left: 5px; }
.buy_sub .introduction_data_list li { float: left; line-height: 28px; width: 190px; overflow: hidden; text-overflow: ellipsis; margin-right: 55px; white-space: nowrap; }
.buy_sub .introduction_data_list li label { display: inline; width: auto; }
.buy_sub .introduction_detailed { overflow: hidden; text-align: center; font: 14px/1.5 tahoma,arial,\5b8b\4f53,sans-serif; }
.buy_sub .introduction_detailed table { margin: 0 auto; display: table; zoom: 1; }
.buy_sub .introduction_detailed img { vertical-align: top; }
.buy_sub .introduction_detailed li { }

.buy_sub .comment_main .quality_box { padding: 10px 20px; border: 1px #bcbccb solid; overflow: hidden; width: 600px; margin: 20px auto; }
.buy_sub .comment_main .quality_box li { overflow: hidden; width: 270px; margin-right: 10px; float: left; padding: 5px 0; }
.buy_sub .comment_main .quality_box .quality_remark { font-size: 14px; color: #c50303; }

.buy_sub .comment_main .inset_comment { padding: 20px 40px; border: 1px #bcbccb solid; overflow: hidden; width: 560px; margin: 20px auto; }
.buy_sub .comment_main .inset_comment li { overflow: hidden; margin-right: 10px; padding: 7px 0; }
.buy_sub .comment_main .inset_comment .quality_remark { font-size: 14px; color: #c50303; }
.buy_sub .comment_main .inset_comment textarea { resize: none; width: 450px; height: 150px; padding: 5px; }
.buy_sub .comment_main .inset_comment .ui_btn { margin-right: 10px; }


.buy_sub .comment_main .comment_list { padding: 20px 20px 115px 20px; background: url(http://s.tcsh.me/tcsh/view/public/img/loading/loading32_32_1.gif) 340px 50px no-repeat; }
.buy_sub .comment_main .comment_list .item_data { float: left; }
.buy_sub .comment_main .comment_list .comment_item { float: left; overflow: hidden; width: 100%; border-bottom: 1px #e3e3e3 solid; padding: 20px 0; margin-bottom: 20px; background: #fff; }
.buy_sub .comment_main .comment_list .comment_msg { width: 290px; padding-right: 40px; }
.buy_sub .comment_main .comment_list .comment_msg p { line-height: 20px; word-break: break-all; }
.buy_sub .comment_main .comment_list .comment_msg_date { color: #ccc; line-height: 30px; }
.buy_sub .comment_main .comment_list .commodity_data { width: 200px; }
.buy_sub .comment_main .comment_list .commodity_data li { display: block; color: #999; }
.buy_sub .comment_main .comment_list .commodity_data li label { text-align: left; width: auto; color: #666; }
.buy_sub .comment_main .comment_list .user_data { line-height: 20px; }
.buy_sub .comment_main .comment_list .user_data .user_ico { display: block; }


.buy_sub .tab_single_sun_main { overflow: hidden; padding-top: 30px; padding-bottom: 90px; background: url(http://s.tcsh.me/tcsh/view/public/img/loading/loading32_32_1.gif) 340px 50px no-repeat; }
.buy_sub .tab_single_sun_main .show_single_sun { float: right; padding-right: 20px; color: #4fa2d6; }
.buy_sub .tab_single_sun_main ul { border: 1px solid #d2d2d2; position: relative; width: 640px; float: right; *float: left; padding: 0 10px; font-size: 12px; margin-bottom: 30px; background: #fff; *margin-left: 100px; _margin-left: 50px; clear: both; }
.buy_sub .tab_single_sun_main ul .btns { text-align: right; padding: 20px 40px 10px 0; }
.buy_sub .tab_single_sun_main ul .btns .ui_btn { margin-left: 10px; }
.buy_sub .tab_single_sun_main ul h3 { color: #f57b15; font-size: 12px; border-bottom: 1px solid #d2d2d2; }
.buy_sub .tab_single_sun_main ul .tab_single_sun_userdata { position: absolute; top: 0; left: 0; width: 90px; left: -100px; }
.buy_sub .tab_single_sun_main ul .row_key { font-size: 12px; width: 70px; }
.buy_sub .tab_single_sun_main ul .tab_single_sun_userdata img { width: 80px; height: 80px; }
.buy_sub .tab_single_sun_main ul .tab_single_sun_userdata .user_img { width: 80px; height: 80px; display: block; padding: 3px; border: 1px solid #e4e4e4; background: #fff; box-shadow: 0px 0px 5px #e4e4e4; }
.buy_sub .tab_single_sun_main ul .tab_single_sun_userdata .user_name { text-align: center; display: block; width: 80px; height: 20px; overflow: hidden; line-height: 20px; }
.buy_sub .tab_single_sun_main ul .single_sun_img_list { border: 0; width: 540px; float: left; height: 115px; overflow: hidden; margin: 0; }
.buy_sub .tab_single_sun_main ul .single_sun_img_list li { display: block; float: left; width: 110px; height: 110px; border: 1px solid #d4d4d4; margin: 0 20px 20px 0; text-align: center; background: url(http://s.tcsh.me/tcsh/view/public/img/loading/loading32_32_1.gif) 32px 34px no-repeat; }
.buy_sub .tab_single_sun_main ul .single_sun_img_list img { width: 110px; height: 110px; }
.buy_sub .tab_single_sun_main ul .add_call_msg { position: relative; border: 1px solid #d2d2d2; padding: 10px 0; margin: 10px 0 10px 24px; zoom: 1; background: #f0f0f0; display: none; }
.buy_sub .tab_single_sun_main ul .add_call_msg .form_textarea { width: 470px; height: 16px; float: left; margin-left: 20px; line-height: 18px; overflow: hidden; }
.buy_sub .tab_single_sun_main ul .add_call_msg .ui_btn { float: left; }
.buy_sub .tab_single_sun_main ul .add_call_msg .arrow { position: absolute; top: -10px; right: 30px; }
.buy_sub .tab_single_sun_main ul .add_call_msg .arrow span, .buy_sub .tab_single_sun_main ul .add_call_msg .arrow em { position: absolute; font-family: SimSun,Hiragino; font-style: normal; line-height: 21px; z-index: 10; font-size: 14px; }
.buy_sub .tab_single_sun_main ul .add_call_msg .arrow em { color: #d2d2d2; }
.buy_sub .tab_single_sun_main ul .add_call_msg .arrow span { color: #f0f0f0; top: 1px; }
.buy_sub .tab_single_sun_main ul .add_call_msg .call_user { padding-left: 20px; float: left; }
.buy_sub .tab_single_sun_main .wm_page { float: right; }
#maxbig_img { }
#maxbig_img img { min-height: 840px; min-width: 830px; vertical-align: middle; }
.content_main .bus_shortcuts { position: absolute; left: 980px; top: 58px; background: #fff; overflow: hidden; visibility: hidden; }
.content_main .bus_shortcuts a { display: block; white-space: nowrap; padding: 5px 10px; }

.aftermarket_msg { background: #fff; margin-top: 30px; padding: 30px; overflow: hidden; font-size: 14px; color: #3F3F3F; background: #FFFFE5; border: 1px solid #FFCC7F; _zoom: 1; }
.aftermarket_msg .aftermarket_msg_key { font-weight: 700; float: left; }
.aftermarket_msg .msg_main { float: left; width: 640px; line-height: 22px; word-break: break-all; }

.wizard { position: absolute; border: 2px solid #c50303; width: 50px; height: 50px; }
.wizard img { width: 50px; height: 50px; }
