<!DOCTYPE html>
<html lang="en">
<head>
    <title>客服QQ</title>
    <link type="text/css" href="../../ago/public/css/global.css" rel="stylesheet" />
    <link type="text/css" href="css/style.css" rel="stylesheet" />
    <style>
        body { padding: 50px; }
    </style>
</head>
<body>
    <div class="qq_srever_box">
        <div class="qq_srever_head">
            <h3>在线客服</h3>
        </div>
        <div class="qq_server_con">
            <ul class="qq_list">
                <li>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=130016001&site=qq&menu=yes">
                        <img border="0" src="http://wpa.qq.com/pa?p=2:130016001:51" alt="点击这里给我发消息" title="点击这里给我发消息" /></a>
                </li>
                <li>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=130016001&site=qq&menu=yes">
                        <img border="0" src="http://wpa.qq.com/pa?p=2:130016001:51" alt="点击这里给我发消息" title="点击这里给我发消息" /></a>
                </li>
                <li>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=130016001&site=qq&menu=yes">
                        <img border="0" src="http://wpa.qq.com/pa?p=2:130016001:51" alt="点击这里给我发消息" title="点击这里给我发消息" /></a>
                </li>
                <li>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=130016001&site=qq&menu=yes">
                        <img border="0" src="http://wpa.qq.com/pa?p=2:130016001:51" alt="点击这里给我发消息" title="点击这里给我发消息" /></a>
                </li>
                <li>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=130016001&site=qq&menu=yes">
                        <img border="0" src="http://wpa.qq.com/pa?p=2:130016001:51" alt="点击这里给我发消息" title="点击这里给我发消息" /></a>
                </li>
                <li>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=130016001&site=qq&menu=yes">
                        <img border="0" src="http://wpa.qq.com/pa?p=2:130016001:51" alt="点击这里给我发消息" title="点击这里给我发消息" /></a>
                </li>
            </ul>
            <ul class="link_phone">
                <li class="title">
                    <h3>咨询热线：</h3>
                </li>
                <li>0574-63888888
                </li>
                <li>4000-88888888
                </li>
                <li>0574-63888888
                </li>
                <li>4000-88888888
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
