#page .content { margin-bottom: 20px;background:#fff }
#page .content .con_sub { width: 100%; background: #fff; }
.content_main { width: 980px; margin: 0 auto; }
.site_map { line-height:60px;}
.site_map .fq_msg { float:right}
.site_map .fq_msg b { color:#e13436}
.form_bg { background:#f2f2f2;border:1px solid #e2e2e2;padding:30px}
.from_title { font-size:12px;font-weight:500;color:#989797;padding-bottom:10px}
.wm_form .row_key { text-align:left;width:60px}
.wm_form .form_txt { padding:4px}
.from_msg {font-size: 12px;padding: 10px 0 15px 30px;line-height: 30px; }
.submit { margin-left:20px}
.get_password .submit .ui_btn_txt { padding:0 30px;font-size:16px;font-weight:700}