<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../public/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../../public/css/ico.css" />
    <link type="text/css" rel="stylesheet" href="../public/css/schedule.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_discount/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../public/wm_block/css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="config.js" data-init="single_sun"></script>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_top">
                <div class="sub_head_top">
                    <div class="user_data">
                        <span>欢迎加入同城生活帮：</span>
                        <span>柴逸宁</span>
                    </div>
                    <div class="user_login">
                        <span>欢迎加入同城生活帮：</span>
                        <a href="#">登录</a>
                        <em>|</em>
                        <a href="#">免费注册</a>
                    </div>
                    <div class="link_list">
                        <a href="#">订单管理</a><em>|</em>
                        <a href="#">心愿面板</a><em>|</em>
                        <a href="#">推广同城生活</a><em>|</em>
                        <a href="#">成长基金</a><em>|</em>
                        <a href="#">帮助中心</a>
                    </div>
                    <div class="follow_wm">
                        <a href="#"><i class="wm_ico heart1"></i>关注同城生活</a>
                    </div>
                </div>

            </div>
            <div class="head_sub">

                <div class="head_con">
                    <div class="wm_logo">
                        <img src="../../public/img/wm_logo.png" width="180" height="80" />
                    </div>
                    <div class="logo_msg">
                        <span class="ui_btn ui_btn_h22red10"><span class="ui_btn_txt"><i>嗅嗅品牌的味道</i></span></span>
                        <em class="wm_ico triangle1">&nbsp;</em>
                    </div>
                    <div class="head_search brands">
                        <div class="head_search_tab">
                            <a class="tab_item tab_item_brands" href="#" parent_key="brands">品牌</a><a class="tab_item tab_item_commodity" href="#" parent_key="commodity">商品</a>
                        </div>
                        <div class="head_search_form">
                            <form>
                                <input type="text" placeholder="李宁/耐克/乔丹" name="brands" class="search_brands" />
                                <input type="text" placeholder="羽毛球/篮球/足球" name="brands" class="search_commodity" />
                                <a href="#" class="search_btn">搜 索<i class="wm_ico magnifier1"></i></a>
                                <input type="hidden" name="search_type" />
                            </form>
                        </div>
                    </div>
                    <div class="link_list">
                        <div class="link_item">
                            <a href="#">
                                <img src="../public/img/pptm.png" />
                            </a>
                            <a href="#">品牌特卖</a>

                        </div>
                        <div class="link_item">
                            <a href="#">
                                <img src="../public/img/rqjh.png" /></a>

                            <a href="#">人气聚合</a>
                        </div>
                        <div class="link_item">
                            <a href="#">
                                <img src="../public/img/syjf.png" /></a>
                            <a href="#">收益均分</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="head_nav">
                <div class="sub_head_nav">
                    <div class="all_nav_item">
                        所有品类目录
                    </div>
                    <div class="sub_nav">
                        <ul>
                            <li class="sub_nav_item curr"><a href="#">首页</a><em class="wm_ico dashed1"></em></li>
                            <li class="sub_nav_item"><a href="#">品牌馆</a><em class="wm_ico dashed1"></em></li>
                            <li class="sub_nav_item"><a href="#">现实购</a><em class="wm_ico dashed1"></em></li>
                            <li class="sub_nav_item"><a href="#">集美社</a><em class="wm_ico dashed1"></em></li>
                            <li class="sub_nav_item end"><a href="#">美推手</a><em class="wm_ico dashed1"></em><i></i></li>
                        </ul>
                    </div>
                    <div class="wumeibang">
                        <a href="#"><i class="wm_ico wumeibang_ico"></i>同城生活帮</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="con_sub">
                <div class="content_main single_sun">
                    <div class="site_map">面包屑导航（只有在3级页面上才能出现，面包屑导航）首页>......>商品介绍</div>
                    <div class="single_sun_con">
                        <div class="single_sun_con_sub">
                            <div class="single_sun_left">
                                <div class="commodity_data">
                                    <a href="#" title="商品名称" class="commodity_img">
                                        <img src="http://img.wumeiwang.com/M00/00/02/oYYBAFI2vI-ATljvAAFE3XR5nVU552.jpg" alt="商品名称" />
                                    </a>
                                    <a href="#" class="commodity_name block">商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称</a>
                                    <span class="block">特卖价：<b>￥999.00</b></span>
                                    <span class="block">成交量：15555555</span>
                                    <div class="btns">
                                        <a href="#" class="ui_btn ui_btn_h40red2"><span class="ui_btn_txt">立即购买 >></span></a>
                                    </div>
                                </div>
                                <div class="single_sun_list">
                                    <div class="single_sun_list_head">
                                        <h3>本品其他晒单</h3>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#">1、晒单标题1晒单标题1晒单标题1晒单标题1</a>
                                        </li>
                                        <li>
                                            <a href="#">2、晒单标题1晒单标题1晒单标题1晒单标题1</a>
                                        </li>
                                        <li>
                                            <a href="#">3、晒单标题1晒单标题1晒单标题1晒单标题1</a>
                                        </li>
                                        <li>
                                            <a href="#">4、晒单标题1晒单标题1晒单标题1晒单标题1</a>
                                        </li>
                                        <li>
                                            <a href="#">5、晒单标题1晒单标题1晒单标题1晒单标题1</a>
                                        </li>
                                        <li>
                                            <a href="#">6、晒单标题1晒单标题1晒单标题1晒单标题1</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="single_sun_right ">
                                <ul class="right_list">
                                    <li class="single_sun_data">
                                        <div class="user_data">
                                            <span class="user_img">
                                                <img src="http://img.wumeiwang.com/M00/00/02/o4YBAFI2vFWAG54EAAC-eXgJMDo047.jpg" title="用户昵称" /></span>
                                            <span class="user_name">用户昵称用户昵称用户昵称用户昵称</span>
                                        </div>
                                        <div class="single_sun_mian">
                                            <div class="single_sun_mian_head">
                                                <h3>套子好用，用完还能吹泡泡！</h3>
                                                <div class="out_share">
                                                    <!-- Baidu Button BEGIN -->
                                                    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                                                        <span class="bds_more">分享到：</span>
                                                        <a class="bds_tqq"></a>
                                                        <a class="bds_tsina"></a>
                                                        <a class="bds_qzone"></a>
                                                        <a class="bds_renren"></a>
                                                        <a class="bds_t163"></a>
                                                        <a class="shareCount"></a>
                                                    </div>
                                                    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0"></script>
                                                    <script type="text/javascript" id="bdshell_js"></script>
                                                    <script type="text/javascript">
                                                        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000)
                                                    </script>
                                                    <!-- Baidu Button END -->
                                                </div>
                                            </div>
                                            <table class="experience">
                                                <tbody>
                                                    <tr>
                                                        <td class="title">心得：</td>
                                                        <td>很有意思的一部书，我很喜欢。看完第一部就期待第二部，总算买到了。虽说“江相派”作为整体灭亡了，再也不可能在中国历史上掀起大风大浪，但它也曾经盛极一时，门生曾遍布全国乃至今天仍有一些余孽在折腾。　　等我再走近点仔细一听，不得了！这群人用的就是“江相北派的“双金口”。想当年，东南西北四大堂口各有特长：东派擅长“扎飞”，南派擅长“英西派擅长“风水局”，北派擅长“双金口”。　　双金口，又叫“两头堵”，是几百年来北派总结的百发百中的算命断语，这些断语极富诡辩之意，甭管对谁说，对方肯定回答：“是！” 　　我们来看看下面几个口诀。　　“你这个人啊，操心的命，而且总是受累不讨好！” 　　人生本来就很累。不管是达官贵人还是寻常百姓，都在为了生活挖空心思、绞尽脑汁，哪个不操心且人生不如意之事十之七八，几乎所有人都认为自己受累不讨好。但前来算命的狍子不这么想为他们根本没考虑这里面的猫腻，阿宝们看看你的手相，突然来这么一句，80%的人都会暗赞得真对！” 　　“你这个人啊，中年以后交大运，老命好！” 　　喜欢算命人的几乎没有七的，老人从不算命，因为大半生都过完了，什么命自己最清楚，即便是算，也是给儿子或孙子了这个年龄差，阿宝们就好办了，年轻人或中年人来了，先说你最近不太好，犯灾煞，然后再35岁或40岁以后起大运，到老的时候命特别好，这其实是“千隆并施”。前来算命的人肯定觉很准，可他有没有想过，什么样的人才会算命？</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="title">帅照：</td>
                                                        <td>
                                                            <span class="max_img">
                                                                <img src="http://img.wumeiwang.com/M00/00/02/o4YBAFIxHIiAZWIFAAEWpF2VG4s925.jpg" /></span>
                                                            <div class="min_img_list">
                                                                <div class="min_img_list_sub">
                                                                    <ul class="wm_forimg_list">
                                                                        <li class="for_img_item">
                                                                            <a href="#" class="min_img_to_max">
                                                                                <img class="min_img" src="http://img.wumeiwang.com/M00/00/02/o4YBAFIxHIiAZWIFAAEWpF2VG4s925.jpg" /></a>
                                                                        </li>
                                                                        <li class="for_img_item">
                                                                            <a href="#" class="min_img_to_max">
                                                                                <img class="min_img" src="http://img.wumeiwang.com/M00/00/02/oYYBAFI2vI-ATljvAAFE3XR5nVU552.jpg" /></a>
                                                                        </li>
                                                                        <li class="for_img_item">
                                                                            <a href="#" class="min_img_to_max">
                                                                                <img class="min_img" src="http://img.wumeiwang.com/M00/00/02/o4YBAFI2vFWAG54EAAC-eXgJMDo047.jpg" /></a>
                                                                        </li>
                                                                        <li class="for_img_item">
                                                                            <a href="#" class="min_img_to_max">
                                                                                <img class="min_img" src="http://img.wumeiwang.com/M00/00/02/ooYBAFIyYdaAZYZrAAkVVGMybN8235.jpg" /></a>
                                                                        </li>
                                                                        <li class="for_img_item">
                                                                            <a href="#" class="min_img_to_max">
                                                                                <img class="min_img" src="http://img.wumeiwang.com/M00/00/02/o4YBAFIxHIiAZWIFAAEWpF2VG4s925.jpg" /></a>
                                                                        </li>
                                                                        <li class="for_img_item">
                                                                            <a href="#" class="min_img_to_max">
                                                                                <img class="min_img" src="http://img.wumeiwang.com/M00/00/02/o4YBAFIxHIiAZWIFAAEWpF2VG4s925.jpg" /></a>
                                                                        </li>
                                                                        <li class="for_img_item">
                                                                            <a href="#" class="min_img_to_max">
                                                                                <img class="min_img" src="http://img.wumeiwang.com/M00/00/02/o4YBAFIxHIiAZWIFAAEWpF2VG4s925.jpg" /></a>
                                                                        </li>
                                                                        <li class="for_img_item">
                                                                            <a href="#" class="min_img_to_max">
                                                                                <img class="min_img" src="http://img.wumeiwang.com/M00/00/02/o4YBAFIxHIiAZWIFAAEWpF2VG4s925.jpg" /></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <a href="#" class="uproll"><i class="wm_ico arrow14up "></i></a>
                                                            <a href="#" class="downroll"><i class="wm_ico arrow14down "></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="btns">
                                                <a href="#" class="ui_btn ui_btn_h21gray9 add_call_btn"><span class="ui_btn_txt">回复</span></a>
                                                <a href="#" class="ui_btn ui_btn_h21gray9"><span class="ui_btn_txt">有用(10)</span></a>
                                                <span>发表于：2013-02-02 19:55</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="single_sun_data call_msg" data_msg="我也买了这个书，挺好看的！" data_id="78956465">
                                        <div class="user_data">
                                            <span class="user_img">
                                                <img src="http://img.wumeiwang.com/M00/00/02/o4YBAFI2vFWAG54EAAC-eXgJMDo047.jpg" title="用户昵称" /></span>
                                            <span class="user_name">用户昵称用户昵称用户昵称用户昵称</span>
                                        </div>
                                        <div class="single_sun_mian">
                                            <span class="call_msg_index">1楼</span>
                                            <p class="call_msg_item">我也买了这个书，挺好看的！</p>
                                            <ul class="call_list">
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">狗叔叔</span><span>2013-01-19 12:00</span></span>
                                                    <p>我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看</p>

                                                </li>
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">小菜</span><span>2013-01-19 13:00</span></span>
                                                    <p>好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼</p>
                                                </li>
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">小菜</span><span>2013-01-19 13:00</span></span>
                                                    <p>好看个JB，2傻逼</p>
                                                </li>
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">小菜</span><span>2013-01-19 13:00</span></span>
                                                    <p>好看个JB，2傻逼</p>
                                                </li>
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">小菜</span><span>2013-01-19 13:00</span></span>
                                                    <p>好看个JB，2傻逼</p>
                                                </li>
                                            </ul>
                                            <div class="btns">
                                                <a href="#" class="ui_btn ui_btn_h21gray9 add_call_btn"><span class="ui_btn_txt">回复</span></a>
                                                <span>发表于：2013-02-02 19:55</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="single_sun_data call_msg" data_msg="我也买了这个书，挺好看的！" data_id="78956465">
                                        <div class="user_data">
                                            <span class="user_img">
                                                <img src="http://img.wumeiwang.com/M00/00/02/o4YBAFI2vFWAG54EAAC-eXgJMDo047.jpg" title="用户昵称" /></span>
                                            <span class="user_name">用户昵称用户昵称用户昵称用户昵称</span>
                                        </div>
                                        <div class="single_sun_mian">
                                            <span class="call_msg_index">1楼</span>
                                            <p class="call_msg_item">我也买了这个书，挺好看的！</p>
                                            <ul class="call_list">
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">狗叔叔</span><span>2013-01-19 12:00</span></span>
                                                    <p>我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看</p>

                                                </li>
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">小菜</span><span>2013-01-19 13:00</span></span>
                                                    <p>好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼</p>
                                                </li>
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">小菜</span><span>2013-01-19 13:00</span></span>
                                                    <p>好看个JB，2傻逼</p>
                                                </li>
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">小菜</span><span>2013-01-19 13:00</span></span>
                                                    <p>好看个JB，2傻逼</p>
                                                </li>
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">小菜</span><span>2013-01-19 13:00</span></span>
                                                    <p>好看个JB，2傻逼</p>
                                                </li>
                                            </ul>
                                            <div class="btns">
                                                <a href="#" class="ui_btn ui_btn_h21gray9 add_call_btn"><span class="ui_btn_txt">回复</span></a>
                                                <span>发表于：2013-02-02 19:55</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="single_sun_data call_msg" data_msg="我也买了这个书，挺好看的！" data_id="78956465">
                                        <div class="user_data">
                                            <span class="user_img">
                                                <img src="http://img.wumeiwang.com/M00/00/02/o4YBAFI2vFWAG54EAAC-eXgJMDo047.jpg" title="用户昵称" /></span>
                                            <span class="user_name">用户昵称用户昵称用户昵称用户昵称</span>
                                        </div>
                                        <div class="single_sun_mian">
                                            <span class="call_msg_index">1楼</span>
                                            <p class="call_msg_item">我也买了这个书，挺好看的！</p>
                                            <ul class="call_list">
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">狗叔叔</span><span>2013-01-19 12:00</span></span>
                                                    <p>我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看</p>

                                                </li>
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">小菜</span><span>2013-01-19 13:00</span></span>
                                                    <p>好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼</p>
                                                </li>
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">小菜</span><span>2013-01-19 13:00</span></span>
                                                    <p>好看个JB，2傻逼</p>
                                                </li>
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">小菜</span><span>2013-01-19 13:00</span></span>
                                                    <p>好看个JB，2傻逼</p>
                                                </li>
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">小菜</span><span>2013-01-19 13:00</span></span>
                                                    <p>好看个JB，2傻逼</p>
                                                </li>
                                            </ul>
                                            <div class="btns">
                                                <a href="#" class="ui_btn ui_btn_h21gray9 add_call_btn"><span class="ui_btn_txt">回复</span></a>
                                                <span>发表于：2013-02-02 19:55</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="single_sun_data call_msg" data_msg="我也买了这个书，挺好看的！" data_id="78956465">
                                        <div class="user_data">
                                            <span class="user_img">
                                                <img src="http://img.wumeiwang.com/M00/00/02/o4YBAFI2vFWAG54EAAC-eXgJMDo047.jpg" title="用户昵称" /></span>
                                            <span class="user_name">用户昵称用户昵称用户昵称用户昵称</span>
                                        </div>
                                        <div class="single_sun_mian">
                                            <span class="call_msg_index">1楼</span>
                                            <p class="call_msg_item">我也买了这个书，挺好看的！</p>
                                            <ul class="call_list">
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">狗叔叔</span><span>2013-01-19 12:00</span></span>
                                                    <p>我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看我也买了，挺好看</p>

                                                </li>
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">小菜</span><span>2013-01-19 13:00</span></span>
                                                    <p>好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼好看个JB，2傻逼</p>
                                                </li>
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">小菜</span><span>2013-01-19 13:00</span></span>
                                                    <p>好看个JB，2傻逼</p>
                                                </li>
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">小菜</span><span>2013-01-19 13:00</span></span>
                                                    <p>好看个JB，2傻逼</p>
                                                </li>
                                                <li>
                                                    <span class="user_data"><span class="call_user_name">小菜</span><span>2013-01-19 13:00</span></span>
                                                    <p>好看个JB，2傻逼</p>
                                                </li>
                                            </ul>
                                            <div class="btns">
                                                <a href="#" class="ui_btn ui_btn_h21gray9 add_call_btn"><span class="ui_btn_txt">回复</span></a>
                                                <span>发表于：2013-02-02 19:55</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="single_sun_data call_msg" data_msg="我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！" data_id="1346587">
                                        <div class="user_data">
                                            <span class="user_img">
                                                <img src="http://img.wumeiwang.com/M00/00/02/o4YBAFI2vFWAG54EAAC-eXgJMDo047.jpg" title="用户昵称" /></span>
                                            <span class="user_name">用户昵称用户昵称用户昵称用户昵称</span>
                                        </div>
                                        <div class="single_sun_mian">
                                            <span class="call_msg_index">2楼</span>
                                            <p class="call_msg_item">我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！</p>
                                            <div class="btns">
                                                <a href="#" class="ui_btn ui_btn_h21gray9 add_call_btn"><span class="ui_btn_txt">回复</span></a>
                                                <span>发表于：2013-02-02 19:55</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="add_call_msg">
                                    <div class="add_call_msg_head">
                                        <h3>发表回复</h3>
                                    </div>
                                    <form class="wm_form add_call_msg_form">
                                        <ul>
                                            <li class="form_row">
                                                <label class="row_key">内容：</label>
                                                <div class="floatleft add_call_msg_con">
                                                    <div class="add_call_parend">
                                                        <a href="#" class="wm_ico fork2 del_call"></a>
                                                        我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！我也买了这个书，挺好看的！
                                                    </div>
                                                    <textarea class="form_textarea add_call_msg_txt"></textarea>
                                                </div>
                                            </li>
                                            <li class="form_row btns">
                                                <label class="row_key">&nbsp;</label>
                                                <a href="#" class="ui_btn ui_btn_h26red14"><span class="ui_btn_txt">提交</span></a>
                                            </li>
                                        </ul>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="link_list">
                    <div class="link_item">
                        <span>服务保障</span>
                        <ul>
                            <li><a href="#">正品保障</a></li>
                            <li><a href="#">7天无条件退货</a></li>
                            <li><a href="#">7*15小时服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>购物指南</span>
                        <ul>
                            <li><a href="#">导购演示</a></li>
                            <li><a href="#">订单操作</a></li>
                            <li><a href="#">用户指南</a></li>
                            <li><a href="#">账号管理</a></li>
                            <li><a href="#">购物参考</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>支付方式</span>
                        <ul>
                            <li><a href="#">网银支付币</a></li>
                            <li><a href="#">支付平台</a></li>
                            <li><a href="#">信用卡</a></li>
                            <li><a href="#">同城生活金币</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>配送方式</span>
                        <ul>
                            <li><a href="#">配送服务</a></li>
                            <li><a href="#">配送范围和运费</a></li>
                            <li><a href="#">验货与签收</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>售后服务</span>
                        <ul>
                            <li><a href="#">退换货政策</a></li>
                            <li><a href="#">退换货流程</a></li>
                            <li><a href="#">退款方式和时效</a></li>
                        </ul>
                    </div>
                    <div class="link_item end">
                        <span>同城生活模式</span>
                        <ul>
                            <li><a href="#">聚合式品牌特卖</a></li>
                            <li><a href="#">同城生活成长基金</a></li>
                            <li><a href="#">推手规则</a></li>
                        </ul>
                    </div>
                </div>
                <div class="put_on_record">
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                    <a href="#">
                        <img src="../../public/img/internetPolice.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/putOnRecord.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/internetBusiness.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/siteCredits.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/trusty.png" />
                    </a>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
