<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??operations/public/css/global.css,public/css/ico.css,public/wm_btn/css/style.css,public/wm_btn/css/style.css,public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>

    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/operations/mood/config.js" data-init="mood_list"></script>

</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_top">
                <div class="sub_head_top">
                    <a href="#">同城生活首页</a>
                    <div class="user_data">
                        <span>柴逸宁，欢迎你！</span>
                    </div>
                    <div class="user_btns">
                        <a href="#">[设置]</a>
                        <a href="#">[退出]</a>
                    </div>

                    <span>等级：Lv1</span>
                    <a href="#">查看等级特权>></a>
                    <div class="advice">
                        <span>咨询电话：400-88888888</span>
                        <span>在线客服：
                            <a href="#" class="ui_btn ui_btn_h19gray2"><span class="ui_btn_txt">客服01</span></a>
                            <a href="#" class="ui_btn ui_btn_h19gray2"><span class="ui_btn_txt">客服02</span></a>
                        </span>
                    </div>
                </div>

            </div>
            <div class="head_sub">
                <div class="head_con">
                    <div class="wm_logo">
                        <img src="../../public/img/wm_logo.png" width="180" height="80" />
                    </div>
                    <div class="logo_msg">
                        <span class="ui_btn ui_btn_h22red10"><span class="ui_btn_txt"><i>嗅嗅品牌的味道</i></span></span>
                        <em class="wm_ico triangle1">&nbsp;</em>
                    </div>
                    <div class="head_search brands">
                        <div class="head_search_form">
                            <form>
                                <select>
                                    <option>品牌</option>
                                    <option>商品</option>
                                </select>
                                <input type="text" placeholder="商家后台搜索" name="brands" class="search_brands" />

                                <a href="#" class="search_btn">搜 索<i class="wm_ico magnifier1"></i></a>
                                <input type="hidden" name="search_type" />
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="head_nav">
                <div class="sub_head_nav">
                    <div class="sub_nav">
                        <ul>
                            <li class="sub_nav_item curr"><a href="#">商家首页</a><em class="wm_ico dashed2"></em></li>
                            <li class="sub_nav_item"><a href="#">商品统计</a><em class="wm_ico dashed2"></em></li>
                            <li class="sub_nav_item"><a href="#">定单统计</a><em class="wm_ico dashed2"></em></li>
                            <li class="sub_nav_item"><a href="#">设置</a><em class="wm_ico dashed2"></em></li>
                            <li class="sub_nav_item end"><a href="#">站内信</a><em class="wm_ico dashed2"></em><i></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="con_sub">
                <div class="content_main">
                    <div class="op_nav">
                        <div class="op_nav_top">
                            <a href="#" class="picture">
                                <img src="img/customer_service_logo.jpg" width="150" height="150"></a>
                            <span class="shadow"></span>
                            <a href="http://s.tcsh.me/tcsh/view/after/password/update_password.html" class="ui_btn ui_btn_h35yellow9"><span class="ui_btn_txt">编辑资料 >></span></a>
                        </div>
                        <ul class="op_nav_main">
                            <li>
                                <div class="onm_item_head">
                                    <h3>品牌管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="http://s.tcsh.me/tcsh/view/after/brands/base_data.html">资料设置</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/after/brands/acc_management.html">账号管理</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/after/brands/brands_story.html">品牌故事</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/after/brands/business_global.html">特卖设置</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/after/brands/brands_review.html">品牌点评</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/after/brands/brands_lm.html">品牌留言</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>商品管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="http://s.tcsh.me/tcsh/view/after/commodity/commodity_up.html">商品上架</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/after/commodity/commodity_list.html">商品列表</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/after/commodity/commodity_statistics.html">统计数据</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>交易管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="http://s.tcsh.me/tcsh/view/after/order/order_list.html">订单管理</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/after/tm/commodity_review.html">评价管理</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>我的服务</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="http://s.tcsh.me/tcsh/view/after/server/cash_on_delivery.html">货到付款</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/after/commodity/logistics_model.html">物流设置</a></li>
                                </ul>
                            </li>
                            <!--<li>
                                <div class="onm_item_head">
                                    <h3>推广管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="#">展位购买</a></li>
                                    <li><a href="#">促销活动</a></li>
                                    <li><a href="#">优惠设置</a></li>
                                </ul>
                            </li>-->
                            <li>
                                <div class="onm_item_head">
                                    <h3>售后管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="http://s.tcsh.me/tcsh/view/after/aftermarket/return_money_records.html">退款记录</a></li>
                                    <li><a href="http://s.tcsh.me/tcsh/view/after/aftermarket/ment_records.html">换货记录</a></li>
                                    <!--<li><a href="#">换币管理</a></li>-->
                                    <!--<li><a href="#">违规记录</a></li>-->
                                </ul>
                            </li>
                            <li>
                                <div class="onm_item_head">
                                    <h3>资金流管理</h3>
                                </div>
                                <ul class="onm_item_list">
                                    <li><a href="http://s.tcsh.me/tcsh/view/after/money/payments_data.html">账户余额</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="main_con">
                        <div class="right_head">
                            <h3 class="wm_form_title">人生观列表</h3>
                        </div>
                        <form class="search wm_form">
                            <ul>
                                <li class="form_row">
                                    <label class="row_key">ID：</label>
                                    <input type="text" class="form_txt w90" />
                                </li>
                                <li class="form_row">
                                    <label class="row_key">时间：</label>
                                    <input type="text" class="form_txt w90 send_date" />
                                </li>
                                <li class="form_row"><input type="submit" class="submit" value="查询" /></li>
                            </ul>
                        </form>
                        <table class="table_list wm_form " cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="w90">ID</th>
                                    <th class="w100">账号</th>
                                    <th class="w100">名称</th>
                                    <th class="w500">内容</th>
                                    <th class="w90">时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd">
                                    <td>1</td>
                                    <td>chaiyining007</td>
                                    <td>小菜</td>
                                    <td>今天xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                    <td>2014-05-20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>chaiyining007</td>
                                    <td>小菜</td>
                                    <td>今天xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                    <td>2014-05-20</td>
                                </tr>
                                <tr class="odd">
                                    <td>1</td>
                                    <td>chaiyining007</td>
                                    <td>小菜</td>
                                    <td>今天xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                    <td>2014-05-20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>chaiyining007</td>
                                    <td>小菜</td>
                                    <td>今天xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                    <td>2014-05-20</td>
                                </tr>
                                <tr class="odd">
                                    <td>1</td>
                                    <td>chaiyining007</td>
                                    <td>小菜</td>
                                    <td>今天xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                    <td>2014-05-20</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>chaiyining007</td>
                                    <td>小菜</td>
                                    <td>今天xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                    <td>2014-05-20</td>
                                </tr>
                                <tr class="odd">
                                    <td>1</td>
                                    <td>chaiyining007</td>
                                    <td>小菜</td>
                                    <td>今天xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                    <td>2014-05-20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>chaiyining007</td>
                                    <td>小菜</td>
                                    <td>今天xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                    <td>2014-05-20</td>
                                </tr>
                                <tr class="odd">
                                    <td>1</td>
                                    <td>chaiyining007</td>
                                    <td>小菜</td>
                                    <td>今天xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                    <td>2014-05-20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>chaiyining007</td>
                                    <td>小菜</td>
                                    <td>今天xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                    <td>2014-05-20</td>
                                </tr>
                                <tr class="odd">
                                    <td>1</td>
                                    <td>chaiyining007</td>
                                    <td>小菜</td>
                                    <td>今天xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                    <td>2014-05-20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>chaiyining007</td>
                                    <td>小菜</td>
                                    <td>今天xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                    <td>2014-05-20</td>
                                </tr>
                                <tr class="odd">
                                    <td>1</td>
                                    <td>chaiyining007</td>
                                    <td>小菜</td>
                                    <td>今天xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                    <td>2014-05-20</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>chaiyining007</td>
                                    <td>小菜</td>
                                    <td>今天xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                    <td>2014-05-20</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td colspan="5" class="tleft">
                                        <div class="wm_page"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="seg seg_notop"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="link_list">
                    <div class="link_item">
                        <span>服务保障</span>
                        <ul>
                            <li><a href="#">正品保障</a></li>
                            <li><a href="#">7天无条件退货</a></li>
                            <li><a href="#">7*15小时服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>购物指南</span>
                        <ul>
                            <li><a href="#">导购演示</a></li>
                            <li><a href="#">订单操作</a></li>
                            <li><a href="#">用户指南</a></li>
                            <li><a href="#">账号管理</a></li>
                            <li><a href="#">购物参考</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>支付方式</span>
                        <ul>
                            <li><a href="#">网银支付币</a></li>
                            <li><a href="#">支付平台</a></li>
                            <li><a href="#">信用卡</a></li>
                            <li><a href="#">同城生活金币</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>配送方式</span>
                        <ul>
                            <li><a href="#">配送服务</a></li>
                            <li><a href="#">配送范围和运费</a></li>
                            <li><a href="#">验货与签收</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>售后服务</span>
                        <ul>
                            <li><a href="#">退换货政策</a></li>
                            <li><a href="#">退换货流程</a></li>
                            <li><a href="#">退款方式和时效</a></li>
                        </ul>
                    </div>
                    <div class="link_item end">
                        <span>同城生活模式</span>
                        <ul>
                            <li><a href="#">聚合式品牌特卖</a></li>
                            <li><a href="#">同城生活成长基金</a></li>
                            <li><a href="#">推手规则</a></li>
                        </ul>
                    </div>
                </div>
                <div class="put_on_record">
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                    <a href="#">
                        <img src="../../public/img/internetPolice.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/putOnRecord.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/internetBusiness.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/siteCredits.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/trusty.png" />
                    </a>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
