<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??ago/public/css/global.css,public/css/ico.css,public/wm_btn/css/style.css,public/wm_form/css/style.css" />

    <link type="text/css" rel="stylesheet" href="css/style_v2.css" />
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/ago/user_entrance/config.js" data-init="reg_v2"></script>  
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_bg">
                <div class="head_sub">
                    <div class="head_con">
                       <h1 class="wm_logo">
                            <a href="http://www.tcsh.me/" title="同城生活" class="iconfont">&#xe624;</a>
                        </h1>
                        <div class="logo_msg">
                            <em>同城生活</em>
                            <span>HU DONG GOU WU</span>
                        </div>
                        <div class="link_list">
                            <ul class="welcome">
                            	<li class="wel_item">您好！<span class="red">李宁杭州总代理</span> 欢迎入驻同城生活电商平台</li>
                                <li class="wel_item">咨询电话：400-668-0099 <em class="line">|</em> 在线客服<a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=f12e4ba7679d20e62744f6bd53923873cbbb3d07940bb5e8" class="qq"><img border="0" src="http://wpa.qq.com/imgd?IDKEY=f12e4ba7679d20e62744f6bd53923873cbbb3d07940bb5e8&pic=52" alt="点击这里给我发消息" title="点击这里给我发消息"><span class="red">美美</span></a><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=f12e4ba7679d20e62744f6bd53923873cbbb3d07940bb5e8" class="qq"><img border="0" src="http://wpa.qq.com/imgd?IDKEY=f12e4ba7679d20e62744f6bd53923873cbbb3d07940bb5e8&pic=52" alt="点击这里给我发消息" title="点击这里给我发消息"><span class="red">佳佳</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="con_sub_bg">
                <div class="con_sub">
                    <div class="content_main">
                        <div class="success">
                        	<ul class="successCon">
                                <li class="success_list">
                                	<b><span class="red">恭喜您！</span>您于2014-2-25提交的资料<span class="red">审核已经通过</span>,您现在可以在同城生活上免费开店了。</b>
                                </li>
                                <li class="success_list remember">
                                	<b>请牢记您的店铺域名：</b><span class="red">http://shop.tcsh.me/XXXXX</span>
                                </li>
                                <li class="success_list success_list_intr">
                                	当你设置完成您的资料之后就可正常上传商品，开始同城生活上的电商之旅。
                                </li>
                                <li class="success_list success_list_intr">
                                	您也可以下载《同城生活服务协议》备案，本协议是双方合作的基础。
                                </li>
                                <li class="success_list success_list_intr">
                                	您还可以下载《卖家操作指南》，学习怎样在同城生活上上传商品、处理订单、设置物流信息等。
                                </li>
                                <li class="success_list set_up">
                                    <a href="#" class="ui_btn ui_btn_h37green1"><span class="ui_btn_txt">电商设置</span></a><a href="#" class="link">下载《同城生活服务协议》</a><a href="#" class="link">下载《卖家操作指南》</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="put_on_record">
                    <p class="botton">
                        <a href="http://help.wumeiwang.com/au.html">关于我们</a><em>|</em>
                        <a href="#">联系我们</a><em>|</em>
                        <a href="http://www.tcsh.me/seller/reg">品牌入驻</a><em>|</em>
                        <a href="http://help.wumeiwang.com/privacy.html">隐私条款</a><em>|</em>
                        <a href="#">网站地图</a><em>|</em>
                        <a href="#">友情链接</a>
                    </p>
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        var global_setting = {}
    </script>
</body>
</html>
