<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../public/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../../public/css/ico.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/css/bank.css" />
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/ago/reg_after_entrance/config.js" data-init="upload"></script>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_bg">
                <div class="head_sub">
                    <div class="head_con">
                        <h1 class="wm_logo">
                            <a href="http://www.tcsh.me/" class="wm_logo" title="同城生活">同城生活</a>
                        </h1>
                        <a href="http://www.tcsh.me/" class="cwmw" title="同城生活">同城生活</a>
                        <div class="logo_msg">
                            <span class="ui_btn ui_btn_h22red10"><span class="ui_btn_txt"><i>嗅嗅品牌的味道</i></span></span>
                            <em class="wm_ico triangle1">&nbsp;</em>
                        </div>
                        <div class="link_list">
                            <ul class="welcome">
                                <li class="wel_item">您好！<span class="red">李宁杭州总代理</span> 欢迎入驻同城生活电商平台</li>
                                <li class="wel_item">咨询电话：400-668-0099 <em class="line">|</em> 在线客服<a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=f12e4ba7679d20e62744f6bd53923873cbbb3d07940bb5e8" class="qq"><img border="0" src="http://wpa.qq.com/imgd?IDKEY=f12e4ba7679d20e62744f6bd53923873cbbb3d07940bb5e8&pic=52" alt="点击这里给我发消息" title="点击这里给我发消息"><span class="red">美美</span></a><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=f12e4ba7679d20e62744f6bd53923873cbbb3d07940bb5e8" class="qq"><img border="0" src="http://wpa.qq.com/imgd?IDKEY=f12e4ba7679d20e62744f6bd53923873cbbb3d07940bb5e8&pic=52" alt="点击这里给我发消息" title="点击这里给我发消息"><span class="red">佳佳</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="con_sub_bg">
                <div class="con_sub">
                    <div class="content_main">
                        <div class="datum success">
                            <div class="datumCon">
                                <div class="datum_title">
                                    <span class="datum_tt">完善资料</span>根据您企业的实际情况填写以下资料
                                </div>
                                <form action="" class="datum_form upload_form">
                                    <ul class="datum_list wm_form">
                                        <li class="form_row">
                                            <label class="row_key"><b class="form_must">*</b>经营的品牌：</label>
                                            <div class="floatleft" wmv="emptyTxt" wmvmsg="品牌名称不能为空！">
                                                <input type="text" class="form_txt brand_name" value="1" />
                                                <input type="button" class="brand_btn" value="选择已有品牌" />
                                            </div>

                                        </li>
                                        <li class="form_row up_row">
                                            <label class="row_key"><b class="form_must">*</b>品牌LOGO：</label>
                                            <div class="logo_upload">
                                                <span class="logoCon" wmv="emptyLogo" wmvmsg="请上传品牌LOGO！">+
                                                    <span class="img_bg brand_img">
                                                        <img src="" />
                                                    </span>
                                                </span>
                                                <input type="file" class="file_upload brand_img_file" />
                                                <!--<input type="hidden" class="file_hide" id="brands_id" />-->
                                                <input id="BrandLogo" name="BrandLogo" type="hidden" class="form_hide" />
                                                <input id="BrandId" name="BrandId" type="hidden">
                                                请上传<span class="red">白色背景，尺寸300px*150px</span>的图片，支持gif/jpg/png格式
                                            </div>
                                        </li>
                                        <li class="form_row brand_kinds">
                                            <label class="row_key"><b class="form_must">*</b>主营类目：</label>
                                            <div class="floatleft w550 class_list" wmv="emptyClass" wmvmsg="请选择主营类目！">
                                                <span class="class_item">
                                                    <input type="checkbox" name="BrandType" class="brand_type" id="checkbox1" value="1"><label class="chk_key" for="checkbox1">服装</label></span>
                                                <span class="class_item">
                                                    <input type="checkbox" name="BrandType" class="brand_type" id="checkbox1" value="1"><label class="chk_key" for="checkbox1">服装</label></span>
                                                <span class="class_item">
                                                    <input type="checkbox" name="BrandType" class="brand_type" id="checkbox1" value="1"><label class="chk_key" for="checkbox1">服装</label></span>
                                                <span class="class_item">
                                                    <input type="checkbox" name="BrandType" class="brand_type" id="checkbox1" value="1"><label class="chk_key" for="checkbox1">服装</label></span>
                                                <span class="class_item">
                                                    <input type="checkbox" name="BrandType" class="brand_type" id="checkbox1" value="1"><label class="chk_key" for="checkbox1">服装</label></span>
                                                <span class="class_item">
                                                    <input type="checkbox" name="BrandType" class="brand_type" id="checkbox1" value="1"><label class="chk_key" for="checkbox1">服装</label></span>
                                                <span class="class_item">
                                                    <input type="checkbox" name="BrandType" class="brand_type" id="checkbox1" value="1"><label class="chk_key" for="checkbox1">服装</label></span>
                                                <span class="class_item">
                                                    <input type="checkbox" name="BrandType" class="brand_type" id="checkbox1" value="1"><label class="chk_key" for="checkbox1">服装</label></span>
                                                <span class="class_item">
                                                    <input type="checkbox" name="BrandType" class="brand_type" id="checkbox1" value="1"><label class="chk_key" for="checkbox1">服装</label></span>
                                                <span class="class_item">
                                                    <input type="checkbox" name="BrandType" class="brand_type" id="checkbox1" value="1"><label class="chk_key" for="checkbox1">服装</label></span>
                                                <span class="class_item">
                                                    <input type="checkbox" name="BrandType" class="brand_type" id="checkbox1" value="1"><label class="chk_key" for="checkbox1">服装</label></span>
                                                <span class="class_item">
                                                    <input type="checkbox" name="BrandType" class="brand_type" id="checkbox1" value="1"><label class="chk_key" for="checkbox1">服装</label></span>
                                                <span class="class_item">
                                                    <input type="checkbox" name="BrandType" class="brand_type" id="checkbox1" value="1"><label class="chk_key" for="checkbox1">服装</label></span>
                                                <span class="class_item">
                                                    <input type="checkbox" name="BrandType" class="brand_type" id="checkbox1" value="1"><label class="chk_key" for="checkbox1">服装</label></span>
                                                <a href="http://club.wumeiwang.com/help/check_in_base#x1" target="_blank" class="go_check_in_base">查看详情</a>
                                            </div>
                                        </li>
                                        <li class="form_row">
                                            <label class="row_key"><b class="form_must">*</b>开户银行：</label>
                                            <div class="floatleft w550 chked_bank">
                                                <ul class="bank_type">
                                                    <li class="bank_item curr">
                                                        <input type="radio" name="x" class="bank_item_chk" title="工商银行" checked="checked" id="x987546321"><label for="x987546321" class="lablefor"><span title="ICBC" class="bank_logo ICBC"></span><span class="bank_name">工商银行</span></label>
                                                    </li>
                                                    <li class="bank_item">
                                                        <input type="radio" name="x" class="bank_item_chk" title="中国银行" id="x8797987897" data_id="006"><label for="x8797987897" class="lablefor"><span title="BOC" class="bank_logo BOC"></span><span class="bank_name">中国银行</span></label>
                                                    </li>
                                                    <li class="bank_item">
                                                        <input type="radio" name="x" class="bank_item_chk" title="招商银行" id="Radio1" data_id="018"><label for="Radio1" class="lablefor"><span title="CMB" class="bank_logo CMB"></span><span class="bank_name">招商银行</span></label>
                                                    </li>
                                                    <li class="bank_item">
                                                        <input type="radio" name="x" class="bank_item_chk" title="建设银行" id="x787895613" data_id="007"><label for="x787895613" class="lablefor"><span title="CCB" class="bank_logo CCB"></span><span class="bank_name">建设银行</span></label>
                                                    </li>
                                                </ul>
                                                <a href="#" class="more_bank">更多银行<i class="wm_ico arrow7down"></i></a><span class="more_bank_name" style=""></span>
                                                <ul class="bankea">
                                                    <li class="form_row bankea_box">
                                                        <label class="row_key w120">开户行地址：</label>
                                                        <input type="text" class="form_txt w200 get_ea_key" name="bankea" wmv="empty" wmvmsg="请选择开户行地址！"><a href="#" class="ui_btn ui_btn_h27gray8 ml20 get_ea"><span class="ui_btn_txt">查询精确地址</span></a>
                                                    </li>
                                                    <li class="form_row">
                                                        <label class="row_key w120">请输入银行账号：</label>
                                                        <input type="text" class="form_txt w200 " id="bank_account" name="bank_account" wmv="empty" wmvmsg="请输入银行卡号！">
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="form_row">
                                            <label class="row_key"><b class="form_must">*</b>上传证件：</label>
                                            <div class="credentials_upload">
                                                <div class="creCon up_row" wmv="credentials" wmvmsg="请上传相关证件">
                                                    <span class="cre_img">
                                                        <span class="cre_img_con">+
                                                        	<span class="img_bg">
                                                                <img src=""></span>
                                                        </span>
                                                    </span>
                                                    <input type="hidden" name="Image1" class="form_hide" />
                                                    <input type="file" class="file_upload" />
                                                    <span class="cre_infor">营业执照复印件</span>
            
                                                </div>
                                                <div class="creCon up_row" wmv="credentials" wmvmsg="请上传相关证件">
                                                    <span class="cre_img">
                                                        <span class="cre_img_con">+
                                                        	<span class="img_bg">
                                                                <img src=""></span>
                                                        </span>
                                                    </span>
                                                    <input type="hidden" name="Image2" class="form_hide" />
                                                    <input type="file" class="file_upload" />
                                                    <span class="cre_infor">组织机构代码证</span>
                                                </div>
                                                <div class="creCon up_row" wmv="credentials" wmvmsg="请上传相关证件">
                                                    <span class="cre_img">
                                                        <span class="cre_img_con">+
                                                        	<span class="img_bg">
                                                                <img src=""></span>
                                                        </span>
                                                    </span>
                                                    <input type="hidden" name="Image3" class="form_hide" />
                                                    <input type="file" class="file_upload" />
                                                    <span class="cre_infor">税务登记证</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="form_row form_btns">
                                            <label class="row_key">&nbsp;</label>
                                            <span class="ui_btn ui_btn_h37green1">
                                                <input type="hidden" id="BankId" />
                                                <input type="hidden" id="BankAreaId" />
                                                <input type="submit" class="ui_btn_txt" value="提交">
                                            </span>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="put_on_record">
                    <p class="botton">
                        <a href="http://help.wumeiwang.com/au.html">关于我们</a><em>|</em>
                        <a href="#">联系我们</a><em>|</em>
                        <a href="http://www.tcsh.me/seller/reg">品牌入驻</a><em>|</em>
                        <a href="http://help.wumeiwang.com/privacy.html">隐私条款</a><em>|</em>
                        <a href="#">网站地图</a><em>|</em>
                        <a href="#">友情链接</a>
                    </p>
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        var global_setting = {}
    </script>
</body>
</html>
