<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../public/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../../public/css/ico.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/ago/user_entrance/config.js" data-init="reg_v2"></script>  
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_bg">
                <div class="head_sub">
                    <div class="head_con">
                        <h1 class="wm_logo">
                            <a href="http://www.tcsh.me/" class="wm_logo" title="同城生活">同城生活</a>
                        </h1>
                        <a href="http://www.tcsh.me/" class="cwmw" title="同城生活">同城生活</a>
                        <div class="logo_msg">
                            <span class="ui_btn ui_btn_h22red10"><span class="ui_btn_txt"><i>嗅嗅品牌的味道</i></span></span>
                            <em class="wm_ico triangle1">&nbsp;</em>
                        </div>
                        <div class="link_list">
                            <ul class="welcome">
                            	<li class="wel_item">您好！<span class="red">李宁杭州总代理</span> 欢迎入驻同城生活电商平台</li>
                                <li class="wel_item">咨询电话：400-668-0099 <em class="line">|</em> 在线客服<a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=f12e4ba7679d20e62744f6bd53923873cbbb3d07940bb5e8" class="qq"><img border="0" src="http://wpa.qq.com/imgd?IDKEY=f12e4ba7679d20e62744f6bd53923873cbbb3d07940bb5e8&pic=52" alt="点击这里给我发消息" title="点击这里给我发消息"><span class="red">美美</span></a><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=f12e4ba7679d20e62744f6bd53923873cbbb3d07940bb5e8" class="qq"><img border="0" src="http://wpa.qq.com/imgd?IDKEY=f12e4ba7679d20e62744f6bd53923873cbbb3d07940bb5e8&pic=52" alt="点击这里给我发消息" title="点击这里给我发消息"><span class="red">佳佳</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="con_sub_bg">
                <div class="con_sub">
                    <div class="content_main">
                        <div class="success">
                        	<ul class="successCon">
                                <li class="success_list Averify">
                                	<b>您上传的资料由于<span class="red">身份证与企业法人的证件不符，写一堆乱七八糟的真实理由即可</span>审核未通过，请根据以上提示修改资料后重新提交！</b>
                                </li>
                                <li class="success_list">
                                	在线咨询：<a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=f12e4ba7679d20e62744f6bd53923873cbbb3d07940bb5e8" class="qq"><img border="0" src="http://wpa.qq.com/imgd?IDKEY=f12e4ba7679d20e62744f6bd53923873cbbb3d07940bb5e8&pic=52" alt="点击这里给我发消息" title="点击这里给我发消息"><span class="red">美美</span></a><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=f12e4ba7679d20e62744f6bd53923873cbbb3d07940bb5e8" class="qq"><img border="0" src="http://wpa.qq.com/imgd?IDKEY=f12e4ba7679d20e62744f6bd53923873cbbb3d07940bb5e8&pic=52" alt="点击这里给我发消息" title="点击这里给我发消息"><span class="red">佳佳</span></a>
                                </li>
                                <li class="success_list">
                                	客服热线：<span class="serve_tel">400-668-0099</span>
                                </li>
                                <li class="success_list return_index">
                                    <a href="#" class="ui_btn ui_btn_h37green1"><span class="ui_btn_txt">修改资料</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="put_on_record">
                    <p class="botton">
                        <a href="http://help.wumeiwang.com/au.html">关于我们</a><em>|</em>
                        <a href="#">联系我们</a><em>|</em>
                        <a href="http://www.tcsh.me/seller/reg">品牌入驻</a><em>|</em>
                        <a href="http://help.wumeiwang.com/privacy.html">隐私条款</a><em>|</em>
                        <a href="#">网站地图</a><em>|</em>
                        <a href="#">友情链接</a>
                    </p>
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        var global_setting = {}
    </script>
</body>
</html>
