<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../public/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../../public/css/ico.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../public/wm_block/css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/stylev2.css" />
    <script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/ago/brands_shop/config.js" data-init="brands_item_v2"></script>

</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_top">
                <div class="head_top_bb1f">
                    <div class="sub_head_top">
                        <div class="user_login">
                            <span>欢迎加入同城生活：</span>
                            <a href="#">登录</a>
                            <em>|</em>
                            <a href="#">免费注册</a>
                        </div>
                        <div class="pull_btns w115 followwm">
                            <a href="#" class="idea w115 "><i class="wm_ico heart2"></i>关注同城生活<span class="pull_arrow "><em>◆</em><span>◆</span></span></a>
                            <ul class="pull_list w115">
                                <li>
                                    <a href="#" class="pull_link"><i class="wm_ico heart1"></i>关注同城生活</a><span class="pull_arrow "><em>◆</em><span>◆</span></span>
                                </li>
                                <li>
                                    <a href="#" class="pull_link"><i class="social_icon sina_wb"></i>新浪微博</a>
                                </li>
                                <li>
                                    <a href="#" class="pull_link"><i class="social_icon tx_wb"></i>腾讯微博</a>
                                </li>
                                <li>
                                    <a href="#" class="pull_link"><i class="social_icon netease"></i>网易微博</a>
                                </li>
                                <li>
                                    <a href="#" class="pull_link">同城生活党</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="head_sub">
                <h1>
                    <a href="http://www.tcsh.me/" class="wm_logo" title="同城生活">同城生活</a><span class="shop_name">徐军浩专打怪叔叔店</span>
                </h1>
                <div class="head_search">
                    <div class="head_search_bo">
                        <i class="wm_ico magnifier2"></i>
                        <input type="text" class="search_txt" placeholder="李宁/衬衫/运动裤" />
                        <a href="#" class="bgred tothis">搜本店</a><a href="#" class="bggray toglobal">搜全站</a>
                    </div>
                </div>
            </div>
            <div class="shop_nav">
                <ul class="shop_nav_sub">
                    <li><a href="#" class="curr">全部</a></li>
                    <li><a href="#">首页1111</a></li>
                    <li><a href="#">首页2</a></li>
                    <li><a href="#">首页3</a></li>
                    <li><a href="#">首页4</a></li>
                    <li><a href="#">首页5</a></li>
                    <li><a href="#">首页6</a></li>
                    <li><a href="#">首页7</a></li>
                    <li><a href="#">首页8</a></li>
                    <li><a href="#">首页9</a></li>
                    <li><a href="#">首页0</a></li>
                    <li><a href="#">首页-</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="con_sub">
                <div class="content_main">
                    <div class="booth_box">
                        <ul class="booth_list">
                            <li class="booth_item">
                                <a href="#">
                                    <img src="http://s.tcsh.me/zero/zero_980_350_1.jpg" />
                                </a>
                            </li>
                            <li class="booth_item">
                                <a href="#">
                                    <img src="http://s.tcsh.me/zero/zero_980_350_2.jpg" />
                                </a>
                            </li>
                            <li class="booth_item">
                                <a href="#">
                                    <img src="http://s.tcsh.me/zero/zero_980_350_3.jpg" />
                                </a>
                            </li>
                            <li class="booth_item">
                                <a href="#">
                                    <img src="http://s.tcsh.me/zero/zero_980_350_4.jpg" />
                                </a>
                            </li>
                            <li class="booth_item">
                                <a href="#">
                                    <img src="http://s.tcsh.me/zero/zero_980_350_5.jpg" />
                                </a>
                            </li>
                            <li class="booth_item">
                                <a href="#">
                                    <img src="http://s.tcsh.me/zero/zero_980_350_6.jpg" />
                                </a>
                            </li>
                        </ul>
                        <ul class="indexBox">
                            <li class="index_item wm_ico point_white1 curr"></li>
                            <li class="index_item wm_ico point_white1"></li>
                            <li class="index_item wm_ico point_white1"></li>
                            <li class="index_item wm_ico point_white1"></li>
                            <li class="index_item wm_ico point_white1"></li>
                        </ul>
                        <div class="big_ads_btns">
                                <a href="#" class="to_left">&lt;</a><a href="#" class="to_right">&gt;</a>
                            </div>
                    </div>
                    <div class="order_by_btns">
                        <a class="ui_btn ui_btn_h27white5 curr">
                            <span class="ui_btn_txt pr24"><i class="wm_ico arrow1down"></i>折扣</span>
                        </a>
                        <a class="ui_btn ui_btn_h27white5">
                            <span class="ui_btn_txt pr24"><i class="wm_ico arrow1down"></i>价格</span>
                        </a>
                    </div>
                    <ul class="mr-30 waterfall_list">
                        <li class="commodity_item waterfall_item">
                            <div class="brands_box">
                                <a href="#" title="韩典蝶后"><img src="http://img.wumeiwang.com/M00/00/02/oYYBAFI4D-iAFGkfAAAcuTXcgiA182.jpg" class="brands_logo" alt="韩典蝶后" /></a>
                                <a href="#" class="ui_btn ui_btn_h39red17"><span class="ui_btn_txt">品牌故事<i class="wm_ico triangle2"></i></span></a>
                            </div>
                        </li>
                        
                    </ul>
                    <div class="wm_page"></div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="link_list">
                    <div class="link_item">
                        <span>服务保障</span>
                        <ul>
                            <li><a href="#">正品保障</a></li>
                            <li><a href="#">7天无条件退货</a></li>
                            <li><a href="#">7*15小时服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>购物指南</span>
                        <ul>
                            <li><a href="#">导购演示</a></li>
                            <li><a href="#">订单操作</a></li>
                            <li><a href="#">用户指南</a></li>
                            <li><a href="#">账号管理</a></li>
                            <li><a href="#">购物参考</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>支付方式</span>
                        <ul>
                            <li><a href="#">网银支付币</a></li>
                            <li><a href="#">支付平台</a></li>
                            <li><a href="#">信用卡</a></li>
                            <li><a href="#">同城生活金币</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>配送方式</span>
                        <ul>
                            <li><a href="#">配送服务</a></li>
                            <li><a href="#">配送范围和运费</a></li>
                            <li><a href="#">验货与签收</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>售后服务</span>
                        <ul>
                            <li><a href="#">退换货政策</a></li>
                            <li><a href="#">退换货流程</a></li>
                            <li><a href="#">退款方式和时效</a></li>
                        </ul>
                    </div>
                    <div class="link_item end">
                        <span>同城生活模式</span>
                        <ul>
                            <li><a href="#">聚合式品牌特卖</a></li>
                            <li><a href="#">同城生活成长基金</a></li>
                            <li><a href="#">推手规则</a></li>
                        </ul>
                    </div>
                </div>
                <div class="put_on_record">
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                    <a href="#">
                        <img src="../../public/img/internetPolice.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/putOnRecord.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/internetBusiness.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/siteCredits.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/trusty.png" />
                    </a>

                </div>
            </div>

        </div>
    </div>
    <script>
        var global_setting = {};
        global_setting.PageInfo = { "pageKey": "Index", "TotalItems": 26, "TotalPages": 2, "Size": 20, "Start": 0, "Sort": 1, "Asc": 0, "WhereDic": { "id": "100047", "category": "" } };
        global_setting.mer_id = 100047;

    </script>
</body>
</html>
