<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>等待发货</title>
<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??ago/public/css/global.css,public/css/ico.css,public/wm_btn/css/style.css,ago/public/wm_block/css/style.css" />
<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
<link rel="stylesheet" href="css/style_v2.css" />
<link rel="stylesheet" href="../public/css/schedule_v2.css">

<script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
<script type="text/javascript" src="http://s.tcsh.me/tcsh/view/ago/order/config.js" data-init="order_detail_v2"></script>

<script type="text/javascript">
var global_setting={}
</script>

</head>
<body>
<div id="page">
	<div class="buyer_head">
	<div class="head_top"></div>
	<!--<div class="buyer_head_con clearfix">
    	<div class="buyer_logo">
        	<a href="#"></a>
        </div>
        <div class="buyer_search">
        	<form action="" class="buyer_search_con clearfix">
            	<div class="search_kinds buyer_hover">
                	<ul class="search_kinds_list">
                		<li class="a_kinds_bg"><a href="#">店铺</a></li>
                		<li class="a_kinds_bg"><a href="#">宝贝</a></li>
                        
                	</ul>
                    <span class="iconfont turn_down">&#xf0005;</span>
                </div>
                <input type="text" class="search_txt" />
                <input type="submit" class="search_sub" value="搜索" />
            </form>
        </div>
    </div>-->
</div>
	<!--<div class="bread_nav">
    	您所在的位置：<a href="#">用户中心</a>><a href="#">交易信息</a>><a href="#">订单管理</a>><a href="#">订单详情</a>
    </div>-->
    
    <div class="process">
    	<div class="schedule con5">
        	<div class="one">
            	<span class="step_title">下单时间</span>
                <span class="step_time">2014-5-17 16:01</span>
            </div>
            <div class="two">
            	<span class="step_title">付款时间</span>
                <span class="step_time">2014-5-17 16:01</span>
            </div>
            <div class="three">
            	<span class="step_title">发货时间</span>
                <span class="step_time">2014-5-17 16:01</span>
            </div>
            <div class="four">
            	<span class="step_title">收货时间</span>
                <span class="step_time">2014-5-17 16:01</span>
            </div>
            <div class="five">
            	<span class="step_title">交易完成</span>
                <span class="step_time">2014-5-17 16:01</span>
            </div>
            <div class="number len2">
            	<span class="step_num i1">1</span>
                <span class="step_num i2">2</span>
                <span class="step_num i3">3</span>
                <span class="step_num i4">4</span>
                <span class="step_num i5">5</span>
            </div>
        </div>
    </div>
    
    <div class="order_detail">
    	<div class="order_infor">
        	<h3>订单状况</h3>
            <div class="order_infor_con">
            	<ul class="wait_send">
                    <li class="order_infor_item"><span>订单编号：</span>201403250209506</li>
                    <li class="order_infor_item"><span>订单状态：</span><span class="red">等待发货</span></li>
                    <li class="order_infor_btn">
                    	<a href="#" class="bgred">提醒卖家发货</a><a href="#">取消订单</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="order_infor nomr">
        	<h3>物流信息</h3>
            <div class="order_infor_con">
            	<div class="no_wuliu"><img src="../public/img/no_wuliu.jpg" /></div>
            </div>
        </div>
        <div class="receive">
        	<h3>收货信息</h3>
            <div class="receive_con">
            	<ul>
                	<li class="receive_con_item"><span>收货人姓名：</span>陈晓</li>
                    <li class="receive_con_item"><span>收货人地址：</span>浙江省 杭州市 拱墅区 祥园路33号5楼</li>
                    <li class="receive_con_item"><span>联系号码：</span>18754214851</li>
                    <li class="receive_con_item"><span>地址邮编：</span>3100000</li>
                </ul>
            </div>
        </div>
        <div class="order">
        	<div class="order_head clearfix">
            	<span class="order_num">商品清单</span>
                <span class="business"><a href="#">杭州同城生活络科技有限公司</a><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=137499547&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:137499547:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></span>
            </div>
            <table width="100%" height="100%" border="0" class="table_show1">
            	<thead>
                    <tr>
                        <th class="busi_goods">商品</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>优惠</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody>
                	<tr valign="middle" class="order_detail">
                        <td>
                            <div class="order_goods">
                                <a href="#" class="goods_img"><img src="img/goods.jpg" /></a>
                                <ul class="order_goods_infor">
                                    <li><a href="#">2013春夏新款修身牛仔男士裤男浅蓝韩版男士小...</a></li>
                                    <li>尺寸:L</li>
                                    <li>颜色:蓝色</li>
                                </ul>
                            </div>
                        </td>
                        <td class="align_center price">
                            <span class="true_price">￥98.00</span>
                            <del>￥128.00</del>
                        </td>
                        <td class="align_center">
                            2
                        </td>
                        <td class="align_center"><a href="#">￥60.00</a></td>
                        <td class="align_center">等待发货</td>
                        
                    </tr>
                    <tr valign="middle" class="order_detail">
                        <td>
                            <div class="order_goods">
                                <a href="#" class="goods_img"><img src="img/goods.jpg" /></a>
                                <ul class="order_goods_infor">
                                    <li><a href="#">2013春夏新款修身牛仔男士裤男浅蓝韩版男士小...</a></li>
                                    <li>尺寸:L</li>
                                    <li>颜色:蓝色</li>
                                </ul>
                            </div>
                        </td>
                        <td class="align_center price">
                            <span class="true_price">￥98.00</span>
                            <del>￥128.00</del>
                        </td>
                        <td class="align_center">
                            2
                        </td>
                        <td class="align_center"><a href="#">￥60.00</a></td>
                        <td class="align_center">等待发货</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="payment clearfix">
        	<div class="payment_left">
            	<span>支付方式：工商银行</span>
                <span>支付账户：62254152001145284</span>
            </div>
            <div class="payment_right">
            	<span class="true_pay">实付款：<b class="red">￥194.00</b>(含运费0.00元)</span>
                <span>获得<em class="red">194</em>同城生活积分</span>
            </div>
        </div>
    </div>
    
    <!--底部-->
    <div class="bottom footer">
        <div class="bott_sub">
            <div class="put_on_record">
                <p>
                    <a href="#">关于我们</a><em>|</em>
                    <a href="#">联系我们</a><em>|</em>
                    <a href="#">品牌入驻</a><em>|</em>
                    <a href="#">隐私条款</a><em>|</em>
                    <a href="#">隐私条款</a><em>|</em>
                    <a href="#">网站地图</a><em>|</em>
                    <a href="#">友情链接</a><em>|</em>
                    <a href="#">用户体验提升计划</a>
                </p>
                <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                <a href="#">
                    <img src="../../public/img/internetPolice.png" />
                </a>

                <a href="#">
                    <img src="../../public/img/putOnRecord.png" />
                </a>

                <a href="#">
                    <img src="../../public/img/internetBusiness.png" />
                </a>

                <a href="#">
                    <img src="../../public/img/siteCredits.png" />
                </a>

                <a href="#">
                    <img src="../../public/img/trusty.png" />
                </a>

            </div>
        </div>

    </div>
</div>
</body>
</html>
