<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>售后管理</title>
<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??ago/public/css/global.css,public/css/ico.css,public/wm_btn/css/style.css,ago/public/wm_block/css/style.css" />
<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
<link rel="stylesheet" href="../public/css/schedule_v2.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/wm_form/css/style.css">

<script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
<script type="text/javascript" src="http://s.tcsh.me/tcsh/view/ago/receipt/config.js" data-init="aftermarket"></script>

<script type="text/javascript">
var global_setting={}
</script>
<script type="text/javascript">
global_setting.countdown = 30000;
</script>
</head>
<body>
<div id="page">
<div class="buyer_head">
	<div class="head_top"></div>
	<!--<div class="buyer_head_con clearfix">
    	<div class="buyer_logo">
        	<a href="#"></a>
        </div>
        <div class="buyer_search">
        	<form action="" class="buyer_search_con clearfix">
            	<div class="search_kinds buyer_hover">
                	<ul class="search_kinds_list">
                		<li class="a_kinds_bg"><a href="#">店铺</a></li>
                		<li class="a_kinds_bg"><a href="#">宝贝</a></li>
                        
                	</ul>
                    <span class="iconfont turn_down">&#xf0005;</span>
                </div>
                <input type="text" class="search_txt" />
                <input type="submit" class="search_sub" value="搜索" />
            </form>
        </div>
    </div>-->
</div>
	<!--<div class="bread_nav">
    	您所在的位置：<a href="#">用户中心</a>><a href="#">交易信息</a>><a href="#">订单管理</a>><a href="#">订单详情</a>
    </div>-->
    
    <!-- 不退货退款流程   开始 -->
    <!--<div class="process after_process">
    	<div class="schedule con3">
        	<div class="one">
            	<span class="step_title">买家申请退款</span>
                <span class="step_time">2014-5-17 16:01</span>
            </div>
            <div class="two">
            	<span class="step_title">商家处理退款申请</span>
                <span class="step_time">2014-5-17 16:01</span>
            </div>
            <div class="three">
            	<span class="step_title">退款完成</span>
                <span class="step_time">2014-5-17 16:01</span>
            </div>
            <div class="number len1">
            	<span class="step_num i1">1</span>
                <span class="step_num i2">2</span>
                <span class="step_num i3">3</span>
            </div>
        </div>
    </div>-->
    <!-- 不退货退款流程   结束 -->
    
    <!-- 退货退款流程   开始 -->
    <div class="process after_process1">
    	<div class="schedule con4">
        	<div class="one">
            	<span class="step_title">买家申请退款</span>
                <span class="step_time">2014-5-17 16:01</span>
            </div>
            <div class="two">
            	<span class="step_title">商家处理退款申请</span>
                <span class="step_time">2014-5-17 16:01</span>
            </div>
            <div class="three">
            	<span class="step_title">买家退货给卖家</span>
                <span class="step_time">2014-5-17 16:01</span>
            </div>
            <div class="four">
            	<span class="step_title">退款完成</span>
                <span class="step_time">2014-5-17 16:01</span>
            </div>
            <div class="number len3">
            	<span class="step_num i1">1</span>
                <span class="step_num i2">2</span>
                <span class="step_num i3">3</span>
                <span class="step_num i4">4</span>
            </div>
        </div>
    </div>
    <!-- 退货退款流程   结束 -->
    
    <div class="order_detail after_detail">
    	<div class="order_infor after_order">
        	<h3>订单状况</h3>
            <div class="order_infor_con">
            
<!-------------        不退货退款  --------------------------------------->
	
 	<!--------------   买家操作  --------------->
                			
            	<!-- 待退款处理  -->
            	<!--<ul class="after_order_status">
                	<li class="status"><b>处理状态：</b><b class="red">待退款处理</b></li>
                	<li class="order_time">
                    	 <span><b class="day">02</b>天</span><span><b class="hour">58</b>时</span><span><b class="minute">52</b>分</span><span><b class="second">23</b>秒</span><span class="warning1">逾期未处理，退款申请将自动达成</span>
                    </li>
                   <li class="order_infor_btn">
                    	<a href="http://s.tcsh.me/tcsh/view/buyers/refund/receipt_v2.html" class="bgred">修改退款申请</a><a href="#" class="cancel_refund">取消退款申请</a>
                    </li>
                </ul>-->
                <!-- 待退款结束  -->
                
                <!-- 确定退款  开始 -->
                <!--<ul class="after_order_status sure_return">
                	<li class="status"><b>处理状态：</b><b class="red">确定退款</b></li>
                	<li class="prompt">
                    	 退款金额将在3个工作日内退回你原先的支付方式账户
                    </li>
                </ul>-->
                <!-- 确定退款  结束 -->
                
                <!-- 退款成功  开始 -->
                <!--<ul class="after_order_status sure_return">
                	<li class="status"><b>处理状态：</b><b class="green">退款成功</b></li>
                	<li class="prompt">
                    	 退款成功时间：2014-5-21 11：29
                    </li>
                </ul>-->
                <!-- 退款成功  结束 -->
                
                <!-- 退款关闭  开始 -->
                <!--<ul class="after_order_status sure_return">
                	<li class="status"><b>处理状态：</b><b class="red">退款关闭</b></li>
                	<li class="prompt">
                    	 退款关闭时间：2014-5-21 11：29
                    </li>
                </ul>-->
                <!-- 退款关闭  结束 -->
                
                <!-- 拒绝退款 开始  -->
            	<!--<ul class="after_order_status">
                	<li class="status"><b>处理状态：</b><b class="red">已拒绝退款</b></li>
                	<li class="order_time">
                    	 <span><b class="day">02</b>天</span><span><b class="hour">58</b>时</span><span><b class="minute">52</b>分</span><span><b class="second">23</b>秒</span><span class="warning1">逾期未处理，退款申请将自动关闭</span>
                    </li>
                   <li class="order_infor_btn">
                    	<a href="http://s.tcsh.me/tcsh/view/buyers/refund/receipt_v2.html" class="bgred">修改退款申请</a><a href="#" class="cancel_refund">取消退款申请</a><a href="#" class="request">请求仲裁介入</a>
                    </li>
                </ul>-->
                <!-- 拒绝退款 结束  -->
                
    <!--------------   商家操作  --------------->
    			<!-- 退款待处理 开始  -->
            	<!--<ul class="after_order_status">
                	<li class="status"><b>处理状态：</b><b class="red">退款待处理</b></li>
                	<li class="order_time">
                    	 <span><b class="day">02</b>天</span><span><b class="hour">58</b>时</span><span><b class="minute">52</b>分</span><span><b class="second">23</b>秒</span><span class="warning1">逾期未处理，退款申请将自动关闭</span>
                    </li>
                  	<li class="order_infor_btn">
                    	<a href="#" class="bgred agree_refund">同意退款申请</a><a href="#" class="refuse_refund">拒绝退款申请</a>
                    </li>
                </ul>-->
                <!-- 退款待处理 结束  -->
                
                <!---拒绝退款 开始  -->
            	<!--<ul class="after_order_status">
                	<li class="status"><b>处理状态：</b><b class="red">拒绝退款</b></li>
                	<li class="order_time">
                    	 <span><b class="day">02</b>天</span><span><b class="hour">58</b>时</span><span><b class="minute">52</b>分</span><span><b class="second">23</b>秒</span><span class="warning1">逾期未处理，退款申请将自动关闭</span>
                    </li>
                  	<li class="order_infor_btn">
                    	<a href="#" class="bgred agree_refund">同意退款申请</a>
                    </li>
                </ul>-->
                <!---拒绝退款 结束  -->
                
                <!-- 确定退款  开始 -->
                <!--<ul class="after_order_status sure_return">
                	<li class="status"><b>处理状态：</b><b class="red">确定退款</b></li>
                	<li class="prompt">
                    	 退款金额将在3个工作日内退回给买家
                    </li>
                </ul>-->
                <!-- 确定退款  结束 -->
                
                <!-- 退款成功  开始 -->
                <!--<ul class="after_order_status sure_return">
                	<li class="status"><b>处理状态：</b><b class="green">退款成功</b></li>
                	<li class="prompt">
                    	 退款成功时间：2014-5-21 11：29
                    </li>
                </ul>-->
                <!-- 退款成功  结束 -->
                
                <!-- 退款关闭  开始 -->
                <!--<ul class="after_order_status sure_return">
                	<li class="status"><b>处理状态：</b><b class="red">退款关闭</b></li>
                	<li class="prompt">
                    	 退款关闭时间：2014-5-21 11：29
                    </li>
                </ul>-->
                <!-- 退款关闭  结束 -->
                
                
                
<!-----------------------    退货退款       ------------------------>  
              
        <!--------- 买家操作  --------------->  
              
                <!-- 待买家退货 开始  -->
            	<!--<ul class="after_order_status">
                	<li class="status"><b>处理状态：</b><b class="red">待买家退货</b></li>
                	<li class="order_time">
                    	 <span><b class="day">02</b>天</span><span><b class="hour">58</b>时</span><span><b class="minute">52</b>分</span><span><b class="second">23</b>秒</span><span class="warning1">逾期未处理，退款申请将自动关闭</span>
                    </li>
                    <li class="address">退货地址：同城生活络售后服务中心，0571-2833666，浙江杭州拱墅区祥园路33号5楼，310011</li>
                  	<li class="order_infor_btn">
                    	<a href="#" class="bgred write_wuliu">填写物流信息</a>
                    </li>
                </ul>-->
                <!-- 待买家退货 结束  -->
                
                <!-- 待商家收货 开始  -->
            	<!--<ul class="after_order_status">
                	<li class="status"><b>处理状态：</b><b class="red">待商家收货</b></li>
                	<li class="order_time">
                    	 <span><b class="day">02</b>天</span><span><b class="hour">58</b>时</span><span><b class="minute">52</b>分</span><span><b class="second">23</b>秒</span><span class="warning1">逾期未处理，退款申请将自动关闭</span>
                    </li>
                    <li class="wuliu"><span>物流公司：顺风快递</span><span>运单号：3522123216455</span><a href="#" class="request">查看物流</a></li>
                  	<li class="order_infor_btn">
                    	<a href="#" class="bgred remind_refund">提醒商家退款处理</a>
                    </li>
                </ul>-->
                <!-- 待商家收货 结束  -->
                
                <!-- 退货退款-拒绝退款 开始  -->
            	<!--<ul class="after_order_status">
                	<li class="status"><b>处理状态：</b><b class="red">拒绝退款</b></li>
                	<li class="order_time">
                    	 <span><b class="day">02</b>天</span><span><b class="hour">58</b>时</span><span><b class="minute">52</b>分</span><span><b class="second">23</b>秒</span><span class="warning1">逾期未处理，退款申请将自动关闭</span>
                    </li>
                    <li class="wuliu"><span>物流公司：顺风快递</span><span>运单号：3522123216455</span><a href="#" class="request">查看物流</a></li>
                  	<li class="order_infor_btn">
                    	<a href="#" class="bgred cancel_refund">取消退货申请</a><a href="#" class="request">请求仲裁介入</a>
                    </li>
                </ul>-->
                <!-- 退货退款-拒绝退款 结束  -->
                
                <!-- 确定退款  开始 -->
                <!--<ul class="after_order_status sure_return1">
                	<li class="status"><b>处理状态：</b><b class="red">确定退款</b></li>
                	<li class="prompt">
                    	 同城生活财务处理中，将在3个工作日内处理完成退款
                    </li>
                    <li class="wuliu"><span>物流公司：顺风快递</span><span>运单号：3522123216455</span><a href="#" class="request">查看物流</a></li>
                </ul>-->
                <!-- 确定退款  结束 -->
                
                <!-- 退款成功  开始 -->
                <!--<ul class="after_order_status sure_return1">
                	<li class="status"><b>处理状态：</b><b class="red">退款成功</b></li>
                	<li class="prompt">
                    	 退款时间：2014-05-21 16:06
                    </li>
                    <li class="wuliu"><span>物流公司：顺风快递</span><span>运单号：3522123216455</span><a href="#" class="request">查看物流</a></li>
                </ul>-->
                <!-- 退款成功  结束 -->
                
         <!--------- 商家操作  --------------->
         		
                <!-- 退款待处理 开始  -->
            	<!--<ul class="after_order_status">
                	<li class="status"><b>处理状态：</b><b class="red">退款待处理</b></li>
                	<li class="order_time">
                    	 <span><b class="day">02</b>天</span><span><b class="hour">58</b>时</span><span><b class="minute">52</b>分</span><span><b class="second">23</b>秒</span><span class="warning1">逾期未处理，退款申请将自动关闭</span>
                    </li>
                  	<li class="order_infor_btn">
                    	<a href="#" class="bgred agree_returns">同意退货申请</a><a href="#" class="refuse_returns">拒绝退货申请</a>
                    </li>
                </ul>-->
                
                <!-- 退款待处理 结束  -->
           
         		<!-- 待买家退货 开始  -->
            	<!--<ul class="after_order_status">
                	<li class="status"><b>处理状态：</b><b class="red">待买家退货</b></li>
                	<li class="order_time">
                    	 <span><b class="day">02</b>天</span><span><b class="hour">58</b>时</span><span><b class="minute">52</b>分</span><span><b class="second">23</b>秒</span><span class="warning1">逾期未处理，退款申请将自动关闭</span>
                    </li>
                    <li class="address">退货地址：同城生活络售后服务中心，0571-2833666，浙江杭州拱墅区祥园路33号5楼，310011</li>
                  	<li class="order_infor_btn mt20">
                    	<span class="wm_ico sigh2"></span><b>等待买家退货 . . .</b>
                    </li>
                </ul>-->
                <!-- 待买家退货 结束  -->
                
                <!-- 待商家收货 开始  -->
            	<ul class="after_order_status">
                	<li class="status"><b>处理状态：</b><b class="red">待商家收货</b></li>
                	<li class="order_time">
                    	 <span><b class="day">02</b>天</span><span><b class="hour">58</b>时</span><span><b class="minute">52</b>分</span><span><b class="second">23</b>秒</span><span class="warning1">逾期未处理，退款申请将自动关闭</span>
                    </li>
                    <li class="wuliu"><span>物流公司：顺风快递</span><span>运单号：3522123216455</span><a href="#" class="request">查看物流</a></li>
                  	<li class="order_infor_btn">
                    	<a href="#" class="bgred">确定收货</a><a href="#" class="refuse_refund">拒绝退款</a>
                    </li>
                </ul>
                <!-- 待商家收货 结束  -->
                
                <!-- 退货退款-拒绝退款 开始  -->
            	<!--<ul class="after_order_status">
                	<li class="status"><b>处理状态：</b><b class="red">拒绝退款</b></li>
                	<li class="order_time">
                    	 <span><b class="day">02</b>天</span><span><b class="hour">58</b>时</span><span><b class="minute">52</b>分</span><span><b class="second">23</b>秒</span><span class="warning1">逾期未处理，退款申请将自动关闭</span>
                    </li>
                    <li class="wuliu"><span>物流公司：顺风快递</span><span>运单号：3522123216455</span><a href="#" class="request">查看物流</a></li>
                  	<li class="order_infor_btn">
                    	<a href="#" class="bgred agree_returns">同意退货申请</a>
                    </li>
                </ul>-->
                <!-- 退货退款-拒绝退款 结束  -->
                
                <!-- 确定退款  开始 -->
                <!--<ul class="after_order_status sure_return1">
                	<li class="status"><b>处理状态：</b><b class="red">确定退款</b></li>
                	<li class="prompt">
                    	 同城生活财务处理中，将在3个工作日内处理完成退款
                    </li>
                    <li class="wuliu"><span>物流公司：顺风快递</span><span>运单号：3522123216455</span><a href="#" class="request">查看物流</a></li>
                </ul>-->
                <!-- 确定退款  结束 -->
                
                <!-- 退款成功  开始 -->
                <!--<ul class="after_order_status sure_return1">
                	<li class="status"><b>处理状态：</b><b class="red">退款成功</b></li>
                	<li class="prompt">
                    	 退款时间：2014-05-21 16:06
                    </li>
                    <li class="wuliu"><span>物流公司：顺风快递</span><span>运单号：3522123216455</span><a href="#" class="request">查看物流</a></li>
                </ul>-->
                <!-- 退款成功  结束 -->
                
                <!-- 退款关闭  开始 -->
                <!--<ul class="after_order_status sure_return">
                	<li class="status"><b>处理状态：</b><b class="red">退款关闭</b></li>
                	<li class="prompt">
                    	 退款关闭时间：2014-05-21 16:06
                    </li>
                </ul>-->
                <!-- 退款关闭  结束 -->
                   
                           
            </div>
        </div>
        <div class="order">
        	<div class="order_head clearfix">
            	<span class="order_num">商品清单</span>
                <span class="business"><a href="#">杭州同城生活络科技有限公司</a><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=137499547&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:137499547:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></span>
            </div>
            <table width="100%" height="100%" border="0" class="table_show1">
            	<thead>
                    <tr>
                        <th class="busi_goods">商品</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>优惠</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody>
                	<tr valign="middle" class="order_detail">
                        <td>
                            <div class="order_goods">
                                <a href="#" class="goods_img"><img src="../order/img/goods.jpg" /></a>
                                <ul class="order_goods_infor">
                                    <li><a href="#">2013春夏新款修身牛仔男士裤男浅蓝韩版男士小...</a></li>
                                    <li>尺寸:L</li>
                                    <li>颜色:蓝色</li>
                                </ul>
                            </div>
                        </td>
                        <td class="align_center price">
                            <span class="true_price">￥98.00</span>
                            <del>￥128.00</del>
                        </td>
                        <td class="align_center">
                            2
                        </td>
                        <td class="align_center"><a href="#">￥60.00</a></td>
                        <td class="align_center"><a href="#" class="green">退款成功</a></td>
                        
                    </tr>
                    <tr valign="middle" class="order_detail">
                        <td>
                            <div class="order_goods">
                                <a href="#" class="goods_img"><img src="../order/img/goods.jpg" /></a>
                                <ul class="order_goods_infor">
                                    <li><a href="#">2013春夏新款修身牛仔男士裤男浅蓝韩版男士小...</a></li>
                                    <li>尺寸:L</li>
                                    <li>颜色:蓝色</li>
                                </ul>
                            </div>
                        </td>
                        <td class="align_center price">
                            <span class="true_price">￥98.00</span>
                            <del>￥128.00</del>
                        </td>
                        <td class="align_center">
                            2
                        </td>
                        <td class="align_center"><a href="#">￥60.00</a></td>
                        <td class="align_center">等待付款<a href="#" class="blue">申请售后</a></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="payment clearfix">
        	<div class="payment_left">
            	<span>支付方式：工商银行</span>
                <span>支付账户：62254152001145284</span>
            </div>
            <div class="payment_right">
            	<span class="true_pay">实付款：<b class="red">￥194.00</b>(含运费0.00元)</span>
                <span>获得<em class="red">194</em>同城生活积分</span>
            </div>
        </div>
        <div class="aftermarket_infor clearfix">
        	<div class="aftermarket_infor_con">
            	<h3>售后申请信息</h3>
                <div class="aftermarket_infor_detail">
                	<ul>
                    	<li class="aftermarket_infor_item"><span class="item_title">售后类型：</span>不退货退款</li>
                        <li class="aftermarket_infor_item"><span class="item_title">退款金额：</span><b class="red">￥712.00</b></li>
                        <li class="aftermarket_infor_item"><span class="item_title">申请时间：</span>2014-5-21 10：09</li>
                        <li class="aftermarket_infor_item"><span class="item_title">退款编号：</span>415403250209578</li>
                        <li class="aftermarket_infor_item"><span class="item_title">退款理由：</span>七天无理由退货</li>
                        <li class="aftermarket_infor_item"><span class="item_title">备注：</span><span class="reason">衣服不合身且穿起来不好看！跟详情页上模特的宝贝不一致，有色差</span></li>
                        <li class="aftermarket_infor_item">
                        	<span class="item_title">图片凭证：</span>
                            <span class="proof">
                            	<a href="#">
                                	<img src="img/img.jpg" />
                                    <span class="iconfont look_proof">&#xf01b9;</span>
                                </a>
                                <a href="#">
                                	<img src="img/img.jpg" />
                                    <span class="iconfont look_proof">&#xf01b9;</span>
                                </a>
                                <a href="#">
                                	<img src="img/img.jpg" />
                                    <span class="iconfont look_proof">&#xf01b9;</span>
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="aftermarket_infor_con aftermarket_infor_con1">
            	<h3>申请处理记录</h3>
                <!-- 无处理 开始 -->
                 <!--<div class="no_record"><img src="img/no.jpg" /></div>--> 
                <!-- 无处理 结束 -->
                
                <!-- 商家同意退款 开始 -->
                <!--<div class="busi_agree">
                	<ul>
                    	<li class="busi_agree_item"><b>商家同意退款</b><span class="busi_agree_time">2014-05-21 11:06</span></li>
                        <li class="busi_agree_item"><b class="green">退款完成</b><span class="busi_agree_time">2014-05-21 11:28</span></li>
                    </ul>
                </div>-->
                <!-- 商家同意退款 结束 -->
                
                <!-- 商家拒绝退款 开始 -->
                <!--<div class="busi_agree">
                	<ul>
                    	<li class="busi_agree_item"><b>商家拒绝退款</b><span class="busi_agree_time">2014-05-21 11:06</span></li>
                        <p><span class="red">拒绝原因：</span><span class="return_reason">已联系快递找到衣服，提醒用户退货商品邮寄方式，商品退货信息填写等退货注意事信息填写等退货注意事项</span></p>
                        <li class="busi_agree_item"><b>买家未处理，超过关闭</b><span class="busi_agree_time">2014-05-21 11:28</span></li>
                        <li class="busi_agree_item"><b>买家取消退款</b><span class="busi_agree_time">2014-05-21 11:28</span></li>
                    </ul>
                </div>-->
                <!-- 商家拒绝退款 结束 -->
                
                <!-- 商家同意退货退款 开始 -->
                <div class="busi_agree">
                	<ul>
                    	<li class="busi_agree_item"><b>商家同意退货退款</b><span class="busi_agree_time">2014-05-21 11:06</span></li>
                        <p><span class="item_title">退货地址：</span><span class="return_reason">同城生活络售后服务中心，0571-2833666，浙江杭州拱墅区祥园路33号5楼，310011</span></p>
                        <p><span class="red item_title">备注：</span><span class="return_reason">提醒用户退货商品邮寄方式、商品退货信息填写等退货注意事项</span></p>
                    </ul>
                    <ul>
                    	<li class="busi_agree_item"><b>买家已退货处理</b><span class="busi_agree_time">2014-05-21 11:06</span></li>
                        <p><span class="red item_title">备注：</span><span class="return_reason">提醒用户退货商品邮寄方式、商品退货信息填写等退货注意事项</span></p>
                        <p class="aftermarket_infor_item">
                        	<span class="item_title">图片凭证：</span>
                            <span class="proof proof1">
                            	<a href="#">
                                	<img src="img/img.jpg" />
                                    <span class="iconfont look_proof">&#xf01b9;</span>
                                </a>
                                <a href="#">
                                	<img src="img/img.jpg" />
                                    <span class="iconfont look_proof">&#xf01b9;</span>
                                </a>
                                <a href="#">
                                	<img src="img/img.jpg" />
                                    <span class="iconfont look_proof">&#xf01b9;</span>
                                </a>
                            </span>
                        </p>
                    </ul>
                </div>
                <!-- 商家同意退货退款 结束 -->
                
                <!-- 商家拒绝退货退款 开始 -->
                <!--<div class="busi_agree">
                	<ul>
                    	<li class="busi_agree_item"><b>商家同意退货退款</b><span class="busi_agree_time">2014-05-21 11:06</span></li>
                        <p><span class="item_title">退货地址：</span><span class="return_reason">同城生活络售后服务中心，0571-2833666，浙江杭州拱墅区祥园路33号5楼，310011</span></p>
                        <p><span class="red item_title">备注：</span><span class="return_reason">提醒用户退货商品邮寄方式、商品退货信息填写等退货注意事项</span></p>
                    </ul>
                    <ul>
                    	<li class="busi_agree_item"><b>买家已退货处理</b><span class="busi_agree_time">2014-05-21 11:06</span></li>
                        <p><span class="red item_title">备注：</span><span class="return_reason">提醒用户退货商品邮寄方式、商品退货信息填写等退货注意事项</span></p>
                        <p class="aftermarket_infor_item">
                        	<span class="item_title">图片凭证：</span>
                            <span class="proof proof1">
                            	<a href="#">
                                	<img src="img/img1.jpg" />
                                    <span class="iconfont look_proof">&#xf01b9;</span>
                                </a>
                                <a href="#">
                                	<img src="img/img1.jpg" />
                                    <span class="iconfont look_proof">&#xf01b9;</span>
                                </a>
                                <a href="#">
                                	<img src="img/img1.jpg" />
                                    <span class="iconfont look_proof">&#xf01b9;</span>
                                </a>
                            </span>
                        </p>
                    </ul>
                    <ul>
                    	<li class="busi_agree_item"><b>商家拒绝退款</b><span class="busi_agree_time">2014-05-21 11:06</span></li>
                        <p><span class="red item_title">拒绝原因：</span><span class="return_reason">拒绝原因：衣服破损为客户人工造成的！已经把商品退还给买家</span></p>
                        <p class="aftermarket_infor_item">
                        	<span class="item_title">图片凭证：</span>
                            <span class="proof proof1">
                            	<a href="#">
                                	<img src="img/img2.jpg" />
                                    <span class="iconfont look_proof">&#xf01b9;</span>
                                </a>
                                <a href="#">
                                	<img src="img/img2.jpg" />
                                    <span class="iconfont look_proof">&#xf01b9;</span>
                                </a>
                            </span>
                        </p>
                    </ul>
                </div>-->
                <!-- 商家拒绝退货退款 结束 -->
                
            </div>
        </div>
    </div>
    
    <!--底部-->
    <div class="bottom footer">
        <div class="bott_sub">
            <div class="put_on_record">
                <p>
                    <a href="#">关于我们</a><em>|</em>
                    <a href="#">联系我们</a><em>|</em>
                    <a href="#">品牌入驻</a><em>|</em>
                    <a href="#">隐私条款</a><em>|</em>
                    <a href="#">隐私条款</a><em>|</em>
                    <a href="#">网站地图</a><em>|</em>
                    <a href="#">友情链接</a><em>|</em>
                    <a href="#">用户体验提升计划</a>
                </p>
                <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                <a href="#">
                    <img src="../../public/img/internetPolice.png" />
                </a>

                <a href="#">
                    <img src="../../public/img/putOnRecord.png" />
                </a>

                <a href="#">
                    <img src="../../public/img/internetBusiness.png" />
                </a>

                <a href="#">
                    <img src="../../public/img/siteCredits.png" />
                </a>

                <a href="#">
                    <img src="../../public/img/trusty.png" />
                </a>

            </div>
        </div>

    </div>
</div>
</body>
</html>
>>