<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/phone_web/public/css/global.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/phone_web/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div id="page">
        <header>
            <h1 class="iconfont">&#xe602;</h1>
            <div class="logo_msg">
                <em>同城生活</em>
                <span>HU DONG GOU WU</span>
            </div>
        </header>
        <article>
            <p class="activate_msg"><i class="iconfont">&#xe603;</i>链接失效！</p>
        </article>
    </div>
</body>
</html>

