<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../public/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../../public/css/ico.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../public/css/pipes.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/security/verification_identity/config.js" data-init="verification_identity"></script>

</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_top">
                <div class="sub_head_top">
                    <!--<div class="user_data">
                        <span>欢迎加入同城生活帮：</span>
                        <span>柴逸宁</span>
                    </div>-->
                    <div class="user_login">
                        <span>欢迎加入同城生活帮：</span>
                        <a href="#">登录</a>
                        <em>|</em>
                        <a href="#">免费注册</a>
                    </div>
                    <div class="link_list">
                        <a href="#">同城生活首页</a><em>|</em>
                        <a href="#">我的同城生活</a><em>|</em>
                        <a href="#">我的购物车<b>6</b>件</a><em>|</em>
                        <a href="#">收藏夹</a><em>|</em>
                        <a href="#">分类导航</a>
                    </div>
                </div>
            </div>
            <div class="head_sub">
                <div class="head_con">
                    <h1 class="wm_logo">
                        <img src="http://s.tcsh.me/tcsh/view/security/public/img/wm_security_logo.png" title="同城生活安全" alt="同城生活安全" />
                    </h1>
                </div>
            </div>

        </div>
        <div class="content">
            <div class="con_sub">
                <div class="content_main verification_identity">
                    <div class="title">
                        <h3>修改绑定</h3>
                    </div>
                    <div class="pipes_box pipes3">
                        <span class="pipes con3">
                            <i class="pipes_start"></i>
                            <i class="pipes_end"></i>
                            <b class="p_index i_1">1<span class="up_msg">修改手机绑定</span></b>
                            <b class="p_index i_2">2<span class="up_msg">验证身份</span></b>
                            <b class="p_index i_3">3<span class="up_msg">验证通过，修改绑定</span></b>
                            <b class="p_index i_4">4<span class="up_msg">完成</span></b>
                            <span class="pipes_content len2">
                                <b class="i_1">1</b>
                                <b class="i_2">2</b>
                                <b class="i_3">3</b>
                                <b class="i_4">4</b>
                            </span>
                        </span>
                    </div>
                    <ul class="wm_form">
                        <li class="form_row form_head">
                            <label>选择验证方式：</label>
                            <select id="change_type">
                                
                                <option value="2">手机验证</option>
                              
                            </select>
                        </li>
                        <li>
                            <form>
                                <ul>
                                    <li class="form_row">
                                        <label class="row_key">您的手机号码：</label>
                                        <span>182****7844</span>
                                        <span class="remark">若当前号码已丢失或不用，无法收到验证码？<a href="#">其他验证方式</a></span>
                                        <span class="wmv_msg" for="vcode"></span>
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key">&nbsp;</label>
                                        <span class="getphonevc_box"><a href="#" class="ui_btn ui_btn_h27gray8 getphonevc"><span class="ui_btn_txt">获取验证码</span></a></span>
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key">验证码：</label>
                                        <input type="text" class="form_txt w80" name="phone_v_code" wmv="empty" wmvmsg="请输入验证码！">
                                    </li>
                                    <li class="form_row btns">
                                        <label class="row_key">&nbsp;</label>
                                        <span class="ui_btn ui_btn_h35yellow9"><input type="submit" class="ui_btn_txt" value="下一步" /></span>
                                    </li>
                                </ul>
                            </form>
                        </li>
                    </ul>
                    <div class="customer_service">
                        <b>在线客服：</b>
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=130016001&amp;site=qq&amp;menu=yes">
                            <img border="0" src="http://wpa.qq.com/pa?p=2:130016001:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=130016001&amp;site=qq&amp;menu=yes">
                            <img border="0" src="http://wpa.qq.com/pa?p=2:130016001:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=130016001&amp;site=qq&amp;menu=yes">
                            <img border="0" src="http://wpa.qq.com/pa?p=2:130016001:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
                        <b>客服电话：</b><span class="red">0574-6666666666</span>
                        <p><b class="red">备注：</b>人工解决密码找回问题，审核时间要2个小时（工作时间8:30-22:00）</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="link_list">
                    <div class="link_item">
                        <span>服务保障</span>
                        <ul>
                            <li><a href="#">正品保障</a></li>
                            <li><a href="#">7天无条件退货</a></li>
                            <li><a href="#">7*15小时服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>购物指南</span>
                        <ul>
                            <li><a href="#">导购演示</a></li>
                            <li><a href="#">订单操作</a></li>
                            <li><a href="#">用户指南</a></li>
                            <li><a href="#">账号管理</a></li>
                            <li><a href="#">购物参考</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>支付方式</span>
                        <ul>
                            <li><a href="#">网银支付币</a></li>
                            <li><a href="#">支付平台</a></li>
                            <li><a href="#">信用卡</a></li>
                            <li><a href="#">同城生活金币</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>配送方式</span>
                        <ul>
                            <li><a href="#">配送服务</a></li>
                            <li><a href="#">配送范围和运费</a></li>
                            <li><a href="#">验货与签收</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>售后服务</span>
                        <ul>
                            <li><a href="#">退换货政策</a></li>
                            <li><a href="#">退换货流程</a></li>
                            <li><a href="#">退款方式和时效</a></li>
                        </ul>
                    </div>
                    <div class="link_item end">
                        <span>同城生活模式</span>
                        <ul>
                            <li><a href="#">聚合式品牌特卖</a></li>
                            <li><a href="#">同城生活成长基金</a></li>
                            <li><a href="#">推手规则</a></li>
                        </ul>
                    </div>
                </div>
                <div class="put_on_record">
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                    <a href="#">
                        <img src="../../public/img/internetPolice.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/putOnRecord.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/internetBusiness.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/siteCredits.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/trusty.png" />
                    </a>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
