<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??ago/public/css/global_v2.css,public/css/ico.css,public/wm_btn/css/style.css,ago/public/wm_block/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/ago/wmwomen/config.js" data-init="wmwomen_index"></script>
</head>
<body>

    <div id="page">
        <div class="head">
            <!--后端同步开始-->
            <div class="head_top">
                <div class="head_top_bb1f">
                    <div class="sub_head_top">
                        <div class="user_login">
                            <span>欢迎加入同城生活：</span>
                            <a href="#">登录</a>
                            <em>|</em>
                            <a href="#">免费注册</a>
                        </div>
                        <div class="pull_btns w115 followwm">
                            <a href="#" class="idea w115 "><i class="wm_ico heart1"></i>关注同城生活<span class="pull_arrow "><em>◆</em><span>◆</span></span></a>
                            <ul class="pull_list w115">
                                <li>
                                    <a href="#" class="pull_link"><i class="wm_ico heart1"></i>关注同城生活</a><span class="pull_arrow "><em>◆</em><span>◆</span></span>
                                </li>
                                <li>
                                    <a href="#" class="pull_link"><i class="social_icon sina_wb"></i>新浪微博</a>
                                </li>
                                <li>
                                    <a href="#" class="pull_link"><i class="social_icon tx_wb"></i>腾讯微博</a>
                                </li>
                                <li>
                                    <a href="#" class="pull_link"><i class="social_icon netease"></i>网易微博</a>
                                </li>
                                <li>
                                    <a href="#" class="pull_link">同城生活党</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="head_sub">
                <div class="head_con">
                    <h1 class="wmwz_logo">
                        <a href="#" title="同城生活户外">同城生活户外<span class="logo_remark">huwai.wumeiwang.com</span></a>
                    </h1>
                    <div class="head_search">
                        <form class="search_form" method="get" action="http://s.wumeiwang.com/search">
                            <div class="search_type">
                                <ul>
                                    <li data_action="http://s.wumeiwang.com/search"><a href="#" class="search_type_item">商品</a></li>
                                    <li data_action="http://s.wumeiwang.com/shop/search"><a href="#" class="search_type_item">店铺</a></li>
                                </ul>
                                <span class="pull_arrow iconfont">󰀅</span>
                            </div>
                            <input type="text" name="q" class="search_txt">
                            <input type="submit" class="submit" value="搜索">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_nav">
            <div class="page_main">
                <!--类目导航开始-->
                <div class="class_nav">
                    <h3 class="class_nav_head">全部商品分类</h3>
                    <ul class="class_list"></ul>
                </div>
                <!--类目导航结束-->
                <ul class="page_nav_list">
                    <li class="page_nav_item">
                        <a href="#" class="curr">首页</a>
                    </li>
                    <li class="page_nav_item">
                        <a href="#">品牌馆</a>
                    </li>
                    <li class="page_nav_item">
                        <a href="#">限时购</a>
                    </li>
                    <li class="page_nav_item">
                        <a href="#">美推手</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="wm_forimg_box adv_max_320">
                <ul class="wm_forimg_list">
                    <li class="for_img_item">
                        <a href="#">
                            <img src="http://img02.taobaocdn.com/imgextra/i2/585762759/T2xLx5XJdaXXXXXXXX-585762759.jpg" /></a>
                    </li>
                    <li class="for_img_item">
                        <a href="#">
                            <img src="http://img02.taobaocdn.com/imgextra/i2/585762759/T2xLx5XJdaXXXXXXXX-585762759.jpg" /></a>
                    </li>
                    <li class="for_img_item">
                        <a href="#">
                            <img src="http://img02.taobaocdn.com/imgextra/i2/585762759/T2xLx5XJdaXXXXXXXX-585762759.jpg" /></a>
                    </li>
                    <li class="for_img_item">
                        <a href="#">
                            <img src="http://img02.taobaocdn.com/imgextra/i2/585762759/T2xLx5XJdaXXXXXXXX-585762759.jpg" /></a>
                    </li>
                    <li class="for_img_item">
                        <a href="#">
                            <img src="http://img02.taobaocdn.com/imgextra/i2/585762759/T2xLx5XJdaXXXXXXXX-585762759.jpg" /></a>
                    </li>
                </ul>
                <ul class="indexBox"></ul>
            </div>
            <div class="con_sub">
                <div class="nvzhuang_class_box">
                    <ul class="nvzhuang_class_list">
                        <li>
                            <h3>热门分类</h3>
                        </li>
                        <li><a href="http://s.wumeiwang.com/list/140113.html" target="_blank" rel="nofollow">冲锋衣裤</a></li>
                        <li><a href="http://s.wumeiwang.com/list/140111.html" target="_blank" rel="nofollow">骑行服</a></li>
                        <li><a href="http://s.wumeiwang.com/list/140803.html" target="_blank" rel="nofollow">户外健身器械</a></li>
                        <li><a href="http://s.wumeiwang.com/list/140601.html" target="_blank" rel="nofollow">户外体育用品</a></li>
                        <li><a href="http://s.wumeiwang.com/list/140617.html" target="_blank" rel="nofollow">垂钓设备</a></li>
                        <li><a href="http://s.wumeiwang.com/list/140606.html" target="_blank" rel="nofollow">自行车越野</a></li>
                    </ul>

                    <ul class="nvzhuang_brand_list">
                        <li>
                            <h3>拳头品牌</h3>
                        </li>
                        <li><a href="http://s.wumeiwang.com/list/140000.html?q=&brand=100" target="_blank" rel="nofollow">极地鹅</a></li>
                        <li><a href="http://s.wumeiwang.com/list/140000.html?q=&amp;brand=48" target="_blank" rel="nofollow">翰文</a></li>
                        <li><a href="http://s.wumeiwang.com/list/140000.html?q=&brand=303" target="_blank" rel="nofollow">koranm</a></li>
                        <li><a href="http://s.wumeiwang.com/list/140000.html?q=&brand=163" target="_blank" rel="nofollow">水中王</a></li>
                        <li><a href="http://s.wumeiwang.com/list/140000.html?q=&brand=105" target="_blank" rel="nofollow">芳卓</a></li>
                        <li><a href="http://s.wumeiwang.com/list/140000.html?q=&brand=237" target="_blank" rel="nofollow">北陆/HOKURIKU</a></li>
                        <li><a href="http://s.wumeiwang.com/list/140000.html?q=&brand=330" target="_blank" rel="nofollow">OLMOS</a></li>
                        <li><a href="http://s.wumeiwang.com/list/140000.html?q=&amp;brand=43" target="_blank" rel="nofollow">园翰美</a></li>
                        <li><a href="http://s.wumeiwang.com/list/140000.html?q=&brand=359" target="_blank" rel="nofollow">TOPNETAR</a></li>
                        <li><a href="http://s.wumeiwang.com/list/140000.html?q=&brand=317" target="_blank" rel="nofollow">美达</a></li>
                        <li><a href="http://s.wumeiwang.com/list/140000.html?q=&brand=334" target="_blank" rel="nofollow">飞阳</a></li>
                    </ul>
                </div>
                <ul class="clearfix">
                    <li class="page_row wm_recommend">
                        <div class="page_row_title">
                            <h3>给力户外 ToForce</h3>
                        </div>
                        <div class="page_row_con clearfix">
                            <ul class="recommend_list ">
                                <li class="recommend_item">
                                    <a href="#" class="spread_img" title="广告词广告词广告词广告词广告词广告词">
                                        <img src="img/x2.jpg" />
                                        <span class="recommend_item_tag">广告词广告词广告词广告词广告词广告词</span>
                                    </a>
                                    <a href="#" class="spread_brand" title="品牌名">
                                        <img src="img/404logo.png" /></a>
                                </li>
                                <li class="recommend_item">
                                    <a href="#" class="spread_img" title="广告词广告词广告词">
                                        <img src="img/x2.jpg" />
                                        <span class="recommend_item_tag">广告词广告词广告词</span>
                                    </a>
                                    <a href="#" class="spread_brand" title="品牌名">
                                        <img src="img/404logo.png" /></a>
                                </li>
                                <li class="recommend_item">
                                    <a href="#" class="spread_img" title="广告词广告词广告词">
                                        <img src="img/x2.jpg" />
                                        <span class="recommend_item_tag">广告词广告词广告词</span>
                                    </a>
                                    <a href="#" class="spread_brand" title="品牌名">
                                        <img src="img/404logo.png" /></a>
                                </li>
                                <li class="recommend_item">
                                    <a href="#" class="spread_img" title="广告词广告词广告词">
                                        <img src="img/x2.jpg" />
                                        <span class="recommend_item_tag">广告词广告词广告词</span>
                                    </a>
                                    <a href="#" class="spread_brand" title="品牌名">
                                        <img src="img/404logo.png" /></a>
                                </li>
                                <li class="recommend_item">
                                    <a href="#" class="spread_img" title="广告词广告词广告词">
                                        <img src="img/x2.jpg" />
                                        <span class="recommend_item_tag">广告词广告词广告词</span>
                                    </a>
                                    <a href="#" class="spread_brand" title="品牌名">
                                        <img src="img/404logo.png" /></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="page_row wm_specialty">
                        <ul class="wm_specialty_list">
                            <li class="wm_specialty_item c865">
                                <div class="page_row_title">
                                    <h3>专业户外</h3>
                                </div>
                                <div class="page_row_con clearfix ">
                                    <div class="specialty_subleft">
                                        <a href="#" class="specialty_commodity">
                                            <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                        </a>
                                        <a href="#" class="specialty_brand">
                                            <img src="img/404logo.png" />
                                        </a>
                                    </div>
                                    <ul class="specialty_subright">
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="wm_specialty_item c719">
                                <div class="page_row_title">
                                    <h3>专业户外</h3>
                                </div>
                                <div class="page_row_con clearfix ">
                                    <div class="specialty_subleft">
                                        <a href="#" class="specialty_commodity">
                                            <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                        </a>
                                        <a href="#" class="specialty_brand">
                                            <img src="img/404logo.png" />
                                        </a>
                                    </div>
                                    <ul class="specialty_subright">
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="wm_specialty_item cb5a">
                                <div class="page_row_title">
                                    <h3>专业户外</h3>
                                </div>
                                <div class="page_row_con clearfix ">
                                    <div class="specialty_subleft">
                                        <a href="#" class="specialty_commodity">
                                            <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                        </a>
                                        <a href="#" class="specialty_brand">
                                            <img src="img/404logo.png" />
                                        </a>
                                    </div>
                                    <ul class="specialty_subright">
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        </ul>

                    </li>
                    <li class="page_row wm_specialty">
                        <ul class="wm_specialty_list">
                            <li class="wm_specialty_item c865">
                                <div class="page_row_title">
                                    <h3>探险户外</h3>
                                </div>
                                <div class="page_row_con clearfix ">
                                    <div class="specialty_subleft">
                                        <a href="#" class="specialty_commodity">
                                            <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                        </a>
                                        <a href="#" class="specialty_brand">
                                            <img src="img/404logo.png" />
                                        </a>
                                    </div>
                                    <ul class="specialty_subright">
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="wm_specialty_item c719">
                                <div class="page_row_title">
                                    <h3>城市户外</h3>
                                </div>
                                <div class="page_row_con clearfix ">
                                    <div class="specialty_subleft">
                                        <a href="#" class="specialty_commodity">
                                            <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                        </a>
                                        <a href="#" class="specialty_brand">
                                            <img src="img/404logo.png" />
                                        </a>
                                    </div>
                                    <ul class="specialty_subright">
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="wm_specialty_item cb5a">
                                <div class="page_row_title">
                                    <h3>城市户外</h3>
                                </div>
                                <div class="page_row_con clearfix ">
                                    <div class="specialty_subleft">
                                        <a href="#" class="specialty_commodity">
                                            <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                        </a>
                                        <a href="#" class="specialty_brand">
                                            <img src="img/404logo.png" />
                                        </a>
                                    </div>
                                    <ul class="specialty_subright">
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </li>
                    <li class="page_row wm_specialty">
                        <ul class="wm_specialty_list">
                            <li class="wm_specialty_item c865">
                                <div class="page_row_title">
                                    <h3>垂钓装备</h3>
                                </div>
                                <div class="page_row_con clearfix ">
                                    <div class="specialty_subleft">
                                        <a href="#" class="specialty_commodity">
                                            <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                        </a>
                                        <a href="#" class="specialty_brand">
                                            <img src="img/404logo.png" />
                                        </a>
                                    </div>
                                    <ul class="specialty_subright">
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="wm_specialty_item c719">
                                <div class="page_row_title">
                                    <h3>登山装备</h3>
                                </div>
                                <div class="page_row_con clearfix ">
                                    <div class="specialty_subleft">
                                        <a href="#" class="specialty_commodity">
                                            <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                        </a>
                                        <a href="#" class="specialty_brand">
                                            <img src="img/404logo.png" />
                                        </a>
                                    </div>
                                    <ul class="specialty_subright">
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="wm_specialty_item cb5a">
                                <div class="page_row_title">
                                    <h3>户外骑行</h3>
                                </div>
                                <div class="page_row_con clearfix ">
                                    <div class="specialty_subleft">
                                        <a href="#" class="specialty_commodity">
                                            <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                        </a>
                                        <a href="#" class="specialty_brand">
                                            <img src="img/404logo.png" />
                                        </a>
                                    </div>
                                    <ul class="specialty_subright">
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词广告词广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词广告词广告词</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="specialty_commodity" title="广告词">
                                                <img src="http://img03.taobaocdn.com/imgextra/i3/733534376/T27oZUXxFXXXXXXXXX-733534376.jpg" />
                                                <span class="remark">广告词</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="bottom_select_box">
                    <form class="search_form" method="get" action="http://s.wumeiwang.com/search">
                        <div class="search_type">
                            <ul>
                                <li data_action="http://s.wumeiwang.com/search"><a href="#" class="search_type_item">商品</a></li>
                                <li data_action="http://s.wumeiwang.com/shop/search"><a href="#" class="search_type_item">店铺</a></li>
                            </ul>
                            <span class="pull_arrow iconfont">󰀅</span>
                        </div>
                        <input type="text" name="q" class="search_txt">
                        <input type="submit" class="submit" value="搜索">
                    </form>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="link_list">
                    <div class="link_item">
                        <span>服务保障</span>
                        <ul>
                            <li><a href="#">正品保障</a></li>
                            <li><a href="#">7天无条件退货</a></li>
                            <li><a href="#">7*15小时服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>购物指南</span>
                        <ul>
                            <li><a href="#">导购演示</a></li>
                            <li><a href="#">订单操作</a></li>
                            <li><a href="#">用户指南</a></li>
                            <li><a href="#">账号管理</a></li>
                            <li><a href="#">购物参考</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>支付方式</span>
                        <ul>
                            <li><a href="#">网银支付币</a></li>
                            <li><a href="#">支付平台</a></li>
                            <li><a href="#">信用卡</a></li>
                            <li><a href="#">同城生活金币</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>配送方式</span>
                        <ul>
                            <li><a href="#">配送服务</a></li>
                            <li><a href="#">配送范围和运费</a></li>
                            <li><a href="#">验货与签收</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>售后服务</span>
                        <ul>
                            <li><a href="#">退换货政策</a></li>
                            <li><a href="#">退换货流程</a></li>
                            <li><a href="#">退款方式和时效</a></li>
                        </ul>
                    </div>
                    <div class="link_item end">
                        <span>同城生活模式</span>
                        <ul>
                            <li><a href="#">聚合式品牌特卖</a></li>
                            <li><a href="#">同城生活成长基金</a></li>
                            <li><a href="#">推手规则</a></li>
                        </ul>
                    </div>
                </div>
                <div class="put_on_record">
                    <p>
                        <a href="#">关于我们</a><em>|</em>
                        <a href="#">联系我们</a><em>|</em>
                        <a href="#">品牌入驻</a><em>|</em>
                        <a href="#">隐私条款</a><em>|</em>
                        <a href="#">隐私条款</a><em>|</em>
                        <a href="#">网站地图</a><em>|</em>
                        <a href="#">友情链接</a><em>|</em>
                        <a href="#">用户体验提升计划</a>
                    </p>
                    <p class="friend_link"><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a><a href="#">友情链接</a></p>
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                    <a href="#">
                        <img src="../../public/img/internetPolice.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/putOnRecord.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/internetBusiness.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/siteCredits.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/trusty.png" />
                    </a>

                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        var global_setting = {};
        global_setting.serviceTicks = new Date().getTime();

    </script>
</body>
</html>

