<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??ago/public/css/global.css,public/css/ico.css,public/wm_btn/css/style.css,ago/public/wm_block/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />

</head>
<body>
    <div class="wmmessage_box wmmessage_box_show">
        <div class="wmmessage_main">
            <div class="message_user_data">
                <a href="#" class="border">
                    <span class="img_bg">
                        <img src="http://img.wumeiwang.com/M00/00/5E/rBAA_lMaxi-AEC-cAAERb82lsO0129.jpg" />
                        <span href="#" class="hover">点击修改</span>
                    </span>
                </a>
                <p><b class="user_name">小菜</b>小伙伴</p>
                <p><span class="total_val">总积分:999</span><span class="val_rank">排名:NO.999</span></p>
            </div>
            <ul class="msg_list">
                <li class="msg_item">
                    <b class="mr10">晒单</b>获得<b>20</b>积分
                    <span class="get_date">2014-06-06 10:11</span>
                </li>
                <li class="msg_item">
                    <b class="mr10">晒单</b>获得<b>20</b>积分
                    <span class="get_date">2014-06-06 10:11</span>
                </li>
                <li class="msg_item">
                    <b class="mr10">晒单</b>获得<b>20</b>积分
                    <span class="get_date">2014-06-06 10:11</span>
                </li>
                <li class="msg_item">
                    <b class="mr10">晒单</b>获得<b>20</b>积分
                    <span class="get_date">2014-06-06 10:11</span>
                </li>
                <li><a href="#" class="more_msg">查看全部</a></li>
            </ul>
            <a href="#" class="iconfont colse">&#xf0155;</a>
        </div>
        <a href="#" class="box_base"></a>
    </div>
</body>
</html>

