<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../public/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../../public/css/ico.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/stylev2.css" />
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/ago/user_entrance/config.js" data-init="check_in"></script>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_bg">
                <div class="head_sub">
                    <div class="head_con">
                        <h1 class="wm_logo">
                            <a href="http://www.tcsh.me/" class="wm_logo" title="同城生活">同城生活</a>
                        </h1>
                        <a href="http://www.tcsh.me/" class="cwmw" title="同城生活">同城生活</a>
                        <div class="logo_msg">
                            <span class="ui_btn ui_btn_h22red10"><span class="ui_btn_txt"><i>嗅嗅品牌的味道</i></span></span>
                            <em class="wm_ico triangle1">&nbsp;</em>
                        </div>
                        <div class="link_list">
                            <a href="#" class="kfpt" title="开放平台"></a>
                            <a href="#" class="ppzx" title="品牌直销"></a>
                            <a href="#" class="sjfl" title="赏金分利"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="con_sub_bg">
                <div class="con_sub">
                    <div class="content_main">
                        <div class="content_left">
                            <img src="img/bg_1.jpg" width="390" height="390" />
                        </div>
                        <div class="content_right content_right1">
                            <div class="tap tap1"></div>
                            <form action="" class="check_in_form">
                            	<ul class="reg_list wm_form">
                                	<li class="form_row">
                                    	<label class="row_key" for="login_name">登录名：</label>
                                        <input type="text" class="form_txt" id="login_name" placeholder="字母或中文开头，4-20位字符组合！" wmv="empty|regname" wmvmsg="登录名不能为空|登录名格式错误，应为字母或中文开头，4-20位字符组合！" />
                                    </li>
                                    <li class="form_row">
                                    	<label class="row_key" for="psd1">密码：</label>
                                        <input type="password" class="form_txt" id="psd1" name="pwd" placeholder="请输入6-16个字符的字母加数字组合" wmv="empty|loginpassword" wmvmsg="密码不能为空!|密码格式错误，应为6-20个字符的字母加数字组合！" />
                                    </li>
                                    <li class="form_row">
                                    	<label class="row_key"  for="psd2">确认密码：</label>
                                        <input type="text" class="form_txt" id="psd2" wmv="empty|same:pwd" wmvmsg="请确认密码！|密码不一致！"   />
                                    </li>
                                    <li class="form_row form_btns">
                                    	<label class="row_key">&nbsp;</label>
                                        <span class="ui_btn ui_btn_h42red19">
                                        	<input type="submit" class="ui_btn_txt next_btn" value="下一步">
                                        </span>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="put_on_record">
                    <p class="botton">
                        <a href="http://help.wumeiwang.com/au.html">关于我们</a><em>|</em>
                        <a href="#">联系我们</a><em>|</em>
                        <a href="http://www.tcsh.me/seller/reg">品牌入驻</a><em>|</em>
                        <a href="http://help.wumeiwang.com/privacy.html">隐私条款</a><em>|</em>
                        <a href="#">网站地图</a><em>|</em>
                        <a href="#">友情链接</a>
                    </p>
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        var global_setting = {}
    </script>
</body>
</html>
