<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../public/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../../public/css/ico.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/stylev2.css" />
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/ago/user_entrance/config.js" data-init="box"></script>
    
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_bg">
                <div class="head_sub">
                    <div class="head_con">
                        <h1 class="wm_logo">
                            <a href="http://www.tcsh.me/" class="wm_logo" title="同城生活">同城生活</a>
                        </h1>
                        <a href="http://www.tcsh.me/" class="cwmw" title="同城生活">同城生活</a>
                        <div class="logo_msg">
                            <span class="ui_btn ui_btn_h22red10"><span class="ui_btn_txt"><i>嗅嗅品牌的味道</i></span></span>
                            <em class="wm_ico triangle1">&nbsp;</em>
                        </div>
                        <div class="link_list">
                            <a href="#" class="kfpt" title="开放平台"></a>
                            <a href="#" class="ppzx" title="品牌直销"></a>
                            <a href="#" class="sjfl" title="赏金分利"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="con_sub_bg">
                <div class="con_sub">
                    <div class="content_main">
                        <div class="success">
                        	<ul class="successCon">
                            	<li class="success_list"><b class="red">恭喜您！注册成功</b>,用户名和密码已经发送到 <span class="blue">yuzhonghua-10@163.com</span> 邮箱中，您可使用该用户名和密码登录同城生活进行操作。</li>
                                <li class="success_list">店铺二级域名 <span class="red">shop.wumeiwang.com/XXXXXXX</span></li>
                                <li class="success_list_cur"></li>
                                <li class="success_list success_list_cur1">
                                	<span class="open free_open">免费开店</span>
                                    <span class="open agree">在您同意<a href="#" class="blue sever_xy">《同城生活服务协议》</a>，提交相关资料通过审核后即可开店。</span>
                                    <span class="open"><a href="#" class="ui_btn ui_btn_h37green1 open_shop"><span class="ui_btn_txt">我要开店</span></a></span>
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="put_on_record">
                    <p class="botton">
                        <a href="http://help.wumeiwang.com/au.html">关于我们</a><em>|</em>
                        <a href="#">联系我们</a><em>|</em>
                        <a href="http://www.tcsh.me/seller/reg">品牌入驻</a><em>|</em>
                        <a href="http://help.wumeiwang.com/privacy.html">隐私条款</a><em>|</em>
                        <a href="#">网站地图</a><em>|</em>
                        <a href="#">友情链接</a>
                    </p>
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        var global_setting = {}
    </script>
</body>
</html>
