<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/ago/public/css/global.css" />
	<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/css/ico.css" />
	<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/wm_btn/css/style.css" />
	<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/wm_form/css/style.css" />

    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/ago/user_entrance/css/stylev3.css" />
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/ago/user_entrance/config.js" data-init="login_v2"></script>
    <style>
       
    </style>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_bg">
                <div class="head_sub">
                    <div class="head_con">
                        <h1 class="wm_logo">
                            <a href="http://www.tcsh.me/" title="同城生活" class="iconfont">&#xe624;</a>
                        </h1>
                        <div class="logo_msg">
                            <em>同城生活</em>
                            <span>HU DONG GOU WU</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="con_sub_bg">
                <div class="con_sub">
                    <div class="content_main">
                        <div class="content_left">
                            <img width="450" height="540" src="img/bg.jpg" />
                        </div>
                        <div class="content_right">
                            <form class="wm_form login_form">
                                <ul>
                                    <li class="form_row">
                                        <label class="row_key">请登录您的账号</label>
                                        <input type="text" class="form_txt" placeholder="账号" id="user_name" wmv="empty" wmvmsg="请输入登录名">
                                    </li>
                                    <li class="form_row" id="pw_row">
                                        <input type="password" class="form_txt" placeholder="密码" wmv="empty" wmvmsg="请输入密码">
                                    </li>
                                    <!--<li class="form_row">
                                        <input type="text" class="form_txt mb10 w170 v_code_txt" placeholder="验证码" wmv="empty" wmvmsg="验证码不能为空！">
                                        <img src="http://www.tcsh.me/auth" class="mrl5 v_code_img" title="点击更换" />
                                    </li>-->
                                    <li class="form_row">
                                        <span class="ui_btn ui_btn_h46red8">
                                            <input type="submit" class="ui_btn_txt w150 submit" value="登录"></span>
                                    </li>
                                    <li class="form_row">
                                        <input type="checkbox" class="remember_name" id="remember_name" /><label for="remember_name" class="remember_name_key">记住登录账号</label>
                                        <span class="go_reg"><a href="http://s.tcsh.me/tcsh/view/ago/user_entrance/register.html">免费注册</a></span><a href="#" class="back_pw">忘记密码？</a>
                                    </li>
                                </ul>
                            </form>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="put_on_record">
                    <p class="botton">
                        <a href="http://help.wumeiwang.com/au.html">关于我们</a><em>|</em>
                        <a href="#">联系我们</a><em>|</em>
                        <a href="http://www.tcsh.me/seller/reg">品牌入驻</a><em>|</em>
                        <a href="http://help.wumeiwang.com/privacy.html">隐私条款</a><em>|</em>
                        <a href="#">网站地图</a><em>|</em>
                        <a href="#">友情链接</a>
                    </p>
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        var global_setting = {}
    </script>
</body>
</html>
