<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/ago/public/css/global.css" />
	<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/css/ico.css" />
	<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/wm_btn/css/style.css" />
	<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/wm_form/css/style.css" />
	
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/ago/user_entrance/css/stylev3.css" />
	<link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/ago/user_entrance/config.js" data-init="reg_v2"></script>
    <style>
       
    </style>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_bg">
                <div class="head_sub">
                    <div class="head_con">
                        <h1 class="wm_logo">
                            <a href="http://www.tcsh.me/" title="同城生活" class="iconfont">&#xe624;</a>
                        </h1>
                        <div class="logo_msg">
                            <em>同城生活</em>
                            <span>HU DONG GOU WU</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="con_sub_bg">
                <div class="con_sub">
                    <div class="content_main">
                        <div class="content_left">
                            <img width="450" height="540" src="img/bg.jpg" />
                        </div>
                        <div class="content_right">
                            <form class="wm_form reg_form">
                                <ul>
                                    <li class="form_row mb0">
                                        <label class="row_key">没有帐号？现在注册</label>
                                        <input type="text" class="form_txt" placeholder="账号" wmv="empty|regname"  wmvmsg="请输入登录名|登录名格式错误！4-20位，字符、数字、中文组合！" id="user_name">
                                        <span class="remark">字母或中文开头，4-20位字符组合！</span>
                                    </li>
                                    <li class="form_row mb0">
                                        <input type="password" name="password" class="form_txt" placeholder="密码" wmv="empty|loginpassword" wmvmsg="请输入密码！|6-16位，字符、数字组合！">
                                        <span class="remark">6-16位长度字符组合</span>
                                    </li>
                                    <li class="form_row">
                                        <input type="password" class="form_txt" placeholder="确认密码" wmv="empty|same:password" wmvmsg="请再次确认密码！|2次密码输入不相同！">
                                    </li>
                                    <li class="form_row">
                                        <input type="text" class="form_txt mb10 w170 v_code_txt" placeholder="验证码" wmv="empty" wmvmsg="验证码不能为空！">
                                        <!--<img src="http://www.tcsh.me/auth" class="mrl5 v_code_img" title="点击更换" />-->
                                    </li>
                                    <!--<li class="form_row">
                                        <input type="text" class="form_txt mb10" placeholder="手机号码">
                                        <a href="#" class="ui_btn ui_btn_h27gray8"><span class="ui_btn_txt">获取验证码</span></a>
                                    </li>
                                    <li class="form_row">
                                        <input type="text" class="form_txt" placeholder="验证码">
                                    </li>-->
                                    <li class="form_row">
                                        <input type="checkbox" checked="checked" /><label class="chk_key pact">同城生活服务协议</label>
                                        <span class="go_login">已经注册！<a href="http://s.tcsh.me/tcsh/view/ago/user_entrance/login.html">现在登录</a></span>
                                    </li>
                                    <li class="form_row">
                                        <span class="ui_btn ui_btn_h46red8">
                                            <input type="submit" class="ui_btn_txt submit" value="同意协议并注册"></span>
                                        <a href="#" class="go_business">商家入住 >></a>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="put_on_record">
                    <p class="botton">
                        <a href="http://help.wumeiwang.com/au.html">关于我们</a><em>|</em>
                        <a href="#">联系我们</a><em>|</em>
                        <a href="http://www.tcsh.me/seller/reg">品牌入驻</a><em>|</em>
                        <a href="http://help.wumeiwang.com/privacy.html">隐私条款</a><em>|</em>
                        <a href="#">网站地图</a><em>|</em>
                        <a href="#">友情链接</a>
                    </p>
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        var global_setting = {}
    </script>
</body>
</html>
