<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />

    <title></title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??ago/public/css/global.css,public/css/ico.css,public/wm_btn/css/style.css,ago/public/wm_block/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="css/style_v.css" />
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/ago/index/config.js" data-init="index_v4"></script>
    <script type="text/javascript">
        var global_setting = {};
    </script>
</head>
<body>
    <div id="page">
        
    </div>
    <script type="text/javascript">
        global_setting = global_setting || {};
        global_setting.serviceTicks = new Date().getTime();

    </script>
</body>
</html>

