/* --全局-- */
.dic { cursor:pointer;position: relative;background: url('../img/dis.png') no-repeat; display: inline-block;width:66px;height:66px}
.d10 {background-position:0px 0px }
.d11 {background-position:-80px 0px }
.d12 {background-position:-160px 0px }
.d13 {background-position:-240px 0px }
.d14 {background-position:-320px 0px }
.d15 {background-position:-400px 0px }
.d16 {background-position:-480px 0px }
.d17 {background-position:-560px 0px }
.d18 {background-position:-640px 0px }
.d19 {background-position:-720px 0px }
.d20 {background-position:0px -80px }
.d21 {background-position:-80px -80px }
.d22 {background-position:-160px -80px }
.d23 {background-position:-240px -80px }
.d24 {background-position:-320px -80px }
.d25 {background-position:-400px -80px }
.d26 {background-position:-480px -80px }
.d27 {background-position:-560px -80px }
.d28 {background-position:-640px -80px }
.d29 {background-position:-720px -80px }
.d30 {background-position:0px -160px }
.d31 {background-position:-80px -160px }
.d32 {background-position:-160px -160px }
.d33 {background-position:-240px -160px }
.d34 {background-position:-320px -160px }
.d35 {background-position:-400px -160px }
.d36 {background-position:-480px -160px }
.d37 {background-position:-560px -160px }
.d38 {background-position:-640px -160px }
.d39 {background-position:-720px -160px }
.d40 {background-position:0px -240px }
.d41 {background-position:-80px -240px }
.d42 {background-position:-160px -240px }
.d43 {background-position:-240px -240px }
.d44 {background-position:-320px -240px }
.d45 {background-position:-400px -240px }
.d46 {background-position:-480px -240px }
.d47 {background-position:-560px -240px }
.d48 {background-position:-640px -240px }
.d49 {background-position:-720px -240px }
.d50 {background-position:0px -320px }
.d51 {background-position:-80px -320px }
.d52 {background-position:-160px -320px }
.d53 {background-position:-240px -320px }
.d54 {background-position:-320px -320px }
.d55 {background-position:-400px -320px }
.d56 {background-position:-480px -320px }
.d57 {background-position:-560px -320px }
.d58 {background-position:-640px -320px }
.d59 {background-position:-720px -320px }
.d60 {background-position:0px -400px }
.d61 {background-position:-80px -400px }
.d62 {background-position:-160px -400px }
.d63 {background-position:-240px -400px }
.d64 {background-position:-320px -400px }
.d65 {background-position:-400px -400px }
.d66 {background-position:-480px -400px }
.d67 {background-position:-560px -400px }
.d68 {background-position:-640px -400px }
.d69 {background-position:-720px -400px }
.d70 {background-position:0px -480px }
.d71 {background-position:-80px -480px }
.d72 {background-position:-160px -480px }
.d73 {background-position:-240px -480px }
.d74 {background-position:-320px -480px }
.d75 {background-position:-400px -480px }
.d76 {background-position:-480px -480px }
.d77 {background-position:-560px -480px }
.d78 {background-position:-640px -480px }
.d79 {background-position:-720px -480px }
.d80 {background-position:0px -560px }
.d81 {background-position:-80px -560px }
.d82 {background-position:-160px -560px }
.d83 {background-position:-240px -560px }
.d84 {background-position:-320px -560px }
.d85 {background-position:-400px -560px }
.d86 {background-position:-480px -560px }
.d87 {background-position:-560px -560px }
.d88 {background-position:-640px -560px }
.d89 {background-position:-720px -560px }
.d90 {background-position:0px -640px }
.d91 {background-position:-80px -640px }
.d92 {background-position:-160px -640px }
.d93 {background-position:-240px -640px }
.d94 {background-position:-320px -640px }
.d95 {background-position:-400px -640px }
.d96 {background-position:-480px -640px }
.d97 {background-position:-560px -640px }
.d98 {background-position:-640px -640px }
.d99 {background-position:-720px -640px }


/*
100个样式是脚本刷出来 直接复制进去的
var i = 10, j = 10;
var _css = [];
for (var _i = 1; _i < i; _i++) {
    for (var _j = 0; _j < j; _j++) {
        _css.push('.d' + _i + "" + _j + ' {background-position:' + _j * -80 + 'px ' + (_i - 1) * -80 + 'px }<br/>')
    }
}
$("body").html(_css.join(''))
*/