<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <title>基础数据</title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??buyers/public/css/global_v3.css,public/css/ico.css,public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/style_v2.css" />

    <script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/buyers/user_data/config.js" data-init="user_data_base_v2"></script>

    <script type="text/javascript">
        var global_setting = {};
        global_setting.perfect = 88;
    </script>
</head>
<body>
    <div id="page">
        <!--头部-->
        <div class="head">
            <div class="head_top"></div>
            <div class="sns_head">
                <ul class="sns_head_con clearfix">
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item"><b class="">我的互动</b></a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">首页</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的生态圈</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">账户管理</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的主页</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">进击的社长</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="buyer_con clearfix left_nav_skin2">
            <!--左边部分-->
            <div class="main_nav">
                <dl>
                    <dt><i class="iconfont">&#xe628;</i>管理公社</dt>
                    <dd><a href="#">成员管理</a></dd>
                    <dd><a href="#">黑名单</a></dd>
                    <dd><a href="#">商品推荐</a></dd>
                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe628;</i>发起活动</dt>

                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe628;</i>活动管理</dt>
                    <dd><a href="#">活动明细</a></dd>
                    <dd><a href="#">江湖令</a></dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd><a href="#">基本设置</a></dd>
                    <dd><a href="#">解散公社</a></dd>
                    <dd><a href="#">转让公社</a></dd>
                </dl>
            </div>
            <!--右边部分-->
            <div class="left_nav_skin2_right">
                <div class="user_base_data wm_form">
                    <form>
                        <ul class="ubd_con">
                            <li class="form_row ptb8">
                                <label class="row_key">同城生活号：</label>
                                130016001
                            </li>
                            <li class="form_row ptb8">
                                <label class="row_key">登录名：</label>
                                chai*******07
                            </li>
                            <li class="form_row perfect_box ptb8">
                                <label class="row_key">资料完善度：</label>
                                <span class="pipes_bg"><span class="pipes_water" style="width: 0"></span></span><b class="perfect">50%</b>
                            </li>
                            <li class="hr"></li>
                            <li class="form_row">
                                <label class="row_key">头像：</label>
                                <span class="user_picture">
                                    <img src="http://s.tcsh.me/tcsh/view/public/img/man_default.jpg">
                                    <span class="hover_show">编辑头像</span>
                                    <input type="file" class="form_file">
                                </span>
                            </li>
                            <li class="form_row">
                                <label class="row_key">昵称：</label>
                                <input type="text" class="form_txt" />
                            </li>
                            <li class="form_row">
                                <label class="row_key">姓名：</label>
                                <input type="text" class="form_txt" />
                            </li>
                            <li class="form_row">
                                <label class="row_key">英文名：</label>
                                <input type="text" class="form_txt" />
                            </li>
                            <li class="form_row">
                                <label class="row_key">性别：</label>
                                <input type="radio" name="sex" id="sex1" /><label class="rad_key" for="sex1">男</label>
                                <input type="radio" name="sex" id="sex2" /><label class="rad_key" for="sex2">女</label>
                                <input type="radio" name="sex" id="sex3" checked="checked" /><label class="rad_key" for="sex3">保密</label>
                            </li>
                            <li class="form_row">
                                <label class="row_key">生日：</label>
                                <div class="floatleft">
                                    <input type="text" class="form_txt w100 birthday" value="1989-10-16" />
                                    <span class="constellation">星座：<b class="iconfont">&#xf000d;</b><b>处女座</b></span>
                                    <span class="zodiac">生肖：<!--<b class="iconfont">&#xf000d;</b>--><b>牛</b></span>
                                </div>
                            </li>
                            <li class="form_row hometownarea">
                                <label class="row_key">现居地：</label>
                                <select class="form_sel selProvince_rent">
                                    <option value="0">请选择</option>
                                </select>
                                <select class="form_sel selCity_rent">
                                    <option value="0">请选择</option>
                                </select>
                                <select class="form_sel selDistricts_rent">
                                    <option value="0">请选择</option>
                                </select>
                            </li>
                            <li class="form_row currresidencearea">
                                <label class="row_key">家乡：</label>
                                <select class="form_sel selProvince_rent">
                                    <option value="0">请选择</option>
                                </select>
                                <select class="form_sel selCity_rent">
                                    <option value="0">请选择</option>
                                </select>
                                <select class="form_sel selDistricts_rent">
                                    <option value="0">请选择</option>
                                </select>
                            </li>
                            <li class="constellation_data">
                                <!--<div class="constellation_data_title"><b class="iconfont">&#xf000d;</b>星座运势</div>
                                <ul class="constellation_data_list">
                                    <li class="form_row">
                                        <label class="row_key">健康指数：</label><span class="pipes_bg"><span class="pipes_water" style="width: 2%;"></span></span><b class="value">50%</b>
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key">商谈指数：</label><span class="pipes_bg"><span class="pipes_water" style="width: 2%;"></span></span><b class="value">50%</b>
                                    </li>
                                    <li class="form_row notrow">
                                        <label class="row_key">幸运颜色：</label>红色
                                    </li>
                                    <li class="form_row notrow">
                                        <label class="row_key">幸运数字：</label>0
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key">速配星座：</label><b class="iconfont">&#xf0011;</b>狮子座
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key">整体运势：</label><p class="remark floatleft w200">人际扩展与心灵开发上有显著变好的趋势。短期的进修与旅行更是充电的好方法；财运可用财来财去形容，最好有事先的规画，才不致与人发生财务纠纷或花费过度。</p>
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key">性欲指数：</label><p class="remark floatleft w200">和他发脾气没用，冷静一下，不要反应过度．即使你不服气，也别忘了找时间和他吃个饭道歉一下棉！</p>
                                    </li>
                                    <li class="form_row">
                                        <label class="row_key"><i class="wm_ico bulb1"></i>小提示：</label><p class="remark floatleft w200">＊感情不可以太三心二意的一周</p>
                                    </li>
                                </ul>-->
                            </li>
                            <li class="form_row btns">
                                <input type="hidden" id="BornLocation" name="BornLocation" />
                                <input type="hidden" id="LiveLocation" name="LiveLocation" />
                                <input type="hidden" id="user_name_img" name="user_name_img" />
                                <label class="row_key">&nbsp;</label><span class="ui_btn ui_btn_h47yellow14 submit"><i class="iconfont">&#xf000a;</i><input type="submit" class="ui_btn_txt" value="保存" /></span>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <!--底部-->
        <div class="footer">
            <p class="about"><a href="#">关于我们</a>|<a href="#">联系我们</a>|<a href="#">品牌入驻</a>|<a href="#">隐私条款</a>|<a href="#">网站地图</a>|<a href="#">友情链接</a>|<a href="#">用户体验提升计划</a></p>
            <p>经营性网站备案号：浙ICP备11009382号   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
            <a href="#">
                <img src="../../public/img/internetPolice.png" /></a><a href="#"><img src="../../public/img/putOnRecord.png" /></a><a href="#"><img src="../../public/img/internetBusiness.png" /></a><a href="#"><img src="../../public/img/siteCredits.png" /></a><a href="#"><img src="../../public/img/trusty.png" /></a>
        </div>
    </div>
</body>
</html>
