<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <title>基础数据</title>
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/??buyers/public/css/global_v3.css,public/css/ico.css,public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/font-face/css/font-face.css" />
    <link type="text/css" rel="stylesheet" href="http://s.tcsh.me/tcsh/view/public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/style_v2.css" />

    <script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://s.tcsh.me/tcsh/view/buyers/user_data/config.js" data-init="user_data_three_view"></script>

    <script type="text/javascript">
        var global_setting = {};
        global_setting.perfect = 88;
    </script>
</head>
<body>
    <div id="page">
        <!--头部-->
        <div class="head">
            <div class="head_top"></div>
            <div class="sns_head">
                <ul class="sns_head_con clearfix">
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item"><b class="">我的互动</b></a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">首页</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的生态圈</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">账户管理</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">我的主页</a>
                    </li>
                    <li class="sns_head_sub">
                        <a href="#" class="sns_head_item">进击的社长</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--降价提醒主体-->
        <div class="buyer_con clearfix left_nav_skin2">
            <!--左边部分-->
            <div class="main_nav">
                <dl>
                    <dt><i class="iconfont">&#xe628;</i>管理公社</dt>
                    <dd><a href="#">成员管理</a></dd>
                    <dd><a href="#">黑名单</a></dd>
                    <dd><a href="#">商品推荐</a></dd>
                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe628;</i>发起活动</dt>

                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe628;</i>活动管理</dt>
                    <dd><a href="#">活动明细</a></dd>
                    <dd><a href="#">江湖令</a></dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd><a href="#">基本设置</a></dd>
                    <dd><a href="#">解散公社</a></dd>
                    <dd><a href="#">转让公社</a></dd>
                </dl>
            </div>
            <!--右边部分-->
            <div class="left_nav_skin2_right">
                <div class="user_base_data wm_form">
                    <form class="tv_form">
                        <ul class="ubd_con">
                            <li class="form_row">
                                <fieldset class="mood_box">
                                    <legend>人生观<span>书写您现在的心情</span></legend>
                                    <textarea class="mood"></textarea><a href="#" class="savemood"><i class="iconfont">&#xf0024;</i>发表</a>
                                    <ul class="mood_list">
                                        <li><span class="mood_date">2014-09-09</span><p>怪叔叔个傻逼坑死哥好几次怪叔叔个傻逼坑死哥好几次怪叔叔个傻逼坑死哥好几次怪叔叔个傻逼坑死哥好几次怪叔叔个傻逼坑死哥好几次怪叔叔个傻逼坑死哥好几次怪叔叔个傻逼坑死哥好几次怪叔叔个傻逼坑死哥好几次</p>
                                        </li>
                                        <li><span class="mood_date">2014-09-10</span><p>怪叔叔个傻逼坑死哥好几次</p>
                                        </li>
                                        <li><span class="mood_date">2014-09-11</span><p>怪叔叔个傻逼坑死哥好几次</p>
                                        </li>
                                        <li><span class="mood_date">2014-09-12</span><p>怪叔叔个傻逼坑死哥好几次</p>
                                        </li>
                                        <li><span class="mood_date">2014-09-13</span><p>怪叔叔个傻逼坑死哥好几次</p>
                                        </li>
                                        <li><span class="mood_date">2014-09-14</span><p>怪叔叔个傻逼坑死哥好几次</p>
                                        </li>
                                    </ul>
                                </fieldset>
                            </li>
                            <li class="form_row">
                                <fieldset>
                                    <legend>购物观</legend>
                                    <div class="shopping_statistics">
                                        <a href="#" class="iconfont changebtn to_next">&#xf0006;</a>
                                        <a href="#" class="iconfont changebtn to_prev">&#xf0007;</a>
                                        <div class="ss_list_limit">
                                            <ul class="ss_list">
                                                <li class="ss_item sicurr"><a href="#" class="ss_item_con" data_id="1" data_name="爱美食">
                                                    <i class="iconfont">&#x3458;</i>
                                                    <span class="item_txt">爱美食<span>已消费￥200</span></span></a></li>
                                                <li class="ss_item "><a href="#" class="ss_item_con" data_id="1" data_name="爱宠物">
                                                    <i class="iconfont">&#x3456;</i>
                                                    <span class="item_txt">爱宠物<span>未消费</span></span></a></li>
                                                <li class="ss_item"><a href="#" class="ss_item_con" data_id="1" data_name="家居控">
                                                    <i class="iconfont">&#x345b;</i>
                                                    <span class="item_txt">家居控<span>未消费</span></span></a></li>
                                                <li class="ss_item "><a href="#" class="ss_item_con" data_id="1" data_name="靓妹子">
                                                    <i class="iconfont">&#x345c;</i>
                                                    <span class="item_txt">靓妹子<span>未消费</span></span></a></li>
                                                <li class="ss_item"><a href="#" class="ss_item_con" data_id="1" data_name="爱运动">
                                                    <i class="iconfont">&#x3460;</i>
                                                    <span class="item_txt">爱运动<span>未消费</span></span></a></li>
                                                <li class="ss_item"><a href="#" class="ss_item_con" data_id="1" data_name="数码控">
                                                    <i class="iconfont">&#x345e;</i>
                                                    <span class="item_txt">数码控<span>未消费</span></span></a></li>
                                                <li class="ss_item"><a href="#" class="ss_item_con" data_id="1" data_name="爱美食">
                                                    <i class="iconfont">&#x3458;</i>
                                                    <span class="item_txt">爱美食<span>未消费</span></span></a></li>
                                                <li class="ss_item"><a href="#" class="ss_item_con" data_id="1" data_name="爱美食">
                                                    <i class="iconfont">&#x3458;</i>
                                                    <span class="item_txt">爱美食<span>已消费￥200</span></span></a></li>
                                                <li class="ss_item "><a href="#" class="ss_item_con" data_id="1" data_name="爱宠物">
                                                    <i class="iconfont">&#x3456;</i>
                                                    <span class="item_txt">爱宠物<span>未消费</span></span></a></li>
                                                <li class="ss_item"><a href="#" class="ss_item_con" data_id="1" data_name="家居控">
                                                    <i class="iconfont">&#x345b;</i>
                                                    <span class="item_txt">家居控<span>未消费</span></span></a></li>
                                                <li class="ss_item "><a href="#" class="ss_item_con" data_id="1" data_name="靓妹子">
                                                    <i class="iconfont">&#x345c;</i>
                                                    <span class="item_txt">靓妹子<span>未消费</span></span></a></li>
                                                <li class="ss_item"><a href="#" class="ss_item_con" data_id="1" data_name="爱运动">
                                                    <i class="iconfont">&#x3460;</i>
                                                    <span class="item_txt">爱运动<span>未消费</span></span></a></li>
                                                <li class="ss_item"><a href="#" class="ss_item_con" data_id="1" data_name="数码控">
                                                    <i class="iconfont">&#x345e;</i>
                                                    <span class="item_txt">数码控<span>未消费</span></span></a></li>
                                                <li class="ss_item"><a href="#" class="ss_item_con" data_id="1" data_name="爱美食">
                                                    <i class="iconfont">&#x3458;</i>
                                                    <span class="item_txt">爱美食<span>未消费</span></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="ss_sub_box">
                                            <!--<div class="ss_sub_remark">
                                                <span class="ss_sub_remark_title">爱美食：</span>
                                                <ul>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                    <li><a href="#">薯片</a></li>
                                                </ul>
                                            </div>
                                            <div class="ss_recommend_con">
                                                <a href="#" class="change_data"><i class="iconfont">&#xf015c;</i>换一拨</a>
                                                <ul class="ss_recommend_type">
                                                    <li>
                                                        <a href="#" class="curr">生鲜</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">飞禽</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">走兽</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">蔬菜</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">瓜果</a>
                                                    </li>
                                                </ul>
                                                <ul class="ss_recommend_list">
                                                    <li>
                                                        <a href="#" target="_blank">
                                                            <img src="http://gi3.md.alicdn.com/bao/uploadedi4/729965834/T2yNqiXSpXXXXXXXXX_!!729965834.jpg_290x290q90.jpg" /><span class="commodity_name">大龙虾大龙虾大龙虾大龙虾大龙虾大龙虾大龙虾大龙虾大龙虾大龙虾大龙虾大龙虾</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank">
                                                            <img src="http://gi3.md.alicdn.com/bao/uploadedi4/729965834/T2yNqiXSpXXXXXXXXX_!!729965834.jpg_290x290q90.jpg" /><span class="commodity_name">大龙虾大龙虾大龙虾</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank">
                                                            <img src="http://gi3.md.alicdn.com/bao/uploadedi4/729965834/T2yNqiXSpXXXXXXXXX_!!729965834.jpg_290x290q90.jpg" /><span class="commodity_name">大龙虾大龙虾大龙虾</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank">
                                                            <img src="http://gi3.md.alicdn.com/bao/uploadedi4/729965834/T2yNqiXSpXXXXXXXXX_!!729965834.jpg_290x290q90.jpg" /><span class="commodity_name">大龙虾大龙虾大龙虾</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank">
                                                            <img src="http://gi3.md.alicdn.com/bao/uploadedi4/729965834/T2yNqiXSpXXXXXXXXX_!!729965834.jpg_290x290q90.jpg" /><span class="commodity_name">大龙虾大龙虾大龙虾</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank">
                                                            <img src="http://gi3.md.alicdn.com/bao/uploadedi4/729965834/T2yNqiXSpXXXXXXXXX_!!729965834.jpg_290x290q90.jpg" /><span class="commodity_name">大龙虾大龙虾大龙虾</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank">
                                                            <img src="http://gi3.md.alicdn.com/bao/uploadedi4/729965834/T2yNqiXSpXXXXXXXXX_!!729965834.jpg_290x290q90.jpg" /><span class="commodity_name">大龙虾大龙虾大龙虾</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank">
                                                            <img src="http://gi3.md.alicdn.com/bao/uploadedi4/729965834/T2yNqiXSpXXXXXXXXX_!!729965834.jpg_290x290q90.jpg" /><span class="commodity_name">大龙虾大龙虾大龙虾</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank">
                                                            <img src="http://gi3.md.alicdn.com/bao/uploadedi4/729965834/T2yNqiXSpXXXXXXXXX_!!729965834.jpg_290x290q90.jpg" /><span class="commodity_name">大龙虾大龙虾大龙虾</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank">
                                                            <img src="http://gi3.md.alicdn.com/bao/uploadedi4/729965834/T2yNqiXSpXXXXXXXXX_!!729965834.jpg_290x290q90.jpg" /><span class="commodity_name">大龙虾大龙虾大龙虾</span></a>
                                                    </li>
                                                </ul>
                                            </div>-->
                                        </div>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="form_row">
                                <fieldset>
                                    <legend>世界观<span>我们的世界里留下了，您的足迹</span></legend>
                                    <a href="#" class="more">查看全部</a>
                                    <ul class="worldview">
                                        <li class="worldview_item">
                                            <div class="worldview_item_title"><span class="date">2014-12-19</span><span>浏览了<b>999</b>件商品</span><a herf="#" class="iconfont show_sub_data">&#xf00e9;</a></div>
                                            <div class="data_list">
                                                <a href="#" title="裙子裙子裙子裙子裙子裙子裙子">
                                                    <img src="http://img01.taobaocdn.com/bao/uploaded/i1/T1GvXuFMVaXXXXXXXX_!!0-item_pic.jpg_200x200xz.jpg" />
                                                    <span class="curr_look">当前浏览人数：<b class="look_con">999</b></span>
                                                    <span class="sell_pay">￥99</span>
                                                    <span class="market">￥99999</span>
                                                </a>
                                                <a href="#" title="裙子裙子裙子裙子裙子裙子裙子">
                                                    <img src="http://img01.taobaocdn.com/bao/uploaded/i1/T1GvXuFMVaXXXXXXXX_!!0-item_pic.jpg_200x200xz.jpg" />
                                                    <span class="curr_look">当前浏览人数：<b class="look_con">999</b></span>
                                                    <span class="sell_pay">￥99</span>
                                                    <span class="market">￥99999</span>
                                                </a>
                                                <a href="#" title="裙子裙子裙子裙子裙子裙子裙子">
                                                    <img src="http://img01.taobaocdn.com/bao/uploaded/i1/T1GvXuFMVaXXXXXXXX_!!0-item_pic.jpg_200x200xz.jpg" />
                                                    <span class="curr_look">当前浏览人数：<b class="look_con">999</b></span>
                                                    <span class="sell_pay">￥99</span>
                                                    <span class="market">￥99999</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="worldview_item">
                                            <div class="worldview_item_title"><span class="date">2014-12-20</span><span>浏览了<b>999</b>件商品<a herf="#" class="iconfont show_sub_data">&#xf00e9;</a></div>
                                            <div class="data_list">
                                                <a href="#" title="裙子裙子裙子裙子裙子裙子裙子">
                                                    <img src="http://img01.taobaocdn.com/bao/uploaded/i1/T1GvXuFMVaXXXXXXXX_!!0-item_pic.jpg_200x200xz.jpg" />
                                                    <span class="curr_look">当前浏览人数：<b class="look_con">999</b></span>
                                                    <span class="sell_pay">￥99</span>
                                                    <span class="market">￥99999</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="worldview_item">
                                            <div class="worldview_item_title"><span class="date">2014-12-21</span><span>浏览了<b>999</b>件商品<a herf="#" class="iconfont show_sub_data">&#xf00e9;</a></div>
                                            <div class="data_list">
                                                <a href="#" title="裙子裙子裙子裙子裙子裙子裙子">
                                                    <img src="http://img01.taobaocdn.com/bao/uploaded/i1/T1GvXuFMVaXXXXXXXX_!!0-item_pic.jpg_200x200xz.jpg" />
                                                    <span class="curr_look">当前浏览人数：<b class="look_con">999</b></span>
                                                    <span class="sell_pay">￥99</span>
                                                    <span class="market">￥99999</span>
                                                </a>
                                                <a href="#" title="裙子裙子裙子裙子裙子裙子裙子">
                                                    <img src="http://img01.taobaocdn.com/bao/uploaded/i1/T1GvXuFMVaXXXXXXXX_!!0-item_pic.jpg_200x200xz.jpg" />
                                                    <span class="curr_look">当前浏览人数：<b class="look_con">999</b></span>
                                                    <span class="sell_pay">￥99</span>
                                                    <span class="market">￥99999</span>
                                                </a>
                                                <a href="#" title="裙子裙子裙子裙子裙子裙子裙子">
                                                    <img src="http://img01.taobaocdn.com/bao/uploaded/i1/T1GvXuFMVaXXXXXXXX_!!0-item_pic.jpg_200x200xz.jpg" />
                                                    <span class="curr_look">当前浏览人数：<b class="look_con">999</b></span>
                                                    <span class="sell_pay">￥99</span>
                                                    <span class="market">￥99999</span>
                                                </a>
                                                <a href="#" title="裙子裙子裙子裙子裙子裙子裙子">
                                                    <img src="http://img01.taobaocdn.com/bao/uploaded/i1/T1GvXuFMVaXXXXXXXX_!!0-item_pic.jpg_200x200xz.jpg" />
                                                    <span class="curr_look">当前浏览人数：<b class="look_con">999</b></span>
                                                    <span class="sell_pay">￥99</span>
                                                    <span class="market">￥99999</span>
                                                </a>
                                                <a href="#" title="裙子裙子裙子裙子裙子裙子裙子">
                                                    <img src="http://img01.taobaocdn.com/bao/uploaded/i1/T1GvXuFMVaXXXXXXXX_!!0-item_pic.jpg_200x200xz.jpg" />
                                                    <span class="curr_look">当前浏览人数：<b class="look_con">999</b></span>
                                                    <span class="sell_pay">￥99</span>
                                                    <span class="market">￥99999</span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </fieldset>
                            </li>
                            <li class="form_row">
                                <fieldset>
                                    <legend>我的标签</legend>
                                    <div class="my_tag">
                                        <p class="no_tag"><i class="iconfont">&#xf0179;</i>暂无标签<a href="#" class="add_tag">添加标签</a></p>
                                        <!--<span class="tag_item">Javascript2<a href="#" class="wm_ico fork2 remove_tag_item"></a>
                                        </span>
                                        <span class="tag_item">HTML2<a href="#" class="wm_ico fork2 remove_tag_item"></a>
                                        </span>
                                        <span class="tag_item">Css2<a href="#" class="wm_ico fork2 remove_tag_item"></a>
                                        </span>
                                        <span class="tag_item">Javascript2<a href="#" class="wm_ico fork2 remove_tag_item"></a>
                                        </span>
                                        <span class="tag_item">HTML2<a href="#" class="wm_ico fork2 remove_tag_item"></a>
                                        </span>
                                        <span class="tag_item">Css2<a href="#" class="wm_ico fork2 remove_tag_item"></a>
                                        </span>
                                        <span class="tag_item">Javascript2<a href="#" class="wm_ico fork2 remove_tag_item"></a>
                                        </span>
                                        <span class="tag_item">HTML2<a href="#" class="wm_ico fork2 remove_tag_item"></a>
                                        </span>
                                        <span class="tag_item">Css2<a href="#" class="wm_ico fork2 remove_tag_item"></a>
                                        </span>
                                        <span class="tag_item">Javascript2<a href="#" class="wm_ico fork2 remove_tag_item"></a>
                                        </span>
                                        <span class="tag_item">HTML2<a href="#" class="wm_ico fork2 remove_tag_item"></a>
                                        </span>
                                        <span class="tag_item">Css2<a href="#" class="wm_ico fork2 remove_tag_item"></a>
                                        </span>
                                        <span class="tag_item">Javascript2<a href="#" class="wm_ico fork2 remove_tag_item"></a>
                                        </span>
                                        <span class="tag_item">HTML2<a href="#" class="wm_ico fork2 remove_tag_item"></a>
                                        </span>
                                        <span class="tag_item">Css2<a href="#" class="wm_ico fork2 remove_tag_item"></a>
                                        </span>
                                        <a href="#" class="add_tag">添加标签</a>-->
                                    </div>
                                    <!--<div class="add_tag_box">
                                        <a href="#" class="iconfont close_tag_box">&#xf00b3;</a>
                                        <span class="tag_type"><a href="#" class="get_next">换一批</a>技术宅</span>
                                        <input type="text" class="form_txt tag_txt" /><a href="#" class="ui_btn ui_btn_h26red20"><span class="ui_btn_txt">贴上</span></a>
                                        <div class="tag_list">
                                            <a href="#" class="tag_item">Javascript
                                            </a>
                                            <a href="#" class="tag_item">HTML
                                            </a>
                                            <a href="#" class="tag_item">Css
                                            </a>
                                        </div>
                                    </div>-->
                                    <div class="add_tag_box">
                                        <a href="#" class="iconfont close_tag_box">&#xf00b3;</a>
                                        <span class="tag_type"><a href="#" class="get_next">换一批</a></span>
                                        <input type="text" class="form_txt tag_txt" /><a href="#" class="ui_btn ui_btn_h26red20 add_new_tag"><span class="ui_btn_txt">贴上</span></a>
                                        <div class="tag_list"></div>
                                    </div>
                                </fieldset>
                            </li>
                            <!--<li class="form_row clearfix btns">
                                <input type="hidden" id="BornLocation" name="BornLocation" />
                                <input type="hidden" id="LiveLocation" name="LiveLocation" />
                                <input type="hidden" id="user_name_img" name="user_name_img" />
                                <label class="row_key">&nbsp;</label><span class="ui_btn ui_btn_h47yellow14 submit"><i class="iconfont">&#xf000a;</i><input type="submit" class="ui_btn_txt" value="保存" /></span>
                            </li>-->
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <!--底部-->
        <div class="footer">
            <p class="about"><a href="#">关于我们</a>|<a href="#">联系我们</a>|<a href="#">品牌入驻</a>|<a href="#">隐私条款</a>|<a href="#">网站地图</a>|<a href="#">友情链接</a>|<a href="#">用户体验提升计划</a></p>
            <p>经营性网站备案号：浙ICP备11009382号   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>
            <a href="#">
                <img src="../../public/img/internetPolice.png" /></a><a href="#"><img src="../../public/img/putOnRecord.png" /></a><a href="#"><img src="../../public/img/internetBusiness.png" /></a><a href="#"><img src="../../public/img/siteCredits.png" /></a><a href="#"><img src="../../public/img/trusty.png" /></a>
        </div>
    </div>
</body>
</html>
