@CHARSET "UTF-8";
.confirm_brands_box { }
.confirm_brands_box .confirm_brands_mian { width: 800px; height: 410px; }
.confirm_brands_box .brands_selectt { padding: 10px; border-bottom: 1px solid #b2b2b2; width: 760px; margin-bottom: 10px; }
.confirm_brands_box .brands_selectt select, .confirm_brands_box .brands_selectt input { padding: 5px; margin-right: 30px; }
.confirm_brands_box .brands_list { padding: 20px 0 20px 30px; width: 750px; height: 300px; overflow-y: scroll; position: relative; }
.confirm_brands_box .brands_list li { width: 160px; height: 120px; float: left; margin: 0 10px 10px 0; overflow: hidden; border: 2px solid #fff; position: relative; background: #fff; }
.confirm_brands_box .brands_list .curr, .confirm_brands_box .brands_list .curr:hover { border: 2px solid #e13436; }
.confirm_brands_box .brands_list .curr i { display: block; }
.confirm_brands_box .brands_list li:hover { border: 2px solid #b2b2b2; }
.confirm_brands_box .brands_list li span { display: block; text-align: center; width: 160px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.confirm_brands_box .brands_list li i { position: absolute; top: 0; right: 0; display: none; }
.confirm_brands_box .brands_list li a { display: block; }
.confirm_brands_box .brands_list li img { width: 180px; height: 90px; }
.confirm_brands_box .alink { background: none; padding-right: 30px; }
.confirm_brands_box .ui_btn_h46red8 .ui_btn_txt { font-size: 18px; padding: 0 25px 0 30px; letter-spacing: 10px; }
.confirm_brands_box .alink .ui_btn_txt { background: none; color: #666; }
