<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="css/style.css" />
    <style type="text/css">
        body { padding: 50px; }
    </style>
</head>
<body>
    <a href="#" class="ui_btn ui_btn_h40red1"><span class="ui_btn_txt">高度40px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h40red2"><span class="ui_btn_txt">高度40px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h25red3"><span class="ui_btn_txt">高度25px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h25red4"><span class="ui_btn_txt">高度25px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h29red5"><span class="ui_btn_txt">高度29px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h23red6"><span class="ui_btn_txt">高度23px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h20red7"><span class="ui_btn_txt">高度23px，有白边</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h46red8"><span class="ui_btn_txt">高度46px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h27red9"><span class="ui_btn_txt">高度27px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h22red10"><span class="ui_btn_txt">高度22px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h29yellow1"><span class="ui_btn_txt">高度29px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h28yellow2"><span class="ui_btn_txt">高度28px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h20yellow3"><span class="ui_btn_txt">高度20px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h33yellow4"><span class="ui_btn_txt">高度33px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h23yellow5"><span class="ui_btn_txt">高度23px，有白边</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h23gray1"><span class="ui_btn_txt">高度23px,有白边</span></a>
    <br />
    <br />
    <a class="ui_btn ui_btn_h28white1"><span class="ui_btn_txt">高度28px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h19gray2"><span class="ui_btn_txt">高度19px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h19gray3"><span class="ui_btn_txt">高度19px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h35gray4"><span class="ui_btn_txt">高度35px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h16yellow6"><span class="ui_btn_txt">高度16px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h25yellow7"><span class="ui_btn_txt">高度25px,有半透明边</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h23yellow8"><span class="ui_btn_txt">高度23px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h35yellow9"><span class="ui_btn_txt">高度35px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h22gray6"><span class="ui_btn_txt">高度22px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h22yellow10"><span class="ui_btn_txt">高度22px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h22gray7"><span class="ui_btn_txt">高度22px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h29red11"><span class="ui_btn_txt">高度29px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h35yellow11"><span class="ui_btn_txt">高度35px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h26red12"><span class="ui_btn_txt">高度26px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h27gray8"><span class="ui_btn_txt">高度27px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h21gray9"><span class="ui_btn_txt">高度21px</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h23gray10"><span class="ui_btn_txt">高度23</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h36white2"><span class="ui_btn_txt">高度36</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h34brown1"><span class="ui_btn_txt">高度34</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h34brown2"><span class="ui_btn_txt">高度34</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h26gray11"><span class="ui_btn_txt">高度26</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h26yellow12"><span class="ui_btn_txt">高度26</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h36white3"><span class="ui_btn_txt">纯白色，无边框，高度36，圆角</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h32yellow13"><span class="ui_btn_txt">高度32</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h32gray13"><span class="ui_btn_txt">高度32</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h47yellow14"><span class="ui_btn_txt">高度47，底下1px半透明阴影</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h47gray14"><span class="ui_btn_txt">高度47，底下1px半透明阴影</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h35yellow15"><span class="ui_btn_txt">高度47，底下1px半透明阴影</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h33gray15"><span class="ui_btn_txt">高度33</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h26red14"><span class="ui_btn_txt">高度26</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h26yellow16"><span class="ui_btn_txt">高度26</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h44yellow17"><span class="ui_btn_txt">高度44</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h40gray16"><span class="ui_btn_txt">高度40</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h23gray18"><span class="ui_btn_txt">高度23</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h39red15"><span class="ui_btn_txt">高度39</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h39red17"><span class="ui_btn_txt">高度39有,hover</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h39red18"><span class="ui_btn_txt">高度39</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h28red17"><span class="ui_btn_txt">高度28</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h28red19"><span class="ui_btn_txt">高度28</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h42red19"><span class="ui_btn_txt">高度42</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h37green1"><span class="ui_btn_txt">高度37</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h37green2"><span class="ui_btn_txt">高度37</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h44green3"><span class="ui_btn_txt">高度44</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h45blue1"><span class="ui_btn_txt">高度45</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h26blue2"><span class="ui_btn_txt">高度26</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h26red20"><span class="ui_btn_txt">高度26</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h26white6"><span class="ui_btn_txt">高度26</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h24green4"><span class="ui_btn_txt">高度24</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h22red21"><span class="ui_btn_txt">高度22</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h22red22"><span class="ui_btn_txt">高度22</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h22white7"><span class="ui_btn_txt">高度22</span></a>
    <br />
    <br />
    <a href="#" class="ui_btn ui_btn_h37red23"><span class="ui_btn_txt">高度37</span></a>
    <br />
    <br />
</body>
</html>
