#addb { width: 900px; margin: 20px auto 10px auto; }
#addb .row_key { width: 150px; }
#addb  .form_file { left:160px;top:10px}
.ui_btn_h47yellow14 { }
.ui_btn_h47yellow14 .ui_btn_txt { padding:0 40px 0 80px;font-size:22px;letter-spacing:50px}
.search_form .search_btn input { background:transparent;border:0px solid #fff;color:#fff}

