<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../public/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../../public/css/ico.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../public/wm_block/css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="../../../model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="config.js" data-init="beautiful_scaffold"></script>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_top">
                <div class="sub_head_top">
                    <div class="user_data">
                        <span>欢迎加入同城生活帮：</span>
                        <span>柴逸宁</span>
                    </div>
                    <div class="user_login">
                        <span>欢迎加入同城生活帮：</span>
                        <a href="#">登录</a>
                        <em>|</em>
                        <a href="#">免费注册</a>
                    </div>
                    <div class="link_list">
                        <a href="#">订单管理</a><em>|</em>
                        <a href="#">心愿面板</a><em>|</em>
                        <a href="#">推广同城生活</a><em>|</em>
                        <a href="#">成长基金</a><em>|</em>
                        <a href="#">帮助中心</a>
                    </div>
                    <div class="follow_wm">
                        <a href="#"><i class="wm_ico heart1"></i>关注同城生活</a>
                    </div>
                </div>
            </div>
            <div class="head_sub">
                <div class="head_con">
                    <div class="wm_logo">
                        <img src="../../public/img/wm_logo.png" width="180" height="80" />
                    </div>
                    <div class="logo_msg">
                        <span class="ui_btn ui_btn_h22red10"><span class="ui_btn_txt"><i>嗅嗅品牌的味道</i></span></span>
                        <em class="wm_ico triangle1">&nbsp;</em>
                    </div>
                    <div class="head_search brands">
                        <div class="head_search_tab">
                            <a class="tab_item tab_item_brands" href="#" parent_key="brands">品牌</a><a class="tab_item tab_item_commodity" href="#" parent_key="commodity">商品</a>
                        </div>
                        <div class="head_search_form">
                            <form>
                                <input type="text" placeholder="李宁/耐克/乔丹" name="brands" class="search_brands" /><input type="text" placeholder="羽毛球/篮球/足球" name="brands" class="search_commodity" /><a href="#" class="search_btn">搜 索<i class="wm_ico magnifier1"></i></a><input type="hidden" name="search_type" />
                            </form>
                        </div>
                    </div>
                    <div class="link_list">
                        <div class="link_item">
                            <a href="#">
                                <img src="../public/img/pptm.png" />
                            </a>
                            <a href="#">品牌特卖</a>

                        </div>
                        <div class="link_item">
                            <a href="#">
                                <img src="../public/img/rqjh.png" /></a>

                            <a href="#">人气聚合</a>
                        </div>
                        <div class="link_item">
                            <a href="#">
                                <img src="../public/img/syjf.png" /></a>
                            <a href="#">收益均分</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="head_nav">
                <div class="sub_head_nav">
                    <div class="all_nav_item">
                        所有品类目录
                    </div>
                    <div class="sub_nav">
                        <ul>
                            <li class="sub_nav_item "><a href="#">首页</a><em class="wm_ico dashed1"></em></li>
                            <li class="sub_nav_item "><a href="#">品牌馆</a><em class="wm_ico dashed1"></em></li>
                            <li class="sub_nav_item "><a href="#">现实购</a><em class="wm_ico dashed1"></em></li>
                            <li class="sub_nav_item "><a href="#">集美社</a><em class="wm_ico dashed1"></em></li>
                            <li class="sub_nav_item curr end"><a href="#">美推手</a><em class="wm_ico dashed1"></em><i></i></li>
                        </ul>
                    </div>
                    <div class="wumeibang">
                        <a href="#"><i class="wm_ico wumeibang_ico"></i>同城生活帮</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="big_ads">
                <ul class="wm_forimg_list">
                    <li class="for_img_item">
                        <div class="big_ads_inbtns1">
                            <a href="#" class="ui_btn ui_btn_h25red4"><span class="ui_btn_txt">活动规则</span></a>
                            <a href="#" class="ui_btn ui_btn_h25red4"><span class="ui_btn_txt">我的推手生涯</span></a>
                        </div>

                        <img src="img/big_ads1.jpg">
                    </li>
                    <li class="for_img_item">
                        <div class="big_ads_inbtns2">
                            <a href="#" class="ui_btn1"></a>
                            <a href="#" class="ui_btn2"></a>
                        </div>
                        <img src="img/big_ads2.jpg">
                    </li>
                    <li class="for_img_item">
                        <img src="img/big_ads1.jpg">
                    </li>
                     <li class="for_img_item">
                        <img src="img/big_ads2.jpg">
                    </li>
                     <li class="for_img_item">
                        <img src="img/big_ads1.jpg">
                    </li>
                </ul>
                <div class="indexBox">
                    
                </div>
            </div>
            <div class="con_sub">
                <div class="content_left">
                    <div class="content_left_item block_210_220_box new_test">
                        <div class="content_lef_head">
                            <h3 class="content_left_title">待推送商品</h3>
                            <span class="wumei100">100%同城生活</span>
                        </div>
                        <ul class="b_main">
                            <li>
                                <img src="img/img1.jpg">
                                <span class="b_main_price"><b>佣金额度￥12.0</b>价格：￥100.00</span>
                                <div class="b_main_btns">
                                    <a href="#" class="ui_btn ui_btn_h23yellow5"><span class="ui_btn_txt">立即购买&gt;&gt;</span></a>
                                    <span>导游成交：100</span>
                                </div>
                                <p>伊丽莎白</p>
                            </li>
                            <li>
                                <img src="img/img1.jpg">
                                <span class="b_main_price"><b>佣金额度￥12.0</b>价格：￥100.00</span>
                                <div class="b_main_btns">
                                    <a href="#" class="ui_btn ui_btn_h23yellow5"><span class="ui_btn_txt">立即购买&gt;&gt;</span></a>
                                    <span>导游成交：100</span>
                                </div>
                                <p>伊丽莎白</p>
                            </li>
                            <li>
                                <img src="img/img1.jpg">
                                <span class="b_main_price"><b>佣金额度￥12.0</b>价格：￥100.00</span>
                                <div class="b_main_btns">
                                    <a href="#" class="ui_btn ui_btn_h23yellow5"><span class="ui_btn_txt">立即购买&gt;&gt;</span></a>
                                    <span>导游成交：100</span>
                                </div>
                                <p>伊丽莎白</p>
                            </li>
                            <li>
                                <img src="img/img1.jpg">
                                <span class="b_main_price"><b>佣金额度￥12.0</b>价格：￥100.00</span>
                                <div class="b_main_btns">
                                    <a href="#" class="ui_btn ui_btn_h23yellow5"><span class="ui_btn_txt">立即购买&gt;&gt;</span></a>
                                    <span>导游成交：100</span>
                                </div>
                                <p>伊丽莎白</p>
                            </li>
                            <li>
                                <img src="img/img1.jpg">
                                <span class="b_main_price"><b>佣金额度￥12.0</b>价格：￥100.00</span>
                                <div class="b_main_btns">
                                    <a href="#" class="ui_btn ui_btn_h23yellow5"><span class="ui_btn_txt">立即购买&gt;&gt;</span></a>
                                    <span>导游成交：100</span>
                                </div>
                                <p>伊丽莎白</p>
                            </li>
                            <li>
                                <img src="img/img1.jpg">
                                <span class="b_main_price"><b>佣金额度￥12.0</b>价格：￥100.00</span>
                                <div class="b_main_btns">
                                    <a href="#" class="ui_btn ui_btn_h23yellow5"><span class="ui_btn_txt">立即购买&gt;&gt;</span></a>
                                    <span>导游成交：100</span>
                                </div>
                                <p>伊丽莎白</p>
                            </li>
                            <li>
                                <img src="img/img1.jpg">
                                <span class="b_main_price"><b>佣金额度￥12.0</b>价格：￥100.00</span>
                                <div class="b_main_btns">
                                    <a href="#" class="ui_btn ui_btn_h23yellow5"><span class="ui_btn_txt">立即购买&gt;&gt;</span></a>
                                    <span>导游成交：100</span>
                                </div>
                                <p>伊丽莎白</p>
                            </li>
                            <li>
                                <img src="img/img1.jpg">
                                <span class="b_main_price"><b>佣金额度￥12.0</b>价格：￥100.00</span>
                                <div class="b_main_btns">
                                    <a href="#" class="ui_btn ui_btn_h23yellow5"><span class="ui_btn_txt">立即购买&gt;&gt;</span></a>
                                    <span>导游成交：100</span>
                                </div>
                                <p>伊丽莎白</p>
                            </li>
                        </ul>

                    </div>

                </div>
                <div class="content_right">
                    <div class="content_right_item activity_return">
                        <div class="content_right_head">
                            <h3 class="content_right_title">活动反馈</h3>
                            <p class="activity_return_msg">
                                <span class="ui_btn ui_btn_h22red10"><span class="ui_btn_txt">与朋友一起分享“同城生活”</span></span>
                                <em class="wm_ico triangle1">&nbsp;</em>
                            </p>
                        </div>
                        <ul class="activity_return_list">
                            <li>
                                <p>会员<b class="user_name">xxxxx</b>成功售出<b>“耐克球鞋”</b></p>
                                <p>获得<b>￥12.00</b></p>
                            </li>
                            <li>
                                <p>会员<b class="user_name">xxxxx</b>成功售出<b>“耐克球鞋”</b></p>
                                <p>获得<b>￥12.00</b></p>
                            </li>
                            <li>
                                <p>会员<b class="user_name">xxxxx</b>成功售出<b>“耐克球鞋”</b></p>
                                <p>获得<b>￥12.00</b></p>
                            </li>
                            <li>
                                <p>会员<b class="user_name">xxxxx</b>成功售出<b>“耐克球鞋”</b></p>
                                <p>获得<b>￥12.00</b></p>
                            </li>
                            <li>
                                <p>会员<b class="user_name">xxxxx</b>成功售出<b>“耐克球鞋”</b></p>
                                <p>获得<b>￥12.00</b></p>
                            </li>
                            <li>
                                <p>会员<b class="user_name">xxxxx</b>成功售出<b>“耐克球鞋”</b></p>
                                <p>获得<b>￥12.00</b></p>
                            </li>
                            <li>
                                <p>会员<b class="user_name">xxxxx</b>成功售出<b>“耐克球鞋”</b></p>
                                <p>获得<b>￥12.00</b></p>
                            </li>
                            <li>
                                <p>会员<b class="user_name">xxxxx</b>成功售出<b>“耐克球鞋”</b></p>
                                <p>获得<b>￥12.00</b></p>
                            </li>
                            <li>
                                <p>会员<b class="user_name">xxxxx</b>成功售出<b>“耐克球鞋”</b></p>
                                <p>获得<b>￥12.00</b></p>
                            </li>
                            <li>
                                <p>会员<b class="user_name">xxxxx</b>成功售出<b>“耐克球鞋”</b></p>
                                <p>获得<b>￥12.00</b></p>
                            </li>
                            <li>
                                <p>会员<b class="user_name">xxxxx</b>成功售出<b>“耐克球鞋”</b></p>
                                <p>获得<b>￥12.00</b></p>
                            </li>
                            <li>
                                <p>会员<b class="user_name">xxxxx</b>成功售出<b>“耐克球鞋”</b></p>
                                <p>获得<b>￥12.00</b></p>
                            </li>
                            <li>
                                <p>会员<b class="user_name">xxxxx</b>成功售出<b>“耐克球鞋”</b></p>
                                <p>获得<b>￥12.00</b></p>
                            </li>
                        </ul>
                    </div>
                    <div class="content_right_item qa">
                        <div class="content_right_head">
                            <h3 class="content_right_title">疑问解答<b>Q&A</b></h3>
                        </div>
                        <ul>
                            <li><a href="#">在同城生活购物使用什么方式支付？</a></li>
                            <li><a href="#">同城生活所有商品都是正品？买到假货咋办？</a></li>
                            <li><a href="#">同城生活跟其他购物类网站相比有何优势？</a></li>
                            <li><a href="#">同城生活跟其他购物类网站相比有何优势？</a></li>
                            <li><a href="#">同城生活所有商品都是正品？买到假货咋办？</a></li>
                            <li><a href="#">在同城生活购物使用什么方式支付？</a></li>
                        </ul>
                        <div class="qa_submit_box">
                            <div class="submit_txt_bg">
                                <textarea></textarea>
                            </div>
                            <div class="qa_btns">
                                <a href="#" class="ui_btn ui_btn_h29red5"><span class="ui_btn_txt">提交</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="link_list">
                    <div class="link_item">
                        <span>服务保障</span>
                        <ul>
                            <li><a href="#">正品保障</a></li>
                            <li><a href="#">7天无条件退货</a></li>
                            <li><a href="#">7*15小时服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>购物指南</span>
                        <ul>
                            <li><a href="#">导购演示</a></li>
                            <li><a href="#">订单操作</a></li>
                            <li><a href="#">用户指南</a></li>
                            <li><a href="#">账号管理</a></li>
                            <li><a href="#">购物参考</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>支付方式</span>
                        <ul>
                            <li><a href="#">网银支付币</a></li>
                            <li><a href="#">支付平台</a></li>
                            <li><a href="#">信用卡</a></li>
                            <li><a href="#">同城生活金币</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>配送方式</span>
                        <ul>
                            <li><a href="#">配送服务</a></li>
                            <li><a href="#">配送范围和运费</a></li>
                            <li><a href="#">验货与签收</a></li>
                        </ul>
                    </div>
                    <div class="link_item">
                        <span>售后服务</span>
                        <ul>
                            <li><a href="#">退换货政策</a></li>
                            <li><a href="#">退换货流程</a></li>
                            <li><a href="#">退款方式和时效</a></li>
                        </ul>
                    </div>
                    <div class="link_item end">
                        <span>同城生活模式</span>
                        <ul>
                            <li><a href="#">聚合式品牌特卖</a></li>
                            <li><a href="#">同城生活成长基金</a></li>
                            <li><a href="#">推手规则</a></li>
                        </ul>
                    </div>
                </div>
                <div class="put_on_record">
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州同城生活络科技有限公司 All Right Resarved</p>

                    <a href="#">
                        <img src="../../public/img/internetPolice.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/putOnRecord.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/internetBusiness.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/siteCredits.png" />
                    </a>

                    <a href="#">
                        <img src="../../public/img/trusty.png" />
                    </a>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
